<div class='title'>What is NodeJS?</div>

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Introduction</h3>
	</div>
	<div class="panel-body">
		<div class="text">
			Definition: Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.
			</br>
			</br>
			Although Node.js is not a JavaScript framework, many of its basic modules are written in JavaScript, and developers can write new modules in JavaScript. The runtime environment interprets JavaScript using Google's V8 JavaScript engine.
			</br>
			</br>
			Corporate users of Node.js software include GoDaddy, Groupon, IBM, LinkedIn, Microsoft, Netflix, PayPal, Rakuten, SAP, Voxer, Walmart, Yahoo!, and Cisco Systems.
		</div>
	</div>
	<div class="panel-body">
		<div class="text">
			Developer/Owner: Node.js was originally written in 2009 by Ryan Dahl. The initial release supported only Linux. Its development and maintenance was led by Dahl and later sponsored by Joyent.
			</br>
			The Node.js distributed development project, governed by the Node.js Foundation, is facilitated by the Linux Foundation's Collaborative Projects program.
		</div>


	</div>
</div>

<div class="text-heading"> Version:</div>
</br>
<div class="text">

	AngularJS version 1.0 was released in 2012. Its latest version is 1.6.1.
	</br>
	</br>
	<table class='table table-bordered table-striped'>
		<thead>
			<tr>
				<th>LTS Status</th>
				<th>Release</th>
				<th>Active LTS Start</th>
				<th>Active LTS End/Maintenance Start</th>
				<th>Maintenance End</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><b>End-of-Life</b></td>
				<td>v0.10</td>
				<td>-</td>
				<td>2015-10-01</td>
				<td>2016-10-31</td>
			</tr>
			<tr>
				<td><b>End-of-Life</b></td>
				<td>v0.12</td>
				<td>-</td>
				<td>2016-04-01</td>
				<td>2016-12-31</td>
			</tr>
			<tr>
				<td><b>Active</b></td>
				<td>v4</td>
				<td>2015-10-01</td>
				<td>2017-04-01</td>
				<td>2018-04-01</td>
			</tr>
			<tr>
				<td>N/A</td>
				<td>v5</td>
				<td align="center" colspan="3">N/A</td>
			</tr>
			<tr>
				<td><b>Active</b></td>
				<td>v6</td>
				<td>2016-10-18</td>
				<td>2018-04-18</td>
				<td>2019-04-18</td>
			</tr>
			<tr>
				<td>N/A</td>
				<td>v7</td>
				<td align="center" colspan="3">N/A</td>
			</tr>
		</tbody>
	</table>
</div>

</br>
<div class="text-heading"> History of NodeJS:</div>
<div class="text">
	<ul class='list'>
		<li>2009: Dahl was inspired to create Node.js after seeing a file upload progress bar on Flickr. The browser did not know how much of the file had been uploaded and had to query the Web server. Dahl desired an easier way.
			</br>Ryan Dahl criticized the limited possibilities of the most popular web server in 2009, Apache HTTP Server, to handle a lot of concurrent connections (up to 10,000 and more) and the most common way of creating code (sequential programming), when
			code either blocked the entire process or implied multiple execution stacks in the case of simultaneous connections.
		</li>
		<li>
			November 8, 2009: Dahl demonstrated the project at the inaugural European JSConf. Node.js combined Google's V8 JavaScript engine, an event loop and a low-level I/O API. The project received a standing ovation.
		</li>
		<li>
			January 2010: A package manager was introduced for the Node.js environment called npm. The package manager makes it easier for programmers to publish and share source code of Node.js libraries and is designed to simplify installation, updating and uninstallation
			of libraries.
		</li>
		<li>
			June 2011: Microsoft and Joyent implemented a native Windows version of Node.js. The first Node.js build supporting Windows was released in July 2011.
		</li>
		<li>
			January 2012: Dahl stepped aside, promoting coworker and npm creator Isaac Schlueter to manage the project. In January 2014, Schlueter announced that Timothy J. Fontaine would lead the project.
		</li>
		<li>
			December 2014: Fedor Indutny started io.js, a fork of Node.js. Due to the internal conflict over Joyent's governance, io.js was created as an open governance alternative with a separate technical committee. Unlike Node.js, the authors planned to keep
			io.js up-to-date with the latest releases of the Google V8 JavaScript engine.
		</li>
		<li>
			February 2015: the intent to form a neutral Node.js Foundation was announced. By June 2015, the Node.js and io.js communities voted to work together under the Node.js Foundation.
		</li>
		<li>
			September 2015: Node.js v0.12 and io.js v3.3 were merged back together into Node v4.0. This brought V8 ES6 features into Node.js, and a long-term support release cycle. As of 2016, the io.js website recommends that developers switch back to Node.js and
			that no further releases are planned due to the merger.
		</li>
	</ul>
</div>

</br>