<div class="alert alert-success title">AngularJS Interview Question and Answers</div>

<div class='text'>
	<!-- --------------------------------------------------- 1 start --------------------------------------------------- -->
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">1. What are the differences between service and factory methods?.</h3>
		</div>
		<div class="panel-body">
			<!-- --------------------------------------------------- Factory Recipe start --------------------------------------------------- -->
			<div class="text-heading">Factory Recipe: </div>

			<div class='text'>
				<ul class='list'>
					<li>Arguments: <code>name (string), getFn (function) / Array.<(string|function())></code> ... getFn here is a factory function which can return primitive or object or function</li>
					<li>returns the value of the function returned after the execution</li>
					<li>ability to use other services (have dependencies)</li>
					<li>Lazily instantiated – AngularJS only instantiates a factory service when an application component depends on it. </li>
					<li>does not use type friendly injection</li>
				</ul>
				<div class="snippet-container">
					<div class="sh_default snippet-wrap">
						<pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular</li><li>    <span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_string">'myFactory'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">,</span> myFactory<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>        $scope<span class="sh_symbol">.</span>str <span class="sh_symbol">=</span> myFactory<span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">factory</span><span class="sh_symbol">(</span><span class="sh_string">'myFactory'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[()</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_keyword">return</span> <span class="sh_string">'This is string from factory.'</span><span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li></ol></pre>
						<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular .module('app', []) .controller('controller', ['$scope', 'myFactory', ($scope, myFactory) =&gt; { $scope.str = myFactory; }]) .factory('myFactory', [() =&gt; { return 'This is string from factory.'; }]);
                </pre>
					</div>
				</div>

			</div>
			<!-- --------------------------------------------------- Factory Recipe end ----------------------------------------------------- -->

			<!-- --------------------------------------------------- Service Recipe start --------------------------------------------------- -->
			<div class="text-heading">Service Recipe: </div>

			<div class='text'>
				<ul class='list'>
					<li>Arguments: <code>name (string), constructor (function) Array.<(string|function())></code> ... we’ll call constructor function to instantiate the instance.</li>
					<li>Note: Service recipes follow a design pattern called constructor injection.
						<ul>
							<li>returns the object or instance of the function</li>
							<li>instantiate the instance using the new keyword when creating the instance</li>
							<li>
								The .service() gives us the returned value by calling new on the function. Thats why we use <code>this</code> to add properties to it. Otherwise return (with object) can be used to add properties to constructor (function). Return object overrides
								this properties defined in service function.
							</li>
						</ul>
					</li>
					<li>ability to use other services (have dependencies)</li>
					<li>Lazily instantiated – AngularJS only instantiates a service when an application component depends on it. </li>
					<li>does use type friendly injection</li>
				</ul>
				<div class="alert alert-warning">
					Warning: We cannot use an arrow function as constructor (function) in service receipe. An arrow function expression does not bind its own this, arguments, super, or new.target. These function expressions are best suited for non-method functions, and they
					cannot be used as constructors.
				</div>

				<p>Using return:</p>
				<div class="snippet-container">
					<div class="sh_default snippet-wrap">
						<pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular</li><li>    <span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">,</span> myService<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>        $scope<span class="sh_symbol">.</span>str <span class="sh_symbol">=</span> myService<span class="sh_symbol">;</span></li><li>        console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span>myService<span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">service</span><span class="sh_symbol">(</span><span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_keyword">return</span> <span class="sh_cbracket">{</span></li><li>            str<span class="sh_symbol">:</span> <span class="sh_string">'This is string from Service'</span></li><li>        <span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li></ol></pre>
						<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular .module('app', []) .controller('controller', ['$scope', 'myService', ($scope, myService) =&gt; { $scope.str = myService; }]) .service('myService', [function () { return { str: 'This is string from
                Service' }; }]);
                </pre>
					</div>
				</div>
				<p>Using this:</p>
				<div class="snippet-container">
					<div class="sh_default snippet-wrap">
						<pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">.</span><span class="sh_function">service</span><span class="sh_symbol">(</span><span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>     <span class="sh_keyword">this</span><span class="sh_symbol">.</span>str <span class="sh_symbol">=</span> <span class="sh_string">'This is from this String'</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li></ol></pre>
						<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">.service('myService', [function () { this.str = 'This is from this String' }]);
                </pre>
					</div>
				</div>
				<p>Using class</p>
				<div class="snippet-container">
					<div class="sh_default snippet-wrap">
						<pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular<span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[]);</span></li><li>app<span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'factoryController'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">,</span> myService<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>    $scope<span class="sh_symbol">.</span>myService <span class="sh_symbol">=</span> myService<span class="sh_symbol">;</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li><li></li><li>app<span class="sh_symbol">.</span><span class="sh_function">service</span><span class="sh_symbol">(</span><span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_keyword">class</span> myService <span class="sh_cbracket">{</span></li><li>    <span class="sh_function">constructor</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_keyword">this</span><span class="sh_symbol">.</span>strClass <span class="sh_symbol">=</span> <span class="sh_string">'This is from service class constructor.'</span><span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span></li><li>    <span class="sh_function">classMethod</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_keyword">this</span><span class="sh_symbol">.</span>strMethod <span class="sh_symbol">=</span> <span class="sh_string">'This is from class method.'</span><span class="sh_symbol">;</span></li><li>        console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'hello'</span><span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span></li><li></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
						<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular.module('app', []); app.controller('controller', ['$scope', 'myService', ($scope, myService) =&gt; { $scope.myService = myService; }]); app.service('myService', class myService { constructor() { this.strClass = 'This
                is from service class constructor.'; } classMethod() { this.strMethod = 'This is from class method.'; console.log('hello'); } });

                </pre>
					</div>
				</div>
				<div class="snippet-container">
					<div class="sh_default snippet-wrap">
						<pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>controller<span class="sh_symbol">=</span><span class="sh_string">'controller'</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Service<span class="sh_symbol">:</span> <span class="sh_cbracket">{{</span>myService<span class="sh_symbol">.</span>strClass<span class="sh_cbracket">}}</span>    <span class="sh_symbol">&lt;</span><span class="sh_normal">br</span><span class="sh_symbol">/&gt;</span> </li><li>        <span class="sh_cbracket">{{</span>myService<span class="sh_symbol">.</span><span class="sh_function">classMethod</span><span class="sh_symbol">()</span><span class="sh_cbracket">}}</span>        <span class="sh_symbol">&lt;</span><span class="sh_normal">br</span><span class="sh_symbol">/&gt;</span>    <span class="sh_symbol">&lt;!--</span> Calling <span class="sh_keyword">class</span> method <span class="sh_symbol">--&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Service<span class="sh_symbol">:</span> <span class="sh_cbracket">{{</span>myService<span class="sh_symbol">.</span>strMethod<span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
						<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable=""> &lt;div ng-controller='controller'&gt; Service: {{myService.strClass}} &lt;br/&gt; {{myService.classMethod()}} &lt;br/&gt; &lt;!-- Calling class method --&gt; Service: {{myService.strMethod}} &lt;/div&gt;
                        </pre>
					</div>
				</div>

			</div>
			<!-- --------------------------------------------------- Service Recipe end ----------------------------------------------------- -->

		</div>
	</div>
	<!-- --------------------------------------------------- 1 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 2 start --------------------------------------------------- -->
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">2. What is this?</h3>
		</div>
		<div class="panel-body">

		</div>
	</div>
	<!-- --------------------------------------------------- 2 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 3 start --------------------------------------------------- -->
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">3. Question</h3>
		</div>
		<div class="panel-body">
			Answer
		</div>
	</div>
	<!-- --------------------------------------------------- 3 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">4. Question</h3>
		</div>
		<div class="panel-body">
			Answer
		</div>
	</div>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->
</div>
