<div class="alert alert-success title">JavaScript Interview Question and Answers</div>

<div class='text'>
	<!-- --------------------------------------------------- 1 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">
			1. Define event bubbling.
		</summary>
		<div class="panel-body">
			<p>
				<b>Answer:</b> The concept of <b><em>event bubbling</em></b> was introduced to deal with situations where a single event, such as a mouse click, may be handled by two or more event handlers defined
				<nobr>at different</nobr> levels of the <em>Document Object Model</em> (DOM) hierarchy. If this is the case, the event bubbling process starts by executing the event handler defined for individual elements at the lowest level (e.g. individual hyperlinks,
				buttons, table cells etc.). From there, the event <em>bubbles up</em> to the containing elements (e.g. a table or a form with its own event handler), then up to even higher-level elements (e.g. the <code>BODY</code> element of the page). Finally,
				the event ends up being handled at the highest level in the DOM hierarchy, the <code>document</code> element itself (provided that your <code>document</code> has its own event handler).

			</p>
			<p>
				The term <b><em>event propagation</em></b> is often used as a synonym of <em>event bubbling</em>. However, strictly speaking, event propagation is a wider term: it includes not only event bubbling but also event capturing.
				<b><em>Event capturing</em></b> is the opposite of bubbling (events are handled at higher levels first, then <em>sink</em> down to individual elements at lower levels). Event capturing is supported in fewer browsers and rarely used; notably, Internet
				Explorer prior to version 9.0 does not support event capturing.
			</p>
			<p>When handlers trigger on parents:</p>
			<ul>
				<li><code>event.target/srcElement</code> - remains the same originating element.</li>
				<li><code>this</code> - is the current element, the one event has bubbled to, the one which runs the handler.</li>
			</ul>
			<p>Handler may decide that event is fully processed and stop the bubbling. The code is:</p>
			<div class="snippet-container">
				<div class="sh_default snippet-wrap">
					<pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>element<span class="sh_symbol">.</span><span class="sh_predef_func">onclick</span> <span class="sh_symbol">=</span> <span class="sh_keyword">function</span><span class="sh_symbol">(</span>event<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>    event <span class="sh_symbol">=</span> event <span class="sh_symbol">||</span> <span class="sh_predef_var">window</span><span class="sh_symbol">.</span>event <span class="sh_comment">// cross-browser event</span></li><li>     </li><li>    <span class="sh_keyword">if</span> <span class="sh_symbol">(</span>event<span class="sh_symbol">.</span>stopPropagation<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_comment">// W3C standard variant</span></li><li>        event<span class="sh_symbol">.</span><span class="sh_function">stopPropagation</span><span class="sh_symbol">()</span></li><li>    <span class="sh_cbracket">}</span> <span class="sh_keyword">else</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_comment">// IE variant</span></li><li>        event<span class="sh_symbol">.</span>cancelBubble <span class="sh_symbol">=</span> <span class="sh_keyword">true</span></li><li>    <span class="sh_cbracket">}</span></li><li><span class="sh_cbracket">}</span></li></ol></pre>
					<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">element.onclick = function(event) { event = event || window.event // cross-browser event if (event.stopPropagation) { // W3C standard variant event.stopPropagation() } else { // IE variant event.cancelBubble = true } }
						</pre>
				</div>
			</div><br>
			<div class='text-heading'>Capturing:</div>
			<p>In all browsers, except IE&lt;9, there are two stages of event processing. The event first goes down - that’s called capturing, and then bubbles up. This behavior is standartized in W3C specification.</p>
			<p>All methods of event handling ignore the caputiring phase. Using addEventListener with last argument true is only the way to catch the event at capturing.</p><br>
			<p><code>elem.addEventListener( type, handler, phase ) </code></p><br>
			<p> <code>phase = true </code>(The handler is set on the capturing phase.) </p>
			<p> <code>phase = false </code>(The handler is set on the bubbling phase.) </p>
		</div>
	</details>
	<!-- --------------------------------------------------- 1 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 2 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">2. What is this?</summary>
		<div class="panel-body">
			<p><code><strong>this</strong></code> evaluates to the value of the ThisBinding of the current execution context</p>

			<div class='text-heading'>As a DOM event handler:</div>
			<p>When a function is used as an event handler, its <code>this</code> is set to the element the event fired from (some browsers do not follow this convention for listeners added dynamically with methods other than <code>addEventListener</code>).</p>

			<div class="text-heading">Global context: </div>
			<p>In the global execution context (outside of any function), this refers to the global object, whether in strict mode or not.</p>

			<div class="text-heading">Function context: </div>
			<p>In strict mode, if <code>this</code> was not defined by the execution context, it remains undefined. </p>
			<p>if <code>not in strict mode</code>, the value of this is not set by the call, <code>this</code> will default to the global object</p>

			<div class="text-heading">call, apply and bind: </div>
			<p>The <code>call()</code> method calls a function with a given <code>this</code> value and arguments provided individually.</p>
			<p>The <code>apply()</code> method calls a function with a given <code>this</code> value and <code>arguments</code> provided as an array (or an <a href="/en-US/docs/Web/JavaScript/Guide/Indexed_collections#Working_with_array-like_objects">array-like object</a>).</p>
			<p>The <code>bind()</code> method creates a new function that, when called, has its <code>this</code> keyword set to the provided value, with a given sequence of arguments preceding any provided when the new function is called.</p>
			<p>The <code>.bind()</code> method is used to permanently set the value of this inside the target function to the passed in context object.</p>

			<div class='text-heading'>Object method</div>
			<p>When a function is called as a method of an object, its <code>this</code> is set to the object the method is called on.</p>

			<div class='text-heading'>As a constructor:</div>
			<p>When a function is used as a constructor (with the <code><a href="/en-US/docs/Web/JavaScript/Reference/Operators/new">new</a></code> keyword), its <code>this</code> is bound to the new object being constructed.</p>
		</div>
	</details>
	<!-- --------------------------------------------------- 2 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 3 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">3. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 3 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->

</div>
