<div ng-app='angularjs' ng-controller='angularjsController'>

   <aside>
      <nav class="rad-sidebar">
         <ul>
            <li ng-class="getClass('/Tracker')"><a href="#!Tracker"><i></i><span class="rad-sidebar-item">Tracker</span></a></li>
            <li ng-class="getClass('/01introduction')"><a href="#!01introduction"><i></i><span class="rad-sidebar-item">Introduction</span></a></li>
            <li ng-class="getClass('/dependancyInjection')"><a href="#!dependancyInjection"><i></i><span class="rad-sidebar-item">Dependancy injection</span></a></li>
            <li ng-class="getClass('/bootstrap')"><a href="#!bootstrap"><i></i><span class="rad-sidebar-item">Bootstrap process</span></a></li>
            <li ng-class="getClass('/digestCycle')"><a href="#!digestCycle"><i></i><span class="rad-sidebar-item">Digest cycle</span></a></li>
            {{!-- Diff between $digest and $apply --}}
            <li ng-class="getClass('/controller')"><a href="#!controller"><i></i><span class="rad-sidebar-item">Controller</span></a></li>
            <li ng-class="getClass('/modules')"><a href="#!modules"><i></i><span class="rad-sidebar-item">Modules</span></a></li>
            <li ng-class="getClass('/builtindirectives')"><a href="#!builtindirectives"><i></i><span class="rad-sidebar-item">Built-in directives</span></a></li>
            <li ng-class="getClass('/02directives')"><a href="#!02directives"><i></i><span class="rad-sidebar-item">Customer directives</span></a></li>
            <li ng-class="getClass('/Services')"><a href="#!Services"><i></i><span class="rad-sidebar-item">Services</span></a></li>
            <li ng-class="getClass('/builtInServices')"><a href="#!builtInServices"><i></i><span class="rad-sidebar-item">Built-in Services</span></a></li>
            {{!-- Refer to projects implementation of exception hander decorator --}}
            <li ng-class="getClass('/unitTesting')"><a href="#!unitTesting"><i></i><span class="rad-sidebar-item">Unit testing</span></a></li>
            <li ng-class="getClass('/Asynchronous')"><a href="#!/Asynchronous"><i></i><span class="rad-sidebar-item">Asynchronous operations</span></a></li>
            <li ng-class="getClass('/Filters')"><a href="#!Filters"><i></i><span class="rad-sidebar-item">Filters</span></a></li>
            <li ng-class="getClass('/frameworks')"><a href="#!frameworks"><i></i><span class="rad-sidebar-item">Libraries & frameworks</span></a></li>
            <li ng-class="getClass('/routing')"><a href="#!routing"><i></i><span class="rad-sidebar-item">Routing</span></a></li>
            {{!-- Refer to projects implementation of state router --}}
            <li ng-class="getClass('/promises')"><a href="#!promises"><i></i><span class="rad-sidebar-item">Promises</span></a></li>
            <li ng-class="getClass('/events')"><a href="#!events"><i></i><span class="rad-sidebar-item">Events</span></a></li>
            <li ng-class="getClass('/validations')"><a href="#!validations"><i></i><span class="rad-sidebar-item">Validations</span></a></li>
            <li ng-class="getClass('/features')"><a href="#!features"><i></i><span class="rad-sidebar-item">Built in features</span></a></li>
            <li ng-class="getClass('/performance')"><a href="#!performance"><i></i><span class="rad-sidebar-item">Performance</span></a></li>
            <li ng-class="getClass('/syntax')"><a href="#!syntax"><i></i><span class="rad-sidebar-item">Syntax</span></a></li>
            <li ng-class="getClass('/styleGuide')"><a href="#!styleGuide"><i></i><span class="rad-sidebar-item">Style guide</span></a></li>
            <li ng-class="getClass('/designPatterns')"><a href="#!designPatterns"><i></i><span class="rad-sidebar-item">Design patterns</span></a></li>
         </ul>
      </nav>
   </aside>
   <!-- Content -->

   <main>
      <section>
         <div class="rad-body-wrapper">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12 col-xs-12">
                     <div class="rad-info-box rad-info-box-text">
                        <!-- Template view area -->
                        <div ng-view></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>


   <!-- Template view -->

</div>
