<div ng-app='dashboard'>

   <aside>
      <nav class="rad-sidebar">
         <ul>


            <li><a href="nodejs"><i></i><span class="rad-sidebar-item">HTML</span></a></li>
            <li><a href="css"><i></i><span class="rad-sidebar-item">CSS</span></a></li>
            <li><a href="javascript"><i></i><span class="rad-sidebar-item">Javascript</span></a></li>
            <li><a href="java"><i></i><span class="rad-sidebar-item">Java</span></a></li>
            <li><a href="javascript"><i></i><span class="rad-sidebar-item">jquery</span></a></li>
            <li><a href="angularjs"><i></i><span class="rad-sidebar-item">AngularJS</span></a></li>
            <li><a href="nodejs"><i></i><span class="rad-sidebar-item">NodeJS</span></a></li>
            <li><a href="backbonejs"><i></i><span class="rad-sidebar-item">BackboneJS</span></a></li>
            <li><a href="bootstrap"><i></i><span class="rad-sidebar-item">Bootstrap</span></a></li>

         </ul>
      </nav>
   </aside>
   <!-- Content -->

   <main>
      <section>
         <div class="rad-body-wrapper">
            <div class="container-fluid">

               <div ng-view>

               </div>
            </div>
         </div>
      </section>
   </main>


</div>
