<div ng-app='interview' ng-controller='interviewController'>
   <!-- External stylesheet link -->
   <link rel="stylesheet" href="stylesheets/style.css">
   <link type="text/css" rel="stylesheet" href="bower/syntaxhighlighter/shi_default.min.css" />

   <!--Main body starts-->
   <section>
      <header>
         <a href="/">
            <div class="logo">Tagline goes here!</div>
         </a>
         <nav class="rad-navigation">

            <div class="rad-logo-container">
               <a href="#" class="rad-logo">InetrviewQ</a>
               <a href="" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
            </div>
            <a href="#" class="rad-logo-hidden">Awesome Tutorials</a>

         </nav>
      </header>
   </section>
   <aside>
      <nav class="rad-sidebar">
         <ul>

            <li><a href="#!JavaScript"><i></i><span class="rad-sidebar-item">JavaScript</span></a></li>
            <li><a href="#!HTML"><i></i><span class="rad-sidebar-item">HTML</span></a></li>
            <li><a href="#!jQuery"><i></i><span class="rad-sidebar-item">jQuery</span></a></li>
            <li><a href="#!AngularJS"><i></i><span class="rad-sidebar-item">AngularJS</span></a></li>
            <li><a href="#!NodeJS"><i></i><span class="rad-sidebar-item">NodeJS</span></a></li>
            <li><a href="#!CSS"><i></i><span class="rad-sidebar-item">CSS</span></a></li>
            <li><a href="#!"><i></i><span class="rad-sidebar-item">Subject</span></a></li>
            <li><a href="#!"><i></i><span class="rad-sidebar-item">Subject</span></a></li>

         </ul>
      </nav>
   </aside>
   <!-- Content -->

   <main>
      <section>
         <div class="rad-body-wrapper">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12 col-xs-12">
                     <div class="rad-info-box rad-info-box-text">
                        <!-- Template view area -->
                        <div ng-view></div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>


   <!-- Template view -->

   <!--Main body ends-->

   <!-- Bootstrap and jquery CDNs -->
   <script src='/bower/jquery/dist/jquery.min.js'></script>
   <script src='/bower/bootstrap/dist/js/bootstrap.min.js'></script>
   <script src='/bower/jquery-ui/jquery-ui.min.js'></script>

   <!-- <script src="js/index.js"></script> -->
   <!-- External javascript link -->
   <script src="/bower/angular/angular.min.js"></script>
   <script src="/bower/angular-route/angular-route.min.js"></script>
   <script src="/bower/jquery-slimscroll/jquery.slimscroll.min.js"></script>

   <script src="/javascripts/main.js"></script>
   <script src="/javascripts/app/interview-route.js"></script>
   <script src="/javascripts/app/interview/interview.js"></script>

   <script type="text/javascript" src="bower/syntaxhighlighter/shi_jquery.min.js"></script>

</div>
