<div ng-app='javaModule' ng-controller='javaController'>


   <aside>
      <nav class="rad-sidebar">
         <ul>

            <li ng-class="getClass('/01_Introduction')"><a href="#!01_Introduction"><i></i><span class="rad-sidebar-item">Introduction</span></a></li>
            <li ng-class="getClass('/controller')"><a href="#!controller"><i></i><span class="rad-sidebar-item">Controller</span></a></li>
            <li ng-class="getClass('/modules')"><a href="#!modules"><i></i><span class="rad-sidebar-item">Modules</span></a></li>
            <li ng-class="getClass('/builtindirectives')"><a href="#!builtindirectives"><i></i><span class="rad-sidebar-item">Built-in directives</span></a></li>
            <li ng-class="getClass('/02directives')"><a href="#!02directives"><i></i><span class="rad-sidebar-item">Customer directives</span></a></li>
            <li ng-class="getClass('/Services')"><a href="#!Services"><i></i><span class="rad-sidebar-item">Services</span></a></li>
            <li ng-class="getClass('/unitTesting')"><a href="#!unitTesting"><i></i><span class="rad-sidebar-item">Unit testing</span></a></li>
            <li ng-class="getClass('/Tracker')"><a href="#!Tracker"><i></i><span class="rad-sidebar-item">Tracker</span></a></li>
            <li ng-class="getClass('/Asynchronous')"><a href="#!/Asynchronous"><i></i><span class="rad-sidebar-item">Asynchronous operations</span></a></li>
            <li ng-class="getClass('/Filters')"><a href="#!Filters"><i></i><span class="rad-sidebar-item">Filters</span></a></li>
            <li ng-class="getClass('/styleGuide')"><a href="#!styleGuide"><i></i><span class="rad-sidebar-item">Style guide</span></a></li>
            <li ng-class="getClass('/collections')"><a href="#!collections"><i></i><span class="rad-sidebar-item">Collections</span></a></li>
         </ul>
      </nav>
   </aside>
   <!-- Content -->

   <main>
      <section>
         <div class="rad-body-wrapper">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12 col-xs-12">
                     <div class="rad-info-box rad-info-box-text">
                        <!-- Template view area -->
                        <div ng-view></div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>


   <!-- Template view -->

</div>
