<div ng-app='javascript' ng-controller='javascriptController'>

   <aside>
      <nav class="rad-sidebar">
         <ul>
            <li ng-class="getClass('/quickGlance')"><a href="#!quickGlance"><i></i><span class="rad-sidebar-item">Quick glance</span></a></li>
            <li ng-class="getClass('/01introduction')"><a href="#!01introduction"><i></i><span class="rad-sidebar-item">Introduction</span></a></li>
            <li ng-class="getClass('/browserNEngines')"><a href="#!browserNEngines"><i></i><span class="rad-sidebar-item">Browsers & engines</span></a></li>
            <li ng-class="getClass('/dataTypes')"><a href="#!dataTypes"><i></i><span class="rad-sidebar-item">Data types</span></a></li>
            <li ng-class="getClass('/typeofNInstanceof')"><a href="#!typeofNInstanceof"><i></i><span class="rad-sidebar-item">typeof & instanceof</span></a></li>
            <li ng-class="getClass('/executionProcess')"><a href="#executionProcess"><i></i><span class="rad-sidebar-item">Execution process</span></a></li>
            <li ng-class="getClass('/flowControl')"><a href="#flowControl"><i></i><span class="rad-sidebar-item">Flow control</span></a></li>
            <li ng-class="getClass('/scope')"><a href="#!scope"><i></i><span class="rad-sidebar-item">Scope</span></a></li>
            <li ng-class="getClass('/this')"><a href="#!this"><i></i><span class="rad-sidebar-item">'this' Keyword</span></a></li>
            <li ng-class="getClass('/object')"><a href="#!object"><i></i><span class="rad-sidebar-item">Object</span></a></li>
            <li ng-class="getClass('/array')"><a href="#!array"><i></i><span class="rad-sidebar-item">Array</span></a></li>
            <li ng-class="getClass('/functions')"><a href="#!functions"><i></i><span class="rad-sidebar-item">Functions</span></a></li>
            {{!-- Make use of : http://kangax.github.io/nfe/--}}
            <li ng-class="getClass('/date')"><a href="#!date"><i></i><span class="rad-sidebar-item">Date</span></a></li>
            <li ng-class="getClass('/events')"><a href="#!events"><i></i><span class="rad-sidebar-item">Events</span></a></li>
            <li ng-class="getClass('/predefined')"><a href="#!predefined"><i></i><span class="rad-sidebar-item">Predefined features</span></a></li>
            <li ng-class="getClass('/predefined')"><a href="#!predefined"><i></i><span class="rad-sidebar-item">delete operator</span></a></li>
            {{!-- Make use of http://perfectionkills.com/understanding-delete /--}}
            <li ng-class="getClass('/formElements')"><a href="#!formElements"><i></i><span class="rad-sidebar-item">Form elements</span></a></li>
            <li ng-class="getClass('/storages')"><a href="#!storages"><i></i><span class="rad-sidebar-item">Storages</span></a></li>
            <li ng-class="getClass('/Inheritance')"><a href="#!Inheritance"><i></i><span class="rad-sidebar-item">Inheritance and Prototype</span></a></li>
            <li ng-class="getClass('/promise')"><a href="#!promise"><i></i><span class="rad-sidebar-item">Callbacks & Promises</span></a></li>
            <li ng-class="getClass('/functionalProgramming')"><a href="#!functionalProgramming"><i></i><span class="rad-sidebar-item">Functional Programming</span></a></li>
            <li ng-class="getClass('/stateMgmt')"><a href="#!stateMgmt"><i></i><span class="rad-sidebar-item">State management</span></a></li>
            <li ng-class="getClass('/debugging')"><a href="#!debugging"><i></i><span class="rad-sidebar-item">Debugging</span></a></li>
            <li ng-class="getClass('/validation')"><a href="#!validation"><i></i><span class="rad-sidebar-item">Validation ('use strict' & Lint)</span></a></li>
            <li ng-class="getClass('/regex')"><a href="#!regex"><i></i><span class="rad-sidebar-item">Regular expressions</span></a></li>
            <li ng-class="getClass('/performance')"><a href="#!performance"><i></i><span class="rad-sidebar-item">Performance</span></a></li>
            <li ng-class="getClass('/es6Features')"><a href="#!es6Features"><i></i><span class="rad-sidebar-item">ES6 features</span></a></li>
            <li ng-class="getClass('/frameworksNLibraries')"><a href="#!frameworksNLibraries"><i></i><span class="rad-sidebar-item">Frameworks and libraries</span></a></li>
            <li ng-class="getClass('/designPatterns')"><a href="#!designPatterns"><i></i><span class="rad-sidebar-item">Design patterns</span></a></li>
            <li ng-class="getClass('/bestPractices')"><a href="#!bestPractices"><i></i><span class="rad-sidebar-item">Best practices</span></a></li>
            <li ng-class="getClass('/redux')"><a href="#!redux"><i></i><span class="rad-sidebar-item">Redux</span></a></li>
            <li ng-class="getClass('/HTMLObjects')"><a href="#!HTMLObjects"><i></i><span class="rad-sidebar-item">HTML Objects</span></a></li>
            <li ng-class="getClass('/BOM')"><a href="#!BOM"><i></i><span class="rad-sidebar-item">Browser Object Model (BOM)</span></a></li>
            <li ng-class="getClass('/DOM')"><a href="#!DOM"><i></i><span class="rad-sidebar-item">Document Object Model (DOM)</span></a></li>
            <li ng-class="getClass('/codePractice')"><a href="#!codePractice"><i></i><span class="rad-sidebar-item">Code questions</span></a></li>
         </ul>
      </nav>
   </aside>
   <!-- Content -->

   <main>
      <section>
         <div class="rad-body-wrapper">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12 col-xs-12">
                     <div class="rad-info-box rad-info-box-text">
                        <!-- Template view area -->
                        <div ng-view></div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>
   <!-- Template view -->

   <!--Main body ends-->

</div>
