<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Awesome Tutorials</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Reset style -->
    <!--  <link rel="stylesheet" href="css/reset.css"> -->

    <!-- Font awesome and bootstrap CDN links -->
    <link rel='stylesheet prefetch' href='/bower/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='/bower/bootstrap/dist/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <!-- External stylesheet link -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="bower/syntaxhighlighter/shi_default.min.css" />

  </head>

  <body>

    <!--Main body starts-->
    <section>
      <header>
        <nav class="rad-navigation">

          <div class="rad-logo-container">
            <a href="" class="rad-toggle-btn"><i class="fa fa-bars"></i></a>
          </div>
          <a href="/" class="rad-logo-hidden">Awesome Tutorials</a>

        </nav>
      </header>
    </section>

    {{{body}}}

  </body>

  <!--Main body ends-->

  <!-- Bootstrap and jquery CDNs -->
  <script src='/bower/jquery/dist/jquery.min.js'></script>
  <script src='/bower/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='/bower/jquery-ui/jquery-ui.min.js'></script>

  <!-- <script src="js/index.js"></script> -->
  <!-- External javascript link -->
  <script src="/bower/angular/angular.min.js"></script>
  <script src="/bower/angular-route/angular-route.min.js"></script>
  <script src="/bower/jquery-slimscroll/jquery.slimscroll.min.js"></script>

  <script src="/javascripts/main.js"></script>
  <script src="/routes/route-config.js"></script>
  <script src="/routes/angularjs-route.js"></script>
  <script src="/javascripts/app/angularjs/angularjs.js"></script>
  <script src="/routes/java-route.js"></script>
  <script src="/javascripts/app/java/java.js"></script>
  <script src="/routes/javascript-route.js"></script>
  <script src="/javascripts/app/javascript/javascript.js"></script>
  <script src="/javascripts/app/dashboard/dashboard.js"></script>

  <script type="text/javascript" src="bower/syntaxhighlighter/shi_jquery.min.js"></script>

</html>
