<div ng-app='tryit' ng-controller='tryitController'>
   <!-- External stylesheet link -->
   <link rel="stylesheet" href="stylesheets/style.css">



   <main>
      <section>
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6 col-lg-6">
                  <div class="rad-info-box rad-info-box-text">
                     <form>
                        <strong>Code</strong>

                        <textarea ng-model="area" name="sourceCode" id="sourceCode">

                        <!-- Template view area -->
                        <div ng-view>  </div>
   
                        </textarea>

                     </form>
                  </div>
               </div>
               <div class="col-lg-6 col-xs-6">
                  <div class="rad-info-box rad-info-box-text">
                     <iframe ng-bind="area" name="targetCode" id="targetCode" frameborder=0></iframe>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>



   <!-- Bootstrap and jquery CDNs -->
   <script src='/bower/jquery/dist/jquery.min.js'></script>
   <script src='/bower/bootstrap/dist/js/bootstrap.min.js'></script>
   <script src='/bower/jquery-ui/jquery-ui.min.js'></script>

   <!-- <script src="js/index.js"></script> -->
   <!-- External javascript link -->
   <script src="/bower/angular/angular.min.js"></script>
   <script src="/bower/angular-route/angular-route.min.js"></script>
   <script src="/bower/jquery-slimscroll/jquery.slimscroll.min.js"></script>

   <script src="/javascripts/app/angularjs/tryitExamples/tryit-route.js"></script>
   <script src="/javascripts/app/angularjs/tryitExamples/tryit.js"></script>



</div>
