<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Javascript</h4>
                        <p class="category"> JavaScript libraries, frameworks, and plugins you should know about. </p>
                    </div>
                    <div class="content all-icons">
                        <div class="row">
                            <!-- JavaScript -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                        <path fill="#F0DB4F" d="M2 1v125h125v-125h-125zm66.119 106.513c-1.845 3.749-5.367 6.212-9.448 7.401-6.271 1.44-12.269.619-16.731-2.059-2.986-1.832-5.318-4.652-6.901-7.901l9.52-5.83c.083.035.333.487.667 1.071 1.214 2.034 2.261 3.474 4.319 4.485 2.022.69 6.461 1.131 8.175-2.427 1.047-1.81.714-7.628.714-14.065-.001-10.115.046-20.188.046-30.188h11.709c0 11 .06 21.418 0 32.152.025 6.58.596 12.446-2.07 17.361zm48.574-3.308c-4.07 13.922-26.762 14.374-35.83 5.176-1.916-2.165-3.117-3.296-4.26-5.795 4.819-2.772 4.819-2.772 9.508-5.485 2.547 3.915 4.902 6.068 9.139 6.949 5.748.702 11.531-1.273 10.234-7.378-1.333-4.986-11.77-6.199-18.873-11.531-7.211-4.843-8.901-16.611-2.975-23.335 1.975-2.487 5.343-4.343 8.877-5.235l3.688-.477c7.081-.143 11.507 1.727 14.756 5.355.904.916 1.642 1.904 3.022 4.045-3.772 2.404-3.76 2.381-9.163 5.879-1.154-2.486-3.069-4.046-5.093-4.724-3.142-.952-7.104.083-7.926 3.403-.285 1.023-.226 1.975.227 3.665 1.273 2.903 5.545 4.165 9.377 5.926 11.031 4.474 14.756 9.271 15.672 14.981.882 4.916-.213 8.105-.38 8.581z"></path>
                                    </svg>
                                </div>
                            </div>
                            <!-- Angular -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                        <path fill="#B3B3B3" d="M63.81 1.026l-59.257 20.854 9.363 77.637 49.957 27.457 50.214-27.828 9.36-77.635z"></path><path fill="#A6120D" d="M117.536 25.998l-53.864-18.369v112.785l45.141-24.983z"></path><path fill="#DD1B16" d="M11.201 26.329l8.026 69.434 44.444 24.651v-112.787z"></path><path fill="#F2F2F2" d="M78.499 67.67l-14.827 6.934h-15.628l-7.347 18.374-13.663.254 36.638-81.508 14.827 55.946zm-1.434-3.491l-13.295-26.321-10.906 25.868h10.807l13.394.453z"></path><path fill="#B3B3B3" d="M63.671 11.724l.098 26.134 12.375 25.888h-12.446l-.027 10.841 17.209.017 8.042 18.63 13.074.242z"></path>
                                    </svg>
                                </div>
                            </div>
                            <!-- NodeJS -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                    <path fill="#83CD29" d="M112.678 30.334l-44.143-25.605c-2.781-1.584-6.424-1.584-9.227 0l-44.488 25.605c-2.869 1.651-4.82 4.754-4.82 8.073v51.142c0 3.319 1.992 6.423 4.862 8.083l11.729 6.688c5.627 2.772 7.186 2.772 9.746 2.772 8.334 0 12.662-5.039 12.662-13.828v-50.49c.001-.713.446-1.774-.255-1.774h-5.622c-.712 0-2.122 1.061-2.122 1.773v50.49c0 3.896-3.616 7.773-10.202 4.48l-12.122-7.013c-.422-.23-.676-.693-.676-1.181v-51.142c0-.482.463-.966.891-1.213l44.378-25.561c.415-.235 1.002-.235 1.415 0l43.963 25.555c.421.253.354.722.354 1.219v51.142c0 .488.092.963-.323 1.198l-44.133 25.576c-.378.227-.87.227-1.285 0l-11.317-6.749c-.341-.198-.752-.269-1.08-.086-3.145 1.783-3.729 2.02-6.679 3.043-.727.253-1.799.692.408 1.929l14.798 8.754c1.416.82 3.027 1.246 4.647 1.246 1.642 0 3.249-.426 4.666-1.246l43.976-25.582c2.871-1.672 4.322-4.764 4.322-8.083v-51.142c-.001-3.319-1.452-6.414-4.323-8.073zM77.727 81.445c-11.727 0-14.309-3.235-15.17-9.066-.102-.628-.634-1.379-1.274-1.379h-5.73c-.709 0-1.28.86-1.28 1.566 0 7.466 4.06 16.512 23.454 16.512 14.038 0 22.088-5.455 22.088-15.109 0-9.572-6.467-12.084-20.082-13.886-13.762-1.819-15.16-2.738-15.16-5.962 0-2.658 1.184-6.203 11.374-6.203 9.104 0 12.46 1.954 13.841 8.091.119.577.646.991 1.241.991h5.754c.354 0 .691-.143.939-.396.241-.272.367-.613.336-.979-.893-10.569-7.913-15.494-22.112-15.494-12.632 0-20.166 5.334-20.166 14.275 0 9.698 7.497 12.378 19.622 13.577 14.505 1.422 15.633 3.542 15.633 6.395 0 4.956-3.978 7.067-13.308 7.067z"></path>
                                    </svg>
                                </div>
                            </div>
                            <!-- JQuery -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                    <path fill="#0868AC" d="M27.758 20.421c-7.352 10.565-6.437 24.312-.82 35.54l.411.798.263.506.164.291.293.524c.174.307.353.612.536.919l.306.504c.203.326.41.65.622.973l.265.409c.293.437.592.872.901 1.301l.026.033.152.205c.267.368.542.732.821 1.093l.309.393c.249.313.502.623.759.934l.29.346c.345.406.698.812 1.057 1.208l.021.022.041.045c.351.383.71.758 1.075 1.133l.344.347c.282.284.569.563.858.841l.351.334c.387.364.777.722 1.176 1.07l.018.016.205.174c.351.305.708.605 1.068.902l.442.353c.294.235.591.468.89.696l.477.361c.33.243.663.482.999.717l.363.258.101.072c.318.22.645.431.97.642l.42.28c.5.315 1.007.628 1.519.93l.42.237c.377.217.756.431 1.14.639l.631.326.816.424.188.091.334.161c.427.204.858.405 1.293.599l.273.122c.498.218 1.001.427 1.508.628l.368.144c.469.182.945.359 1.423.527l.179.062c.524.184 1.054.353 1.587.52l.383.114c.542.164 1.079.358 1.638.462 35.553 6.483 45.88-21.364 45.88-21.364-8.674 11.3-24.069 14.28-38.656 10.962-.553-.125-1.089-.298-1.628-.456l-.406-.124c-.526-.161-1.049-.33-1.568-.51l-.215-.077c-.465-.164-.924-.336-1.382-.513l-.388-.152c-.501-.198-1-.405-1.492-.62l-.298-.133c-.423-.191-.842-.384-1.259-.585l-.364-.175c-.327-.159-.65-.328-.974-.495l-.649-.341c-.395-.21-.782-.43-1.167-.654l-.394-.219c-.513-.303-1.019-.615-1.52-.932l-.41-.273c-.363-.234-.725-.473-1.081-.719l-.349-.245c-.344-.242-.685-.489-1.022-.738l-.453-.343c-.31-.237-.618-.476-.922-.721l-.411-.33c-.388-.318-.771-.64-1.149-.969l-.126-.105c-.409-.359-.811-.728-1.208-1.098l-.34-.328c-.294-.279-.584-.561-.868-.851l-.34-.34c-.362-.37-.717-.745-1.065-1.126l-.053-.057c-.368-.402-.728-.813-1.08-1.229l-.283-.336c-.263-.316-.523-.638-.777-.961l-.285-.355c-.307-.397-.605-.793-.898-1.195-8.098-11.047-11.008-26.283-4.535-38.795M50.578 11.519c-5.316 7.65-5.028 17.893-.88 25.983.695 1.356 1.477 2.673 2.351 3.925.796 1.143 1.68 2.501 2.737 3.418.383.422.784.834 1.193 1.238l.314.311c.397.385.801.764 1.218 1.132l.05.043.012.012c.462.405.939.794 1.423 1.178l.323.252c.486.372.981.738 1.489 1.087l.043.033.68.447.322.213c.363.233.73.459 1.104.676l.156.092c.322.185.648.367.975.545l.347.18.682.354.103.047c.469.23.941.453 1.424.663l.314.13c.386.163.775.323 1.167.473l.5.184c.356.132.712.253 1.072.373l.484.155c.511.158 1.017.359 1.549.448 27.45 4.547 33.787-16.588 33.787-16.588-5.712 8.228-16.775 12.153-28.58 9.089-.524-.138-1.042-.288-1.555-.449l-.467-.151c-.365-.117-.728-.243-1.087-.374l-.491-.183c-.394-.152-.784-.309-1.171-.473l-.315-.133c-.485-.211-.962-.434-1.432-.666l-.718-.365-.414-.213c-.306-.166-.61-.338-.909-.514l-.217-.123c-.372-.217-.738-.44-1.1-.672l-.332-.221-.712-.472c-.506-.349-.999-.714-1.484-1.085l-.334-.264c-5.167-4.079-9.263-9.655-11.21-15.977-2.041-6.557-1.601-13.917 1.935-19.891M69.771 4.868c-3.134 4.612-3.442 10.341-1.267 15.435 2.293 5.407 6.992 9.648 12.477 11.66l.682.235.3.096c.323.102.644.22.978.282 15.157 2.929 19.268-7.777 20.362-9.354-3.601 5.185-9.653 6.43-17.079 4.627-.586-.142-1.231-.354-1.796-.555-.725-.259-1.439-.553-2.134-.886-1.318-.634-2.575-1.402-3.741-2.282-6.645-5.042-10.772-14.659-6.436-22.492"></path><path fill="#131B28" d="M66.359 96.295h-4.226c-.234 0-.467.188-.517.417l-1.5 6.94-1.5 6.94c-.049.229-.282.417-.516.417h-2.991c-2.959 0-2.617-2.047-2.011-4.851l.018-.085.066-.354.012-.066.135-.72.145-.771.154-.785.682-3.332.683-3.332c.047-.23-.107-.419-.341-.419h-4.337c-.234 0-.466.188-.514.418l-.933 4.424-.932 4.425-.002.006-.086.412c-1.074 4.903-.79 9.58 5.048 9.727l.17.003h9.163c.234 0 .467-.188.516-.417l1.976-9.289 1.976-9.29c.049-.23-.103-.417-.338-.418zM21.103 96.246h-4.64c-.235 0-.469.188-.521.416l-.44 1.942-.44 1.942c-.051.229.098.416.333.416h4.676c.235 0 .468-.188.518-.417l.425-1.941.425-1.941c.049-.229-.101-.417-.336-.417zM19.757 102.29h-4.677c-.234 0-.469.188-.521.416l-.657 2.91-.656 2.909-.183.834-.631 2.97-.63 2.971c-.049.229-.15.599-.225.821 0 0-.874 2.6-2.343 2.57l-.184-.004-1.271-.023h-.001c-.234-.003-.469.18-.524.407l-.485 2.039-.484 2.038c-.055.228.093.416.326.42.833.01 2.699.031 3.828.031 3.669 0 5.604-2.033 6.843-7.883l1.451-6.714 1.361-6.297c.049-.227-.103-.415-.337-.415zM105.874 100.716l-.194-.801-.191-.82-.097-.414c-.38-1.477-1.495-2.328-3.917-2.328l-3.77-.004-3.472-.005h-3.907c-.234 0-.466.188-.515.417l-.173.816-.204.964-.057.271-1.759 8.24-1.67 7.822c-.05.23-.066.512-.038.626.028.115.479.209.713.209h3.524c.235 0 .532-.042.66-.094s.317-.513.364-.742l.626-3.099.627-3.1.001-.005.084-.413.76-3.56.671-3.144c.05-.229.281-.416.515-.417l11.089-.005c.235.002.383-.185.33-.414zM120.149 93.476l-.854.003h-3.549c-.235 0-.536.159-.667.353l-7.849 11.498c-.132.194-.283.166-.335-.062l-.578-2.533c-.052-.229-.287-.416-.522-.416h-5.045c-.235 0-.374.184-.31.409l2.261 7.921c.064.226.069.596.011.824l-.985 3.833c-.059.228.085.413.32.413h4.987c.234 0 .474-.186.532-.413l.986-3.833c.058-.229.221-.567.363-.755l12.742-16.911c.142-.188.065-.341-.169-.339l-1.339.008zM80.063 103.395v-.004c-.029.254-.264.441-.499.441h-6.397c-.222 0-.334-.15-.301-.336l.006-.015-.004.002.003-.021.029-.109c.611-1.624 1.855-2.69 4.194-2.69 2.634-.001 3.148 1.285 2.969 2.732zm-1.877-7.384c-8.211 0-10.157 4.984-11.249 10.015-1.091 5.128-.998 9.921 7.5 9.921h1.03l.256-.001h.06l1.02-.003h.018c2.244-.009 4.495-.026 5.406-.033.233-.004.461-.191.509-.42l.344-1.681.067-.327.41-2.006c.047-.229-.106-.418-.341-.418h-7.639c-3.039 0-3.941-.807-3.608-3.181h12.211l-.001.001.008-.001c.194-.003.374-.137.445-.315l.029-.106-.001.001c1.813-6.839 1.293-11.445-6.474-11.446zM39.376 103.369l-.116.409v.001l-.922 3.268-.922 3.267c-.063.227-.308.411-.543.411h-4.88c-3.702 0-4.604-2.896-3.702-7.166.901-4.368 2.668-7.083 6.312-7.358 4.98-.376 5.976 3.126 4.773 7.168zm3.348 7.105s2.301-5.588 2.823-8.814c.713-4.319-1.45-10.585-9.804-10.585-8.306 0-11.914 5.981-13.29 12.484-1.376 6.55.427 12.293 8.686 12.246l6.516-.024 6.089-.022c.234-.002.474-.188.534-.414l1.061-4.046c.059-.228-.084-.414-.319-.416l-1.017-.006-1.017-.006c-.199-.001-.313-.131-.289-.302l.027-.095zM83.844 106.733c0 .155-.125.281-.28.281-.154 0-.28-.126-.28-.281 0-.154.125-.279.28-.279.155 0 .28.125.28.279z"></path>
                                    </svg>
                                </div>
                            </div>
                            <!-- React -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                    <path d="M64 81.7c7.3 7.1 14.5 11.3 20.3 11.3 1.9 0 3.7-.4 5.2-1.3 5.2-3 7.1-10.5 5.3-21.2-.3-1.9-.7-3.8-1.2-5.8 2-.6 3.8-1.2 5.6-1.8 10.1-3.9 15.7-9.3 15.7-15.2 0-6-5.6-11.4-15.7-15.2-1.8-.7-3.6-1.3-5.6-1.8.5-2 .9-3.9 1.2-5.8 1.7-10.9-.2-18.5-5.4-21.5-1.5-.9-3.3-1.3-5.2-1.3-5.7 0-13 4.2-20.3 11.3-7.2-7.1-14.4-11.3-20.2-11.3-1.9 0-3.7.4-5.2 1.3-5.2 3-7.1 10.5-5.3 21.2.3 1.9.7 3.8 1.2 5.8-2 .6-3.8 1.2-5.6 1.8-10.1 3.9-15.7 9.3-15.7 15.2 0 6 5.6 11.4 15.7 15.2 1.8.7 3.6 1.3 5.6 1.8-.5 2-.9 3.9-1.2 5.8-1.7 10.7.2 18.3 5.3 21.2 1.5.9 3.3 1.3 5.2 1.3 5.8.2 13-4 20.3-11zm-5.6-13.5c1.8.1 3.7.1 5.6.1 1.9 0 3.8 0 5.6-.1-1.8 2.4-3.7 4.6-5.6 6.7-1.9-2.1-3.8-4.3-5.6-6.7zm-12.4-10.3c1 1.7 1.9 3.3 3 4.9-3.1-.4-6-.9-8.8-1.5.9-2.7 1.9-5.5 3.1-8.3.8 1.6 1.7 3.3 2.7 4.9zm-5.8-24.1c2.8-.6 5.7-1.1 8.8-1.5-1 1.6-2 3.2-3 4.9-1 1.7-1.9 3.3-2.7 5-1.3-2.9-2.3-5.7-3.1-8.4zm5.5 13.7c1.3-2.7 2.7-5.4 4.3-8.1 1.5-2.6 3.2-5.2 4.9-7.8 3-.2 6-.3 9.1-.3 3.2 0 6.2.1 9.1.3 1.8 2.6 3.4 5.2 4.9 7.8 1.6 2.7 3 5.4 4.3 8.1-1.3 2.7-2.7 5.4-4.3 8.1-1.5 2.6-3.2 5.2-4.9 7.8-3 .2-6 .3-9.1.3-3.2 0-6.2-.1-9.1-.3-1.8-2.6-3.4-5.2-4.9-7.8-1.6-2.7-3-5.4-4.3-8.1zm39.1-5.4l-2.7-5c-1-1.7-1.9-3.3-3-4.9 3.1.4 6 .9 8.8 1.5-.9 2.8-1.9 5.6-3.1 8.4zm0 10.8c1.2 2.8 2.2 5.6 3.1 8.3-2.8.6-5.7 1.1-8.8 1.5 1-1.6 2-3.2 3-4.9.9-1.5 1.8-3.2 2.7-4.9zm2.3 34.7c-.8.5-1.8.7-2.9.7-4.9 0-11-4-17-10 2.9-3.1 5.7-6.6 8.5-10.5 4.7-.4 9.2-1.1 13.4-2.1.5 1.8.8 3.6 1.1 5.4 1.4 8.5.3 14.6-3.1 16.5zm5.2-52.7c11.2 3.2 17.9 8.1 17.9 12.6 0 3.9-4.6 7.8-12.7 10.9-1.6.6-3.4 1.2-5.2 1.7-1.3-4.1-2.9-8.3-4.9-12.6 2-4.3 3.7-8.5 4.9-12.6zm-8-28.2c1.1 0 2 .2 2.9.7 3.3 1.9 4.5 7.9 3.1 16.5-.3 1.7-.7 3.5-1.1 5.4-4.2-.9-8.7-1.6-13.4-2.1-2.7-3.9-5.6-7.4-8.5-10.5 6-5.9 12.1-10 17-10zm-14.7 20.1c-1.8-.1-3.7-.1-5.6-.1s-3.8 0-5.6.1c1.8-2.4 3.7-4.6 5.6-6.7 1.9 2.1 3.8 4.4 5.6 6.7zm-28.7-19.4c.8-.5 1.8-.7 2.9-.7 4.9 0 11 4 17 10-2.9 3.1-5.7 6.6-8.5 10.5-4.7.4-9.2 1.1-13.4 2.1-.5-1.8-.8-3.6-1.1-5.4-1.4-8.5-.3-14.5 3.1-16.5zm-5.2 52.7c-11.2-3.2-17.9-8.1-17.9-12.6 0-3.9 4.6-7.8 12.7-10.9 1.6-.6 3.4-1.2 5.2-1.7 1.3 4.1 2.9 8.3 4.9 12.6-2 4.3-3.7 8.6-4.9 12.6zm2.1 11c.3-1.7.7-3.5 1.1-5.4 4.2.9 8.7 1.6 13.4 2.1 2.7 3.9 5.6 7.4 8.5 10.5-6 5.9-12.1 10-17 10-1.1 0-2-.2-2.9-.7-3.4-1.9-4.5-8-3.1-16.5zM33.6 112.3c2.2-2.7 2.3-5.7 1.1-8.7-1.2-3-3.7-4.4-6.8-4.5-3.7-.1-7.5 0-11.2 0h-.7v25.9h3v-9.8h4.7c.6 0 1.1.2 1.4.7l6 9.3c.1.2.4.5.6.5h3.9c-2.4-3.7-4.7-7.2-7.1-10.8 2.1-.3 3.9-1 5.1-2.6zm-14.6-.2v-9.9h1.1c2.3 0 4.7-.1 7 .1 2.7.1 4.6 2.2 4.6 4.9s-2.2 4.8-4.9 4.9c-2.4.1-4.8 0-7.8 0zM57.7 113.4c-1.6-7-8-8.8-12.9-6.6-3.8 1.7-5.5 5-5.6 9.1-.1 3.1.8 5.9 3.2 8 2.7 2.4 6 2.7 9.4 2.1 1.9-.4 3.6-1.3 4.9-2.7-.5-.7-1-1.4-1.5-2-2.8 2.4-5.9 3.2-9.3 1.6-2.2-1.1-3.3-3.8-3.5-5.8h15.5v-1.3c.1-.9 0-1.7-.2-2.4zm-15.1 1.6c-.3-3 2.7-6.2 6-6.2 3.8-.1 6.2 2.2 6.3 6.2h-12.3zM73.3 106.3c-1.5-.3-3.1-.4-4.6-.3-2.4.2-4.5 1.3-6.2 3.1.5.7.9 1.4 1.5 2.2.2-.2.4-.4.6-.5 1.6-1.5 3.5-2.3 5.8-2.1 1.8.1 3.5.7 4 2.5.4 1.4.3 2.9.4 4.4-.3 0-.4-.1-.5-.2-2.4-2-5.1-2.4-8-1.7-2.7.7-4.4 2.8-4.6 5.5-.2 3.1 1.2 5.4 3.9 6.5 1.7.7 3.6.7 5.4.3 1.4-.3 2-1.1 4-2.2v1.3h2.8c0-4 .1-8.9 0-13.5 0-2.9-1.7-4.7-4.5-5.3zm1.4 12.6c-.1.3 0 .6 0 .9 0 2.1-.5 2.8-2.5 3.6-1.4.5-2.9.7-4.4.2-1.7-.5-2.9-2-2.9-3.7-.1-1.7 1-3.4 2.7-3.9 2.3-.8 4.4-.3 6.3 1.1.6.5 1 1 .8 1.8zM90.3 109c2.6-.8 5-.3 6.8 1.9l.3.2c.7-.6 1.3-1.2 2.1-1.9-.3-.3-.4-.5-.6-.8-2.9-3.1-8.6-3.5-12.1-1-4.9 3.6-4.8 10.6-2.4 14.3 2.3 3.5 5.6 4.7 9.5 4.2 2.3-.3 4.2-1.4 5.7-3.3-.7-.6-1.4-1.2-2.1-1.9-.2.2-.3.3-.4.5-2.7 3-7.2 2.7-9.6-.5-1.4-1.9-1.7-4.1-1.3-6.3.2-2.5 1.5-4.5 4.1-5.4zM111.1 122.6c-.2.1-.3.2-.3.2-.8.6-1.6.7-2.5.4-.9-.4-1-1.2-1.1-2v-11.4c0-.2 0 .2.1-.8h3.8v-3h-4v-5h-3v5.4h-2.6c-.2 0-.5.2-.5.4-.1.7 0 1.2 0 2.2h3.2v12.799999999999999c0 1.6.4 3 1.8 3.8 1.5.9 4.4.7 5.7-.4.2-.1.3-.5.3-.6-.3-.6-.6-1.3-.9-2z"></path>
                                    </svg>
                                </div>
                            </div>
                            <!-- Vue.JS -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                    <path d="m32.191 97.953c-0.36865 0-0.73578 0.1056-1.0547 0.31641-0.31891 0.2108-0.61133 0.57433-0.61133 1.041 0 0.06137-0.03614 0.1992 0.08398 0.43945l-0.03125-0.07617 6.4102 20.797c0.11475 0.39015 0.39019 0.68831 0.69922 0.85938s0.64908 0.23633 0.97852 0.23633c0.70045 0 1.4696-0.33428 1.7051-1.0879v-0.002l6.4043-20.875v-0.07617c0 0.1053 0.03125 0.04444 0.03125-0.18359 0-0.47463-0.30314-0.82361-0.62695-1.043-0.32382-0.21936-0.70504-0.3457-1.1016-0.3457-0.48903 0-1.0516 0.29744-1.2402 0.86328l-0.0039 0.0059-5.1699 17.254-5.1895-17.223c-0.07694-0.30774-0.28421-0.56558-0.52539-0.70898s-0.50427-0.19141-0.75782-0.19141zm51.055 1.0723c-1.0204 0-1.8809 0.7817-1.8809 1.7598 0 0.97806 0.84711 1.7871 1.8809 1.7871 1.0142 0 1.8203-0.8242 1.8203-1.7871 0-0.96291-0.82002-1.7598-1.8203-1.7598zm-15.029 6.6582c-3.4884 0-6.3613 2.7915-6.3613 6.1465v3.4375c0 1.8791 0.74876 3.4896 2.0195 4.6016 1.2708 1.1119 3.0446 1.7266 5.0781 1.7266 1.502 0 2.7262-0.33628 3.6016-0.79297 0.43766-0.22834 0.78933-0.48448 1.0488-0.76367 0.2595-0.27918 0.45117-0.58478 0.45117-0.96679-0.000001-0.35077-0.13509-0.65471-0.35352-0.92774-0.21842-0.27303-0.56248-0.52344-1.0059-0.52344-0.32027 0-0.56614 0.13479-0.7793 0.26563-0.21315 0.13083-0.41335 0.27538-0.6543 0.41406-0.4819 0.27736-1.1204 0.54688-2.248 0.54688-1.2554 0-2.3023-0.35802-3.0234-0.95899-0.72117-0.60097-1.1406-1.4353-1.1406-2.5293v-0.63672h6.4355c0.6864 0 1.4494 0.001 2.1094-0.41993 0.65995-0.42135 1.0605-1.2588 1.0605-2.5332 0-3.5292-2.9447-6.0859-6.2383-6.0859zm24.186 0c-1.8542 0-3.2178 0.59997-4.0938 1.502-0.87597 0.90198-1.2539 2.0754-1.2539 3.1719 0 1.3974 0.56454 2.3989 1.373 3.041 0.80851 0.64211 1.8144 0.96522 2.7715 1.2539 0.95712 0.28869 1.8732 0.5449 2.4883 0.92383 0.6151 0.37894 0.94531 0.78884 0.94531 1.6543 0 0.46456-0.1396 0.83433-0.51758 1.1367-0.37798 0.30238-1.049 0.54101-2.1426 0.54101-1.2937 0-2.0167-0.31909-2.543-0.64453-0.26312-0.16272-0.47512-0.33158-0.69336-0.48242s-0.46571-0.31445-0.8125-0.31445c-0.41739 0-0.72514 0.25714-0.91211 0.52343-0.18697 0.2663-0.29492 0.56884-0.29492 0.89649 0 0.40512 0.19716 0.76131 0.47656 1.0703 0.27941 0.30901 0.65746 0.58398 1.1211 0.82422 0.92726 0.48049 2.2041 0.81445 3.7207 0.81445 1.6465 0 3.0006-0.4019 3.959-1.1816 0.95834-0.77974 1.4805-1.9389 1.4805-3.2754 0-1.5096-0.54876-2.5951-1.3574-3.3125-0.80867-0.71736-1.8296-1.0872-2.8008-1.3848-0.97115-0.29761-1.9057-0.52926-2.5312-0.85547-0.62552-0.32622-0.91992-0.62713-0.91992-1.3203 0-0.37496 0.15-0.84657 0.53125-1.2187 0.38125-0.37218 1.0032-0.67383 2.0371-0.67383 0.82606 0 1.4401 0.1897 1.9316 0.39062 0.24577 0.10046 0.45939 0.20542 0.66211 0.29297 0.20272 0.0875 0.38964 0.17383 0.6582 0.17383 0.48505 0 0.81748-0.31997 1.0156-0.61719 0.19815-0.29722 0.3125-0.59036 0.3125-0.92578 0-0.42021-0.26147-0.71802-0.55078-0.94141s-0.65198-0.40072-1.0723-0.55468c-0.84057-0.30794-1.9126-0.50782-2.9883-0.50782zm-43.857 0.18555c-0.81105 0-1.5117 0.50854-1.5117 1.2656v8.1934c0 3.3238 2.8258 6.2676 6.3301 6.2676 3.4452 0 6.3301-2.9092 6.3301-6.2676v-8.2226c0-0.37893-0.20849-0.70759-0.48242-0.91602-0.27393-0.20842-0.622-0.32031-1-0.32031s-0.72801 0.11043-1.0078 0.31445c-0.27981 0.20403-0.50391 0.53013-0.50391 0.92188v8.2226c0 1.7423-1.5183 3.4277-3.3359 3.4277-1.8478 0-3.3359-1.7154-3.3359-3.4277v-8.1934c0-0.39244-0.21435-0.695-0.48047-0.91016s-0.6137-0.35547-1.002-0.35547zm34.701 0c-0.37921 0-0.73049 0.0976-1.0098 0.30859-0.27928 0.21101-0.4707 0.55819-0.4707 0.92774v15.096c0 1.1328-0.07939 2.083-0.32812 2.6582-0.24873 0.57519-0.54222 0.83007-1.3809 0.83007-0.74093 0-1.3594 0.64736-1.3594 1.4219 0 0.32192 0.10384 0.67528 0.36719 0.95117s0.67217 0.4375 1.1445 0.4375c1.5943 0 2.8141-0.70695 3.541-1.8555 0.72696-1.1485 1.0098-2.6849 1.0098-4.4434v-15.096c0-0.39336-0.22472-0.7356-0.50977-0.9375-0.28504-0.20191-0.63516-0.29883-1.0039-0.29883zm-15.061 2.4727c1.9913 0 3.3359 1.6671 3.3359 3.3652 0 0.18502-0.01992 0.30619-0.03906 0.36133-0.01914 0.0551-0.01733 0.048-0.04492 0.0664-0.05518 0.0368-0.36251 0.11523-0.95117 0.11523h-5.6367v-0.66602c0-1.7772 1.4845-3.2422 3.3359-3.2422zm9.5117 9.3711c-1.0877 0-1.9121 0.90005-1.9121 1.9414 0 1.0003 0.81206 1.9121 1.9121 1.9121 1.042 0 1.8809-0.88405 1.8809-1.9121 0-1.067-0.8528-1.9414-1.8809-1.9414z" fill="#35495e" style="block-progression:tb;color-rendering:auto;image-rendering:auto;isolation:auto;mix-blend-mode:normal;shape-rendering:auto;solid-color:#000000;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-transform:none;white-space:normal"></path><path fill="none" d="m-2.3125e-8 8.9337 49.854 0.1586 14.167 24.47 14.432-24.47 49.547-0.1574-63.834 110.14zm126.98 0.6374-24.36 0.0207-38.476 66.052-38.453-66.052-24.749-0.0196 63.211 107.89zm-25.149-0.008-22.745 0.16758-15.053 24.647-14.817-24.647-22.794-0.1679 37.731 64.476zM25.997 9.3929l23.002 0.0087 15.036 24.958 14.983-24.956 22.982-0.0061-37.85 65.655"></path><path fill="#35495e" d="m25.997 9.3929 23.002 0.0087 15.036 24.958 14.983-24.956 22.982-0.0061-37.85 65.655z"></path><path fill="#41b883" d="m0.91068 9.5686 25.066-0.1711 38.151 65.658 37.852-65.654 25.11 0.0263-62.966 108.06z"></path>
                                    </svg>
                                </div>
                            </div>
                            <!-- Meteor -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                    <path d="M10.2 67.8c-1.7-2.6-3.3-5.8-4.9-7.8h-4.3v19h4v-13c1 .8 1.1 1.8 1.7 2.6.6.9 1.2 1.8 1.8 2.6.6.8.9 1.7 1.6 2.6 1.7-2.7 3-5.2 5-8-.1 4.2-.1 9.2-.1 13.2h5v-19h-5c-1.6 2-3.2 5.2-4.8 7.8zM122.8 71.9c.6-.4 1.2-.9 1.7-1.3 1.4-.9 2-2.4 2.2-4 .1-.7 0-1.5 0-2.2l-.1-.7c-.2-.8-.6-1.5-1.1-2.2-.5-.8-1.3-1-1.9-1.5-1.1-.3-2.2-.7-3.4-.7-2.7.1-5.5 0-8.3 0h-.8v19.6h5v-6h2.5c1.3 2 2.7 4 3.9 6h4.7c-1.4-1.9-3-4.8-4.4-7zm-.6-5c-.4.7-.9 1.2-1.8 1.3-.6.1-.8.2-1.4.2h-3.1v-5.5h3.8c.5 0 .8.1 1.3.3.7.3 1.1.9 1.4 1.6.5.8.4 1.2-.2 2.1zM25 79h14v-4h-10v-4h9v-3h-9v-4h10v-4h-14v19zM65 79h14v-4.7h-10.2l.2-.1v-3.2h9v-3h-9v-4h10v-4h-14v19zM44 63.1h5.7s.3 0 .3.1v14.6h4v-13.9h5v-4h-15v3.2zM105.6 64.3c.3 0 .5-.2.5-.5 0-.1 0-.2-.1-.3l-6.6-6.1 5.8 6.6c0 .2.2.3.4.3zM106.9 67.7l-14.3-13.1 13.1 14.3c.2.1.4.2.6.2.5 0 .8-.4.8-.8 0-.3-.1-.5-.2-.6zM79.9 57.4l19.1 20.8c.2.2.5.4.9.4.6 0 1.2-.5 1.2-1.2 0-.4-.2-.7-.4-.9l-20.8-19.1zM77.5 49.4l25.3 26.9c.2.2.5.3.8.3.6 0 1.2-.5 1.2-1.2 0-.2-.1-.5-.2-.7-.1.1-27.1-25.3-27.1-25.3zM85.6 52.1l19.1 20.8c.2.2.5.4.9.4.6 0 1.2-.5 1.2-1.2 0-.4-.2-.7-.4-.9l-20.8-19.1zM96.3 77.1l-14.3-13.1 13.1 14.3c.2.1.4.2.6.2.5 0 .8-.4.8-.8 0-.3-.1-.5-.2-.6zM85.3 70.5l5.8 6.6c.1.1.2.3.4.3.3 0 .5-.2.5-.5 0-.1 0-.2-.1-.3-.1-.1-6.6-6.1-6.6-6.1z"></path>
                                    </svg>
                                </div>
                            </div>
                            <!-- Backbone -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                    <path fill="#002A41" d="M22.579 2.502v55.647l41.42 23.61v-16.049l-27.71-15.795v-24.81l27.71 15.795v-14.787l-41.42-23.611z"></path><path fill="#0071B5" d="M105.42 2.502v55.647l-41.42 23.61v-16.049l27.709-15.795v-24.81l-27.709 15.795v-14.787l41.42-23.611zM22.579 105.397v-55.648l41.42-23.611v16.051l-27.71 15.794v23.548l27.71-15.795v16.049l-41.42 23.611z"></path><path fill="#002A41" d="M105.42 105.397v-55.648l-41.42-23.611v16.051l27.709 15.794v23.548l-27.709-15.795v16.049l41.42 23.611zM11.911 111.622h3.39c1.592 0 2.744.238 3.455.714s1.067 1.228 1.067 2.257c0 .711-.199 1.298-.596 1.76s-.975.762-1.735.898v.082c1.822.312 2.732 1.27 2.732 2.873 0 1.072-.362 1.91-1.087 2.511-.726.602-1.738.903-3.041.903h-4.186v-11.998zm1.396 5.137h2.298c.985 0 1.693-.155 2.126-.464.432-.309.648-.83.648-1.563 0-.673-.241-1.158-.723-1.457-.481-.298-1.247-.447-2.298-.447h-2.052v3.931zm0 1.182v4.489h2.503c.969 0 1.697-.188 2.188-.562.489-.375.734-.962.734-1.761 0-.744-.25-1.291-.751-1.641s-1.263-.525-2.285-.525h-2.389zM30.344 123.62l-1.493-3.816h-4.81l-1.477 3.816h-1.412l4.744-12.047h1.173l4.72 12.047h-1.445zm-1.928-5.072l-1.396-3.718c-.181-.47-.366-1.047-.559-1.731-.12.525-.292 1.103-.517 1.731l-1.411 3.718h3.883zM38.575 112.697c-1.318 0-2.359.439-3.122 1.317-.764.878-1.146 2.081-1.146 3.607 0 1.57.368 2.783 1.104 3.64.735.856 1.784 1.284 3.146 1.284.838 0 1.792-.15 2.864-.451v1.223c-.831.312-1.857.468-3.077.468-1.768 0-3.131-.536-4.091-1.608-.961-1.072-1.44-2.596-1.44-4.571 0-1.236.23-2.32.693-3.25.462-.93 1.13-1.646 2.002-2.15.873-.503 1.9-.755 3.082-.755 1.258 0 2.358.23 3.299.689l-.591 1.198c-.906-.428-1.815-.641-2.723-.641zM52.707 123.62h-1.641l-4.375-5.819-1.255 1.116v4.703h-1.396v-11.999h1.396v5.95l5.44-5.95h1.649l-4.825 5.211 5.007 6.788zM54.356 111.622h3.39c1.592 0 2.744.238 3.455.714s1.067 1.228 1.067 2.257c0 .711-.199 1.298-.596 1.76s-.975.762-1.735.898v.082c1.822.312 2.732 1.27 2.732 2.873 0 1.072-.362 1.91-1.087 2.511-.726.602-1.738.903-3.041.903h-4.186v-11.998zm1.396 5.137h2.298c.985 0 1.693-.155 2.126-.464.432-.309.648-.83.648-1.563 0-.673-.241-1.158-.723-1.457-.481-.298-1.247-.447-2.298-.447h-2.052v3.931zm0 1.182v4.489h2.503c.969 0 1.697-.188 2.188-.562.489-.375.734-.962.734-1.761 0-.744-.25-1.291-.751-1.641s-1.263-.525-2.285-.525h-2.389zM75.662 117.605c0 1.92-.485 3.431-1.457 4.53-.971 1.1-2.321 1.649-4.05 1.649-1.768 0-3.131-.54-4.091-1.621-.961-1.081-1.44-2.606-1.44-4.576 0-1.953.481-3.467 1.444-4.542.963-1.075 2.33-1.613 4.104-1.613 1.723 0 3.069.547 4.037 1.641.969 1.096 1.453 2.606 1.453 4.532zm-9.561 0c0 1.625.347 2.857 1.038 3.697.692.84 1.698 1.26 3.017 1.26 1.329 0 2.333-.418 3.012-1.256.679-.837 1.018-2.071 1.018-3.701 0-1.614-.338-2.838-1.014-3.672s-1.676-1.251-2.999-1.251c-1.33 0-2.341.42-3.033 1.26-.693.838-1.039 2.06-1.039 3.663zM87.709 123.62h-1.592l-6.557-10.07h-.066c.088 1.182.132 2.265.132 3.25v6.82h-1.289v-11.999h1.576l6.541 10.029h.065c-.011-.147-.036-.622-.074-1.424-.038-.801-.052-1.375-.041-1.719v-6.886h1.305v11.999zM97.697 123.62h-6.688v-11.999h6.688v1.239h-5.293v3.866h4.973v1.231h-4.973v4.415h5.293v1.248zM99.954 122.75c0-.366.083-.644.25-.833.167-.188.406-.283.718-.283.317 0 .565.094.743.283.178.189.267.467.267.833 0 .356-.091.629-.271.821-.181.191-.427.287-.739.287-.278 0-.51-.086-.693-.258s-.275-.456-.275-.85zM103.081 126.78c-.515 0-.919-.074-1.215-.222v-1.19c.389.109.794.164 1.215.164.542 0 .953-.164 1.235-.492.281-.329.422-.802.422-1.42v-11.999h1.396v11.884c0 1.039-.263 1.845-.788 2.417-.525.572-1.281.858-2.265.858zM116.089 120.428c0 1.056-.384 1.879-1.149 2.47s-1.806.886-3.118.886c-1.423 0-2.518-.183-3.283-.55v-1.346c.492.208 1.028.372 1.608.492.58.121 1.154.181 1.724.181.93 0 1.63-.177 2.101-.529.471-.353.706-.844.706-1.473 0-.416-.083-.756-.25-1.022-.167-.265-.446-.51-.837-.734-.392-.224-.986-.479-1.785-.763-1.116-.399-1.914-.873-2.393-1.42-.479-.547-.718-1.261-.718-2.142 0-.924.347-1.66 1.042-2.208.694-.547 1.614-.821 2.758-.821 1.192 0 2.289.219 3.291.657l-.436 1.215c-.99-.416-1.953-.624-2.889-.624-.738 0-1.315.159-1.731.476s-.624.758-.624 1.321c0 .416.077.756.229 1.022.153.265.412.509.776.73.363.222.92.467 1.67.735 1.258.449 2.124.93 2.598 1.444.473.515.71 1.182.71 2.003z"></path>
                                    </svg>
                                </div>
                            </div>
                            <!-- Jasmine -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                    <path class="cls-1" d="M64,6.74a44.17,44.17,0,1,0,44.17,44.17A44.17,44.17,0,0,0,64,6.74Zm-.24,78.69A34.93,34.93,0,1,1,98.69,50.5,34.93,34.93,0,0,1,63.76,85.43Z"></path><path id="path22" class="cls-1" d="M5.07,114.65a2.56,2.56,0,0,0,2.4,2.74,2.28,2.28,0,0,0,2.06-1.2,6,6,0,0,0,.43-2.77v-11H7.57V98.86h9v3.51H14.15v11.57c0,2-.12,3.51-1.51,5.11a7,7,0,0,1-5.14,2.22c-3.94,0-7-2.62-6.8-6.62H5.07"></path><path id="path24" class="cls-1" d="M30.49,112.52a4.94,4.94,0,0,0-5-4.89,5,5,0,0,0-5,5.08,5,5,0,0,0,4.89,4.89A5,5,0,0,0,30.49,112.52Zm-.06,6.09a6.08,6.08,0,0,1-5.29,2.65,8.51,8.51,0,0,1-8.43-8.55A8.69,8.69,0,0,1,25.32,104a5.9,5.9,0,0,1,5.11,2.77V104.4h5.88v3.51H34.25v9.42h2.06v3.51H30.43v-2.22"></path><path id="path26" class="cls-1" d="M41.26,116.06a2.51,2.51,0,0,0,2.65,2.46,2.14,2.14,0,0,0,2.25-2c0-1.63-1.54-1.91-2.8-2.25-2.86-.74-6-1.63-6-5.23,0-3.14,2.65-5,5.57-5a4.38,4.38,0,0,1,3.72,1.48V104.4h2.77v4.46H45.79a2,2,0,0,0-2.12-1.94,1.89,1.89,0,0,0-2.09,1.72c0,1.54,1.51,1.88,2.71,2.15,3,.68,6.12,1.6,6.12,5.29,0,3.32-2.8,5.17-5.88,5.17a5.35,5.35,0,0,1-4.25-1.78v1.35H37.42v-4.77h3.85"></path><path id="path28" class="cls-1" d="M53.54,107.91H51.42V104.4H57v2.46A5.45,5.45,0,0,1,61.69,104a5.59,5.59,0,0,1,5.11,3.45A5.9,5.9,0,0,1,72.19,104a6.34,6.34,0,0,1,4.74,2.09c1.29,1.51,1.29,3.14,1.29,5v6.22h2.12v3.51h-8v-3.51h2.12V112a6.13,6.13,0,0,0-.49-3,3.22,3.22,0,0,0-2.68-1.35,3.64,3.64,0,0,0-2.77,1.23,4.43,4.43,0,0,0-.77,3.11v5.29h2.12v3.51h-8v-3.51H64v-5a6.5,6.5,0,0,0-.49-3.08,3,3,0,0,0-2.71-1.51,3.21,3.21,0,0,0-2.62,1.2,4.8,4.8,0,0,0-.89,3.35v5.08h2.12v3.51h-8v-3.51h2.12v-9.42"></path><path id="path30" class="cls-1" d="M87.45,102.83H83.7v-4h3.75Zm0,14.49h2.12v3.51h-8v-3.51H83.7v-9.42H81.57V104.4h5.88v12.92"></path><path id="path32" class="cls-1" d="M92.84,107.91H90.71V104.4h5.88v2.34a5.32,5.32,0,0,1,4.86-2.71,6.51,6.51,0,0,1,4.74,2c1.35,1.51,1.38,3,1.38,4.83v6.43h2.12v3.51h-8v-3.51h2.12V112a4.76,4.76,0,0,0-.65-3,3.59,3.59,0,0,0-2.89-1.32,3.69,3.69,0,0,0-3,1.38,5.79,5.79,0,0,0-.71,3.45v4.77h2.12v3.51h-8v-3.51h2.12v-9.42"></path><path id="path34" class="cls-1" d="M123.82,111.14a5.25,5.25,0,0,0-5.17-3.88,5.09,5.09,0,0,0-4.8,3.88Zm2.86,4.86a8.43,8.43,0,0,1-7.75,5.26,8.68,8.68,0,0,1-.09-17.36,8.8,8.8,0,0,1,6.15,2.65,8.58,8.58,0,0,1,2.31,6.15l-.12,1.32H113.88a5.07,5.07,0,0,0,4.92,3.94,4.57,4.57,0,0,0,4-2h3.91"></path>
                                    </svg>
                                </div>
                            </div>

                            <!-- React -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                    <path d="M64 81.7c7.3 7.1 14.5 11.3 20.3 11.3 1.9 0 3.7-.4 5.2-1.3 5.2-3 7.1-10.5 5.3-21.2-.3-1.9-.7-3.8-1.2-5.8 2-.6 3.8-1.2 5.6-1.8 10.1-3.9 15.7-9.3 15.7-15.2 0-6-5.6-11.4-15.7-15.2-1.8-.7-3.6-1.3-5.6-1.8.5-2 .9-3.9 1.2-5.8 1.7-10.9-.2-18.5-5.4-21.5-1.5-.9-3.3-1.3-5.2-1.3-5.7 0-13 4.2-20.3 11.3-7.2-7.1-14.4-11.3-20.2-11.3-1.9 0-3.7.4-5.2 1.3-5.2 3-7.1 10.5-5.3 21.2.3 1.9.7 3.8 1.2 5.8-2 .6-3.8 1.2-5.6 1.8-10.1 3.9-15.7 9.3-15.7 15.2 0 6 5.6 11.4 15.7 15.2 1.8.7 3.6 1.3 5.6 1.8-.5 2-.9 3.9-1.2 5.8-1.7 10.7.2 18.3 5.3 21.2 1.5.9 3.3 1.3 5.2 1.3 5.8.2 13-4 20.3-11zm-5.6-13.5c1.8.1 3.7.1 5.6.1 1.9 0 3.8 0 5.6-.1-1.8 2.4-3.7 4.6-5.6 6.7-1.9-2.1-3.8-4.3-5.6-6.7zm-12.4-10.3c1 1.7 1.9 3.3 3 4.9-3.1-.4-6-.9-8.8-1.5.9-2.7 1.9-5.5 3.1-8.3.8 1.6 1.7 3.3 2.7 4.9zm-5.8-24.1c2.8-.6 5.7-1.1 8.8-1.5-1 1.6-2 3.2-3 4.9-1 1.7-1.9 3.3-2.7 5-1.3-2.9-2.3-5.7-3.1-8.4zm5.5 13.7c1.3-2.7 2.7-5.4 4.3-8.1 1.5-2.6 3.2-5.2 4.9-7.8 3-.2 6-.3 9.1-.3 3.2 0 6.2.1 9.1.3 1.8 2.6 3.4 5.2 4.9 7.8 1.6 2.7 3 5.4 4.3 8.1-1.3 2.7-2.7 5.4-4.3 8.1-1.5 2.6-3.2 5.2-4.9 7.8-3 .2-6 .3-9.1.3-3.2 0-6.2-.1-9.1-.3-1.8-2.6-3.4-5.2-4.9-7.8-1.6-2.7-3-5.4-4.3-8.1zm39.1-5.4l-2.7-5c-1-1.7-1.9-3.3-3-4.9 3.1.4 6 .9 8.8 1.5-.9 2.8-1.9 5.6-3.1 8.4zm0 10.8c1.2 2.8 2.2 5.6 3.1 8.3-2.8.6-5.7 1.1-8.8 1.5 1-1.6 2-3.2 3-4.9.9-1.5 1.8-3.2 2.7-4.9zm2.3 34.7c-.8.5-1.8.7-2.9.7-4.9 0-11-4-17-10 2.9-3.1 5.7-6.6 8.5-10.5 4.7-.4 9.2-1.1 13.4-2.1.5 1.8.8 3.6 1.1 5.4 1.4 8.5.3 14.6-3.1 16.5zm5.2-52.7c11.2 3.2 17.9 8.1 17.9 12.6 0 3.9-4.6 7.8-12.7 10.9-1.6.6-3.4 1.2-5.2 1.7-1.3-4.1-2.9-8.3-4.9-12.6 2-4.3 3.7-8.5 4.9-12.6zm-8-28.2c1.1 0 2 .2 2.9.7 3.3 1.9 4.5 7.9 3.1 16.5-.3 1.7-.7 3.5-1.1 5.4-4.2-.9-8.7-1.6-13.4-2.1-2.7-3.9-5.6-7.4-8.5-10.5 6-5.9 12.1-10 17-10zm-14.7 20.1c-1.8-.1-3.7-.1-5.6-.1s-3.8 0-5.6.1c1.8-2.4 3.7-4.6 5.6-6.7 1.9 2.1 3.8 4.4 5.6 6.7zm-28.7-19.4c.8-.5 1.8-.7 2.9-.7 4.9 0 11 4 17 10-2.9 3.1-5.7 6.6-8.5 10.5-4.7.4-9.2 1.1-13.4 2.1-.5-1.8-.8-3.6-1.1-5.4-1.4-8.5-.3-14.5 3.1-16.5zm-5.2 52.7c-11.2-3.2-17.9-8.1-17.9-12.6 0-3.9 4.6-7.8 12.7-10.9 1.6-.6 3.4-1.2 5.2-1.7 1.3 4.1 2.9 8.3 4.9 12.6-2 4.3-3.7 8.6-4.9 12.6zm2.1 11c.3-1.7.7-3.5 1.1-5.4 4.2.9 8.7 1.6 13.4 2.1 2.7 3.9 5.6 7.4 8.5 10.5-6 5.9-12.1 10-17 10-1.1 0-2-.2-2.9-.7-3.4-1.9-4.5-8-3.1-16.5zM33.6 112.3c2.2-2.7 2.3-5.7 1.1-8.7-1.2-3-3.7-4.4-6.8-4.5-3.7-.1-7.5 0-11.2 0h-.7v25.9h3v-9.8h4.7c.6 0 1.1.2 1.4.7l6 9.3c.1.2.4.5.6.5h3.9c-2.4-3.7-4.7-7.2-7.1-10.8 2.1-.3 3.9-1 5.1-2.6zm-14.6-.2v-9.9h1.1c2.3 0 4.7-.1 7 .1 2.7.1 4.6 2.2 4.6 4.9s-2.2 4.8-4.9 4.9c-2.4.1-4.8 0-7.8 0zM57.7 113.4c-1.6-7-8-8.8-12.9-6.6-3.8 1.7-5.5 5-5.6 9.1-.1 3.1.8 5.9 3.2 8 2.7 2.4 6 2.7 9.4 2.1 1.9-.4 3.6-1.3 4.9-2.7-.5-.7-1-1.4-1.5-2-2.8 2.4-5.9 3.2-9.3 1.6-2.2-1.1-3.3-3.8-3.5-5.8h15.5v-1.3c.1-.9 0-1.7-.2-2.4zm-15.1 1.6c-.3-3 2.7-6.2 6-6.2 3.8-.1 6.2 2.2 6.3 6.2h-12.3zM73.3 106.3c-1.5-.3-3.1-.4-4.6-.3-2.4.2-4.5 1.3-6.2 3.1.5.7.9 1.4 1.5 2.2.2-.2.4-.4.6-.5 1.6-1.5 3.5-2.3 5.8-2.1 1.8.1 3.5.7 4 2.5.4 1.4.3 2.9.4 4.4-.3 0-.4-.1-.5-.2-2.4-2-5.1-2.4-8-1.7-2.7.7-4.4 2.8-4.6 5.5-.2 3.1 1.2 5.4 3.9 6.5 1.7.7 3.6.7 5.4.3 1.4-.3 2-1.1 4-2.2v1.3h2.8c0-4 .1-8.9 0-13.5 0-2.9-1.7-4.7-4.5-5.3zm1.4 12.6c-.1.3 0 .6 0 .9 0 2.1-.5 2.8-2.5 3.6-1.4.5-2.9.7-4.4.2-1.7-.5-2.9-2-2.9-3.7-.1-1.7 1-3.4 2.7-3.9 2.3-.8 4.4-.3 6.3 1.1.6.5 1 1 .8 1.8zM90.3 109c2.6-.8 5-.3 6.8 1.9l.3.2c.7-.6 1.3-1.2 2.1-1.9-.3-.3-.4-.5-.6-.8-2.9-3.1-8.6-3.5-12.1-1-4.9 3.6-4.8 10.6-2.4 14.3 2.3 3.5 5.6 4.7 9.5 4.2 2.3-.3 4.2-1.4 5.7-3.3-.7-.6-1.4-1.2-2.1-1.9-.2.2-.3.3-.4.5-2.7 3-7.2 2.7-9.6-.5-1.4-1.9-1.7-4.1-1.3-6.3.2-2.5 1.5-4.5 4.1-5.4zM111.1 122.6c-.2.1-.3.2-.3.2-.8.6-1.6.7-2.5.4-.9-.4-1-1.2-1.1-2v-11.4c0-.2 0 .2.1-.8h3.8v-3h-4v-5h-3v5.4h-2.6c-.2 0-.5.2-.5.4-.1.7 0 1.2 0 2.2h3.2v12.799999999999999c0 1.6.4 3 1.8 3.8 1.5.9 4.4.7 5.7-.4.2-.1.3-.5.3-.6-.3-.6-.6-1.3-.9-2z"></path>
                                    </svg>
                                </div>
                            </div>
                            <!-- React -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                    <path d="M64 81.7c7.3 7.1 14.5 11.3 20.3 11.3 1.9 0 3.7-.4 5.2-1.3 5.2-3 7.1-10.5 5.3-21.2-.3-1.9-.7-3.8-1.2-5.8 2-.6 3.8-1.2 5.6-1.8 10.1-3.9 15.7-9.3 15.7-15.2 0-6-5.6-11.4-15.7-15.2-1.8-.7-3.6-1.3-5.6-1.8.5-2 .9-3.9 1.2-5.8 1.7-10.9-.2-18.5-5.4-21.5-1.5-.9-3.3-1.3-5.2-1.3-5.7 0-13 4.2-20.3 11.3-7.2-7.1-14.4-11.3-20.2-11.3-1.9 0-3.7.4-5.2 1.3-5.2 3-7.1 10.5-5.3 21.2.3 1.9.7 3.8 1.2 5.8-2 .6-3.8 1.2-5.6 1.8-10.1 3.9-15.7 9.3-15.7 15.2 0 6 5.6 11.4 15.7 15.2 1.8.7 3.6 1.3 5.6 1.8-.5 2-.9 3.9-1.2 5.8-1.7 10.7.2 18.3 5.3 21.2 1.5.9 3.3 1.3 5.2 1.3 5.8.2 13-4 20.3-11zm-5.6-13.5c1.8.1 3.7.1 5.6.1 1.9 0 3.8 0 5.6-.1-1.8 2.4-3.7 4.6-5.6 6.7-1.9-2.1-3.8-4.3-5.6-6.7zm-12.4-10.3c1 1.7 1.9 3.3 3 4.9-3.1-.4-6-.9-8.8-1.5.9-2.7 1.9-5.5 3.1-8.3.8 1.6 1.7 3.3 2.7 4.9zm-5.8-24.1c2.8-.6 5.7-1.1 8.8-1.5-1 1.6-2 3.2-3 4.9-1 1.7-1.9 3.3-2.7 5-1.3-2.9-2.3-5.7-3.1-8.4zm5.5 13.7c1.3-2.7 2.7-5.4 4.3-8.1 1.5-2.6 3.2-5.2 4.9-7.8 3-.2 6-.3 9.1-.3 3.2 0 6.2.1 9.1.3 1.8 2.6 3.4 5.2 4.9 7.8 1.6 2.7 3 5.4 4.3 8.1-1.3 2.7-2.7 5.4-4.3 8.1-1.5 2.6-3.2 5.2-4.9 7.8-3 .2-6 .3-9.1.3-3.2 0-6.2-.1-9.1-.3-1.8-2.6-3.4-5.2-4.9-7.8-1.6-2.7-3-5.4-4.3-8.1zm39.1-5.4l-2.7-5c-1-1.7-1.9-3.3-3-4.9 3.1.4 6 .9 8.8 1.5-.9 2.8-1.9 5.6-3.1 8.4zm0 10.8c1.2 2.8 2.2 5.6 3.1 8.3-2.8.6-5.7 1.1-8.8 1.5 1-1.6 2-3.2 3-4.9.9-1.5 1.8-3.2 2.7-4.9zm2.3 34.7c-.8.5-1.8.7-2.9.7-4.9 0-11-4-17-10 2.9-3.1 5.7-6.6 8.5-10.5 4.7-.4 9.2-1.1 13.4-2.1.5 1.8.8 3.6 1.1 5.4 1.4 8.5.3 14.6-3.1 16.5zm5.2-52.7c11.2 3.2 17.9 8.1 17.9 12.6 0 3.9-4.6 7.8-12.7 10.9-1.6.6-3.4 1.2-5.2 1.7-1.3-4.1-2.9-8.3-4.9-12.6 2-4.3 3.7-8.5 4.9-12.6zm-8-28.2c1.1 0 2 .2 2.9.7 3.3 1.9 4.5 7.9 3.1 16.5-.3 1.7-.7 3.5-1.1 5.4-4.2-.9-8.7-1.6-13.4-2.1-2.7-3.9-5.6-7.4-8.5-10.5 6-5.9 12.1-10 17-10zm-14.7 20.1c-1.8-.1-3.7-.1-5.6-.1s-3.8 0-5.6.1c1.8-2.4 3.7-4.6 5.6-6.7 1.9 2.1 3.8 4.4 5.6 6.7zm-28.7-19.4c.8-.5 1.8-.7 2.9-.7 4.9 0 11 4 17 10-2.9 3.1-5.7 6.6-8.5 10.5-4.7.4-9.2 1.1-13.4 2.1-.5-1.8-.8-3.6-1.1-5.4-1.4-8.5-.3-14.5 3.1-16.5zm-5.2 52.7c-11.2-3.2-17.9-8.1-17.9-12.6 0-3.9 4.6-7.8 12.7-10.9 1.6-.6 3.4-1.2 5.2-1.7 1.3 4.1 2.9 8.3 4.9 12.6-2 4.3-3.7 8.6-4.9 12.6zm2.1 11c.3-1.7.7-3.5 1.1-5.4 4.2.9 8.7 1.6 13.4 2.1 2.7 3.9 5.6 7.4 8.5 10.5-6 5.9-12.1 10-17 10-1.1 0-2-.2-2.9-.7-3.4-1.9-4.5-8-3.1-16.5zM33.6 112.3c2.2-2.7 2.3-5.7 1.1-8.7-1.2-3-3.7-4.4-6.8-4.5-3.7-.1-7.5 0-11.2 0h-.7v25.9h3v-9.8h4.7c.6 0 1.1.2 1.4.7l6 9.3c.1.2.4.5.6.5h3.9c-2.4-3.7-4.7-7.2-7.1-10.8 2.1-.3 3.9-1 5.1-2.6zm-14.6-.2v-9.9h1.1c2.3 0 4.7-.1 7 .1 2.7.1 4.6 2.2 4.6 4.9s-2.2 4.8-4.9 4.9c-2.4.1-4.8 0-7.8 0zM57.7 113.4c-1.6-7-8-8.8-12.9-6.6-3.8 1.7-5.5 5-5.6 9.1-.1 3.1.8 5.9 3.2 8 2.7 2.4 6 2.7 9.4 2.1 1.9-.4 3.6-1.3 4.9-2.7-.5-.7-1-1.4-1.5-2-2.8 2.4-5.9 3.2-9.3 1.6-2.2-1.1-3.3-3.8-3.5-5.8h15.5v-1.3c.1-.9 0-1.7-.2-2.4zm-15.1 1.6c-.3-3 2.7-6.2 6-6.2 3.8-.1 6.2 2.2 6.3 6.2h-12.3zM73.3 106.3c-1.5-.3-3.1-.4-4.6-.3-2.4.2-4.5 1.3-6.2 3.1.5.7.9 1.4 1.5 2.2.2-.2.4-.4.6-.5 1.6-1.5 3.5-2.3 5.8-2.1 1.8.1 3.5.7 4 2.5.4 1.4.3 2.9.4 4.4-.3 0-.4-.1-.5-.2-2.4-2-5.1-2.4-8-1.7-2.7.7-4.4 2.8-4.6 5.5-.2 3.1 1.2 5.4 3.9 6.5 1.7.7 3.6.7 5.4.3 1.4-.3 2-1.1 4-2.2v1.3h2.8c0-4 .1-8.9 0-13.5 0-2.9-1.7-4.7-4.5-5.3zm1.4 12.6c-.1.3 0 .6 0 .9 0 2.1-.5 2.8-2.5 3.6-1.4.5-2.9.7-4.4.2-1.7-.5-2.9-2-2.9-3.7-.1-1.7 1-3.4 2.7-3.9 2.3-.8 4.4-.3 6.3 1.1.6.5 1 1 .8 1.8zM90.3 109c2.6-.8 5-.3 6.8 1.9l.3.2c.7-.6 1.3-1.2 2.1-1.9-.3-.3-.4-.5-.6-.8-2.9-3.1-8.6-3.5-12.1-1-4.9 3.6-4.8 10.6-2.4 14.3 2.3 3.5 5.6 4.7 9.5 4.2 2.3-.3 4.2-1.4 5.7-3.3-.7-.6-1.4-1.2-2.1-1.9-.2.2-.3.3-.4.5-2.7 3-7.2 2.7-9.6-.5-1.4-1.9-1.7-4.1-1.3-6.3.2-2.5 1.5-4.5 4.1-5.4zM111.1 122.6c-.2.1-.3.2-.3.2-.8.6-1.6.7-2.5.4-.9-.4-1-1.2-1.1-2v-11.4c0-.2 0 .2.1-.8h3.8v-3h-4v-5h-3v5.4h-2.6c-.2 0-.5.2-.5.4-.1.7 0 1.2 0 2.2h3.2v12.799999999999999c0 1.6.4 3 1.8 3.8 1.5.9 4.4.7 5.7-.4.2-.1.3-.5.3-.6-.3-.6-.6-1.3-.9-2z"></path>
                                    </svg>
                                </div>
                            </div>
                            <!-- React -->
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <svg viewBox="0 0 128 128">
                                    <path d="M64 81.7c7.3 7.1 14.5 11.3 20.3 11.3 1.9 0 3.7-.4 5.2-1.3 5.2-3 7.1-10.5 5.3-21.2-.3-1.9-.7-3.8-1.2-5.8 2-.6 3.8-1.2 5.6-1.8 10.1-3.9 15.7-9.3 15.7-15.2 0-6-5.6-11.4-15.7-15.2-1.8-.7-3.6-1.3-5.6-1.8.5-2 .9-3.9 1.2-5.8 1.7-10.9-.2-18.5-5.4-21.5-1.5-.9-3.3-1.3-5.2-1.3-5.7 0-13 4.2-20.3 11.3-7.2-7.1-14.4-11.3-20.2-11.3-1.9 0-3.7.4-5.2 1.3-5.2 3-7.1 10.5-5.3 21.2.3 1.9.7 3.8 1.2 5.8-2 .6-3.8 1.2-5.6 1.8-10.1 3.9-15.7 9.3-15.7 15.2 0 6 5.6 11.4 15.7 15.2 1.8.7 3.6 1.3 5.6 1.8-.5 2-.9 3.9-1.2 5.8-1.7 10.7.2 18.3 5.3 21.2 1.5.9 3.3 1.3 5.2 1.3 5.8.2 13-4 20.3-11zm-5.6-13.5c1.8.1 3.7.1 5.6.1 1.9 0 3.8 0 5.6-.1-1.8 2.4-3.7 4.6-5.6 6.7-1.9-2.1-3.8-4.3-5.6-6.7zm-12.4-10.3c1 1.7 1.9 3.3 3 4.9-3.1-.4-6-.9-8.8-1.5.9-2.7 1.9-5.5 3.1-8.3.8 1.6 1.7 3.3 2.7 4.9zm-5.8-24.1c2.8-.6 5.7-1.1 8.8-1.5-1 1.6-2 3.2-3 4.9-1 1.7-1.9 3.3-2.7 5-1.3-2.9-2.3-5.7-3.1-8.4zm5.5 13.7c1.3-2.7 2.7-5.4 4.3-8.1 1.5-2.6 3.2-5.2 4.9-7.8 3-.2 6-.3 9.1-.3 3.2 0 6.2.1 9.1.3 1.8 2.6 3.4 5.2 4.9 7.8 1.6 2.7 3 5.4 4.3 8.1-1.3 2.7-2.7 5.4-4.3 8.1-1.5 2.6-3.2 5.2-4.9 7.8-3 .2-6 .3-9.1.3-3.2 0-6.2-.1-9.1-.3-1.8-2.6-3.4-5.2-4.9-7.8-1.6-2.7-3-5.4-4.3-8.1zm39.1-5.4l-2.7-5c-1-1.7-1.9-3.3-3-4.9 3.1.4 6 .9 8.8 1.5-.9 2.8-1.9 5.6-3.1 8.4zm0 10.8c1.2 2.8 2.2 5.6 3.1 8.3-2.8.6-5.7 1.1-8.8 1.5 1-1.6 2-3.2 3-4.9.9-1.5 1.8-3.2 2.7-4.9zm2.3 34.7c-.8.5-1.8.7-2.9.7-4.9 0-11-4-17-10 2.9-3.1 5.7-6.6 8.5-10.5 4.7-.4 9.2-1.1 13.4-2.1.5 1.8.8 3.6 1.1 5.4 1.4 8.5.3 14.6-3.1 16.5zm5.2-52.7c11.2 3.2 17.9 8.1 17.9 12.6 0 3.9-4.6 7.8-12.7 10.9-1.6.6-3.4 1.2-5.2 1.7-1.3-4.1-2.9-8.3-4.9-12.6 2-4.3 3.7-8.5 4.9-12.6zm-8-28.2c1.1 0 2 .2 2.9.7 3.3 1.9 4.5 7.9 3.1 16.5-.3 1.7-.7 3.5-1.1 5.4-4.2-.9-8.7-1.6-13.4-2.1-2.7-3.9-5.6-7.4-8.5-10.5 6-5.9 12.1-10 17-10zm-14.7 20.1c-1.8-.1-3.7-.1-5.6-.1s-3.8 0-5.6.1c1.8-2.4 3.7-4.6 5.6-6.7 1.9 2.1 3.8 4.4 5.6 6.7zm-28.7-19.4c.8-.5 1.8-.7 2.9-.7 4.9 0 11 4 17 10-2.9 3.1-5.7 6.6-8.5 10.5-4.7.4-9.2 1.1-13.4 2.1-.5-1.8-.8-3.6-1.1-5.4-1.4-8.5-.3-14.5 3.1-16.5zm-5.2 52.7c-11.2-3.2-17.9-8.1-17.9-12.6 0-3.9 4.6-7.8 12.7-10.9 1.6-.6 3.4-1.2 5.2-1.7 1.3 4.1 2.9 8.3 4.9 12.6-2 4.3-3.7 8.6-4.9 12.6zm2.1 11c.3-1.7.7-3.5 1.1-5.4 4.2.9 8.7 1.6 13.4 2.1 2.7 3.9 5.6 7.4 8.5 10.5-6 5.9-12.1 10-17 10-1.1 0-2-.2-2.9-.7-3.4-1.9-4.5-8-3.1-16.5zM33.6 112.3c2.2-2.7 2.3-5.7 1.1-8.7-1.2-3-3.7-4.4-6.8-4.5-3.7-.1-7.5 0-11.2 0h-.7v25.9h3v-9.8h4.7c.6 0 1.1.2 1.4.7l6 9.3c.1.2.4.5.6.5h3.9c-2.4-3.7-4.7-7.2-7.1-10.8 2.1-.3 3.9-1 5.1-2.6zm-14.6-.2v-9.9h1.1c2.3 0 4.7-.1 7 .1 2.7.1 4.6 2.2 4.6 4.9s-2.2 4.8-4.9 4.9c-2.4.1-4.8 0-7.8 0zM57.7 113.4c-1.6-7-8-8.8-12.9-6.6-3.8 1.7-5.5 5-5.6 9.1-.1 3.1.8 5.9 3.2 8 2.7 2.4 6 2.7 9.4 2.1 1.9-.4 3.6-1.3 4.9-2.7-.5-.7-1-1.4-1.5-2-2.8 2.4-5.9 3.2-9.3 1.6-2.2-1.1-3.3-3.8-3.5-5.8h15.5v-1.3c.1-.9 0-1.7-.2-2.4zm-15.1 1.6c-.3-3 2.7-6.2 6-6.2 3.8-.1 6.2 2.2 6.3 6.2h-12.3zM73.3 106.3c-1.5-.3-3.1-.4-4.6-.3-2.4.2-4.5 1.3-6.2 3.1.5.7.9 1.4 1.5 2.2.2-.2.4-.4.6-.5 1.6-1.5 3.5-2.3 5.8-2.1 1.8.1 3.5.7 4 2.5.4 1.4.3 2.9.4 4.4-.3 0-.4-.1-.5-.2-2.4-2-5.1-2.4-8-1.7-2.7.7-4.4 2.8-4.6 5.5-.2 3.1 1.2 5.4 3.9 6.5 1.7.7 3.6.7 5.4.3 1.4-.3 2-1.1 4-2.2v1.3h2.8c0-4 .1-8.9 0-13.5 0-2.9-1.7-4.7-4.5-5.3zm1.4 12.6c-.1.3 0 .6 0 .9 0 2.1-.5 2.8-2.5 3.6-1.4.5-2.9.7-4.4.2-1.7-.5-2.9-2-2.9-3.7-.1-1.7 1-3.4 2.7-3.9 2.3-.8 4.4-.3 6.3 1.1.6.5 1 1 .8 1.8zM90.3 109c2.6-.8 5-.3 6.8 1.9l.3.2c.7-.6 1.3-1.2 2.1-1.9-.3-.3-.4-.5-.6-.8-2.9-3.1-8.6-3.5-12.1-1-4.9 3.6-4.8 10.6-2.4 14.3 2.3 3.5 5.6 4.7 9.5 4.2 2.3-.3 4.2-1.4 5.7-3.3-.7-.6-1.4-1.2-2.1-1.9-.2.2-.3.3-.4.5-2.7 3-7.2 2.7-9.6-.5-1.4-1.9-1.7-4.1-1.3-6.3.2-2.5 1.5-4.5 4.1-5.4zM111.1 122.6c-.2.1-.3.2-.3.2-.8.6-1.6.7-2.5.4-.9-.4-1-1.2-1.1-2v-11.4c0-.2 0 .2.1-.8h3.8v-3h-4v-5h-3v5.4h-2.6c-.2 0-.5.2-.5.4-.1.7 0 1.2 0 2.2h3.2v12.799999999999999c0 1.6.4 3 1.8 3.8 1.5.9 4.4.7 5.7-.4.2-.1.3-.5.3-.6-.3-.6-.6-1.3-.9-2z"></path>
                                    </svg>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
