<!-- --------------------------------------------------- Topic to study start --------------------------------------------------- -->
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Topic to study: {{snakeCase(randomProperty)}}</h3>
	</div>
	<div class="panel-body">

		<div class="progress">
			<div ng-class="{'progress-bar':true, 'progress-bar-danger':{{randomPropertyProgress<=40}},'progress-bar-warning':{{randomPropertyProgress>40 && randomPropertyProgress<=60}},'progress-bar-info':{{randomPropertyProgress>60 && randomPropertyProgress<=80}},'progress-bar-success':{{randomPropertyProgress>80}} }"
				role="progressbar" aria-valuenow="{{::randomPropertyProgress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{randomPropertyProgress}}%">
				{{snakeCase(randomProperty)+' '+randomPropertyProgress}}%
			</div>
		</div>

	</div>
</div>
<!-- --------------------------------------------------- Topic to study end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Definition start --------------------------------------------------- -->
<div class="alert alert-danger title">What is Javascript?</div>
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Definition</h3>
	</div>
	<div class="panel-body">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td colspan=2>
						<p class='text'>
							jQuery is a fast, small, and feature-rich <code>JavaScript library</code>. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of
							browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.
						</p>

					</td>
				</tr>
				<tr>
					<th>Developer/Owner</th>
					<td>jQuery was originally released in January 2006 at BarCamp NYC by John Resig (with a nice motto − Write less, do more) and was influenced by Dean Edwards' earlier cssQuery library.</td>
				</tr>
				<tr>
					<th>Version</th>
					<td> As of Feb 2017, latest stable version of jquery: <code>jQuery 3.1.1</code> released in September 22, 2016. First stable version of jQuery : <code>jQuery 1.0</code> was released in August 26th, 2006.</td>
				</tr>
				<tr>
					<th>License</th>
					<td>jQuery is free, open-source software licensed under the MIT License.</td>
				</tr>
				<tr>
					<th>Website</th>
					<td>
						<a href="https://jquery.com/">https://jquery.com/</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
<!-- --------------------------------------------------- Definition end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Introduction start --------------------------------------------------- -->
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Introduction:</h3>
	</div>
	<div class="panel-body" align='center'>
		Indtroduction goes here!
	</div>
</div>
<!-- --------------------------------------------------- Introduction end ----------------------------------------------------- -->


<!-- --------------------------------------------------- JavaScript Execution Order start --------------------------------------------------- -->
<div class="alert alert-danger title">JavaScript Execution Order</div>
<div class="text">
	<p>There are basically three locations into which we can attach JavaScript:</p>
	<ul class='list'>
		<li>Directly into the head of the page</li>
		<li>Directly into the body of the page</li>
		<li>From an event handler/listener</li>
	</ul>
	<p>
		It doesn't make any difference whether the JavaScript is within the web page itself or in external files linked to the page. It also doesn't matter whether the event handlers are hard-coded into the page or added by the JavaScript itself (except that
		they can't be triggered before they are added)
	</p>

	<br>
	<div class='text-heading'>Code Directly on the Page</div><br>
	<div>
		<p>What does it mean to say that JavaScript is&nbsp;<em>directly </em>in the head or body of the page?</p>
		<p class="cb-split">&nbsp;If the code is not enclosed in a function or object, it is directly in the page. In this case, the code runs sequentially as soon as the file containing the code has loaded sufficiently for that code to be accessed.</p>
		<p>Code that is within a function or object is run only when that function or object is called.</p>
		<p>Basically this means that any code inside the head and body of your page that is not inside a function or object will run as the page is loading&nbsp;—&nbsp;as soon as&nbsp;the page <em>has loaded sufficiently to access that code</em>.</p>
		<p>That last bit is important and impacts the order in which you place your code on the page: any code placed directly in the page that needs to interact with elements within the page must appear <em>after </em>the elements in the page on which it is dependent.</p>
		<p>In general, this means that if you use direct code to interact with your page content, such code should be placed at the bottom of the body.</p>
	</div>
	<br>
	<div class='text-heading'>Code Within Functions and Objects</div><br>
	<div>
		<p>
			Code inside functions or objects is run whenever that function or object is called. If it is called from code that is directly in the head or body of the page, then its place in the execution order is effectively the point at which the function or object
			is called from the direct code.
		</p>

	</div>

	<br>
	<div class='text-heading'>Code Assigned to Event Handlers and Listeners</div><br>
	<div>
		<p>
			Assigning a function to an event handler or listener does not result in the function being run at the point at which it is assigned —&nbsp;provided that you are actually <em>assigning</em> the function itself and <em>not running</em> the function and
			assigning the value returned. (This is why you generally do not see the <strong>()</strong> on the end of the function name when it is being assigned to an event, since the addition of the parentheses runs the function and assigns the value returned
			rather than assigning the function itself.)
		</p>
		<p>
			Functions that are attached to event handlers and listeners run when the event that they are attached to is triggered. Most events are triggered by visitors interacting with your page. Some exceptions exist, however, such as the <strong>load</strong>event
			on the window itself, which is triggered when the page finishes loading.
		</p>
	</div>

	<br>
	<div class='text-heading'>Functions Attached to Events on Page Elements</div><br>
	<div>
		<p>
			Any functions attached to events on elements within the page itself will run according to the actions of each individual visitor — this&nbsp;code runs only when a particular event occurs to trigger it. For this reason, it doesn't &nbsp;matter if the code
			never runs for a given visitor, since that visitor has obviously not performed the interaction that requires it.
		</p>
		<p>All of this, of course, assumes that your visitor has accessed your page with a browser that has JavaScript enabled.</p>
	</div>


	<br>
	<div class='text-heading'>Customized Visitor User Scripts</div><br>
	<div>
		<p>Some users have installed special scripts that may&nbsp;interact with your web page. These scripts run after all of your direct code, but <em>before </em>any&nbsp;code attached to the load event handler.</p>
		<p>
			Since your page knows nothing about these user scripts, you have no way of knowing what these external scripts might do&nbsp;—&nbsp;&nbsp;they&nbsp;could override any or all of the code that you have attached to the various events to which you have assigned
			processing. If this code overrides&nbsp;event handlers or listeners, the response to event triggers will run the code defined by the user instead of, or in addition to, your code.
		</p>
		<p>
			The take home point here is that you cannot assume that code designed to run after the page has loaded will be allowed to run the way that you designed it. In addition, be aware that some browsers have options that allow disabling of some event handlers
			within the browser, in which case a relevant event trigger will not launch the corresponding event handler/listener in your code.
		</p>
	</div>
</div>
<!-- --------------------------------------------------- JavaScript Execution Order end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Topic start --------------------------------------------------- -->
<div class="alert alert-danger title">Topic</div>
<div class="text">

</div>
<!-- --------------------------------------------------- Topic end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Topic start --------------------------------------------------- -->
<div class="alert alert-danger title">Topic</div>
<div class="text">

</div>
<!-- --------------------------------------------------- Topic end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Topic start --------------------------------------------------- -->
<div class="alert alert-danger title">Topic</div>
<div class="text">

</div>
<!-- --------------------------------------------------- Topic end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Topic start --------------------------------------------------- -->
<div class="alert alert-danger title">Topic</div>
<div class="text">

</div>
<!-- --------------------------------------------------- Topic end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Topic start --------------------------------------------------- -->
<div class="alert alert-danger title">Topic</div>
<div class="text">

</div>
<!-- --------------------------------------------------- Topic end ----------------------------------------------------- -->
