<div class='title'>Directives</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Definition</h3>
    </div>
    <div class="panel-body">
        At a high level, directives are markers on a DOM element (such as an attribute, element name, comment or CSS class) that tell AngularJS's HTML compiler ($compile) to attach a specified behavior to that DOM element (e.g. via event listeners), or even to
        transform the DOM element and its children.
    </div>
</div>


<ul class="list">
    <li>AngularJS directives are used to extend HTML. These are special attributes starting with ng- prefix.</li>
    <li>AngularJS has a set of built-in directives which offers functionality to your applications.</li>
    <li>AngularJS also lets you define your own directives.</li>
</ul>

</br>


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Angular learning Aside</h3>
    </div>
    <div class="panel-body">What does it mean to "compile" an HTML template? For AngularJS, "compilation" means attaching directives to the HTML to make it interactive. The reason we use the term "compile" is that the recursive process of attaching directives mirrors the process
        of compiling source code in compiled programming languages.</div>
</div>

</br>
<div class="text-heading"> Built-in directives: </div>



</br>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title"><button type="button" class="btn btn-warning">Built-in directives</button></h3>
    </div>
    <div class="panel-body">
        <div class="collapse">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngJq">ngJq</a></td>
                        <td>
                            <p>Use this directive to force the angular.element library. This should be used to force either jqLite by leaving ng-jq blank or setting the name of the jquery variable under window (eg. jQuery).</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngApp">ngApp</a></td>
                        <td>
                            <p>Use this directive to <strong>auto-bootstrap</strong> an AngularJS application. The <code><span class="pln">ngApp</span></code> directive designates the <strong>root element</strong> of the application and is typically placed
                                near the root element of the page - e.g. on the <code><span class="tag">&lt;body&gt;</span></code> or <code><span class="tag">&lt;html&gt;</span></code> tags.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/a">a</a></td>
                        <td>
                            <p>Modifies the default behavior of the html a tag so that the default action is prevented when the href attribute is empty.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngHref">ngHref</a></td>
                        <td>
                            <p>Using Angular markup like <code><span class="pun">{{</span><span class="pln">hash</span><span class="pun">}}</span></code> in an href attribute will make the link go to the wrong URL if the user clicks it before Angular has
                                a chance to replace the <code><span class="pun">{{</span><span class="pln">hash</span><span class="pun">}}</span></code> markup with its value. Until Angular replaces the markup the link will be broken and will most likely
                                return a 404 error. The <code><span class="pln">ngHref</span></code> directive solves this problem.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngSrc">ngSrc</a></td>
                        <td>
                            <p>Using Angular markup like <code><span class="pun">{{</span><span class="pln">hash</span><span class="pun">}}</span></code> in a <code><span class="pln">src</span></code> attribute doesn't work right: The browser will fetch
                                from the URL with the literal text <code><span class="pun">{{</span><span class="pln">hash</span><span class="pun">}}</span></code> until Angular replaces the expression inside
                                <code><span class="pun">{{</span><span class="pln">hash</span><span class="pun">}}</span></code>. The <code><span class="pln">ngSrc</span></code> directive solves this problem.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngSrcset">ngSrcset</a></td>
                        <td>
                            <p>Using Angular markup like <code><span class="pun">{{</span><span class="pln">hash</span><span class="pun">}}</span></code> in a <code><span class="pln">srcset</span></code> attribute doesn't work right: The browser will fetch
                                from the URL with the literal text <code><span class="pun">{{</span><span class="pln">hash</span><span class="pun">}}</span></code> until Angular replaces the expression inside
                                <code><span class="pun">{{</span><span class="pln">hash</span><span class="pun">}}</span></code>. The <code><span class="pln">ngSrcset</span></code> directive solves this problem.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngDisabled">ngDisabled</a></td>
                        <td>
                            <p>This directive sets the <code><span class="pln">disabled</span></code> attribute on the element if the
                                <a href="guide/expression">expression</a> inside <code><span class="pln">ngDisabled</span></code> evaluates to truthy.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngChecked">ngChecked</a></td>
                        <td>
                            <p>Sets the <code><span class="kwd">checked</span></code> attribute on the element, if the expression inside <code><span class="pln">ngChecked</span></code> is truthy.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngReadonly">ngReadonly</a></td>
                        <td>
                            <p>Sets the <code><span class="kwd">readonly</span></code> attribute on the element, if the expression inside <code><span class="pln">ngReadonly</span></code> is truthy. Note that <code><span class="kwd">readonly</span></code>                                applies only to <code><span class="pln">input</span></code> elements with specific types. <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-readonly">See the input docs on
MDN</a> for more information.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngSelected">ngSelected</a></td>
                        <td>
                            <p>Sets the <code><span class="pln">selected</span></code> attribute on the element, if the expression inside <code><span class="pln">ngSelected</span></code> is truthy.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngOpen">ngOpen</a></td>
                        <td>
                            <p>Sets the <code><span class="pln">open</span></code> attribute on the element, if the expression inside <code><span class="pln">ngOpen</span></code> is truthy.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngForm">ngForm</a></td>
                        <td>
                            <p>Nestable alias of <a href="api/ng/directive/form"><code><span class="pln">form</span></code></a> directive. HTML does not allow nesting of form elements. It is useful to nest forms, for example if the validity of a sub-group
                                of controls needs to be determined.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/form">form</a></td>
                        <td>
                            <p>Directive that instantiates
                                <a href="api/ng/type/form.FormController">FormController</a>.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/textarea">textarea</a></td>
                        <td>
                            <p>HTML textarea element control with angular data-binding. The data-binding and validation properties of this element are exactly the same as those of the
                                <a href="api/ng/directive/input">input element</a>.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/input">input</a></td>
                        <td>
                            <p>HTML input element control. When used together with <a href="api/ng/directive/ngModel"><code><span class="pln">ngModel</span></code></a>, it provides data-binding, input state control, and validation. Input control follows
                                HTML5 input types and polyfills the HTML5 validation behavior for older browsers.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngValue">ngValue</a></td>
                        <td>
                            <p>Binds the given expression to the value of the element.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngBind">ngBind</a></td>
                        <td>
                            <p>The <code><span class="pln">ngBind</span></code> attribute tells Angular to replace the text content of the specified HTML element with the value of a given expression, and to update the text content when the value of that
                                expression changes.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngBindTemplate">ngBindTemplate</a></td>
                        <td>
                            <p>The <code><span class="pln">ngBindTemplate</span></code> directive specifies that the element text content should be replaced with the interpolation of the template in the <code><span class="pln">ngBindTemplate</span></code>                                attribute. Unlike <code><span class="pln">ngBind</span></code>, the <code><span class="pln">ngBindTemplate</span></code> can contain multiple <code><span class="pun">{{</span></code> <code><span class="pun">}}</span></code>                                expressions. This directive is needed since some HTML elements (such as TITLE and OPTION) cannot contain SPAN elements.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngBindHtml">ngBindHtml</a></td>
                        <td>
                            <p>Evaluates the expression and inserts the resulting HTML into the element in a secure way. By default, the resulting HTML content will be sanitized using the <a href="api/ngSanitize/service/$sanitize">$sanitize</a> service.
                                To utilize this functionality, ensure that <code><span class="pln">$sanitize</span></code> is available, for example, by including <a href="api/ngSanitize"><code><span class="pln">ngSanitize</span></code></a> in your module's
                                dependencies (not in core Angular). In order to use <a href="api/ngSanitize"><code><span class="pln">ngSanitize</span></code></a> in your module's dependencies, you need to include "angular-sanitize.js" in your application.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngChange">ngChange</a></td>
                        <td>
                            <p>Evaluate the given expression when the user changes the input. The expression is evaluated immediately, unlike the JavaScript onchange event which only triggers at the end of a change (usually, when the user leaves the form
                                element or presses the return key).</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngClass">ngClass</a></td>
                        <td>
                            <p>The <code><span class="pln">ngClass</span></code> directive allows you to dynamically set CSS classes on an HTML element by databinding an expression that represents all classes to be added.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngClassOdd">ngClassOdd</a></td>
                        <td>
                            <p>The <code><span class="pln">ngClassOdd</span></code> and <code><span class="pln">ngClassEven</span></code> directives work exactly as
                                <a href="api/ng/directive/ngClass">ngClass</a>, except they work in conjunction with <code><span class="pln">ngRepeat</span></code> and take effect only on odd (even) rows.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngClassEven">ngClassEven</a></td>
                        <td>
                            <p>The <code><span class="pln">ngClassOdd</span></code> and <code><span class="pln">ngClassEven</span></code> directives work exactly as
                                <a href="api/ng/directive/ngClass">ngClass</a>, except they work in conjunction with <code><span class="pln">ngRepeat</span></code> and take effect only on odd (even) rows.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngCloak">ngCloak</a></td>
                        <td>
                            <p>The <code><span class="pln">ngCloak</span></code> directive is used to prevent the Angular html template from being briefly displayed by the browser in its raw (uncompiled) form while your application is loading. Use this directive
                                to avoid the undesirable flicker effect caused by the html template display.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngController">ngController</a></td>
                        <td>
                            <p>The <code><span class="pln">ngController</span></code> directive attaches a controller class to the view. This is a key aspect of how angular supports the principles behind the Model-View-Controller design pattern.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngCsp">ngCsp</a></td>
                        <td>
                            <p>Angular has some features that can conflict with certain restrictions that are applied when using
                                <a href="https://developer.mozilla.org/en/Security/CSP">CSP (Content Security Policy)</a> rules.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngClick">ngClick</a></td>
                        <td>
                            <p>The ngClick directive allows you to specify custom behavior when an element is clicked.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngDblclick">ngDblclick</a></td>
                        <td>
                            <p>The <code><span class="pln">ngDblclick</span></code> directive allows you to specify custom behavior on a dblclick event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMousedown">ngMousedown</a></td>
                        <td>
                            <p>The ngMousedown directive allows you to specify custom behavior on mousedown event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMouseup">ngMouseup</a></td>
                        <td>
                            <p>Specify custom behavior on mouseup event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMouseover">ngMouseover</a></td>
                        <td>
                            <p>Specify custom behavior on mouseover event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMouseenter">ngMouseenter</a></td>
                        <td>
                            <p>Specify custom behavior on mouseenter event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMouseleave">ngMouseleave</a></td>
                        <td>
                            <p>Specify custom behavior on mouseleave event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMousemove">ngMousemove</a></td>
                        <td>
                            <p>Specify custom behavior on mousemove event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngKeydown">ngKeydown</a></td>
                        <td>
                            <p>Specify custom behavior on keydown event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngKeyup">ngKeyup</a></td>
                        <td>
                            <p>Specify custom behavior on keyup event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngKeypress">ngKeypress</a></td>
                        <td>
                            <p>Specify custom behavior on keypress event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngSubmit">ngSubmit</a></td>
                        <td>
                            <p>Enables binding angular expressions to onsubmit events.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngFocus">ngFocus</a></td>
                        <td>
                            <p>Specify custom behavior on focus event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngBlur">ngBlur</a></td>
                        <td>
                            <p>Specify custom behavior on blur event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngCopy">ngCopy</a></td>
                        <td>
                            <p>Specify custom behavior on copy event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngCut">ngCut</a></td>
                        <td>
                            <p>Specify custom behavior on cut event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngPaste">ngPaste</a></td>
                        <td>
                            <p>Specify custom behavior on paste event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngIf">ngIf</a></td>
                        <td>
                            <p>The <code><span class="pln">ngIf</span></code> directive removes or recreates a portion of the DOM tree based on an {expression}. If the expression assigned to <code><span class="pln">ngIf</span></code> evaluates to a false
                                value then the element is removed from the DOM, otherwise a clone of the element is reinserted into the DOM.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngInclude">ngInclude</a></td>
                        <td>
                            <p>Fetches, compiles and includes an external HTML fragment.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngInit">ngInit</a></td>
                        <td>
                            <p>The <code><span class="pln">ngInit</span></code> directive allows you to evaluate an expression in the current scope.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngList">ngList</a></td>
                        <td>
                            <p>Text input that converts between a delimited string and an array of strings. The default delimiter is a comma followed by a space - equivalent to <code><span class="pln">ng</span><span class="pun">-</span><span class="pln">list</span><span class="pun">=</span><span class="str">", "</span></code>.
                                You can specify a custom delimiter as the value of the <code><span class="pln">ngList</span></code> attribute - for example, <code><span class="pln">ng</span><span class="pun">-</span><span class="pln">list</span><span class="pun">=</span><span class="str">" | "</span></code>.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngModel">ngModel</a></td>
                        <td>
                            <p>The <code><span class="pln">ngModel</span></code> directive binds an <code><span class="pln">input</span></code>,<code><span class="kwd">select</span></code>, <code><span class="pln">textarea</span></code> (or custom form control)
                                to a property on the scope using <a href="api/ng/type/ngModel.NgModelController">NgModelController</a>, which is created and exposed by this directive.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngModelOptions">ngModelOptions</a></td>
                        <td>
                            <p>This directive allows you to modify the behaviour of <a href="api/ng/directive/ngModel"><code><span class="pln">ngModel</span></code></a> directives within your application. You can specify an <code><span class="pln">ngModelOptions</span></code>                                directive on any element. All <a href="api/ng/directive/ngModel"><code><span class="pln">ngModel</span></code></a> directives will use the options of their nearest <code><span class="pln">ngModelOptions</span></code> ancestor.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngNonBindable">ngNonBindable</a></td>
                        <td>
                            <p>The <code><span class="pln">ngNonBindable</span></code> directive tells Angular not to compile or bind the contents of the current DOM element. This is useful if the element contains what appears to be Angular directives and
                                bindings but which should be ignored by Angular. This could be the case if you have a site that displays snippets of code, for instance.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngOptions">ngOptions</a></td>
                        <td>
                            <p>The <code><span class="pln">ngOptions</span></code> attribute can be used to dynamically generate a list of <code><span class="tag">&lt;option&gt;</span></code> elements for the <code><span class="tag">&lt;select&gt;</span></code>                                element using the array or object obtained by evaluating the
                                <code><span class="pln">ngOptions</span></code> comprehension expression.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngPluralize">ngPluralize</a></td>
                        <td>
                            <p><code><span class="pln">ngPluralize</span></code> is a directive that displays messages according to en-US localization rules. These rules are bundled with angular.js, but can be overridden (see <a href="guide/i18n">Angular i18n</a>                                dev guide). You configure ngPluralize directive by specifying the mappings between
                                <a href="http://unicode.org/repos/cldr-tmp/trunk/diff/supplemental/language_plural_rules.html">plural categories</a> and the strings to be displayed.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngRepeat">ngRepeat</a></td>
                        <td>
                            <p>The <code><span class="pln">ngRepeat</span></code> directive instantiates a template once per item from a collection. Each template instance gets its own scope, where the given loop variable is set to the current collection
                                item, and
                                <code><span class="pln">$index</span></code> is set to the item index or key.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngShow">ngShow</a></td>
                        <td>
                            <p>The <code><span class="pln">ngShow</span></code> directive shows or hides the given HTML element based on the expression provided to the <code><span class="pln">ngShow</span></code> attribute.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngHide">ngHide</a></td>
                        <td>
                            <p>The <code><span class="pln">ngHide</span></code> directive shows or hides the given HTML element based on the expression provided to the <code><span class="pln">ngHide</span></code> attribute.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngStyle">ngStyle</a></td>
                        <td>
                            <p>The <code><span class="pln">ngStyle</span></code> directive allows you to set CSS style on an HTML element conditionally.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngSwitch">ngSwitch</a></td>
                        <td>
                            <p>The <code><span class="pln">ngSwitch</span></code> directive is used to conditionally swap DOM structure on your template based on a scope expression. Elements within <code><span class="pln">ngSwitch</span></code> but without
                                <code><span class="pln">ngSwitchWhen</span></code> or <code><span class="pln">ngSwitchDefault</span></code> directives will be preserved at the location as specified in the template.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngTransclude">ngTransclude</a></td>
                        <td>
                            <p>Directive that marks the insertion point for the transcluded DOM of the nearest parent directive that uses transclusion.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/script">script</a></td>
                        <td>
                            <p>Load the content of a <code><span class="tag">&lt;script&gt;</span></code> element into <a href="api/ng/service/$templateCache"><code><span class="pln">$templateCache</span></code></a>, so that the template can be used by
                                <a href="api/ng/directive/ngInclude"><code><span class="pln">ngInclude</span></code></a>,
                                <a href="api/ngRoute/directive/ngView"><code><span class="pln">ngView</span></code></a>, or <a href="guide/directive">directives</a>. The type of the
                                <code><span class="tag">&lt;script&gt;</span></code> element must be specified as <code><span class="pln">text</span><span class="pun">/</span><span class="pln">ng</span><span class="pun">-</span><span class="kwd">template</span></code>,
                                and a cache name for the template must be assigned through the element's <code><span class="pln">id</span></code>, which can then be used as a directive's <code><span class="pln">templateUrl</span></code>.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/select">select</a></td>
                        <td>
                            <p>HTML <code><span class="kwd">select</span></code> element with angular data-binding.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngRequired">ngRequired</a></td>
                        <td>
                            <p>ngRequired adds the required <a href="api/ng/type/ngModel.NgModelController#$validators"><code><span class="pln">validator</span></code></a> to <a href="api/ng/directive/ngModel"><code><span class="pln">ngModel</span></code></a>.
                                It is most often used for <a href="api/ng/directive/input"><code><span class="pln">input</span></code></a> and <a href="api/ng/directive/select"><code><span class="kwd">select</span></code></a> controls, but can also be
                                applied to custom controls.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngPattern">ngPattern</a></td>
                        <td>
                            <p>ngPattern adds the pattern <a href="api/ng/type/ngModel.NgModelController#$validators"><code><span class="pln">validator</span></code></a> to <a href="api/ng/directive/ngModel"><code><span class="pln">ngModel</span></code></a>.
                                It is most often used for text-based <a href="api/ng/directive/input"><code><span class="pln">input</span></code></a> controls, but can also be applied to custom text-based controls.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMaxlength">ngMaxlength</a></td>
                        <td>
                            <p>ngMaxlength adds the maxlength <a href="api/ng/type/ngModel.NgModelController#$validators"><code><span class="pln">validator</span></code></a> to <a href="api/ng/directive/ngModel"><code><span class="pln">ngModel</span></code></a>.
                                It is most often used for text-based <a href="api/ng/directive/input"><code><span class="pln">input</span></code></a> controls, but can also be applied to custom text-based controls.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMinlength">ngMinlength</a></td>
                        <td>
                            <p>ngMinlength adds the minlength <a href="api/ng/type/ngModel.NgModelController#$validators"><code><span class="pln">validator</span></code></a> to <a href="api/ng/directive/ngModel"><code><span class="pln">ngModel</span></code></a>.
                                It is most often used for text-based <a href="api/ng/directive/input"><code><span class="pln">input</span></code></a> controls, but can also be applied to custom text-based controls.</p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


</br>

<div class="text-heading"> Custom directives:</div>
</br>
</br>




















<script>
    $(document).ready(function() {
        $(".btn-warning").click(function() {
            $(".collapse").collapse('toggle');
        });
    });
</script>
