<!-- --------------------------------------------------- Introduction start --------------------------------------------------- -->
<div class="alert alert-danger title">The Browser Object Model (BOM) </div>
<div class='text'>
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">Definition</div>
        </div>
        <div class="panel-body">
            <p>
                The Browser Object Model (BOM) is a browser-specific convention referring to all the objects exposed by the web browser. Unlike the Document Object Model, there is no standard for implementation and no strict definition, so browser vendors are free to
                implement the BOM in any way they wish.
            </p>
        </div>
    </div>
</div>
<!-- --------------------------------------------------- Introduction end ----------------------------------------------------- -->


<!-- --------------------------------------------------- The Window Object start --------------------------------------------------- -->
<div class="alert alert-danger title">The Window Object: </div>
<div class='text'>

    <p>
        window displaying a document, the browser program sees as a hierarchical collection of objects. When the browser parses a document, it creates a collection of objects that define the document and detail how it should be displayed. The object the browser
        creates is known as the Document object. It is part of a larger collection of objects that the browser makes use of. This collection of browser objects is collectively known as the Browser Object Model, or BOM.
    </p>
    <p>The top level of the hierarchy is the window object, which contains the information about the window displaying the document. Some of the window object are objects themselves that describe the document and related information.</p>

    <br>
    <p>The window object represents an open window in a browser.</p>
    <p>If a document contain frames (&lt;iframe&gt; tags), the browser creates one window object for the HTML document, and one additional window object for each frame.</p>
    <p><b>Note:</b> There is no public standard that applies to the Window object, but all major browsers support it.</p>

    <div class='text-heading'>Window Object Properties:</div>
    <div>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th style="width:20%">Property</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>closed</td>
                    <td>Returns a Boolean value indicating whether a window has been closed or not</td>
                </tr>
                <tr>
                    <td>defaultStatus</td>
                    <td>Sets or returns the default text in the statusbar of a window</td>
                </tr>
                <tr>
                    <td>document</td>
                    <td>Returns the Document object for the window (See Document object)</td>
                </tr>
                <tr>
                    <td>frameElement</td>
                    <td>Returns the &lt;iframe&gt; element in which the current window is inserted</td>
                </tr>
                <tr>
                    <td>frames</td>
                    <td>Returns all &lt;iframe&gt; elements in the current window</td>
                </tr>
                <tr>
                    <td>history</td>
                    <td>Returns the History object for the window (See History object)</td>
                </tr>
                <tr>
                    <td>innerHeight</td>
                    <td>Returns the inner height of a window's content area</td>
                </tr>
                <tr>
                    <td>innerWidth</td>
                    <td>Returns the inner width of a window's content area</td>
                </tr>
                <tr>
                    <td>length</td>
                    <td>Returns the number of &lt;iframe&gt; elements in the current window</td>
                </tr>
                <tr>
                    <td>localStorage</td>
                    <td>Returns a reference to the local storage object used to store data. Stores data with no expiration date</td>
                </tr>
                <tr>
                    <td>location</td>
                    <td>Returns the Location object for the window (See Location object)</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>Sets or returns the name of a window</td>
                </tr>
                <tr>
                    <td>navigator</td>
                    <td>Returns the Navigator object for the window (See Navigator object)</td>
                </tr>
                <tr>
                    <td>opener</td>
                    <td>Returns a reference to the window that created the window</td>
                </tr>
                <tr>
                    <td>outerHeight</td>
                    <td>Returns the outer height of a window, including toolbars/scrollbars</td>
                </tr>
                <tr>
                    <td>outerWidth</td>
                    <td>Returns the outer width of a window, including toolbars/scrollbars</td>
                </tr>
                <tr>
                    <td>pageXOffset</td>
                    <td>Returns the pixels the current document has been scrolled (horizontally) from the upper left corner of the window</td>
                </tr>
                <tr>
                    <td>pageYOffset</td>
                    <td>Returns the pixels the current document has been scrolled (vertically) from the upper left corner of the window</td>
                </tr>
                <tr>
                    <td>parent</td>
                    <td>Returns the parent window of the current window</td>
                </tr>
                <tr>
                    <td>screen</td>
                    <td>Returns the Screen object for the window (See Screen object)</td>
                </tr>
                <tr>
                    <td>screenLeft</td>
                    <td>Returns the horizontal coordinate of the window relative to the screen</td>
                </tr>
                <tr>
                    <td>screenTop</td>
                    <td>Returns the vertical coordinate of the window relative to the screen</td>
                </tr>
                <tr>
                    <td>screenX</td>
                    <td>Returns the horizontal coordinate of the window relative to the screen</td>
                </tr>
                <tr>
                    <td>screenY</td>
                    <td>Returns the vertical coordinate of the window relative to the screen</td>
                </tr>
                <tr>
                    <td>sessionStorage</td>
                    <td>Returns a reference to the local storage object used to store data. Stores data for one session (lost when the browser tab is closed)</td>
                </tr>
                <tr>
                    <td>scrollX</td>
                    <td>An alias of pageXOffset</td>
                </tr>
                <tr>
                    <td>scrollY</td>
                    <td>An alias of pageYOffset</td>
                </tr>
                <tr>
                    <td>self</td>
                    <td>Returns the current window</td>
                </tr>
                <tr>
                    <td>status</td>
                    <td>Sets or returns the text in the statusbar of a window</td>
                </tr>
                <tr>
                    <td>top</td>
                    <td>Returns the topmost browser window</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class='text-heading'>Window Object Methods:</div>
    <div>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th style="width:20%">Method</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>alert()</td>
                    <td>Displays an alert box with a message and an OK button</td>
                </tr>
                <tr>
                    <td>atob()</td>
                    <td>Decodes a base-64 encoded string</td>
                </tr>
                <tr>
                    <td>blur()</td>
                    <td>Removes focus from the current window</td>
                </tr>
                <tr>
                    <td>btoa()</td>
                    <td>Encodes a string in base-64</td>
                </tr>
                <tr>
                    <td>clearInterval()</td>
                    <td>Clears a timer set with setInterval()</td>
                </tr>
                <tr>
                    <td>clearTimeout()</td>
                    <td>Clears a timer set with setTimeout()</td>
                </tr>
                <tr>
                    <td>close()</td>
                    <td>Closes the current window</td>
                </tr>
                <tr>
                    <td>confirm()</td>
                    <td>Displays a dialog box with a message and an OK and a Cancel button</td>
                </tr>
                <tr>
                    <td>focus()</td>
                    <td>Sets focus to the current window</td>
                </tr>
                <tr>
                    <td>getComputedStyle()</td>
                    <td>Gets the current computed CSS styles applied to an element</td>
                </tr>
                <tr>
                    <td>getSelection()</td>
                    <td>Returns a Selection object representing the range of text selected by the user</td>
                </tr>
                <tr>
                    <td>matchMedia()</td>
                    <td>Returns a MediaQueryList object representing the specified CSS media query string</td>
                </tr>
                <tr>
                    <td>moveBy()</td>
                    <td>Moves a window relative to its current position</td>
                </tr>
                <tr>
                    <td>moveTo()</td>
                    <td>Moves a window to the specified position</td>
                </tr>
                <tr>
                    <td>open()</td>
                    <td>Opens a new browser window</td>
                </tr>
                <tr>
                    <td>print()</td>
                    <td>Prints the content of the current window</td>
                </tr>
                <tr>
                    <td>prompt()</td>
                    <td>Displays a dialog box that prompts the visitor for input</td>
                </tr>
                <tr>
                    <td>resizeBy()</td>
                    <td>Resizes the window by the specified pixels</td>
                </tr>
                <tr>
                    <td>resizeTo()</td>
                    <td>Resizes the window to the specified width and height</td>
                </tr>
                <tr>
                    <td>scroll()</td>
                    <td><span class="deprecated">Deprecated.</span> This method has been replaced by the scrollTo() method.</td>
                </tr>
                <tr>
                    <td>scrollBy()</td>
                    <td>Scrolls the document by the specified number of pixels</td>
                </tr>
                <tr>
                    <td>scrollTo()</td>
                    <td>Scrolls the document to the specified coordinates</td>
                </tr>
                <tr>
                    <td>setInterval()</td>
                    <td>Calls a function or evaluates an expression at specified intervals (in milliseconds)</td>
                </tr>
                <tr>
                    <td>setTimeout()</td>
                    <td>Calls a function or evaluates an expression after a specified number of milliseconds</td>
                </tr>
                <tr>
                    <td>stop()</td>
                    <td>Stops the window from loading</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- --------------------------------------------------- The Window Object end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Navigator Object start --------------------------------------------------- -->
<div class="alert alert-danger title">Navigator Object: </div>
<div class='text'>
    <p>The navigator object contains information about the browser.</p>

    <div class='text-heading'>Properties and Methods:</div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th style="width:25%">Property</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>appCodeName</td>
                <td>Returns the code name of the browser</td>
            </tr>
            <tr>
                <td>appName</td>
                <td>Returns the name of the browser</td>
            </tr>
            <tr>
                <td>appVersion</td>
                <td>Returns the version information of the browser</td>
            </tr>
            <tr>
                <td>cookieEnabled</td>
                <td>Determines whether cookies are enabled in the browser</td>
            </tr>
            <tr>
                <td>geolocation</td>
                <td>Returns a Geolocation object that can be used to locate the user's position</td>
            </tr>
            <tr>
                <td>language</td>
                <td>Returns the language of the browser</td>
            </tr>
            <tr>
                <td>onLine</td>
                <td>Determines whether the browser is online</td>
            </tr>
            <tr>
                <td>platform</td>
                <td>Returns for which platform the browser is compiled</td>
            </tr>
            <tr>
                <td>product</td>
                <td>Returns the engine name of the browser</td>
            </tr>
            <tr>
                <td>userAgent</td>
                <td>Returns the user-agent header sent by the browser to the server</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th style="width:25%" align="left">Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>javaEnabled()</td>
                <td>Specifies whether or not the browser has Java enabled</td>
            </tr>
            <tr>
                <td>taintEnabled()</td>
                <td><span class="deprecated">Removed in JavaScript version 1.2.</span> Specifies whether the browser has data tainting enabled</td>
            </tr>
        </tbody>
    </table>

</div>
<!-- --------------------------------------------------- Navigator Object end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Screen Object start --------------------------------------------------- -->
<div class="alert alert-danger title">Screen Object: </div>
<div class='text'>

    <p>The screen object contains information about the visitor's screen.</p>

    <div class='text-heading'>Screen Object Properties:</div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th style="width:20%">Property</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>availHeight</td>
                <td>Returns the height of the screen (excluding the Windows Taskbar)</td>
            </tr>
            <tr>
                <td>availWidth</td>
                <td>Returns the width of the screen (excluding the Windows Taskbar)</td>
            </tr>
            <tr>
                <td>colorDepth</td>
                <td>Returns the bit depth of the color palette for displaying images</td>
            </tr>
            <tr>
                <td>height</td>
                <td>Returns the total height of the screen</td>
            </tr>
            <tr>
                <td>pixelDepth</td>
                <td>Returns the color resolution (in bits per pixel) of the screen</td>
            </tr>
            <tr>
                <td>width</td>
                <td>Returns the total width of the screen</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- --------------------------------------------------- Screen Object end ----------------------------------------------------- -->


<!-- --------------------------------------------------- History Object start --------------------------------------------------- -->
<div class="alert alert-danger title">History Object: </div>
<div class='text'>
    <p>The history object contains the URLs visited by the user (within a browser window).</p>
    <p>The history object is part of the window object and is accessed through the window.history property.</p>
    <p><b>Note:</b> There is no public standard that applies to the history object, but all major browsers support it.</p>

    <p class='text-heading'>History Object Properties</p>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th style="width:20%">Property</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>length</td>
                <td>Returns the number of URLs in the history list</td>
            </tr>
        </tbody>
    </table>
    <p class='text-heading'>History Object Methods</p>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th style="width:20%">Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>back()</td>
                <td>Loads the previous URL in the history list</td>
            </tr>
            <tr>
                <td>forward()</td>
                <td>Loads the next URL in the history list</td>
            </tr>
            <tr>
                <td>go()</td>
                <td>Loads a specific URL from the history list</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- --------------------------------------------------- History Object end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Location Object start --------------------------------------------------- -->
<div class="alert alert-danger title">Location Object: </div>
<div class='text'>
    <p>The location object contains information about the current URL.</p>
    <p>The location object is part of the window object and is accessed through the window.location property.</p>
    <p><b>Note:</b> There is no public standard that applies to the location object, but all major browsers support it.</p>

    <div class='text-heading'>Location Object Properties:</div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th style="width:20%">Property</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>hash</td>
                <td>Sets or returns the anchor part (#) of a URL</td>
            </tr>
            <tr>
                <td>host</td>
                <td>Sets or returns the hostname and port number of a URL</td>
            </tr>
            <tr>
                <td>hostname</td>
                <td>Sets or returns the hostname of a URL</td>
            </tr>
            <tr>
                <td>href</td>
                <td>Sets or returns the entire URL</td>
            </tr>
            <tr>
                <td>origin</td>
                <td>Returns the protocol, hostname and port number of a URL</td>
            </tr>
            <tr>
                <td>pathname</td>
                <td>Sets or returns the path name of a URL</td>
            </tr>
            <tr>
                <td>port</td>
                <td>Sets or returns the port number of a URL</td>
            </tr>
            <tr>
                <td>protocol</td>
                <td>Sets or returns the protocol of a URL</td>
            </tr>
            <tr>
                <td>search</td>
                <td>Sets or returns the querystring part of a URL</td>
            </tr>
        </tbody>
    </table>
    <div class='text-heading'>Location Object Methods:</div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th style="width:20%">Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>assign()</td>
                <td>Loads a new document</td>
            </tr>
            <tr>
                <td>reload()</td>
                <td>Reloads the current document</td>
            </tr>
            <tr>
                <td>replace()</td>
                <td>Replaces the current document with a new one</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- --------------------------------------------------- Location Object end ----------------------------------------------------- -->
