<div class="alert alert-success title">JavaScript Interview Question and Answers</div>

<div class='text'>
	<!-- --------------------------------------------------- 1 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">
			1. Output?
			<pre>
				 var foo = {
				    bar: function() { return this.baz; },
				    	baz: 1
				    };
				    (function() {
				    	return typeof arguments[0]();
				    })(foo.bar);
			</pre>
			<pre>
				Options:
				 1. "undefined"
				 2. "object"
				 3. "number"
				 4. "function"
			</pre>
		</summary>
		<div class="panel-body">
			<p>
				<b>Answer:</b> "undefined"
			</p>
		</div>
	</details>
	<!-- --------------------------------------------------- 1 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 2 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">
			2. Output?
		</summary>
		<div class="panel-body">
			<pre>
				 var f = (function f(){ return "1"; }, function g(){ return 2; })();
  				 typeof f;
			</pre>
			<pre>
			Options: 
				 "string"
				 "number"
				 "function"
				 "undefined"
			</pre>
		</div>
	</details>
	<!-- --------------------------------------------------- 2 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 3 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">
			3. Output?
			<pre>
				var x = 1;
				if (function f() {}) {
				    x += typeof f;
				}
				x;
				
				Options:
				 1
				 "1function"
				 "1undefined"
				 NaN
			</pre>
		</summary>
		<div class="panel-body">
			Answer: "1function"
		</div>
	</details>
	<!-- --------------------------------------------------- 3 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Put more questions from: http://perfectionkills.com/javascript-quiz/

		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">

			Challenge Using the JavaScript language, have the function FirstFactorial(num) take the num parameter being passed and return the factorial of it (e.g. if num = 4, return (4 * 3 * 2 * 1)). For the test cases, the range will be between 1 and 18 and the
			input will always be an integer.
			<pre>
				Sample Test Cases
				Input: 4 Output: 24
				Input: 8 Output: 40320
			</pre>
		</summary>
		<div class="panel-body">
			<pre>
	function factorial(num) { 
	    if (num === 0){ 
	        return 1; 
	    }
	    num = num * factorial( num - 1 );
	    return num;
	}
	factorial(8);
			</pre>
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->


	<!-- --------------------------------------------------- 4 start --------------------------------------------------- -->
	<details class="panel panel-success">
		<summary class="panel-heading panel-title">4. Question</summary>
		<div class="panel-body">
			Answer
		</div>
	</details>
	<!-- --------------------------------------------------- 4 end ------------------------------------------------------ -->

</div>
