<div class='text'>

    <!-- 'this' operator  start-->
    <div class='title'>'this' operator</div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Definition</h3>
        </div>
        <div class="panel-body">
            <p>The this keyword refers to the function's execution context.</p>
            <p><code>this</code> evaluates to the value of the ThisBinding of the current execution context</p>
        </div>
    </div>
    <p>“this” inside of an event handler always refers to the element it was triggered on.</p>
    In most cases, the value of this is determined by how a function is called. It can't be set by assignment during execution, and it may be different each time the function is called. ES5 introduced the bind method to set the value of a function's this
    regardless of how it's called, and ES6 introduced arrow functions whose this is lexically scoped (it is set to the this value of the enclosing execution context).

    </br>
    </br>
    <div class="title">Global context: </div>
    In the global execution context (outside of any function), <code>this</code> refers to the global object, whether in strict mode or not.

    </br>
    </br>
    <!-- 'this' operator  end-->
    <!-- Function context  start-->
    <div class="title">Function context</div>
    Inside a function, the value of <code>this</code> depends on how the function is called.

    </br>
    <ul class="list">
        <li>Simple call:</li>
    </ul>

    <div style="  padding-left: 20px;">
        Since the following code is <code>not in strict mode</code>, and because the value of this is not set by the call, this will default to the global object:</li>

        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_c snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>    <span class="sh_usertype">function<span class="sh_normal"> <span class="sh_function">f1<span class="sh_symbol">()<span class="sh_cbracket">{</li><li>      <span class="sh_keyword">return this<span class="sh_symbol">;</li><li>    <span class="sh_cbracket">}</li><li>    <span class="sh_comment">// In a browser:</li><li>    <span class="sh_function">f1<span class="sh_symbol">() <span class="sh_symbol">=== window<span class="sh_symbol">; <span class="sh_comment">// the window is the global object in browsers</li><li>    <span class="sh_comment">// In Node:</li><li>    <span class="sh_function">f1<span class="sh_symbol">() <span class="sh_symbol">=== global</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable=""> function f1(){ return this; } // In a browser: f1() === window; // the window is the global object in browsers // In Node: f1() === global</pre>
            </div>
        </div>
        </br>
        In <code>strict mode</code>, however, the value of this remains at whatever it was set to when entering the execution context, so, in the following case, this will default to undefined:

        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">function <span class="sh_function">f2<span class="sh_symbol">()<span class="sh_cbracket">{</li><li>  <span class="sh_string">"use strict"<span class="sh_symbol">; <span class="sh_comment">// see strict mode</li><li>  <span class="sh_keyword">return <span class="sh_keyword">this<span class="sh_symbol">;</li><li><span class="sh_cbracket">}</li><li></li><li><span class="sh_function">f2<span class="sh_symbol">() <span class="sh_symbol">=== <span class="sh_predef_var">undefined<span class="sh_symbol">;</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">function f2(){ "use strict"; // see strict mode return this; } f2() === undefined;</pre>
            </div>
        </div>
        </br>
        <p>So, in strict mode, if this was not defined by the execution context, it remains undefined.</p>

        <div>
            <p>Prior to ECMA 5, <code>this</code> in the inner function would refer to the global window object; whereas, as of ECMA 5, <code>this</code> in the inner function would be undefined.</p>
            <div class="snippet-container">
                <div class="sh_default snippet-wrap">
                    <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> myObject <span class="sh_symbol">=</span> <span class="sh_cbracket">{</span></li><li> foo<span class="sh_symbol">:</span> <span class="sh_string">"bar"</span><span class="sh_symbol">,</span></li><li> func<span class="sh_symbol">:</span> <span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_keyword">var</span> <span class="sh_predef_var">self</span> <span class="sh_symbol">=</span> <span class="sh_keyword">this</span><span class="sh_symbol">;</span></li><li>    console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">"outer func:  this.foo = "</span> <span class="sh_symbol">+</span> <span class="sh_keyword">this</span><span class="sh_symbol">.</span>foo<span class="sh_symbol">);</span></li><li>    console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">"outer func:  self.foo = "</span> <span class="sh_symbol">+</span> <span class="sh_predef_var">self</span><span class="sh_symbol">.</span>foo<span class="sh_symbol">);</span></li><li>    <span class="sh_symbol">(</span><span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">"inner func:  this.foo = "</span> <span class="sh_symbol">+</span> <span class="sh_keyword">this</span><span class="sh_symbol">.</span>foo<span class="sh_symbol">);</span></li><li>        console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">"inner func:  self.foo = "</span> <span class="sh_symbol">+</span> <span class="sh_predef_var">self</span><span class="sh_symbol">.</span>foo<span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">());</span></li><li>  <span class="sh_cbracket">}</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li>myObject<span class="sh_symbol">.</span><span class="sh_function">func</span><span class="sh_symbol">();</span></li></ol></pre>
                    <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var myObject = { foo: "bar", func: function() { var self = this; console.log("outer func: this.foo = " + this.foo); console.log("outer func: self.foo = " + self.foo); (function() { console.log("inner func: this.foo = " + this.foo); console.log("inner
                    func: self.foo = " + self.foo); }()); } }; myObject.func();
                    </pre>
                </div>
            </div>
            <p>Output:</p>
            <div class="snippet-container">
                <div class="sh_default snippet-wrap">
                    <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ul class="snippet-no-num"><li>outer func<span class="sh_symbol">:</span>  <span class="sh_keyword">this</span><span class="sh_symbol">.</span>foo <span class="sh_symbol">=</span> bar</li><li>outer func<span class="sh_symbol">:</span>  <span class="sh_predef_var">self</span><span class="sh_symbol">.</span>foo <span class="sh_symbol">=</span> bar</li><li>inner func<span class="sh_symbol">:</span>  <span class="sh_keyword">this</span><span class="sh_symbol">.</span>foo <span class="sh_symbol">=</span> <span class="sh_predef_var">undefined</span></li><li>inner func<span class="sh_symbol">:</span>  <span class="sh_predef_var">self</span><span class="sh_symbol">.</span>foo <span class="sh_symbol">=</span> bar</li></ul></pre>
                    <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">outer func: this.foo = bar outer func: self.foo = bar inner func: this.foo = undefined inner func: self.foo = bar</pre>
                </div>
            </div>

        </div>
    </div>
    </br>


    <!-- Function context  end-->
    <!-- call and apply  start-->
    <div class='title'>call and apply</div>
    <p>The <code><strong>call()</strong></code> method calls a function with a given <code>this</code> value and arguments provided individually.</p>
    <p>The <code><strong>apply()</strong></code> method calls a function with a given <code>this</code> value and <code>arguments</code> provided as an array (or an <a href="/en-US/docs/Web/JavaScript/Guide/Indexed_collections#Working_with_array-like_objects">array-like object</a>).</p>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Note:</h3>
        </div>
        <div class="panel-body">
            While the syntax of this function is almost identical to that of call(), the fundamental difference is that call() accepts an argument list, while apply() accepts a single array of arguments.
        </div>
    </div>

    <div class="snippet-container">
        <div class="sh_default snippet-wrap"><pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">function <span class="sh_function">add<span class="sh_symbol">(c<span class="sh_symbol">, d<span class="sh_symbol">)<span class="sh_cbracket">{</li><li>  <span class="sh_keyword">return <span class="sh_keyword">this<span class="sh_symbol">.a <span class="sh_symbol">+ <span class="sh_keyword">this<span class="sh_symbol">.b <span class="sh_symbol">+ c <span class="sh_symbol">+ d<span class="sh_symbol">;</li><li><span class="sh_cbracket">}</li><li></li><li><span class="sh_keyword">var o <span class="sh_symbol">= <span class="sh_cbracket">{a<span class="sh_symbol">:<span class="sh_number">1<span class="sh_symbol">, b<span class="sh_symbol">:<span class="sh_number">3<span class="sh_cbracket">}<span class="sh_symbol">;</li><li></li><li><span class="sh_comment">// The first parameter is the object to use as</li><li><span class="sh_comment">// 'this', subsequent parameters are passed as </li><li><span class="sh_comment">// arguments in the function call</li><li>add<span class="sh_symbol">.<span class="sh_function">call<span class="sh_symbol">(o<span class="sh_symbol">, <span class="sh_number">5<span class="sh_symbol">, <span class="sh_number">7<span class="sh_symbol">); <span class="sh_comment">// 1 + 3 + 5 + 7 = 16</li><li></li><li><span class="sh_comment">// The first parameter is the object to use as</li><li><span class="sh_comment">// 'this', the second is an array whose</li><li><span class="sh_comment">// members are used as the arguments in the function call</li><li>add<span class="sh_symbol">.<span class="sh_function">apply<span class="sh_symbol">(o<span class="sh_symbol">, <span class="sh_symbol">[<span class="sh_number">10<span class="sh_symbol">, <span class="sh_number">20<span class="sh_symbol">]); <span class="sh_comment">// 1 + 3 + 10 + 20 = 34</li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">function add(c, d){ return this.a + this.b + c + d; } var o = {a:1, b:3}; // The first parameter is the object to use as // 'this', subsequent parameters are passed as // arguments in the function call add.call(o, 5, 7); // 1 + 3 + 5 + 7 =
                16 // The first parameter is the object to use as // 'this', the second is an array whose // members are used as the arguments in the function call add.apply(o, [10, 20]); // 1 + 3 + 10 + 20 = 34</pre>
        </div>
    </div>
    </br>


    <!-- call and apply  end-->
    <!-- bind method  start-->
    <div class='title'>The bind method</div>
    <p>The <code><strong>bind()</strong></code> method creates a new function that, when called, has its <code>this</code> keyword set to the provided value, with a given sequence of arguments preceding any provided when the new function is called.</p>
    <p>The.bind() method is used to permanently set the value of this inside the target function to the passed in context object.</p>

    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">function <span class="sh_function">f<span class="sh_symbol">()<span class="sh_cbracket">{</li><li>  <span class="sh_keyword">return <span class="sh_keyword">this<span class="sh_symbol">.a<span class="sh_symbol">;</li><li><span class="sh_cbracket">}</li><li></li><li><span class="sh_keyword">var g <span class="sh_symbol">= f<span class="sh_symbol">.<span class="sh_function">bind<span class="sh_symbol">(<span class="sh_cbracket">{a<span class="sh_symbol">:<span class="sh_string">"azerty"<span class="sh_cbracket">}<span class="sh_symbol">);</li><li>console<span class="sh_symbol">.<span class="sh_function">log<span class="sh_symbol">(<span class="sh_function">g<span class="sh_symbol">()); <span class="sh_comment">// azerty</li><li></li><li><span class="sh_keyword">var h <span class="sh_symbol">= g<span class="sh_symbol">.<span class="sh_function">bind<span class="sh_symbol">(<span class="sh_cbracket">{a<span class="sh_symbol">:<span class="sh_string">"yoo"<span class="sh_cbracket">}<span class="sh_symbol">); <span class="sh_comment">// bind only works once!</li><li>console<span class="sh_symbol">.<span class="sh_function">log<span class="sh_symbol">(<span class="sh_function">h<span class="sh_symbol">()); <span class="sh_comment">// azerty</li><li></li><li><span class="sh_keyword">var o <span class="sh_symbol">= <span class="sh_cbracket">{a<span class="sh_symbol">:<span class="sh_number">37<span class="sh_symbol">, f<span class="sh_symbol">:f<span class="sh_symbol">, g<span class="sh_symbol">:g<span class="sh_symbol">, h<span class="sh_symbol">:h<span class="sh_cbracket">}<span class="sh_symbol">;</li><li>console<span class="sh_symbol">.<span class="sh_function">log<span class="sh_symbol">(o<span class="sh_symbol">.<span class="sh_function">f<span class="sh_symbol">(), o<span class="sh_symbol">.<span class="sh_function">g<span class="sh_symbol">(), o<span class="sh_symbol">.<span class="sh_function">h<span class="sh_symbol">()); <span class="sh_comment">// 37, azerty, azerty</li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">function f(){ return this.a; } var g = f.bind({a:"azerty"}); console.log(g()); // azerty var h = g.bind({a:"yoo"}); // bind only works once! console.log(h()); // azerty var o = {a:37, f:f, g:g, h:h}; console.log(o.f(), o.g(), o.h()); // 37,
                azerty, azerty</pre>
        </div>
    </div>
    </br>
    <p>The <strong>bind()</strong> function creates a new <strong>bound function</strong> <strong>(BF)</strong>. A <strong>BF</strong> is an <strong>exotic function object</strong> (a term from <strong>ECMAScript 2015</strong>) that wraps the original function
        object. Calling a <strong>BF</strong> generally, results in the execution of its <strong>wrapped function</strong>.<br> A
        <strong> BF</strong> has the following internal properties:
    </p>

    <ul class="list">
        <li><strong>[[BoundTargetFunction]] </strong>- the wrapped function object;</li>
        <li><strong>[[BoundThis]]</strong> - the value that is always passed as <strong>this</strong> value when calling the wrapped function.</li>
        <li><strong>[[BoundArguments]]</strong> - a list of values whose elements are used as the first arguments to any call to the wrapped function.</li>
        <li><strong>[[Call]]</strong> - executes code associated with this object. Invoked via a function call expression. The arguments to the internal method are a <strong>this</strong> value and a list containing the arguments passed to the function by
            a call expression.</li>
    </ul>

    <p>When bound function is called, it calls internal method<strong> [[Call]]</strong> with following arguments <strong>Call(<em>target</em>, <em>boundThis</em>, <em>args</em>).</strong> Where, <strong><em>target</em></strong> is<strong> [[BoundTargetFunction]]</strong>,
        <strong><em>boundThis </em></strong>is <strong>[[BoundThis]]</strong>, <em><strong>args </strong></em>is <strong>[[BoundArguments]]</strong>.
    </p>

    <p>A bound function may also be constructed using the <a href="/en-US/docs/Web/JavaScript/Reference/Operators/new" title="The new operator creates an instance of a user-defined object type or of one of the built-in object types that has a constructor function."><code>new</code></a>        operator: doing so acts as though the target function had instead been constructed. The provided <strong><code>this</code></strong> value is ignored, while prepended arguments are provided to the emulated function.</p>

    <!-- bind method  end-->


    <!-- Arrow functions  start-->
    </br>
    <div class='title'>Arrow functions</div>

    <p>An <strong>arrow function expression</strong> has a shorter syntax than a&nbsp;<a href="/en-US/docs/Web/JavaScript/Reference/Operators/function">function expression</a>&nbsp;and does not bind&nbsp;its own&nbsp;<code><a href="/en-US/docs/Web/JavaScript/Reference/Operators/this">this</a></code>,&nbsp;
        <a href="/en-US/docs/Web/JavaScript/Reference/Functions/arguments">arguments</a>,&nbsp;<a href="/en-US/docs/Web/JavaScript/Reference/Operators/super">super</a>, or&nbsp;<a href="/en-US/docs/Web/JavaScript/Reference/Operators/new.target">new.target</a>.
        Arrow functions are always <a href="/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/name">anonymous</a>. These function expressions are best suited for non-method functions, and they cannot be used as constructors.
    </p>

    <p>There is one subtle difference in behavior between ordinary <code>function</code> functions and arrow functions. <strong>Arrow functions do not have their own <code>this</code> value.</strong> The value of <code>this</code> inside an arrow function
        is always inherited from the enclosing scope.
    </p>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">(param1<span class="sh_symbol">, param2<span class="sh_symbol">, …<span class="sh_symbol">, paramN<span class="sh_symbol">) <span class="sh_symbol">=&gt; <span class="sh_cbracket">{ statements <span class="sh_cbracket">}</li><li><span class="sh_symbol">(param1<span class="sh_symbol">, param2<span class="sh_symbol">, …<span class="sh_symbol">, paramN<span class="sh_symbol">) <span class="sh_symbol">=&gt; expression</li><li><span class="sh_comment">// equivalent to: (param1, param2, …, paramN) =&gt; { return expression; }</li><li></li><li><span class="sh_comment">// Parentheses are optional when there's only one parameter:</li><li><span class="sh_symbol">(singleParam<span class="sh_symbol">) <span class="sh_symbol">=&gt; <span class="sh_cbracket">{ statements <span class="sh_cbracket">}</li><li>singleParam <span class="sh_symbol">=&gt; <span class="sh_cbracket">{ statements <span class="sh_cbracket">}</li><li></li><li><span class="sh_comment">// A function with no parameters requires parentheses:</li><li><span class="sh_symbol">() <span class="sh_symbol">=&gt; <span class="sh_cbracket">{ statements <span class="sh_cbracket">}</li><li><span class="sh_symbol">() <span class="sh_symbol">=&gt; expression <span class="sh_comment">// equivalent to: () =&gt; { return expression; }</li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">(param1, param2, …, paramN) =&gt; { statements } (param1, param2, …, paramN) =&gt; expression // equivalent to: (param1, param2, …, paramN) =&gt; { return expression; } // Parentheses are optional when there's only one parameter: (singleParam)
                =&gt; { statements } singleParam =&gt; { statements } // A function with no parameters requires parentheses: () =&gt; { statements } () =&gt; expression // equivalent to: () =&gt; { return expression; }</pre>
        </div>
    </div>

    <!-- Arrow functions  end-->

    <!-- As an object method start-->
    </br>
    <div class='title'>Object method</div>

    <p>When a function is called as a method of an object, its <code>this</code> is set to the object the method is called on.</p>
    <p>In the following example, when <code>o.f()</code> is invoked, inside the function <code>this</code> is bound to the <code>o</code> object.</p>

    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var o <span class="sh_symbol">= <span class="sh_cbracket">{</li><li>  prop<span class="sh_symbol">: <span class="sh_number">37<span class="sh_symbol">,</li><li>  f<span class="sh_symbol">: <span class="sh_keyword">function<span class="sh_symbol">() <span class="sh_cbracket">{</li><li>    <span class="sh_keyword">return <span class="sh_keyword">this<span class="sh_symbol">.prop<span class="sh_symbol">;</li><li>  <span class="sh_cbracket">}</li><li><span class="sh_cbracket">}<span class="sh_symbol">;</li><li></li><li>console<span class="sh_symbol">.<span class="sh_function">log<span class="sh_symbol">(o<span class="sh_symbol">.<span class="sh_function">f<span class="sh_symbol">()); <span class="sh_comment">// logs 37</li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var o = { prop: 37, f: function() { return this.prop; } }; console.log(o.f()); // logs 37</pre>
        </div>
    </div>

    <!-- As an object method end-->


    <!-- As a constructor start-->
    </br>
    <div class='title'>As a constructor:</div>
    <p>When a function is used as a constructor (with the <code><a href="/en-US/docs/Web/JavaScript/Reference/Operators/new">new</a></code> keyword), its <code>this</code> is bound to the new object being constructed.</p>
    <!-- As a constructor end-->


    <!-- As a DOM event handler start-->
    </br>
    <div class='title'>As a DOM event handler:</div>
    <p>When a function is used as an event handler, its <code>this</code> is set to the element the event fired from (some browsers do not follow this convention for listeners added dynamically with methods other than <code>addEventListener</code>).</p>
    <!-- As a DOM event handler end-->



</div>

</br>
