<header class="rad-page-title">
	<div class="row">

		<div class="col-lg-3 col-xs-6">
			<div class="rad-info-box rad-txt-success">
				<span class="heading">HTML</span>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="rad-info-box rad-txt-success">
				<span class="heading">CSS</span>
			</div>
		</div>
		<a href="javascript">
			<div class="col-lg-3 col-xs-6">
				<div class="rad-info-box rad-txt-success">
					<span class="heading">Javascript</span>
				</div>
			</div>
		</a>
		<a href="jquery">
			<div class="col-lg-3 col-xs-6">
				<div class="rad-info-box rad-txt-success">
					<span class="heading">jquery</span>
				</div>
			</div>
		</a>
	</div>

	<div class="row">
		<a href="nodejs">
			<div class="col-lg-3 col-xs-6">
				<div class="rad-info-box rad-txt-success">
					<span class="heading">NodeJS</span>
				</div>
			</div>
		</a>
		<a href="angularjs">
			<div class="col-lg-3 col-xs-6">
				<div class="rad-info-box rad-txt-success">
					<span class="heading">AngularJS</span>
				</div>
			</div>
		</a>
		<div class="col-lg-3 col-xs-6">
			<div class="rad-info-box rad-txt-success">
				<span class="heading">BackboneJS</span>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="rad-info-box rad-txt-success">
				<span class="heading">Regular Expressions</span>
			</div>
		</div>

	</div>

	<div class="row">
		<a href="nodejs">
			<div class="col-lg-3 col-xs-6">
				<div class="rad-info-box rad-txt-success">
					<span class="heading">GULP</span>
				</div>
			</div>
		</a>
		<a href="angularjs">
			<div class="col-lg-3 col-xs-6">
				<div class="rad-info-box rad-txt-success">
					<span class="heading">GRUNT</span>
				</div>
			</div>
		</a>
		<div class="col-lg-3 col-xs-6">
			<div class="rad-info-box rad-txt-success">
				<span class="heading">Ajax</span>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="rad-info-box rad-txt-success">
				<span class="heading">Aptitude</span>
			</div>
		</div>

	</div>

	<div class="row">
		<a href="nodejs">
			<div class="col-lg-3 col-xs-6">
				<div class="rad-info-box rad-txt-success">
					<span class="heading">Algorithms</span>
				</div>
			</div>
		</a>
		<a href="angularjs">
			<div class="col-lg-3 col-xs-6">
				<div class="rad-info-box rad-txt-success">
					<span class="heading">Software Development</span>
				</div>
			</div>
		</a>
		<div class="col-lg-3 col-xs-6">
			<div class="rad-info-box rad-txt-success">
				<span class="heading">Cryptography</span>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="rad-info-box rad-txt-success">
				<span class="heading">Version Maintenance</span>
			</div>
		</div>

	</div>

	<div class="row">
		<a href="interview">
			<div class="col-lg-3 col-xs-6">
				<div class="rad-info-box rad-txt-success">
					<span class="heading">Interview Questions</span>
				</div>
			</div>
		</a>
		<a href="DOM">
			<div class="col-lg-3 col-xs-6">
				<div class="rad-info-box rad-txt-success">
					<span class="heading">Subject</span>
				</div>
			</div>
		</a>
		<div class="col-lg-3 col-xs-6">
			<div class="rad-info-box rad-txt-success">
				<span class="heading">Subject</span>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="rad-info-box rad-txt-success">
				<span class="heading">Subject</span>
			</div>
		</div>
	</div>
