<!-- --------------------------------------------------- Introduction start --------------------------------------------------- -->
<div class="alert alert-danger title">Introduction</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Definition</h3>
    </div>
    <div class="panel-body">
        <p>
            At a high level, directives are markers on a DOM element (such as an attribute, element name, comment or CSS class) that tell AngularJS's HTML compiler ($compile) to attach a specified behavior to that DOM element (e.g. via event listeners), or even to
            transform the DOM element and its children.
        </p>
        <p>A directive is just a function which executes when the compiler encounters it in the DOM.</p>
    </div>
</div>

<ul class="list">
    <li>AngularJS directives are used to extend HTML. These are special attributes starting with ng- prefix.</li>
    <li>AngularJS has a set of built-in directives which offers functionality to your applications.</li>
    <li>AngularJS also lets you define your own directives.</li>
</ul>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Angular Aside</h3>
    </div>
    <div class="panel-body">
        What does it mean to "compile" an HTML template? For AngularJS, "compilation" means attaching directives to the HTML to make it interactive. The reason we use the term "compile" is that the recursive process of attaching directives mirrors the process
        of compiling source code in compiled programming languages.
    </div>
</div>

<!-- --------------------------------------------------- Introduction end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Normalization start --------------------------------------------------- -->
<div class="alert alert-danger title">Normalization: </div>
<div class='text'>
    <p>
        AngularJS <strong>normalizes</strong> an element's tag and attribute name to determine which elements match which directives. We typically refer to directives by their case-sensitive
        <a href="http://en.wikipedia.org/wiki/CamelCase">camelCase</a> <strong>normalized</strong> name (e.g. <code><span>ngModel</span></code>). However, since HTML is case-insensitive, we refer to directives in the DOM by lower-case forms, typically
        using
        <a href="https://en.wikipedia.org/wiki/Letter_case#Special_case_styles">dash-delimited</a> attributes on DOM elements (e.g. <code><span>ng</span><span>-</span><span>model</span></code>).
    </p>
    <p>The <strong>normalization</strong> process is as follows:</p>
    <ol class="list">
        <li>Strip <code><span>x</span><span>-</span></code> and <code><span>data</span><span>-</span></code> from the front of the element/attributes.</li>
        <li>Convert the <code><span>:</span></code>, <code><span>-</span></code>, or <code><span>_</span></code>-delimited name to <code><span>camelCase</span></code>.</li>
    </ol>
    <p>For example, the following forms are all equivalent and match the <a href="api/ng/directive/ngBind"><code><span>ngBind</span></code></a> directive:</p>

    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>controller<span class="sh_symbol">=</span><span class="sh_string">"Controller"</span><span class="sh_symbol">&gt;</span></li><li>  Hello <span class="sh_symbol">&lt;</span>input ng<span class="sh_symbol">-</span>model<span class="sh_symbol">=</span><span class="sh_string">'name'</span><span class="sh_symbol">&gt;</span> <span class="sh_symbol">&lt;</span><span class="sh_normal">hr</span><span class="sh_symbol">/&gt;</span></li><li>  <span class="sh_symbol">&lt;</span>span ng<span class="sh_symbol">-</span>bind<span class="sh_symbol">=</span><span class="sh_string">"name"</span><span class="sh_symbol">&gt;&lt;</span><span class="sh_regexp">/span&gt; &lt;br/</span><span class="sh_symbol">&gt;</span></li><li>  <span class="sh_symbol">&lt;</span>span ng<span class="sh_symbol">:</span>bind<span class="sh_symbol">=</span><span class="sh_string">"name"</span><span class="sh_symbol">&gt;&lt;</span><span class="sh_regexp">/span&gt; &lt;br/</span><span class="sh_symbol">&gt;</span></li><li>  <span class="sh_symbol">&lt;</span>span ng_bind<span class="sh_symbol">=</span><span class="sh_string">"name"</span><span class="sh_symbol">&gt;&lt;</span><span class="sh_regexp">/span&gt; &lt;br/</span><span class="sh_symbol">&gt;</span></li><li>  <span class="sh_symbol">&lt;</span>span data<span class="sh_symbol">-</span>ng<span class="sh_symbol">-</span>bind<span class="sh_symbol">=</span><span class="sh_string">"name"</span><span class="sh_symbol">&gt;&lt;</span><span class="sh_regexp">/span&gt; &lt;br/</span><span class="sh_symbol">&gt;</span></li><li>  <span class="sh_symbol">&lt;</span>span x<span class="sh_symbol">-</span>ng<span class="sh_symbol">-</span>bind<span class="sh_symbol">=</span><span class="sh_string">"name"</span><span class="sh_symbol">&gt;&lt;</span><span class="sh_regexp">/span&gt; &lt;br/</span><span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;div ng-controller="Controller"&gt; Hello &lt;input ng-model='name'&gt; &lt;hr/&gt; &lt;span ng-bind="name"&gt;&lt;/span&gt; &lt;br/&gt; &lt;span ng:bind="name"&gt;&lt;/span&gt; &lt;br/&gt; &lt;span ng_bind="name"&gt;&lt;/span&gt; &lt;br/&gt;
                &lt;span data-ng-bind="name"&gt;&lt;/span&gt; &lt;br/&gt; &lt;span x-ng-bind="name"&gt;&lt;/span&gt; &lt;br/&gt; &lt;/div&gt;
                </pre>
        </div>
    </div>


    <div class="alert alert-success ng-scope">
        <strong>Best Practice:</strong> Prefer using the dash-delimited format (e.g. <code><span>ng</span><span>-</span><span>bind</span></code> for <code><span>ngBind</span></code>). If you want to use an HTML validating tool, you can instead use the
        <code><span>data</span></code>-prefixed version (e.g.
        <code><span>data</span><span>-</span><span>ng</span><span>-</span><span>bind</span></code> for <code><span>ngBind</span></code>). The other forms shown above are accepted for legacy reasons but we advise you to avoid them.
    </div>
</div>

<!-- --------------------------------------------------- Normalization end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Directive types basics start --------------------------------------------------- -->
<div class="alert alert-danger title">Directive types: </div>
<div class='text'>
    <p><code><span>$compile</span></code> can match directives based on element names, attributes, class names, as well as comments.</p>

    <p>
        All of the AngularJS-provided directives match attribute name, tag name, comments, or class name. The following demonstrates the various ways a directive (<code><span>myDir</span></code> in this case) can be referenced from within a template:
    </p>

    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>my<span class="sh_symbol">-</span>dir<span class="sh_symbol">&gt;&lt;/</span>my<span class="sh_symbol">-</span>dir<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>span my<span class="sh_symbol">-</span>dir<span class="sh_symbol">=</span><span class="sh_string">"exp"</span><span class="sh_symbol">&gt;&lt;/</span>span<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;!--</span> directive<span class="sh_symbol">:</span> my<span class="sh_symbol">-</span>dir exp <span class="sh_symbol">--&gt;</span></li><li><span class="sh_symbol">&lt;</span>span <span class="sh_keyword">class</span><span class="sh_symbol">=</span><span class="sh_string">"my-dir: exp;"</span><span class="sh_symbol">&gt;&lt;/</span>span<span class="sh_symbol">&gt;</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;my-dir&gt;&lt;/my-dir&gt; &lt;span my-dir="exp"&gt;&lt;/span&gt; &lt;!-- directive: my-dir exp --&gt; &lt;span class="my-dir: exp;"&gt;&lt;/span&gt;</pre>
        </div>
    </div>

    <div class="alert alert-success ng-scope">
        <strong>Best Practice:</strong> Prefer using directives via tag name and attributes over comment and class names. Doing so generally makes it easier to determine what directives a given element matches.
    </div>

    <div class="alert alert-success ng-scope">
        <strong>Best Practice:</strong> Comment directives were commonly used in places where the DOM API limits the ability to create directives that spanned multiple elements (e.g. inside <code><span class="tag">&lt;table&gt;</span></code> elements).
        AngularJS 1.2 introduces <a href="api/ng/directive/ngRepeat"><code><span>ng</span><span>-</span><span>repeat</span><span>-</span><span>start</span></code> and <code><span>ng</span><span>-</span><span>repeat</span><span>-</span><span>end</span></code></a>        as a better solution to this problem. Developers are encouraged to use this over custom comment directives when possible.
    </div>

</div>
<!-- --------------------------------------------------- Directive types basics end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Creating Directives start --------------------------------------------------- -->
<div class="alert alert-danger title">Creating Directives: </div>

<div class="text-heading"> Register directives: </div>
<div class='text'>
    <p>
        First let's talk about the <a href="api/ng/provider/$compileProvider#directive">API for registering directives</a>. Much like controllers, directives are registered on modules. To register a directive, you use the
        <code><span>module</span><span>.</span><span>directive</span></code> API. <code><span>module</span><span>.</span><span>directive</span></code> takes the
        <a href="guide/directive#matching-directives">normalized</a> directive name followed by a <strong>factory function.</strong> This factory function should return an object with the different options to tell <code><span>$compile</span></code> how
        the directive should behave when matched.
    </p>

    <p>
        The factory function is invoked only once when the
        <a href="api/ng/service/$compile">compiler</a> matches the directive for the first time. You can perform any initialization work here. The function is invoked using
        <a href="api/auto/service/$injector#invoke">$injector.invoke</a> which makes it injectable just like a controller.
    </p>

    <p>We'll go over a few common examples of directives, then dive deep into the different options and compilation process.</p>

    <div class="alert alert-success ng-scope">
        <strong>Best Practice:</strong> In order to avoid collisions with some future standard, it's best to prefix your own directive names. For instance, if you created a <code><span class="tag">&lt;carousel&gt;</span></code> directive, it would be
        problematic if HTML7 introduced the same element. A two or three letter prefix (e.g. <code><span>btfCarousel</span></code>) works well. Similarly, do not prefix your own directives with <code><span>ng</span></code> or they might conflict with
        directives included in a future version of AngularJS.
    </div>

</div>

<div class="text-heading">Directive Definition Object: </div>
<div class='text'>
    <p>The directive definition object provides instructions to the compiler. The attributes are:</p>

    <div class='title'>multiElement</div>
    <p>When this property is set to true (default is <code><span>false</span></code>), the HTML compiler will collect DOM nodes between nodes with the attributes <code><span>directive</span><span>-</span><span>name</span><span>-</span><span>start</span></code>        and <code><span>directive</span><span>-</span><span>name</span><span>-</span><span>end</span></code>, and group them together as the directive elements. It is recommended that this feature be used on directives which are not strictly behavioral
        (such as <a href="api/ng/directive/ngClick"><code><span>ngClick</span></code></a>), and which do not manipulate or replace child nodes (such as <a href="api/ng/directive/ngInclude"><code><span>ngInclude</span></code></a>).</p>

    <div class='title'>priority</div>
    <p>When there are multiple directives defined on a single DOM element, sometimes it is necessary to specify the order in which the directives are applied. The <code><span>priority</span></code> is used to sort the directives before their
        <code><span>compile</span></code> functions get called. Priority is defined as a number. Directives with greater numerical <code><span>priority</span></code> are compiled first. Pre-link functions are also run in priority order, but post-link
        functions are run in reverse order. The order of directives with the same priority is undefined. The default priority is <code><span class="lit">0</span></code>.</p>

    <div class='title'>terminal</div>
    <p>If set to true then the current <code><span>priority</span></code> will be the last set of directives which will execute (any directives at the current priority will still execute as the order of execution on same <code><span>priority</span></code>        is undefined). Note that expressions and other directives used in the directive's template will also be excluded from execution.</p>


    <div class='title'>scope: </div>
    <div class='text'>
        <p>Notice that, if you use parent scope model instead of directive scope's model;parent scope model property will be empty, meaning it will be undefined. Although we defined it in the controller, it's not available within the directive.</p>

        <p>As the name suggests, the <strong>isolate scope</strong> of the directive isolates everything except models that you've explicitly added to the <code><span>scope</span><span>:</span><span> </span><span>{}</span></code> hash object. This is helpful
            when building reusable components because it prevents a component from changing your model state except for the models that you explicitly pass in.</p>
        <div class="alert alert-warning ng-scope">
            <strong>Note:</strong> Normally, a scope prototypically inherits from its parent. An isolated scope does not. See the <a href="api/ng/service/$compile#directive-definition-object">"Directive Definition Object - scope"</a> section for more
            information about isolate scopes.
        </div>
        <div class="alert alert-success ng-scope">
            <strong>Best Practice:</strong> Use the <code><span>scope</span></code> option to create isolate scopes when making components that you want to reuse throughout your app.
        </div>
        <div class="alert alert-warning ng-scope">
            <strong>Note:</strong> These <code><span>=</span><span>attr</span></code> attributes in the <code><span>scope</span></code> option of directives are normalized just like directive names. To bind to the attribute in <code><span class="tag">&lt;div</span><span> </span><span class="atn">bind-to-this</span><span>=</span><span class="atv">"thing"</span><span class="tag">&gt;</span></code>,
            you'd specify a binding of <code><span>=</span><span>bindToThis</span></code>.
        </div>

        <p>The scope property can be <code><span>false</span></code>, <code><span>true</span></code>, or an object:</p>
        <ul class='list'>
            <li>
                <p><strong><code><span>false</span></code> (default):</strong> No scope will be created for the directive. The directive will use its parent's scope.</p>
            </li>
            <li>
                <p>
                    <strong><code><span>true</span></code>:</strong> A new child scope that prototypically inherits from its parent ( usually controller scope, otherwise the application’s rootScope ) will be created for the directive's element. If multiple
                    directives on the same element request a new scope, only one new scope is created. </br>
                    Any changes made to this new scope will not reflect back to the parent scope. However, since the new scope is inherited from the parent scope, any changes made in the parent scope will be reflected in the directive scope.
                </p>
            </li>
            <li>
                <p><strong><code><span>{...}</span></code> (an object hash):</strong> A new "isolate" scope is created for the directive's element. The 'isolate' scope differs from normal scope in that it does not prototypically inherit from its parent scope.
                    This is useful when creating reusable components, which should not accidentally read or modify data in the parent scope.</p>
            </li>
        </ul>
        <p>
            The 'isolate' scope object hash defines a set of local scope properties derived from attributes on the directive's element. These local properties are useful for aliasing values for templates. The keys in the object hash map to the name of the property
            on the isolate scope; the values define how the property is bound to the parent scope, via matching attributes on the directive's element:
        </p>
        <iframe style="width: 100%; height: 600px" src="https://embed.plnkr.co/ft0wW26xvMALCeDPuQrK/" frameborder="0" allowfullscren="allowfullscren"></iframe>

        <ul class='list'>
            <li>
                <p><code><span>@</span></code> or <code><span class="lit">@attr</span></code> - bind a local scope property to the value of DOM attribute. The result is always a string since DOM attributes are strings. If no <code><span>attr</span></code>                    name is specified then the attribute name is assumed to be the same as the local name. Given <code><span class="tag">&lt;my-component</span><span>
</span><span class="atn">my-attr</span><span>=</span><span class="atv">"hello {{name}}"</span><span class="tag">&gt;</span></code> and the isolate scope definition <code><span>scope</span><span>:</span><span> </span><span>{</span><span> localName</span><span>:</span><span class="str">'@myAttr'</span><span> </span><span>}</span></code>,
                    the directive's scope property <code><span>localName</span></code> will reflect the interpolated value of <code><span>hello
</span><span>{{</span><span>name</span><span>}}</span></code>. As the <code><span>name</span></code> attribute changes so will the <code><span>localName</span></code> property on the directive's scope. The <code><span>name</span></code> is read from the
                    parent scope (not the directive's scope).</p>
            </li>
            <li>
                <p><code><span>=</span></code> or <code><span>=</span><span>attr</span></code> - set up a bidirectional binding between a local scope property and an expression passed via the attribute <code><span>attr</span></code>. The expression is evaluated
                    in the context of the parent scope. If no <code><span>attr</span></code> name is specified then the attribute name is assumed to be the same as the local name. Given <code><span class="tag">&lt;my-component</span><span> </span><span class="atn">my-attr</span><span>=</span><span class="atv">"parentModel"</span><span class="tag">&gt;</span></code>                    and the isolate scope definition <code><span>scope</span><span>:</span><span> </span><span>{</span><span>
localModel</span><span>:</span><span> </span><span class="str">'=myAttr'</span><span> </span><span>}</span></code>, the property <code><span>localModel</span></code> on the directive's scope will reflect the value of <code><span>parentModel</span></code>                    on the parent scope. Changes to <code><span>parentModel</span></code> will be reflected in
                    <code><span>localModel</span></code> and vice versa. Optional attributes should be marked as such with a question mark:
                    <code><span>=?</span></code> or <code><span>=?</span><span>attr</span></code>. If the binding expression is non-assignable, or if the attribute isn't optional and doesn't exist, an exception (
                    <a href="error/$compile/nonassign"><code><span>$compile</span><span>:</span><span>nonassign</span></code></a>) will be thrown upon discovering changes to the local value, since it will be impossible to sync them back to the parent
                    scope. By default, the <a href="api/ng/type/$rootScope.Scope#$watch"><code><span>$watch</span></code></a> method is used for tracking changes, and the equality check is based on object identity. However, if an object literal or an
                    array literal is passed as the binding expression, the equality check is done by value (using the <a href="api/ng/function/angular.equals"><code><span>angular</span><span>.</span><span>equals</span></code></a> function). It's also
                    possible to watch the evaluated value shallowly with <a href="api/ng/type/$rootScope.Scope#$watchCollection"><code><span>$watchCollection</span></code></a>: use <code><span>=*</span></code> or <code><span>=*</span><span>attr</span></code>                    (<code><span>=*?</span></code> or <code><span>=*?</span><span>attr</span></code> if the attribute is optional).</p>
            </li>
            <li>
                <p><code><span>&lt;</span></code> or <code><span>&lt;attr</span></code> - set up a one-way (one-directional) binding between a local scope property and an expression passed via the attribute <code><span>attr</span></code>. The expression
                    is evaluated in the context of the parent scope. If no <code><span>attr</span></code> name is specified then the attribute name is assumed to be the same as the local name. You can also make the binding optional by adding <code><span>?</span></code>:
                    <code><span>&lt;?</span></code> or <code><span>&lt;?</span><span>attr</span></code>.</p>
                <p>For example, given <code><span class="tag">&lt;my-component</span><span> </span><span class="atn">my-attr</span><span>=</span><span class="atv">"parentModel"</span><span class="tag">&gt;</span></code> and directive definition of
                    <code><span>scope</span><span>:</span><span> </span><span>{</span><span> localModel</span><span>:</span><span class="str">'&lt;myAttr'</span><span> </span><span>}</span></code>, then the isolated scope property <code><span>localModel</span></code>                    will reflect the value of <code><span>parentModel</span></code> on the parent scope. Any changes to <code><span>parentModel</span></code> will be reflected in <code><span>localModel</span></code>, but changes in <code><span>localModel</span></code>                    will not reflect in <code><span>parentModel</span></code>. There are however two caveats:</p>
                <ol>
                    <li>one-way binding does not copy the value from the parent to the isolate scope, it simply sets the same value. That means if your bound value is an object, changes to its properties in the isolated scope will be reflected in the parent
                        scope (because both reference the same object).</li>
                    <li>one-way binding watches changes to the <strong>identity</strong> of the parent value. That means the
                        <a href="api/ng/type/$rootScope.Scope#$watch"><code><span>$watch</span></code></a> on the parent value only fires if the reference to the value has changed. In most cases, this should not be of concern, but can be important to
                        know if you one-way bind to an object, and then replace that object in the isolated scope. If you now change a property of the object in your parent scope, the change will not be propagated to the isolated scope, because the identity
                        of the object on the parent scope has not changed. Instead you must assign a new object.</li>
                </ol>
                <p>One-way binding is useful if you do not plan to propagate changes to your isolated scope bindings back to the parent. However, it does not make this completely impossible.</p>
            </li>

            <li>
                <p><code><span>&amp;</span></code> or <code><span>&amp;</span><span>attr</span></code> - provides a way to execute an expression in the context of the parent scope. If no <code><span>attr</span></code> name is specified then the attribute
                    name is assumed to be the same as the local name. Given <code><span class="tag">&lt;my-component</span><span> </span><span class="atn">my-attr</span><span>=</span><span class="atv">"count = count + value"</span><span class="tag">&gt;</span></code>                    and the isolate scope definition <code><span>scope</span><span>:</span><span> </span><span>{</span><span>
localFn</span><span>:</span><span class="str">'&amp;myAttr'</span><span> </span><span>}</span></code>, the isolate scope property <code><span>localFn</span></code> will point to a function wrapper for the
                    <code><span>count </span><span>=</span><span> count </span><span>+</span><span> value</span></code> expression. Often it's desirable to pass data from the isolated scope via an expression to the parent scope. This can be done by passing
                    a map of local variable names and values into the expression wrapper fn. For example, if the expression is <code><span>increment</span><span>(</span><span>amount</span><span>)</span></code> then we can specify the amount value by calling
                    the <code><span>localFn</span></code> as <code><span>localFn</span><span>({</span><span>amount</span><span>:</span><span> </span><span class="lit">22</span><span>})</span></code>.</p>
            </li>
        </ul>
        <p>
            In general it's possible to apply more than one directive to one element, but there might be limitations depending on the type of scope required by the directives. The following points will help explain these limitations. For simplicity only two directives
            are taken into account, but it is also applicable for several directives:
        </p>
        <ul class='list'>
            <li><strong>no scope</strong> + <strong>no scope</strong> =&gt; Two directives which don't require their own scope will use their parent's scope</li>
            <li><strong>child scope</strong> + <strong>no scope</strong> =&gt; Both directives will share one single child scope</li>
            <li><strong>child scope</strong> + <strong>child scope</strong> =&gt; Both directives will share one single child scope</li>
            <li><strong>isolated scope</strong> + <strong>no scope</strong> =&gt; The isolated directive will use it's own created isolated scope. The other directive will use its parent's scope</li>
            <li><strong>isolated scope</strong> + <strong>child scope</strong> =&gt; <strong>Won't work!</strong> Only one scope can be related to one element. Therefore these directives cannot be applied to the same element.</li>
            <li><strong>isolated scope</strong> + <strong>isolated scope</strong> =&gt; <strong>Won't work!</strong> Only one scope can be related to one element. Therefore these directives cannot be applied to the same element.</li>
        </ul>
    </div>


    <div class='title'>bindToController</div>
    <div>
        <p>This property is used to bind scope properties directly to the controller. It can be either
            <code><span>true</span></code> or an object hash with the same format as the <code><span>scope</span></code> property.</p>
        <p>When an isolate scope is used for a directive (see above), <code><span>bindToController</span><span>:</span><span> </span><span>true</span></code> will allow a component to have its properties bound to the controller, rather than to scope.</p>
        <p>After the controller is instantiated, the initial values of the isolate scope bindings will be bound to the controller properties. You can access these bindings once they have been initialized by providing a controller method called
            <code><span>$onInit</span></code>, which is called after all the controllers on an element have been constructed and had their bindings initialized.
        </p>
        <div class="alert alert-warning">
            <strong>Deprecation warning:</strong> although bindings for non-ES6 class controllers are currently bound to <code><span>this</span></code> before the controller constructor is called, this use is now deprecated. Please place initialization
            code that relies upon bindings inside a <code><span>$onInit</span></code> method on the controller, instead.
        </div>
        <p>It is also possible to set <code><span>bindToController</span></code> to an object hash with the same format as the <code><span>scope</span></code> property. This will set up the scope bindings to the controller directly. Note that <code><span>scope</span></code>            can still be used to define which kind of scope is created. By default, no scope is created. Use <code><span>scope</span><span>:</span><span> </span><span>{}</span></code> to create an isolate scope (useful for component directives).</p>
        <p>If both <code><span>bindToController</span></code> and <code><span>scope</span></code> are defined and have object hashes, <code><span>bindToController</span></code> overrides <code><span>scope</span></code>.</p>
    </div>

    <div class='title'>controller</div>
    <div>
        <p>Controller constructor function. The controller is instantiated before the pre-linking phase and can be accessed by other directives (see
            <code><span>require</span></code> attribute). This allows the directives to communicate with each other and augment each other's behavior. The controller is injectable (and supports bracket notation) with the following locals:</p>
        <ul class='list'>
            <li><code><span>$scope</span></code> - Current scope associated with the element</li>
            <li><code><span>$element</span></code> - Current element</li>
            <li><code><span>$attrs</span></code> - Current attributes object for the element</li>
            <li><code><span>$transclude</span></code> - A transclude linking function pre-bound to the correct transclusion scope:
                <code><span>function</span><span>([</span><span>scope</span><span>],</span><span> cloneLinkingFn</span><span>,</span><span> futureParentElement</span><span>,</span><span> slotName</span><span>)</span></code>:
                <ul>
                    <li><code><span>scope</span></code>: (optional) override the scope.</li>
                    <li><code><span>cloneLinkingFn</span></code>: (optional) argument to create clones of the original transcluded content.</li>
                    <li><code><span>futureParentElement</span></code> (optional):
                        <ul>
                            <li>defines the parent to which the <code><span>cloneLinkingFn</span></code> will add the cloned elements.</li>
                            <li>default: <code><span>$element</span><span>.</span><span>parent</span><span>()</span></code> resp. <code><span>$element</span></code> for <code><span>transclude</span><span>:</span><span class="str">'element'</span></code> resp.
                                <code><span>transclude</span><span>:</span><span>true</span></code>.</li>
                            <li>only needed for transcludes that are allowed to contain non html elements (e.g. SVG elements) and when the <code><span>cloneLinkingFn</span></code> is passed, as those elements need to created and cloned in a special way when
                                they are defined outside their usual containers (e.g. like <code><span class="tag">&lt;svg&gt;</span></code>).</li>
                            <li>See also the <code><span>directive</span><span>.</span><span>templateNamespace</span></code> property.</li>
                        </ul>
                    </li>
                    <li><code><span>slotName</span></code>: (optional) the name of the slot to transclude. If falsy (e.g. <code><span>null</span></code>, <code><span>undefined</span></code> or <code><span class="str">''</span></code>) then the default transclusion
                        is provided. The <code><span>$transclude</span></code> function also has a method on it, <code><span>$transclude</span><span>.</span><span>isSlotFilled</span><span>(</span><span>slotName</span><span>)</span></code>, which returns
                        <code><span>true</span></code> if the specified slot contains content (i.e. one or more DOM nodes).</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class='title'>require</div>
    <div>
        <p>Require another directive and inject its controller as the fourth argument to the linking function. The
            <code><span>require</span></code> property can be a string, an array or an object:</p>
        <ul class='list'>
            <li>a <strong>string</strong> containing the name of the directive to pass to the linking function</li>
            <li>an <strong>array</strong> containing the names of directives to pass to the linking function. The argument passed to the linking function will be an array of controllers in the same order as the names in the <code><span>require</span></code>                property</li>
            <li>an <strong>object</strong> whose property values are the names of the directives to pass to the linking function. The argument passed to the linking function will also be an object with matching keys, whose values will hold the corresponding
                controllers.
            </li>
        </ul>
        <p>If the <code><span>require</span></code> property is an object and <code><span>bindToController</span></code> is truthy, then the required controllers are bound to the controller using the keys of the <code><span>require</span></code> property.
            This binding occurs after all the controllers have been constructed but before <code><span>$onInit</span></code> is called. If the name of the required controller is the same as the local name (the key), the name can be omitted. For example,
            <code><span>{</span><span>parentDir</span><span>:</span><span> </span><span class="str">'^^'</span><span>}</span></code> is equivalent to <code><span>{</span><span>parentDir</span><span>:</span><span> </span><span class="str">'^^parentDir'</span><span>}</span></code>.
            See the <a href="api/ng/provider/$compileProvider#component"><code><span>$compileProvider</span></code></a> helper for an example of how this can be used. If no such required directive(s) can be found, or if the directive does not have a controller,
            then an error is raised (unless no link function is specified and the required controllers are not being bound to the directive controller, in which case error checking is skipped). The name can be prefixed with:</p>
        <ul class='list'>
            <li>(no prefix) - Locate the required controller on the current element. Throw an error if not found.</li>
            <li><code><span>?</span></code> - Attempt to locate the required controller or pass <code><span>null</span></code> to the <code><span>link</span></code> fn if not found.</li>
            <li><code><span>^</span></code> - Locate the required controller by searching the element and its parents. Throw an error if not found.</li>
            <li><code><span>^^</span></code> - Locate the required controller by searching the element's parents. Throw an error if not found.</li>
            <li><code><span>?^</span></code> - Attempt to locate the required controller by searching the element and its parents or pass
                <code><span>null</span></code> to the <code><span>link</span></code> fn if not found.</li>
            <li><code><span>?^^</span></code> - Attempt to locate the required controller by searching the element's parents, or pass
                <code><span>null</span></code> to the <code><span>link</span></code> fn if not found.</li>
        </ul>
    </div>

    <div class='title'>controllerAs</div>
    <p>Identifier name for a reference to the controller in the directive's scope. This allows the controller to be referenced from the directive template. This is especially useful when a directive is used as component, i.e. with an <code><span>isolate</span></code>        scope. It's also possible to use it in a directive without an <code><span>isolate</span></code> / <code><span>new</span></code> scope, but you need to be aware that the
        <code><span>controllerAs</span></code> reference might overwrite a property that already exists on the parent scope.</p>


    <div class='title'>restrict</div>
    <div>
        <p>String of subset of <code><span>EACM</span></code> which restricts the directive to a specific directive declaration style. If omitted, the defaults (elements and attributes) are used.</p>
        <ul class='list'>
            <li><code><span>E</span></code> - Element name (default): <code><span class="tag">&lt;my-directive&gt;&lt;/my-directive&gt;</span></code></li>
            <li><code><span>A</span></code> - Attribute (default): <code><span class="tag">&lt;div</span><span> </span><span class="atn">my-directive</span><span>=</span><span class="atv">"exp"</span><span class="tag">&gt;&lt;/div&gt;</span></code></li>
            <li><code><span>C</span></code> - Class: <code><span class="tag">&lt;div</span><span> </span><span class="atn">class</span><span>=</span><span class="atv">"my-directive: exp;"</span><span class="tag">&gt;&lt;/div&gt;</span></code></li>
            <li><code><span>M</span></code> - Comment: <code><span class="com">&lt;!-- directive: my-directive exp --&gt;</span></code></li>
        </ul>
        <div class="alert alert-warning ng-scope">
            <strong>Note:</strong> When you create a directive, it is restricted to attribute and elements only by default. In order to create directives that are triggered by class name, you need to use the <code><span>restrict</span></code> option.
        </div>
        <div class="alert alert-info ng-scope">
            <strong>When should I use an attribute versus an element?</strong> Use an element when you are creating a component that is in control of the template. The common case for this is when you are creating a Domain-Specific Language for parts
            of your template. Use an attribute when you are decorating an existing element with new functionality.
        </div>
    </div>

    <div class='title'>templateNamespace</div>
    <div>
        <p>String representing the document type used by the markup in the template. AngularJS needs this information as those elements need to be created and cloned in a special way when they are defined outside their usual containers like <code><span class="tag">&lt;svg&gt;</span></code>            and <code><span class="tag">&lt;math&gt;</span></code>.</p>
        <ul class='list'>
            <li><code><span>html</span></code> - All root nodes in the template are HTML. Root nodes may also be top-level elements such as <code><span class="tag">&lt;svg&gt;</span></code> or <code><span class="tag">&lt;math&gt;</span></code>.</li>
            <li><code><span>svg</span></code> - The root nodes in the template are SVG elements (excluding <code><span class="tag">&lt;math&gt;</span></code>).</li>
            <li><code><span>math</span></code> - The root nodes in the template are MathML elements (excluding <code><span class="tag">&lt;svg&gt;</span></code>).</li>
        </ul>
        <p>If no <code><span>templateNamespace</span></code> is specified, then the namespace is considered to be <code><span>html</span></code>.</p>
    </div>

    <div class='title'>template</div>
    <div>
        <p>HTML markup that may:</p>
        <ul class='list'>
            <li>Replace the contents of the directive's element (default).</li>
            <li>Replace the directive's element itself (if <code><span>replace</span></code> is true - DEPRECATED).</li>
            <li>Wrap the contents of the directive's element (if <code><span>transclude</span></code> is true).</li>
        </ul>
        <p>Value may be:</p>
        <ul class='list'>
            <li>A string. For example <code><span class="tag">&lt;div</span><span> </span><span class="atn">red-on-hover</span><span class="tag">&gt;</span><span>{{delete_str}}</span><span class="tag">&lt;/div&gt;</span></code>.</li>
            <li>A function which takes two arguments <code><span>tElement</span></code> and <code><span>tAttrs</span></code> (described in the <code><span>compile</span></code> function api below) and returns a string value.
            </li>
        </ul>
    </div>

    <div class='title'>templateUrl</div>
    <div>
        <p>This is similar to <code><span>template</span></code> but the template is loaded from the specified URL, asynchronously.</p>
        <p>Because template loading is asynchronous the compiler will suspend compilation of directives on that element for later when the template has been resolved. In the meantime it will continue to compile and link sibling and parent elements as though
            this element had not contained any directives.</p>
        <p>The compiler does not suspend the entire compilation to wait for templates to be loaded because this would result in the whole app "stalling" until all templates are loaded asynchronously - even in the case when only one deeply nested directive
            has
            <code><span>templateUrl</span></code>.</p>
        <p>Template loading is asynchronous even if the template has been preloaded into the <a href="api/ng/service/$templateCache"><code><span>$templateCache</span></code></a></p>
        <p>You can specify <code><span>templateUrl</span></code> as a string representing the URL or as a function which takes two arguments <code><span>tElement</span></code> and <code><span>tAttrs</span></code> (described in the <code><span>compile</span></code>            function api below) and returns a string value representing the url. In either case, the template URL is passed through <a href="api/ng/service/$sce#getTrustedResourceUrl">$sce.getTrustedResourceUrl</a>.</p>
        <div class='text'>
            <p>
                Let's say you have a chunk of your template that represents a customer's information. This template is repeated many times in your code. When you change it in one place, you have to change it in several others. This is a good opportunity to use a directive
                to simplify your template.
            </p>

            <p>Let's create a directive that simply replaces its contents with a static template:</p>

            <div class="snippet-container">
                <div class="sh_default snippet-wrap">
                    <pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular</li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope<span class="sh_symbol">.</span>customer <span class="sh_symbol">=</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name<span class="sh_symbol">:</span> <span class="sh_string">'Sandip'</span><span class="sh_symbol">,</span> </li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jobTitle<span class="sh_symbol">:</span> <span class="sh_string">'Software Engineer'</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">])</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">.</span><span class="sh_function">directive</span><span class="sh_symbol">(</span><span class="sh_string">'namePlate'</span><span class="sh_symbol">,</span> <span class="sh_symbol">()</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">return</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;template<span class="sh_symbol">:</span> <span class="sh_string">'Name: {{customer.name}} &lt;/br&gt; Job title: {{customer.jobTitle}}'</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
                    <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular .module('app', []) .controller('controller', ['$scope', ($scope) =&gt; { $scope.customer = { name: 'Sandip', jobTitle: 'Software Engineer' }; }]) .directive('namePlate', () =&gt; { return { template: 'Name: {{customer.name} }
                &lt;/br&gt; Job title: { {customer.jobTitle}}' }; });
                </pre>
                </div>
            </div>

            <div class="alert alert-success ng-scope">
                <strong>Best Practice:</strong> Unless your template is very small, it's typically better to break it apart into its own HTML file and load it with the <code><span>templateUrl</span></code> option.
            </div>

            <p>If you are familiar with <code><span>ngInclude</span></code>, <code><span>templateUrl</span></code> works just like it. Here's the same example using <code><span>templateUrl</span></code> instead.</p>

            <p>
                <code><span>templateUrl</span></code> can also be a function which returns the URL of an HTML template to be loaded and used for the directive. AngularJS will call the <code><span>templateUrl</span></code> function with two parameters:
                the element that the directive was called on, and an <code><span>attr</span></code> object associated with that element.
            </p>

            <div class="alert alert-warning ng-scope">
                <strong>Note:</strong> You do not currently have the ability to access scope variables from the <code><span>templateUrl</span></code> function, since the template is requested before the scope is initialized.
            </div>

            <div class="snippet-container">
                <div class="sh_default snippet-wrap">
                    <pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>html ng<span class="sh_symbol">-</span>app<span class="sh_symbol">=</span><span class="sh_string">'app'</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>body<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>controller<span class="sh_symbol">=</span><span class="sh_string">"controller"</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div my<span class="sh_symbol">-</span>customer type<span class="sh_symbol">=</span><span class="sh_string">"name"</span><span class="sh_symbol">&gt;&lt;/</span>div<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div my<span class="sh_symbol">-</span>customer type<span class="sh_symbol">=</span><span class="sh_string">"address"</span><span class="sh_symbol">&gt;&lt;/</span>div<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>script src<span class="sh_symbol">=</span><span class="sh_string">"angular.min.js"</span><span class="sh_symbol">&gt;&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>script src<span class="sh_symbol">=</span><span class="sh_string">"app.js"</span><span class="sh_symbol">&gt;&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>body<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;/</span>html<span class="sh_symbol">&gt;</span></li></ol></pre>
                    <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;html ng-app='app'&gt; &lt;body&gt; &lt;div ng-controller="controller"&gt; &lt;div my-customer type="name"&gt;&lt;/div&gt; &lt;div my-customer type="address"&gt;&lt;/div&gt; &lt;/div&gt; &lt;script src="angular.min.js"&gt;&lt;/script&gt;
                &lt;script src="app.js"&gt;&lt;/script&gt; &lt;/body&gt; &lt;/html&gt;
                
                </pre>
                </div>
            </div>

            <div class="snippet-container">
                <div class="sh_default snippet-wrap">
                    <pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular</li><li><span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li><span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;$scope<span class="sh_symbol">.</span>customer <span class="sh_symbol">=</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name<span class="sh_symbol">:</span> <span class="sh_string">'Sandip'</span><span class="sh_symbol">,</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;address<span class="sh_symbol">:</span> <span class="sh_string">'Vijaynagar, Pune.'</span>&nbsp;&nbsp;&nbsp;&nbsp;</li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">])</span></li><li><span class="sh_symbol">.</span><span class="sh_function">directive</span><span class="sh_symbol">(</span><span class="sh_string">'myCustomer'</span><span class="sh_symbol">,</span> <span class="sh_symbol">()</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">return</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;templateUrl<span class="sh_symbol">:</span> <span class="sh_keyword">function</span> <span class="sh_symbol">(</span>elem<span class="sh_symbol">,</span> attr<span class="sh_symbol">)</span>  <span class="sh_cbracket">{</span><span class="sh_keyword">return</span> <span class="sh_string">'customer-'</span> <span class="sh_symbol">+</span> attr<span class="sh_symbol">.</span>type <span class="sh_symbol">+</span> <span class="sh_string">'.html'</span><span class="sh_cbracket">}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
                    <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular .module('app', []) .controller('controller', ['$scope', ($scope) =&gt; { $scope.customer = { name: 'Sandip', address: 'Vijaynagar, Pune.' }; }]) .directive('myCustomer', () =&gt; { return { templateUrl: function (elem, attr)
                {return 'customer-' + attr.type + '.html'} }; });
                </pre>
                </div>
            </div>

        </div>
    </div>

    <div class='title'>replace</div>
    <div>
        <div class='alert alert-danger'>([<em>DEPRECATED</em>!], will be removed in next major release - i.e. v2.0)</div>
        <p>specify what the template should replace. Defaults to <code><span>false</span></code>.</p>
        <ul class='list'>
            <li><code><span>true</span></code> - the template will replace the directive's element.</li>
            <li><code><span>false</span></code> - the template will replace the contents of the directive's element.</li>
        </ul>
        <p>The replacement process migrates all of the attributes / classes from the old element to the new one. See the <a href="guide/directive#template-expanding-directive">Directives Guide</a> for an example.</p>
        <p>There are very few scenarios where element replacement is required for the application function, the main one being reusable custom components that are used within SVG contexts (because SVG doesn't work with custom elements in the DOM tree).</p>
    </div>

    <div class='title'>transclude</div>
    <p>Extract the contents of the element where the directive appears and make it available to the directive. The contents are compiled and provided to the directive as a <strong>transclusion function</strong>. See the
        <a href="api/ng/service/$compile#transclusion">Transclusion</a> section below.</p>
    <p>--Update--</p>


    <div class='title'>compile</div>
    <div>
        <pre><code class="lang-js"><span>function</span><span> compile</span><span>(</span><span>tElement</span><span>,</span><span> tAttrs</span><span>,</span><span> transclude</span><span>)</span><span> </span><span>{</span><span> </span><span>...</span><span> </span><span>}</span></code></pre>
        <p>The compile function deals with transforming the template DOM. Since most directives do not do template transformation, it is not used often. The compile function takes the following arguments:</p>
        <ul class='list'>
            <li>
                <p><code><span>tElement</span></code> - template element - The element where the directive has been declared. It is safe to do template transformation on the element and child elements only.</p>
            </li>
            <li>
                <p><code><span>tAttrs</span></code> - template attributes - Normalized list of attributes declared on this element shared between all directive compile functions.</p>
            </li>
            <li>
                <p><code><span>transclude</span></code> - [<em>DEPRECATED</em>!] A transclude linking function: <code><span>function</span><span>(</span><span>scope</span><span>,</span><span> cloneLinkingFn</span><span>)</span></code></p>
            </li>
        </ul>
        <div class="alert alert-warning">
            <strong>Note:</strong> The template instance and the link instance may be different objects if the template has been cloned. For this reason it is <strong>not</strong> safe to do anything other than DOM transformations that apply to all cloned
            DOM nodes within the compile function. Specifically, DOM listener registration should be done in a linking function rather than in a compile function.
        </div>
        <div class="alert alert-warning">
            <strong>Note:</strong> The compile function cannot handle directives that recursively use themselves in their own templates or compile functions. Compiling these directives results in an infinite loop and stack overflow errors. This can be
            avoided by manually using $compile in the postLink function to imperatively compile a directive's template instead of relying on automatic template compilation via <code><span>template</span></code> or
            <code><span>templateUrl</span></code> declaration or manual compilation inside the compile function.
        </div>
        <div class="alert alert-danger">
            <strong>Note:</strong> The <code><span>transclude</span></code> function that is passed to the compile function is deprecated, as it e.g. does not know about the right outer scope. Please use the transclude function that is passed to the link
            function instead.
        </div>
        <p>A compile function can have a return value which can be either a function or an object.</p>
        <ul class='list'>
            <li>
                <p>returning a (post-link) function - is equivalent to registering the linking function via the
                    <code><span>link</span></code> property of the config object when the compile function is empty.</p>
            </li>
            <li>
                <p>returning an object with function(s) registered via <code><span>pre</span></code> and <code><span>post</span></code> properties - allows you to control when a linking function should be called during the linking phase. See info about pre-linking
                    and post-linking functions below.</p>
            </li>
        </ul>
    </div>

    <div class='title'>link</div>
    <div>
        <p>This property is used only if the <code><span>compile</span></code> property is not defined.</p>
        <pre><code class="lang-js"><span>function</span><span> link</span><span>(</span><span>scope</span><span>,</span><span> iElement</span><span>,</span><span> iAttrs</span><span>,</span><span> controller</span><span>,</span><span> transcludeFn</span><span>)</span><span> </span><span>{</span><span> </span><span>...</span><span> </span><span>}</span></code></pre>
        <p>The link function is responsible for registering DOM listeners as well as updating the DOM. It is executed after the template has been cloned. This is where most of the directive logic will be put.
        </p>
        <ul class='list'>
            <li>
                <p><code><span>scope</span></code> - <a href="api/ng/type/$rootScope.Scope">Scope</a> - The scope to be used by the directive for registering <a href="api/ng/type/$rootScope.Scope#$watch">watches</a>.</p>
            </li>
            <li>
                <p><code><span>iElement</span></code> - instance element - The element where the directive is to be used. It is safe to manipulate the children of the element only in <code><span>postLink</span></code> function since the children have already
                    been linked.</p>
            </li>
            <li>
                <p><code><span>iAttrs</span></code> - instance attributes - Normalized list of attributes declared on this element shared between all directive linking functions.</p>
            </li>
            <li>
                <p><code><span>controller</span></code> - the directive's required controller instance(s) - Instances are shared among all directives, which allows the directives to use the controllers as a communication channel. The exact value depends
                    on the directive's <code><span>require</span></code> property:</p>
                <ul>
                    <li>no controller(s) required: the directive's own controller, or <code><span>undefined</span></code> if it doesn't have one</li>
                    <li><code><span>string</span></code>: the controller instance</li>
                    <li><code><span>array</span></code>: array of controller instances</li>
                </ul>
                <p>If a required controller cannot be found, and it is optional, the instance is <code><span>null</span></code>, otherwise the <a href="error/$compile/ctreq">Missing Required Controller</a> error is thrown.</p>
                <p>Note that you can also require the directive's own controller - it will be made available like any other controller.</p>
            </li>
            <li>
                <p><code><span>transcludeFn</span></code> - A transclude linking function pre-bound to the correct transclusion scope. This is the same as the <code><span>$transclude</span></code> parameter of directive controllers, see
                    <a href="api/ng/service/$compile#-controller-">the controller section for details</a>.
                    <code><span>function</span><span>([</span><span>scope</span><span>],</span><span> cloneLinkingFn</span><span>,</span><span> futureParentElement</span><span>)</span></code>.</p>
            </li>
        </ul>
    </div>

    <iframe src="https://embed.plnkr.co/bw9Me57rx4GjOLgUQWox?show=app,preview" frameborder="0" width="100%" height="480px"></iframe>


    <div class='text-heading'>The Four Functions of the AngularJS Directive Life Cycle</div>
    <br/>
    <div>
        <p>
            There are many options that can be configured and how those options are related to each other is important. Each directive undergoes something similar to a life cycle as AngularJS compiles and links the DOM. The directive lifecycle begins and ends within
            the AngularJS bootstrapping process, before the page is rendered. In a directive’s life cycle, there are four distinct functions that can execute if they are defined. Each enables the developer to control and customize the directive at different
            points of the life cycle.
        </p>
        <p>The four functions are: <em>compile</em>, <em>controller</em>, <em>pre-link</em> and <em>post-Link</em>.</p>
        <ul class='list'>
            <li>The <strong>compile</strong> function allows the directive to manipulate the DOM before it is compiled and linked thereby allowing it to add/remove/change directives, as well as, add/remove/change other DOM elements.</li>
            <li>The <strong>controller</strong> function facilitates directive communication. Sibling and child directives can request the controller of their siblings and parents to communicate information.</li>
            <li>The <strong>pre-link</strong> function allows for private <strong>$scope</strong> manipulation before the post-link process begins.</li>
            <li>The <strong>post-link</strong> method is the primary workhorse method of the directive.</li>
        </ul>
        <p>In the directive, post-compilation DOM manipulation takes place, event handlers are configured, and so are watches and other things. In the declaration of the directive, the four functions are defined like this.</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">.</span><span class="sh_function">directive</span><span class="sh_symbol">(</span><span class="sh_string">"directiveName"</span><span class="sh_symbol">,</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">return</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;controller<span class="sh_symbol">:</span> <span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">// controller code here...</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">,</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;compile<span class="sh_symbol">:</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">// compile code here...</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">return</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pre<span class="sh_symbol">:</span> <span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">// pre-link code here...</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">,</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;post<span class="sh_symbol">:</span> <span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">// post-link code here...</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">)</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">.directive("directiveName",function () { return { controller: function() { // controller code here... }, compile: { // compile code here... return { pre: function() { // pre-link code here... }, post: function() { // post-link code here...
                    } }; } } })
                    </pre>
            </div>
        </div>

        <p>Commonly, not all of the functions are needed. In most circumstances, developers will simply create a <strong>controller</strong> and <strong>post-link</strong> function following the pattern below.</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">.</span><span class="sh_function">directive</span><span class="sh_symbol">(</span><span class="sh_string">"directiveName"</span><span class="sh_symbol">,</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">return</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;controller<span class="sh_symbol">:</span> <span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_comment">// controller code here...</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">,</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;link<span class="sh_symbol">:</span> <span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">// post-link code here...</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">)</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">.directive("directiveName",function () { return { controller: function() { // controller code here... }, link: function() { // post-link code here... } } })
                    </pre>
            </div>
        </div>
        <p>In this configuration, <strong>link</strong> refers to the <strong>post-link</strong> function.</p>
        <p>Whether all or some of the functions are defined, their execution order is important, especially their execution relative to the rest of the AngularJS application.</p>

    </div>


    <table class='table text-center table-striped table-bordered' align='center'>
        <tr>
            <th><br></th>
            <th class='text-center'>&lt;div parentDir&gt;</th>
            <th class='text-center'>&lt;div childDir&gt;</th>
            <th class='text-center'>&lt;div grandChildDir&gt;</th>
        </tr>
        <tr class='danger'>
            <th rowspan="3" style="vertical-align: middle">Compile phase</th>
            <td><button type="button" class="btn btn-danger">compile</button></td>
            <td></td>
            <td></td>
        </tr>
        <tr class='danger'>
            <td></td>
            <td><button type="button" class="btn btn-danger">compile</button></td>
            <td></td>
        </tr>
        <tr class='danger'>
            <td></td>
            <td></td>
            <td><button type="button" class="btn btn-danger">compile</button></td>
        </tr>
        <tr class='active'>
            <th rowspan="3" style="vertical-align: middle">Controller </br> pre-link phase</th>
            <td><button type="button" class="btn btn-warning">controller</button>
                </br>
                <button type="button" class="btn btn-info">pre-link</button></td>
            <td><br></td>
            <td></td>
        </tr>
        <tr class='active'>
            <td></td>
            <td><button type="button" class="btn btn-warning">controller</button>
                </br>
                <button type="button" class="btn btn-info">pre-link</button></td>
            <td></td>
        </tr>
        <tr class='active'>
            <td></td>
            <td></td>
            <td><button type="button" class="btn btn-warning">controller</button>
                </br>
                <button type="button" class="btn btn-info">pre-link</button></td>
        </tr>
        <tr class='success'>
            <th rowspan="3" style="vertical-align: middle">post-link phase</th>
            <td></td>
            <td></td>
            <td><button type="button" class="btn btn-success">post-link</button></td>
        </tr>
        <tr class='success'>
            <td></td>
            <td><button type="button" class="btn btn-success">post-link</button></td>
            <td></td>
        </tr>
        <tr class='success'>
            <td><button type="button" class="btn btn-success">post-link</button></td>
            <td></td>
            <td></td>
        </tr>
    </table>


    <h4 id="pre-linking-function">Pre-linking function</h4>
    <p>Executed before the child elements are linked. Not safe to do DOM transformation since the compiler linking function will fail to locate the correct elements for linking.</p>

    <h4 id="post-linking-function">Post-linking function</h4>
    <p>Executed after the child elements are linked.</p>
    <p>Note that child elements that contain <code><span>templateUrl</span></code> directives will not have been compiled and linked since they are waiting for their template to load asynchronously and their own compilation and linking has been suspended
        until that occurs.</p>
    <p>It is safe to do DOM transformation in the post-linking function on elements that are not waiting for their async templates to be resolved.</p>


</div>

<!-- --------------------------------------------------- Creating Directives end ----------------------------------------------------- -->

<!-- --------------------------------------------------- AngularJS compile process start --------------------------------------------------- -->
<div class="alert alert-danger title">AngularJS compile process: </div>

<div class="text-heading">Compiler: </div>
</br>
<div class='text'>
    <p>Compiler is an AngularJS service which traverses the DOM looking for attributes. The compilation process happens in two phases.</p>
    <ol class="list">
        <li>
            <p><strong>Compile:</strong> traverse the DOM and collect all of the directives. The result is a linking function.
            </p>
        </li>
        <li>
            <p><strong>Link:</strong> combine the directives with a scope and produce a live view. Any changes in the scope model are reflected in the view, and any user interactions with the view are reflected in the scope model. This makes the scope model
                the single source of truth.</p>
        </li>
    </ol>
    <p>
        Some directives such as <a href="api/ng/directive/ngRepeat"><code><span>ng</span><span>-</span><span>repeat</span></code></a> clone DOM elements once for each item in a collection. Having a compile and link phase improves performance since the
        cloned template only needs to be compiled once, and then linked once for each clone instance.
    </p>
</div>

<div class="text-heading">How directives are compiled: </div>
</br>
<div class='text'>
    <p>It's important to note that AngularJS operates on DOM nodes rather than strings. Usually, you don't notice this restriction because when a page loads, the web browser parses HTML into the DOM automatically.</p>
    <p>HTML compilation happens in three phases:</p>
    <ol class="list">
        <li>
            <p><a href="api/ng/service/$compile"><code><span>$compile</span></code></a> traverses the DOM and matches directives.</p>
            <p>If the compiler finds that an element matches a directive, then the directive is added to the list of directives that match the DOM element. A single element may match multiple directives.</p>
        </li>
        <li>
            <p>Once all directives matching a DOM element have been identified, the compiler sorts the directives by their <code><span>priority</span></code>.</p>
            <p>Each directive's <code><span>compile</span></code> functions are executed. Each <code><span>compile</span></code> function has a chance to modify the DOM. Each <code><span>compile</span></code> function returns a <code><span>link</span></code>                function. These functions are composed into a "combined" link function, which invokes each directive's returned <code><span>link</span></code> function.</p>
        </li>
        <li>
            <p><code><span>$compile</span></code> links the template with the scope by calling the combined linking function from the previous step. This in turn will call the linking function of the individual directives, registering listeners on the elements
                and setting up <a href="api/ng/type/$rootScope.Scope#$watch"><code><span>$watch</span></code>s</a> with the <a href="api/ng/type/$rootScope.Scope"><code><span>scope</span></code></a> as each directive is configured to do.</p>
        </li>
    </ol>
    <p>The result of this is a live binding between the scope and the DOM. So at this point, a change in a model on the compiled scope will be reflected in the DOM.</p>
    <p>Below is the corresponding code using the <code><span>$compile</span></code> service. This should help give you an idea of what AngularJS does internally.</p>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> $compile <span class="sh_symbol">=</span> <span class="sh_symbol">...;</span> <span class="sh_comment">// injected into your code</span></li><li><span class="sh_keyword">var</span> scope <span class="sh_symbol">=</span> <span class="sh_symbol">...;</span></li><li><span class="sh_keyword">var</span> <span class="sh_predef_var">parent</span> <span class="sh_symbol">=</span> <span class="sh_symbol">...;</span> <span class="sh_comment">// DOM element where the compiled template can be appended</span></li><li></li><li><span class="sh_keyword">var</span> html <span class="sh_symbol">=</span> <span class="sh_string">'&lt;div ng-bind="exp"&gt;&lt;/div&gt;'</span><span class="sh_symbol">;</span></li><li></li><li><span class="sh_comment">// Step 1: parse HTML into DOM element</span></li><li><span class="sh_keyword">var</span> template <span class="sh_symbol">=</span> angular<span class="sh_symbol">.</span><span class="sh_function">element</span><span class="sh_symbol">(</span>html<span class="sh_symbol">);</span></li><li></li><li><span class="sh_comment">// Step 2: compile the template</span></li><li><span class="sh_keyword">var</span> linkFn <span class="sh_symbol">=</span> $<span class="sh_function">compile</span><span class="sh_symbol">(</span>template<span class="sh_symbol">);</span></li><li></li><li><span class="sh_comment">// Step 3: link the compiled template with the scope.</span></li><li><span class="sh_keyword">var</span> element <span class="sh_symbol">=</span> <span class="sh_function">linkFn</span><span class="sh_symbol">(</span>scope<span class="sh_symbol">);</span></li><li></li><li><span class="sh_comment">// Step 4: Append to DOM (optional)</span></li><li><span class="sh_predef_var">parent</span><span class="sh_symbol">.</span><span class="sh_function">appendChild</span><span class="sh_symbol">(</span>element<span class="sh_symbol">);</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var $compile = ...; // injected into your code var scope = ...; var parent = ...; // DOM element where the compiled template can be appended var html = '&lt;div ng-bind="exp"&gt;&lt;/div&gt;'; // Step 1: parse HTML into DOM element var template
                = angular.element(html); // Step 2: compile the template var linkFn = $compile(template); // Step 3: link the compiled template with the scope. var element = linkFn(scope); // Step 4: Append to DOM (optional) parent.appendChild(element);
                </pre>
        </div>
    </div>
</div>

</br>
<div class="text-heading">The difference between Compile and Link: </div>
</br>
<div class='text'>
    <p>At this point you may wonder why the compile process has separate compile and link phases. The short answer is that compile and link separation is needed any time a change in a model causes a change in the <strong>structure</strong> of the DOM.
    </p>
    <p>It's rare for directives to have a <strong>compile function</strong>, since most directives are concerned with working with a specific DOM element instance rather than changing its overall structure.</p>
    <p>Directives often have a <strong>link function</strong>. A link function allows the directive to register listeners to the specific cloned DOM element instance as well as to copy content into the DOM from the scope.</p>
    <div class="alert alert-success ng-scope">
        <strong>Best Practice:</strong> Any operation which can be shared among the instance of directives should be moved to the compile function for performance reasons.
    </div>
    <div class="alert alert-warning ng-scope">
        <strong>Note:</strong> <em>Link</em> means setting up listeners on the DOM and setting up <code><span>$watch</span></code> on the Scope to keep the two in sync.
    </div>
    <p><a href="api/ng/directive/ngRepeat"><code><span>ngRepeat</span></code></a> works by preventing the compilation process from descending into the <code><span class="tag">&lt;li&gt;</span></code> element so it can make a clone of the original and handle
        inserting and removing DOM nodes itself.
    </p>
    <p>
        <a href="api/ng/directive/ngRepeat"><code><span>ngRepeat</span></code></a> directive compiles <code><span class="tag">&lt;li&gt;</span></code> separately. The result of the <code><span class="tag">&lt;li&gt;</span></code> element compilation is
        a linking function which contains all of the directives contained in the <code><span class="tag">&lt;li&gt;</span></code> element, ready to be attached to a specific clone of the <code><span class="tag">&lt;li&gt;</span></code> element.
    </p>
    <p>
        At runtime the <a href="api/ng/directive/ngRepeat"><code><span>ngRepeat</span></code></a> watches the expression and as items are added to the array it clones the <code><span class="tag">&lt;li&gt;</span></code> element, creates a new
        <a href="api/ng/type/$rootScope.Scope">scope</a> for the cloned <code><span class="tag">&lt;li&gt;</span></code> element and calls the link function on the cloned <code><span class="tag">&lt;li&gt;</span></code>.
    </p>
</div>

<div>
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th style="text-align: center; padding: 5px;">Execution<br>Order</th>
                <th style="text-align: center; padding: 5px;">Directive<br>Function</th>
                <th style="text-align: center; padding: 5px;">DOM</th>
                <th style="text-align: center; padding: 5px; width: 150px;">Transclude</th>
                <th style="text-align: center; padding: 5px; width: 150px;">$scope</th>
                <th style="text-align: center; padding: 5px; width: 150px;">Callable<br>by Child</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center; padding: 5px;">1</td>
                <td style="text-align: center; padding: 5px;"><strong>compile</strong></td>
                <td style="text-align: left; padding: 5px;">DOM has not been compiled but template has been loaded into the DOM element content area. Directives can be added and removed. DOM can be manipulated with both DOM functions and HTML string replacement.</td>
                <td style="text-align: left; padding: 5px; width: 150px;">Transclude function is available but is deprecated and should not be called.</td>
                <td style="text-align: left; padding: 5px; width: 150px;">Not available.</td>
                <td style="text-align: left; padding: 5px; width: 150px;">Function cannot be called by child elements.</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 5px;">2</td>
                <td style="text-align: center; padding: 5px;"><strong>controller</strong></td>
                <td style="text-align: left; padding: 5px;">Compiled DOM element is available but should not be modified. Transcluded child content has not been added to the DOM element. No DOM changes should occur because this is a controller and transcluded child content has not been linked in
                    yet.
                </td>
                <td style="text-align: left; padding: 5px; width: 150px;">Transclude function is available but should not be called.</td>
                <td style="text-align: left; padding: 5px; width: 150px;"><strong>$scope</strong> is available and can be used. Function parameters are injected using the <strong>$injector</strong> service.</td>
                <td style="text-align: left; padding: 5px; width: 150px;">Function is passed into child directive linking functions and is callable by them.</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 5px;">3</td>
                <td style="text-align: center; padding: 5px;"><strong>pre-link</strong></td>
                <td style="text-align: left; padding: 5px;">Compiled DOM element is available but should not be modified because child directive DOM elements have not been linked in yet.</td>
                <td style="text-align: left; padding: 5px; width: 150x;">Transclude function is available but should not be called.</td>
                <td style="text-align: left; padding: 5px; width: 150x;"><strong>$scope</strong> is available and can be modified.</td>
                <td style="text-align: left; padding: 5px; width: 150x;">Function is not callable by child directives. But may call the controllers of parent directives.</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 5px;">4</td>
                <td style="text-align: center; padding: 5px;"><strong>post-link</strong></td>
                <td style="text-align: left; padding: 5px;">Compiled DOM element and child directive DOM elements are available. DOM can be modified with DOM functions only (no HTML replacement) and only content that does not require compilation can be added. No adding/removing of directives is
                    allowed.
                </td>
                <td style="text-align: left; padding: 5px; width: 150px">Transclude function is available and may be called.</td>
                <td style="text-align: left; padding: 5px; width: 150px"><strong>$scope</strong> is available and may be used.</td>
                <td style="text-align: left; padding: 5px; width: 150px">Not callable by directive children but may call the controller of parent directives.</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="text-heading">Understanding How Scopes Work with Transcluded Directives: </div>
<div class='text'>
    -- Update --
</div>
<div class="text-heading"> Double Compilation, and how to avoid it: </div>
<div class='text'>
    -- Update --
</div>

<!-- --------------------------------------------------- AngularJS compile process end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Creating a Directive that Manipulates the DOM start --------------------------------------------------- -->
</br>
<div class="alert alert-danger title">Creating a Directive that Manipulates the DOM:</div>
<div class='text'>
    <p>In this example we will build a directive that displays the current time. Once a second, it updates the DOM to reflect the current time.</p>

    <p>Directives that want to modify the DOM typically use the <code>link</code> option to register DOM listeners as well as update the DOM. It is executed after the template has been cloned and is where directive logic will be put.</p>

    <p> <code>link</code> takes a function with the following signature, <code>function link (scope, element, attrs, controller, transcludeFn) {...}</code>, where:</p>

    <ul class="list">
        <li><code><span>scope</span></code> is an AngularJS scope object.</li>
        <li><code><span>element</span></code> is the jqLite-wrapped element that this directive matches.</li>
        <li><code><span>attrs</span></code> is a hash object with key-value pairs of normalized attribute names and their corresponding attribute values.</li>
        <li><code><span>controller</span></code> is the directive's required controller instance(s) or its own controller (if any). The exact value depends on the directive's require property.</li>
        <li><code><span>transcludeFn</span></code> is a transclude linking function pre-bound to the correct transclusion scope.</li>
    </ul>

    <div class="alert alert-info">For more details on the <code>link</code> option refer to the <a href="api/ng/service/$compile#-link-"><code>$compile</code> API</a> page.</div>

    <p>
        In our <code>link</code> function, we want to update the displayed time once a second, or whenever a user changes the time formatting string that our directive binds to. We will use the <code><span>$interval</span></code> service to call a handler
        on a regular basis. This is easier than using <code><span>$timeout</span></code> but also works better with end-to-end testing, where we want to ensure that all <code><span>$timeout</span></code>s have completed before completing the test. We
        also want to remove the <code><span>$interval</span></code> if the directive is deleted so we don't introduce a memory leak.
    </p>


</div>
<!-- --------------------------------------------------- Creating a Directive that Manipulates the DOM end ----------------------------------------------------- -->




<!-- --------------------------------------------------- Creating a Directive that Wraps Other Elements start --------------------------------------------------- -->
<div class="alert alert-danger title">Creating a Directive that Wraps Other Elements:</div>
<div class='text'>
    -- Update --
</div>
<!-- --------------------------------------------------- Creating a Directive that Wraps Other Elements end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Creating a Directive that Adds Event Listeners start --------------------------------------------------- -->
<div class="alert alert-danger title">Creating a Directive that Adds Event Listeners:</div>
<div class='text'>
    -- Update --
</div>
<!-- --------------------------------------------------- Creating a Directive that Adds Event Listeners end ----------------------------------------------------- -->



<!-- --------------------------------------------------- start --------------------------------------------------- -->
<!-- --------------------------------------------------- end ----------------------------------------------------- -->

<!-- --------------------------------------------------- start --------------------------------------------------- -->
<!-- --------------------------------------------------- end ----------------------------------------------------- -->

<!-- --------------------------------------------------- start --------------------------------------------------- -->
<!-- --------------------------------------------------- end ----------------------------------------------------- -->
