<!-- --------------------------------------------------- Javascript engine aside start --------------------------------------------------- -->
<div class="alert alert-danger title">Javascript Asynchronous operations</div>

<div class="text-heading">The JavaScript execution context stack</div>
<div class="text">
	</br>
	<p>
		The execution context stack is used to track execution contexts. The running execution context is always the top element of this stack. A new execution context is created whenever control is transferred from the executable code associated with the currently
		running execution context to executable code that is not associated with that execution context. The newly created execution context is pushed onto the stack and becomes the running execution context.
	</p>
</div>
</br>

<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Javascript engine:</h3>
	</div>
	<div class="panel-body" align=center>
		<img src='javascripts/app/angularjs/Asynchronous_images/async_event_loop.jpg' width='40%' />
	</div>
</div>

<div class="text-heading">Event loop:</div>
<div class="text">
	</br>
	To coordinate events, user interaction, scripts, rendering, networking, and so forth, user agents must use event loops as described in this section. There are two kinds of event loops: those for browsing contexts, and those for workers.
	</br>
	</br>
	A browsing context event loop always has at least one browsing context. If such an event loop's browsing contexts all go away, then the event loop goes away as well. A browsing context always has an event loop coordinating its activities.
	</br>
	</br>
	Worker event loops are simpler: each worker has one event loop, and the worker processing model manages the event loop's lifetime.
	</br>
	</br>
	An event loop has one or more task queues. A task queue is an ordered list of tasks, which are algorithms that are responsible for such work as:
	</br>
	<code>Events</code>: Dispatching an Event object at a particular EventTarget object is often done by a dedicated task. Note:Not all events are dispatched using the task queue, many are dispatched during other tasks.
	</br>
	<code>Parsing</code>: The HTML parser tokenizing one or more bytes, and then processing any resulting tokens, is typically a task.
	</br>
	<code>Callbacks</code>: Calling a callback is often done by a dedicated task.
	</br>
	<code>Using a resource</code>: When an algorithm fetches a resource, if the fetching occurs in a non-blocking fashion then the processing of the resource once some or all of the resource is available is performed by a task.
	</br>
	<code>Reacting to DOM manipulation</code>: Some elements have tasks that trigger in response to DOM manipulation, e.g. when that element is inserted into the document.
	</br>
	</br>
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Event loop:</h3>
	</div>
	<div class="panel-body" align=center>
		<img src='javascripts/app/angularjs/Asynchronous_images/Event_loop.svg' width='60%' />
	</div>
</div>

<div class="text-heading">Timers:</div>
</br>
<div class="text">
	<p>Browsers have <a href="https://html.spec.whatwg.org/multipage/webappapis.html#timers">timers</a>. <code>setTimeout()</code> creates a timer, waits until it fires and then adds a task to the queue. It has the signature:</p>
	<pre><code></code><code class="nx">setTimeout</code><code class="p">(</code><code class="nx">callback</code><code class="p">,</code> <code class="nx">ms</code><code class="p">)</code></pre>
	</br>
	<p>After <code>ms</code> milliseconds, <code>callback</code> is added to the task queue. It is important to note that <code>ms</code> only specifies when the callback is <em>added</em>, not when it actually executed. That may happen much later, especially
		if the event loop is blocked.
	</p>
	<p><code>setTimeout()</code> with <code>ms</code> set to zero is a commonly used work-around to add something to the task queue right away. However, some browsers do not allow <code>ms</code> to be below a minimum (4 ms in Firefox); they set it <em>to</em>		that minimum if it is.</p>
</div>
</br>

<div class="text-heading">Displaying DOM changes:</div>
</br>
<div class="text">
	<p>For most DOM changes (especially those involving a re-layout), the display isn’t updated right away. “Layout happens off a refresh tick every 16ms” (<a href="https://twitter.com/bz_moz/status/513777809287028736">@bz_moz</a>) and must be given a chance
		to run via the event loop.
	</p>
	<p>There are ways to coordinate frequent DOM updates with the browser, to avoid clashing with its layout rhythm. Consult the <a href="https://developer.mozilla.org/en/docs/Web/API/window.requestAnimationFrame">documentation</a> on <code>requestAnimationFrame()</code>		for details.</p>

</div>
</br>

<div class="text-heading">Run-to-completion semantics:</div>
</br>
<div class="text">
	<p>
		JavaScript has so-called run-to-completion semantics: The current task is always finished before the next task is executed. That means that each task has complete control over all current state and doesn’t have to worry about concurrent modification.
	</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_function">setTimeout</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span> <span class="sh_comment">// (A)</span></li><li>    console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'Second'</span><span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">,</span> <span class="sh_number">0</span><span class="sh_symbol">);</span></li><li>console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'First'</span><span class="sh_symbol">);</span> <span class="sh_comment">// (B)</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">setTimeout(function () { // (A) console.log('Second'); }, 0); console.log('First'); // (B)</pre>
		</div>
	</div>
	</br>
	<p>The function starting in line A is added to the task queue immediately, but only executed after the current piece of code is done (in particular line B!). That means that this code’s output will always be:</p>
	<code><pre>
	First
	Second</pre>
		</code>
</div>
</br>

<div class="text-heading">Blocking the event loop:</div>
</br>
<div class="text">
	<p>
		As we have seen, each tab (in some browers, the complete browser) is managed by a single process – both the user interface and all other computations. That means that you can freeze the user interface by performing a long-running computation in that process.
		The following code demonstrates that: You can try out the code <a href="http://rauschma.github.io/async-examples/blocking.html">online</a>.
	</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>a id<span class="sh_symbol">=</span><span class="sh_string">"block"</span> href<span class="sh_symbol">=</span><span class="sh_string">""</span><span class="sh_symbol">&gt;</span>Block <span class="sh_keyword">for</span> <span class="sh_number">5</span> seconds<span class="sh_symbol">&lt;/</span>a<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>p<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>button<span class="sh_symbol">&gt;</span>This is a button<span class="sh_symbol">&lt;/</span>button<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>div id<span class="sh_symbol">=</span><span class="sh_string">"statusMessage"</span><span class="sh_symbol">&gt;&lt;/</span>div<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>script<span class="sh_symbol">&gt;</span></li><li>    document<span class="sh_symbol">.</span><span class="sh_function">getElementById</span><span class="sh_symbol">(</span><span class="sh_string">'block'</span><span class="sh_symbol">)</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">addEventListener</span><span class="sh_symbol">(</span><span class="sh_string">'click'</span><span class="sh_symbol">,</span> onClick<span class="sh_symbol">);</span></li><li></li><li>    <span class="sh_keyword">function</span> <span class="sh_function">onClick</span><span class="sh_symbol">(</span>event<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>        event<span class="sh_symbol">.</span><span class="sh_function">preventDefault</span><span class="sh_symbol">();</span></li><li></li><li>        <span class="sh_function">setStatusMessage</span><span class="sh_symbol">(</span><span class="sh_string">'Blocking...'</span><span class="sh_symbol">);</span></li><li></li><li>        <span class="sh_comment">// Call setTimeout(), so that browser has time to display</span></li><li>        <span class="sh_comment">// status message</span></li><li>        <span class="sh_function">setTimeout</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>            <span class="sh_function">sleep</span><span class="sh_symbol">(</span><span class="sh_number">5000</span><span class="sh_symbol">);</span></li><li>            <span class="sh_function">setStatusMessage</span><span class="sh_symbol">(</span><span class="sh_string">'Done'</span><span class="sh_symbol">);</span></li><li>        <span class="sh_cbracket">}</span><span class="sh_symbol">,</span> <span class="sh_number">0</span><span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span></li><li>    <span class="sh_keyword">function</span> <span class="sh_function">setStatusMessage</span><span class="sh_symbol">(</span>msg<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>        document<span class="sh_symbol">.</span><span class="sh_function">getElementById</span><span class="sh_symbol">(</span><span class="sh_string">'statusMessage'</span><span class="sh_symbol">).</span>textContent <span class="sh_symbol">=</span> msg<span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span></li><li>    <span class="sh_keyword">function</span> <span class="sh_function">sleep</span><span class="sh_symbol">(</span>milliseconds<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_keyword">var</span> start <span class="sh_symbol">=</span> <span class="sh_predef_func">Date</span><span class="sh_symbol">.</span><span class="sh_function">now</span><span class="sh_symbol">();</span></li><li>        <span class="sh_keyword">while</span> <span class="sh_symbol">((</span><span class="sh_predef_func">Date</span><span class="sh_symbol">.</span><span class="sh_function">now</span><span class="sh_symbol">()</span> <span class="sh_symbol">-</span> start<span class="sh_symbol">)</span> <span class="sh_symbol">&lt;</span> milliseconds<span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span></li><li><span class="sh_symbol">&lt;/</span>script<span class="sh_symbol">&gt;</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;a id="block" href=""&gt;Block for 5 seconds&lt;/a&gt; &lt;p&gt; &lt;button&gt;This is a button&lt;/button&gt; &lt;div id="statusMessage"&gt;&lt;/div&gt; &lt;script&gt; document.getElementById('block') .addEventListener('click', onClick); function
					onClick(event) { event.preventDefault(); setStatusMessage('Blocking...'); // Call setTimeout(), so that browser has time to display // status message setTimeout(function () { sleep(5000); setStatusMessage('Done'); }, 0); } function setStatusMessage(msg)
					{ document.getElementById('statusMessage').textContent = msg; } function sleep(milliseconds) { var start = Date.now(); while ((Date.now() - start) &lt; milliseconds); } &lt;/script&gt;
					</pre>
		</div>
	</div>
	</br>
	<p>
		Whenever the link at the beginning is clicked, the function <code>onClick()</code> is triggered. It uses the &ndash; synchronous &ndash; <code>sleep()</code> function to block the event loop for five seconds. During those seconds, the user interface
		doesn’t work. For example, you can’t click the “Simple button”.
	</p>
</div>
</br>

<!-- --------------------------------------------------- Javascript engine aside end --------------------------------------------------- -->

<!-- --------------------------------------------------- Asynchronous start --------------------------------------------------- -->

<div class='text-heading'>Asynchronous operations</div>
</br>
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Definition</h3>
	</div>
	<div class="panel-body">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td colspan=2>
						Controlling the timing of operations by the use of pulses sent when the previous operation is completed rather than at regular intervals.
						</br>
						Asynchronous (pronounced ay-SIHN-kro-nuhs, from Greek asyn-, meaning "not with," and chronos, meaning "time") is an adjective describing objects or events that are not coordinated in time.
						</br>
					</td>
				</tr>
				<tr>
					<td colspan=2>
						<div class="text">

							When you execute something synchronously, you wait for it to finish before moving on to another task.</br>
							When you execute something asynchronously, you can move on to another task before it finishes.</br>

							</br>
							That being, said, in the context of computers this translates into executing a process or task on another "thread." A thread is a series of commands--a block of code--that exists as a unit of work. The operating system can manage multiple threads and
							assign a thread a piece ("slice") of processor time before switching to another thread to give it a turn to do some work. At its core (pardon the pun), a processor can simply execute a command--it has no concept of doing two things at one time.
							The operating system simulates this by allocating slices of time to different threads.</br>
							</br>
							Now, if you introduce multiple cores/processors into the mix, then things CAN actually happen at the same time. The operating system can allocate time to one thread on the first processor, then allocate the same block of time to another thread on a different
							processor.
							</br>
							</br>
							Asynchronous (one thread - in the context of computers):
							</br>
							<pre><code>         A-Start ------------------------------------------ A-End   
	           | B-Start -----------------------------------------|--- B-End   
	           |    |      C-Start ------------------- C-End      |      |   
	           |    |       |                           |         |      |
	           V    V       V                           V         V      V      
	1 thread-&gt;|&lt;-A-|&lt;--B---|&lt;-C-|-A-|-C-|--A--|-B-|--C--&gt;|---A----&gt;|--B--&gt;| 
	</code></pre>

						</div>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

<div class="text-heading"> Asynchronous javascript</div>
<div class="text">
	</br>
	<p>JavaScript is often described as asynchronous, meaning that function calls and operations don’t block the main thread while they execute. This is true in some situations, but JavaScript runs in a single thread, and therefore has lots of synchronous components</p>
	<p>It’s more accurate to say that many function calls in JavaScript can be made asynchronously. Web programming essentials like DOM event handlers and AJAX calls are asynchronous, and because these common tasks make up a great bulk of JavaScript programming,
		JavaScript itself is often labeled “asynchronous.”</p>
</div>
</br>

<div class="text-heading"> How To Program Asynchronously?</div>
<div class="text">
	</br>
	<p>More often than not, this is done for you by browser/server APIs (XMLHttpRequest, Node <code>fs</code> module) or third-party libraries (jQuery.ajax). Most of the time, this is as far as you need to go – you wouldn’t asynchronize
		<em>everything</em>, as this can actually lead to less performant (and very complex) code.</p>
	<p>As a general rule of thumb, you use asynchronous code when performing expensive and time-consuming operations. You wouldn’t use it to change a CSS class on an element, for example.</p>
	<p>For when you need them, there are plenty of libraries which aid you in writing asynchronous code; <a href="https://github.com/caolan/async">Async.js</a> is an excellent example.</p>
</div>
</br>



<div class="text-heading">Receiving results asynchronously:</div>
</br>
<div class="text">
	<p>
		Two common patterns for receiving results asynchronously are: events and callbacks.
	</p>
</div>
</br>

<div class="text-heading">Asynchronous results via events:</div>
</br>
<div class="text">
	<p>
		In this pattern for asynchronously receiving results, you create an object for each request and register event handlers with it: one for a successful computation, another one for handling errors. The following code shows how that works with the <code>XMLHttpRequest</code>		API:
	</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> req <span class="sh_symbol">=</span> <span class="sh_keyword">new</span> <span class="sh_function">XMLHttpRequest</span><span class="sh_symbol">();</span></li><li>req<span class="sh_symbol">.</span><span class="sh_function">open</span><span class="sh_symbol">(</span><span class="sh_string">'GET'</span><span class="sh_symbol">,</span> url<span class="sh_symbol">);</span></li><li></li><li>req<span class="sh_symbol">.</span>onload <span class="sh_symbol">=</span> <span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_keyword">if</span> <span class="sh_symbol">(</span>req<span class="sh_symbol">.</span>status <span class="sh_symbol">==</span> <span class="sh_number">200</span><span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_function">processData</span><span class="sh_symbol">(</span>req<span class="sh_symbol">.</span>response<span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span> <span class="sh_keyword">else</span> <span class="sh_cbracket">{</span></li><li>        console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'ERROR'</span><span class="sh_symbol">,</span> req<span class="sh_symbol">.</span>statusText<span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li></li><li>req<span class="sh_symbol">.</span>onerror <span class="sh_symbol">=</span> <span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>    console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'Network Error'</span><span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li></li><li>req<span class="sh_symbol">.</span><span class="sh_function">send</span><span class="sh_symbol">();</span> <span class="sh_comment">// Add request to task queue</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var req = new XMLHttpRequest(); req.open('GET', url); req.onload = function () { if (req.status == 200) { processData(req.response); } else { console.log('ERROR', req.statusText); } }; req.onerror = function () { console.log('Network Error'); }; req.send();
					// Add request to task queue</pre>
		</div>
	</div>
	</br>
	<p>
		Note that the last line doesn’t actually perform the request, it adds it to the task queue. Therefore, you could also call that method right after <code>open()</code>, before setting up <code>onload</code> and <code>onerror</code>. Things would work
		the same, due to JavaScript’s run-to-completion semantics.
	</p>
	<p>
		This style of handling asynchronously computed results is OK if you receive results multiple times. If, however, there is only a single result then the verbosity becomes a problem. For that use case, callbacks have become popular.
	</p>

</div>

</br>
<!-- --------------------------------------------------- Asynchronous end --------------------------------------------------- -->


<!-- --------------------------------------------------- Callbacks start --------------------------------------------------- -->
<div class="alert alert-danger title">Callbacks:</div>
<div class='text'>
	<p>In the callback pattern, you pass a function as an argument to an asynchronous method. When that call has finished, the host function executes your callback (or Higher-order Function).</p>

	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">function</span> <span class="sh_function">asyncTask</span><span class="sh_symbol">(</span>callback<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>    console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'Asynchronous activity started. It may take some time...'</span><span class="sh_symbol">);</span></li><li>    <span class="sh_function">setTimeout</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'Asynchronous activity completed. After 1 second...'</span><span class="sh_symbol">);</span></li><li>        callback <span class="sh_symbol">&amp;&amp;</span> <span class="sh_function">callback</span><span class="sh_symbol">();</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">,</span> <span class="sh_number">1000</span><span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span></li><li></li><li><span class="sh_keyword">function</span> <span class="sh_function">syncTask</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>    console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'This is Activity in callback; Something to do once async activity is completed...'</span><span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li></li><li><span class="sh_function">asyncTask</span><span class="sh_symbol">(</span>syncTask<span class="sh_symbol">);</span></li><li></li><li><span class="sh_symbol">(</span><span class="sh_keyword">function</span> <span class="sh_function">syncTaskGoesOn</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>    console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'Sync Activities are going on...'</span><span class="sh_symbol">);</span></li><li>    console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'on...and on and on...'</span><span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">)();</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">function asyncTask(callback) { console.log('Asynchronous activity started. It may take some time...'); setTimeout(function () { console.log('Asynchronous activity completed. After 1 second...'); callback &amp;&amp; callback(); }, 1000); } function
					syncTask() { console.log('This is Activity in callback; Something to do once async activity is completed...'); }; asyncTask(syncTask); (function syncTaskGoesOn() { console.log('Sync Activities are going on...'); console.log('on...and on and on...');
					})();
					</pre>
		</div>
	</div>
	<div class="text-heading"> Output: </div>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>Asynchronous activity started<span class="sh_symbol">.</span> It may take some time<span class="sh_symbol">...</span></li><li>Sync Activities are going on<span class="sh_symbol">...</span></li><li>on<span class="sh_symbol">...</span>and on and on<span class="sh_symbol">...</span></li><li>Asynchronous activity completed<span class="sh_symbol">.</span> After <span class="sh_number">1</span> second<span class="sh_symbol">...</span></li><li>This is Activity <span class="sh_keyword">in</span> callback<span class="sh_symbol">;</span> Something to <span class="sh_keyword">do</span> once async activity is completed<span class="sh_symbol">...</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">Asynchronous activity started. It may take some time... Sync Activities are going on... on...and on and on... Asynchronous activity completed. After 1 second... This is Activity in callback; Something to do once async activity is completed...</pre>
		</div>
	</div>
	</br>
	<p>
		The programming style of using callbacks (especially in the functional manner shown previously) is also called <em>continuation-passing style</em> (CPS), because the next step (the <em>continuation</em>) is explicitly passed as a parameter. This gives
		an invoked function more control over what happens next and when.
	</p>
	<p>Callbacks themselves are not bad. But the prevalent misuse of callbacks in our industry has led to the notion of callback hell: code that nests callbacks so heavily as to be unreadable.</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'A'</span><span class="sh_symbol">);</span></li><li><span class="sh_function">identity</span><span class="sh_symbol">(</span><span class="sh_string">'B'</span><span class="sh_symbol">,</span> <span class="sh_keyword">function</span> <span class="sh_function">step2</span><span class="sh_symbol">(</span>result2<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>    console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span>result2<span class="sh_symbol">);</span></li><li>    <span class="sh_function">identity</span><span class="sh_symbol">(</span><span class="sh_string">'C'</span><span class="sh_symbol">,</span> <span class="sh_keyword">function</span> <span class="sh_function">step3</span><span class="sh_symbol">(</span>result3<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>       console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span>result3<span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li>    console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'D'</span><span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li>console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'E'</span><span class="sh_symbol">);</span></li><li></li><li><span class="sh_comment">// Output: A E B D C</span></li><li></li><li><span class="sh_keyword">function</span> <span class="sh_function">identity</span><span class="sh_symbol">(</span>input<span class="sh_symbol">,</span> callback<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_function">setTimeout</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_function">callback</span><span class="sh_symbol">(</span>input<span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">,</span> <span class="sh_number">0</span><span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">console.log('A'); identity('B', function step2(result2) { console.log(result2); identity('C', function step3(result3) { console.log(result3); }); console.log('D'); }); console.log('E'); // Output: A E B D C function identity(input, callback) { setTimeout(function
					() { callback(input); }, 0); }
					</pre>
		</div>
	</div>
	</br>

	<div class="text-heading"> Pros and cons of callbacks:</div>
	<p>
		Using callbacks results in a radically different programming style, CPS. The main advantage of CPS is that its basic mechanisms are easy to understand. But there are also disadvantages:
	</p>
	<ul class='list'>
		<li>Error handling becomes more complicated: There are now two ways in which errors are reported – via callbacks and via exceptions. You have to be careful to combine both properly.</li>
		<li>Less elegant signatures: In synchronous functions, there is a clear separation of concerns between input (parameters) and output (function result). In asynchronous functions that use callbacks, these concerns are mixed: the function result doesn’t matter
			and some parameters are used for input, others for output.</li>
		<li>Composition is more complicated: Because the concern “output” shows up in the parameters, it is more complicated to compose code via combinators.</li>
	</ul>
	<p>
		Callbacks in Node.js style have three disadvantages (compared to those in a functional style):
	</p>
	<ul class='list'>
		<li>The <code>if</code> statement for error handling adds verbosity.</li>
		<li>Reusing error handlers is harder.</li>
		<li>Providing a default error handler is also harder. A default error handler is useful if you make a function call and don’t want to write your own handler. It could also be used by a function if a caller doesn’t specify a handler.</li>
	</ul>

	<p>So what else can we use?</p>
</div>
</br>

<!-- --------------------------------------------------- Callbacks end --------------------------------------------------- -->

<!-- --------------------------------------------------- Promises start --------------------------------------------------- -->

<div class="alert alert-danger title">Promise</div>
<div class='text'>
	<div class="alert alert-success">Definition: A promise represents the eventual result of an asynchronous operation. </div>

	<p>A <code>Promise</code> is in one of these&nbsp;states:</p>
	<ul class='list'>
		<li><em>pending</em>: initial state, not fulfilled or rejected.</li>
		<li><em>fulfilled</em>: meaning that the operation completed successfully.</li>
		<li><em>rejected</em>: meaning that the operation failed.</li>
		<li><em>settled</em>: has fulfilled or rejected. Once a promise is settled, it is immutable (i.e. it can never change again).</li>
	</ul>


	<p>
		Promises are an alternative to callbacks for delivering the results of an asynchronous computation. They require more effort from implementors of asynchronous functions, but provide several benefits for users of those functions.
	</p>The following function returns a result asynchronously, via a Promise:
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">function</span> <span class="sh_function">asyncFunc</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">return</span> <span class="sh_keyword">new</span> <span class="sh_function">Promise</span><span class="sh_symbol">((</span>resolve<span class="sh_symbol">,</span> reject<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">// Perform async task</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="sh_keyword">if</span> <span class="sh_symbol">(</span><span class="sh_keyword">true</span> <span class="sh_comment">/* some async task is all good */</span><span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_function">resolve</span><span class="sh_symbol">(</span><span class="sh_string">'Success!'</span><span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">// resolve(result); /*Or resolve promise by returning result*/</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span> <span class="sh_keyword">else</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_function">reject</span><span class="sh_symbol">(</span><span class="sh_string">'Oops... something went wrong'</span><span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">function asyncFunc() { return new Promise((resolve, reject) =&gt; { // Perform async task if (true /* some async task is all good */) { resolve('Success!'); // resolve(result); /*Or resolve promise by returning result*/ } else { reject('Oops... something
					went wrong'); } }); }
					</pre>
		</div>
	</div>
	</br>

	<p>You call <code>asyncFunc()</code> as follows:</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_function">asyncFunc</span><span class="sh_symbol">()</span></li><li><span class="sh_symbol">.</span><span class="sh_function">then</span><span class="sh_symbol">(</span>result <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span> ··· <span class="sh_cbracket">}</span><span class="sh_symbol">)</span></li><li><span class="sh_symbol">.</span><span class="sh_keyword">catch</span><span class="sh_symbol">(</span>error <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span> ··· <span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">asyncFunc() .then(result =&gt; { ··· }) .catch(error =&gt; { ··· });</pre>
		</div>
	</div>
	</br>

	<p>We simply call <code>new Promise()</code> and inside can perform an asynchronous task, which may be for wrapping particular DOM events, or even wrapping third-party libraries that are not promise Objects.</p>

	<p>A realistic example would be converting XMLHttpRequest to a promise-based task:</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">function</span> <span class="sh_function">get</span><span class="sh_symbol">(</span>url<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>  <span class="sh_keyword">return</span> <span class="sh_keyword">new</span> <span class="sh_function">Promise</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span><span class="sh_symbol">(</span>resolve<span class="sh_symbol">,</span> reject<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_keyword">var</span> req <span class="sh_symbol">=</span> <span class="sh_keyword">new</span> <span class="sh_function">XMLHttpRequest</span><span class="sh_symbol">();</span></li><li>    req<span class="sh_symbol">.</span><span class="sh_function">open</span><span class="sh_symbol">(</span><span class="sh_string">'GET'</span><span class="sh_symbol">,</span> url<span class="sh_symbol">);</span></li><li></li><li>    req<span class="sh_symbol">.</span>onload <span class="sh_symbol">=</span> <span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>      <span class="sh_keyword">if</span> <span class="sh_symbol">(</span>req<span class="sh_symbol">.</span>status <span class="sh_symbol">==</span> <span class="sh_number">200</span><span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_function">resolve</span><span class="sh_symbol">(</span>req<span class="sh_symbol">.</span>response<span class="sh_symbol">);</span></li><li>      <span class="sh_cbracket">}</span></li><li>      <span class="sh_keyword">else</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_function">reject</span><span class="sh_symbol">(</span><span class="sh_predef_func">Error</span><span class="sh_symbol">(</span>req<span class="sh_symbol">.</span>statusText<span class="sh_symbol">));</span></li><li>      <span class="sh_cbracket">}</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li></li><li>    req<span class="sh_symbol">.</span>onerror <span class="sh_symbol">=</span> <span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>      <span class="sh_function">reject</span><span class="sh_symbol">(</span><span class="sh_predef_func">Error</span><span class="sh_symbol">(</span><span class="sh_string">"Network Error"</span><span class="sh_symbol">));</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li></li><li>    req<span class="sh_symbol">.</span><span class="sh_function">send</span><span class="sh_symbol">();</span></li><li>  <span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span></li><li></li><li><span class="sh_function">get</span><span class="sh_symbol">(</span><span class="sh_string">'story.json'</span><span class="sh_symbol">).</span><span class="sh_function">then</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span><span class="sh_symbol">(</span>response<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>  console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">"Success!"</span><span class="sh_symbol">,</span> response<span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">,</span> <span class="sh_keyword">function</span><span class="sh_symbol">(</span>error<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>  console<span class="sh_symbol">.</span><span class="sh_function">error</span><span class="sh_symbol">(</span><span class="sh_string">"Failed!"</span><span class="sh_symbol">,</span> error<span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">function get(url) { return new Promise(function(resolve, reject) { var req = new XMLHttpRequest(); req.open('GET', url); req.onload = function() { if (req.status == 200) { resolve(req.response); } else { reject(Error(req.statusText)); } }; req.onerror
					= function() { reject(Error("Network Error")); }; req.send(); }); } get('story.json').then(function(response) { console.log("Success!", response); }, function(error) { console.error("Failed!", error); });
					</pre>
		</div>
	</div>

</div>
</br>
<!-- --------------------------------------------------- Promises end --------------------------------------------------- -->


<!-- --------------------------------------------------- $q provider service start --------------------------------------------------- -->

<div class="alert alert-danger title">$q provider service:</div>
<div class='text'>
	<div class="alert alert-success">Definition: A service that helps you run functions asynchronously, and use their return values (or exceptions) when they are done processing. </div>
	<p>
		$q can be used in two fashions --- one which is more similar to Kris Kowal's Q or jQuery's Deferred implementations, and the other which resembles ES6 (ES2015) promises to some degree.
	</p>

	<div class="text-heading">$q constructor:</div>
	</br>
	<p>The streamlined ES6 style promise is essentially just using $q as a constructor which takes a <code><span class="pln">resolver</span></code> function as the first argument. This is similar to the native Promise implementation from ES6, see <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise">MDN</a>.</p>
	<p>While the constructor-style use is supported, not all of the supporting methods from ES6 promises are available yet.</p>

	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular<span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[]);</span></li><li>app<span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_keyword">function</span> <span class="sh_symbol">(</span>$q<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_keyword">function</span> <span class="sh_function">asyncGreet</span><span class="sh_symbol">(</span>name<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_comment">// perform some asynchronous operation, resolve or reject the promise when appropriate.</span></li><li>        <span class="sh_keyword">return</span> $<span class="sh_function">q</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span> <span class="sh_symbol">(</span>resolve<span class="sh_symbol">,</span> reject<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>            <span class="sh_function">setTimeout</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>                <span class="sh_keyword">if</span> <span class="sh_symbol">(</span><span class="sh_predef_var">Math</span><span class="sh_symbol">.</span><span class="sh_function">floor</span><span class="sh_symbol">((</span><span class="sh_predef_var">Math</span><span class="sh_symbol">.</span><span class="sh_function">random</span><span class="sh_symbol">()</span> <span class="sh_symbol">*</span> <span class="sh_number">2</span><span class="sh_symbol">)))</span> <span class="sh_cbracket">{</span></li><li>                    <span class="sh_function">resolve</span><span class="sh_symbol">(</span><span class="sh_string">'Hello, '</span> <span class="sh_symbol">+</span> name <span class="sh_symbol">+</span> <span class="sh_string">'!'</span><span class="sh_symbol">);</span></li><li>                <span class="sh_cbracket">}</span></li><li>                <span class="sh_keyword">else</span> <span class="sh_cbracket">{</span></li><li>                    <span class="sh_function">reject</span><span class="sh_symbol">(</span><span class="sh_string">'Greeting '</span> <span class="sh_symbol">+</span> name <span class="sh_symbol">+</span> <span class="sh_string">' is not allowed.'</span><span class="sh_symbol">);</span></li><li>                <span class="sh_cbracket">}</span></li><li>            <span class="sh_cbracket">}</span><span class="sh_symbol">,</span> <span class="sh_number">100</span><span class="sh_symbol">);</span></li><li>        <span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span></li><li>    <span class="sh_keyword">var</span> promise <span class="sh_symbol">=</span> <span class="sh_function">asyncGreet</span><span class="sh_symbol">(</span><span class="sh_string">'Robin Hood'</span><span class="sh_symbol">);</span></li><li>    promise<span class="sh_symbol">.</span><span class="sh_function">then</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span> <span class="sh_symbol">(</span>greeting<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>        console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'Success: '</span> <span class="sh_symbol">+</span> greeting<span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">).</span><span class="sh_keyword">catch</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span> <span class="sh_symbol">(</span>reject<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>        console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'Failed: '</span> <span class="sh_symbol">+</span> reject<span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular.module('app', []); app.controller('controller', function ($q) { function asyncGreet(name) { // perform some asynchronous operation, resolve or reject the promise when appropriate. return $q(function (resolve, reject) { setTimeout(function
					() { if (Math.floor((Math.random() * 2))) { resolve('Hello, ' + name + '!'); } else { reject('Greeting ' + name + ' is not allowed.'); } }, 100); }); } var promise = asyncGreet('Robin Hood'); promise.then(function (greeting) { console.log('Success:
					' + greeting); }).catch(function (reject) { console.log('Failed: ' + reject); }); });
					</pre>
		</div>
	</div>
	</br>

	<p>The only difference here from above is changing <code>new Promise()</code> to <code>$q()</code>, simple enough.</p>

	<p class="alert alert-warning">
		Note:</br>
		- progress/notify callbacks are not currently supported via the ES6-style interface.</br>
		- unlike ES6 behavior, an exception thrown in the constructor function will NOT implicitly reject the promise.
	</p>

	<div class="text-heading">Deferred object: $q.defer()</div>
	</br>
	<p>
		Using <code>$q.defer()</code> is just another flavour, and the original implementation, of <code>$q()</code> as a Promise constructor.
		</br>
		When Deferred completes, You call methods either resolve(), reject(), and notify() . It calls callback register to either resolve(), reject(), or notify() according to how it has completed.
	</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>html ng<span class="sh_symbol">-</span>app<span class="sh_symbol">=</span><span class="sh_string">'app'</span><span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>body ng<span class="sh_symbol">-</span>controller<span class="sh_symbol">=</span><span class="sh_string">'controller'</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>p<span class="sh_symbol">&gt;</span> Work <span class="sh_keyword">in</span> progress<span class="sh_symbol">!&lt;/</span>p<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">{{</span>str<span class="sh_symbol">+</span>progress<span class="sh_symbol">+</span><span class="sh_string">'% completed!'</span><span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>br<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">{{</span>result<span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>script src<span class="sh_symbol">=</span><span class="sh_string">'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'</span><span class="sh_symbol">&gt;&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>script<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular<span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[]);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;app<span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">,</span>$q<span class="sh_symbol">)=&gt;</span><span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">function</span> <span class="sh_function">asyncGreet</span><span class="sh_symbol">(</span>name<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">var</span> defer <span class="sh_symbol">=</span> $q<span class="sh_symbol">.</span><span class="sh_function">defer</span><span class="sh_symbol">();</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">var</span> notifications <span class="sh_symbol">=</span> <span class="sh_number">0</span><span class="sh_symbol">;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">// For each 50 milliseconds in the delay, we will notify the caller</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">for</span> <span class="sh_symbol">(</span><span class="sh_keyword">var</span> i <span class="sh_symbol">=</span> <span class="sh_number">0</span><span class="sh_symbol">;</span> i <span class="sh_symbol">&lt;=</span> <span class="sh_number">100</span><span class="sh_symbol">;</span> i<span class="sh_symbol">++)</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="sh_function">setTimeout</span><span class="sh_symbol">(()=&gt;</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;defer<span class="sh_symbol">.</span><span class="sh_function">notify</span><span class="sh_symbol">(</span>notifications<span class="sh_symbol">++);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">,</span> i<span class="sh_symbol">*</span><span class="sh_number">50</span><span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span></li><li></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_function">setTimeout</span><span class="sh_symbol">(()=&gt;</span><span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">if</span> <span class="sh_symbol">(</span><span class="sh_predef_var">Math</span><span class="sh_symbol">.</span><span class="sh_function">floor</span><span class="sh_symbol">((</span><span class="sh_predef_var">Math</span><span class="sh_symbol">.</span><span class="sh_function">random</span><span class="sh_symbol">()</span> <span class="sh_symbol">*</span> <span class="sh_number">2</span><span class="sh_symbol">)))</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;defer<span class="sh_symbol">.</span><span class="sh_function">resolve</span><span class="sh_symbol">(</span><span class="sh_string">'Hello, '</span> <span class="sh_symbol">+</span> name <span class="sh_symbol">+</span> <span class="sh_string">'!'</span><span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">else</span> <span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;defer<span class="sh_symbol">.</span><span class="sh_function">reject</span><span class="sh_symbol">(</span><span class="sh_string">'Greeting '</span> <span class="sh_symbol">+</span> name <span class="sh_symbol">+</span> <span class="sh_string">' is not allowed.'</span><span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">,</span> <span class="sh_number">5000</span><span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">return</span> defer<span class="sh_symbol">.</span>promise<span class="sh_symbol">;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_function">asyncGreet</span><span class="sh_symbol">(</span><span class="sh_string">'Robin Hood'</span><span class="sh_symbol">)</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">.</span><span class="sh_function">then</span><span class="sh_symbol">(</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;success<span class="sh_symbol">=&gt;</span><span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope<span class="sh_symbol">.</span>result <span class="sh_symbol">=</span> <span class="sh_string">'Success: '</span> <span class="sh_symbol">+</span> success<span class="sh_symbol">;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope<span class="sh_symbol">.</span>str <span class="sh_symbol">=</span> <span class="sh_string">'Done...'</span><span class="sh_symbol">;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">,</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;error<span class="sh_symbol">=&gt;</span><span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope<span class="sh_symbol">.</span>result <span class="sh_symbol">=</span> <span class="sh_string">'Failed: '</span> <span class="sh_symbol">+</span> error<span class="sh_symbol">;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">,</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;notify<span class="sh_symbol">=&gt;</span><span class="sh_cbracket">{</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope<span class="sh_symbol">.</span>progress <span class="sh_symbol">=</span> notify<span class="sh_symbol">;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope<span class="sh_symbol">.</span>str <span class="sh_symbol">=</span> <span class="sh_string">'Loading...'</span><span class="sh_symbol">;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;/</span>body<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;/</span>html<span class="sh_symbol">&gt;</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;html ng-app='app'&gt; &lt;body ng-controller='controller'&gt; &lt;p&gt; Work in progress!&lt;/p&gt; {{str+progress+'% completed!'}} &lt;/br&gt; {{result}} &lt;script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'&gt;&lt;/script&gt;
					&lt;script&gt; var app = angular.module('app', []); app.controller('controller', ($scope,$q)=&gt;{ function asyncGreet(name) { var defer = $q.defer(); var notifications = 0; // For each second in the delay, we will notify the caller for (var i = 0;
					i &lt;= 100; i++) { setTimeout(()=&gt; { defer.notify(notifications++); }, i*50); } setTimeout(()=&gt;{ if (Math.floor((Math.random() * 2))) { defer.resolve('Hello, ' + name + '!'); } else { defer.reject('Greeting ' + name + ' is not allowed.'); }
					}, 5000); return defer.promise; } asyncGreet('Robin Hood') .then( success=&gt;{ $scope.result = 'Success: ' + success; $scope.str = 'Done...'; }, error=&gt;{ $scope.result = 'Failed: ' + error; }, notify=&gt;{ $scope.progress = notify; $scope.str
					= 'Loading...'; }); }); &lt;/script&gt; &lt;/body&gt; &lt;/html&gt;
					</pre>
		</div>
	</div>
	</br>

	<div class="text-heading">When to use $q</div>
	</br>
	<p>Golden rule: use <code>$q</code> for non-promise stuff, that’s it! Well, only <em>create</em> your Promises in this case, however you can use other methods such as <code>$q.all()</code> and <code>$q.race()</code> alongside <em>other</em> promises.</p>
	<code>$http</code> inside Angular, creates and returns a promise Object for you. Which means, you do not, and shouldn’t ever use promise with $http as it’s just creating a new promise Object from an existing promise Object.</p>

	<div class="text-heading">$q.when() / $q.resolve() </div>
	<p>
		Use <code>$q.when()</code> or <code>$q.resolve()</code> (they are identical, <code>$q.resolve()</code> is an alias for <code>$q.when()</code> to align with ES2015 Promise naming conventions) when you want to immediately resolve a promise from a non-promise
		Object, for example:
	</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>$q<span class="sh_symbol">.</span><span class="sh_function">when</span><span class="sh_symbol">(</span><span class="sh_number">123</span><span class="sh_symbol">).</span><span class="sh_function">then</span><span class="sh_symbol">(</span>res <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>  <span class="sh_comment">// 123</span></li><li>  console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span>res<span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li></li><li>$q<span class="sh_symbol">.</span><span class="sh_function">resolve</span><span class="sh_symbol">(</span><span class="sh_number">123</span><span class="sh_symbol">).</span><span class="sh_function">then</span><span class="sh_symbol">(</span>res <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>  <span class="sh_comment">// 123</span></li><li>  console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span>res<span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">$q.when(123).then(res =&gt; { // 123 console.log(res); }); $q.resolve(123).then(res =&gt; { // 123 console.log(res); });
				</pre>
		</div>
	</div>
	</br>

	<div class="text-heading">$q.reject() </div>
	<p>Using <code>$q.reject()</code> will immediately reject a promise, this comes in handy for things such as HTTP Interceptors at the point of no return to return, so we can just return a rejected promise Object:</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>$httpProvider<span class="sh_symbol">.</span>interceptors<span class="sh_symbol">.</span><span class="sh_function">push</span><span class="sh_symbol">(</span>$q <span class="sh_symbol">=&gt;</span> <span class="sh_symbol">(</span><span class="sh_cbracket">{</span></li><li>  <span class="sh_function">request</span><span class="sh_symbol">(</span>config<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span><span class="sh_symbol">...</span><span class="sh_cbracket">}</span><span class="sh_symbol">,</span></li><li>  <span class="sh_function">requestError</span><span class="sh_symbol">(</span>config<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_keyword">return</span> $q<span class="sh_symbol">.</span><span class="sh_function">reject</span><span class="sh_symbol">(</span>config<span class="sh_symbol">);</span></li><li>  <span class="sh_cbracket">}</span><span class="sh_symbol">,</span></li><li>  <span class="sh_function">response</span><span class="sh_symbol">(</span>response<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span><span class="sh_symbol">...</span><span class="sh_cbracket">}</span><span class="sh_symbol">,</span></li><li>  <span class="sh_function">responseError</span><span class="sh_symbol">(</span>response<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_keyword">return</span> $q<span class="sh_symbol">.</span><span class="sh_function">reject</span><span class="sh_symbol">(</span>response<span class="sh_symbol">);</span></li><li>  <span class="sh_cbracket">}</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">));</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">$httpProvider.interceptors.push($q =&gt; ({ request(config) {...}, requestError(config) { return $q.reject(config); }, response(response) {...}, responseError(response) { return $q.reject(response); } }));
				</pre>
		</div>
	</div>
	</br>

	<div class="text-heading">$q.all</div>
	<p>The time will likely arise where you need to resolve multiple promises at once, this is easily achieved through <code>$q.all()</code> by passing in either an Array or Object of promises which will call <code>.then()</code> once both are resolved:</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>let promiseOne <span class="sh_symbol">=</span> $http<span class="sh_symbol">.</span><span class="sh_function">get</span><span class="sh_symbol">(</span><span class="sh_string">'/api/todos'</span><span class="sh_symbol">);</span></li><li>let promiseTwo <span class="sh_symbol">=</span> $http<span class="sh_symbol">.</span><span class="sh_function">get</span><span class="sh_symbol">(</span><span class="sh_string">'/api/comments'</span><span class="sh_symbol">);</span></li><li></li><li><span class="sh_comment">// Array of Promises</span></li><li>$q<span class="sh_symbol">.</span><span class="sh_function">all</span><span class="sh_symbol">([</span>promiseOne<span class="sh_symbol">,</span> promiseTwo<span class="sh_symbol">]).</span><span class="sh_function">then</span><span class="sh_symbol">(</span>data <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>  console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'Both promises have resolved'</span><span class="sh_symbol">,</span> data<span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li></li><li><span class="sh_comment">// Object hash of Promises</span></li><li><span class="sh_comment">// this is ES2015 shorthand for { promiseOne: promiseOne, promiseTwo: promiseTwo }</span></li><li>$q<span class="sh_symbol">.</span><span class="sh_function">all</span><span class="sh_symbol">(</span><span class="sh_cbracket">{</span></li><li>    promiseOne<span class="sh_symbol">,</span></li><li>    promiseTwo</li><li>  <span class="sh_cbracket">}</span><span class="sh_symbol">).</span><span class="sh_function">then</span><span class="sh_symbol">(</span>data <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>  console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'Both promises have resolved'</span><span class="sh_symbol">,</span> data<span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">let promiseOne = $http.get('/api/todos'); let promiseTwo = $http.get('/api/comments'); // Array of Promises $q.all([promiseOne, promiseTwo]).then(data =&gt; { console.log('Both promises have resolved', data); }); // Object hash of Promises // this
				is ES2015 shorthand for { promiseOne: promiseOne, promiseTwo: promiseTwo } $q.all({ promiseOne, promiseTwo }).then(data =&gt; { console.log('Both promises have resolved', data); });
				</pre>
		</div>
	</div>
	</br>

	<div class="text-heading">$q.race</div>
	<p>
		The <code>$q.race</code> method is one of the newer arrivals to Angular, and is similar to <code>$q.all()</code>, however whichever promise resolves first is the only response Object passed back to you. Assume API call 1 and API call 2 are both executed
		simultaneously, and API call 2 resolves before API 1, you’ll <em>only</em> get API call 2 as the response Object. In other words the fastest promise wins and is returned on its own:
	</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>let promiseOne <span class="sh_symbol">=</span> $http<span class="sh_symbol">.</span><span class="sh_function">get</span><span class="sh_symbol">(</span><span class="sh_string">'/api/todos'</span><span class="sh_symbol">);</span></li><li>let promiseTwo <span class="sh_symbol">=</span> $http<span class="sh_symbol">.</span><span class="sh_function">get</span><span class="sh_symbol">(</span><span class="sh_string">'/api/comments'</span><span class="sh_symbol">);</span></li><li></li><li><span class="sh_comment">// Array of Promises</span></li><li>$q<span class="sh_symbol">.</span><span class="sh_function">race</span><span class="sh_symbol">([</span>promiseOne<span class="sh_symbol">,</span> promiseTwo<span class="sh_symbol">]).</span><span class="sh_function">then</span><span class="sh_symbol">(</span>data <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>  console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'Fastest wins, who will it be?...'</span><span class="sh_symbol">,</span> data<span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li></li><li><span class="sh_comment">// Object hash of Promises</span></li><li><span class="sh_comment">// this is ES2015 shorthand for { promiseOne: promiseOne, promiseTwo: promiseTwo }</span></li><li>$q<span class="sh_symbol">.</span><span class="sh_function">race</span><span class="sh_symbol">(</span><span class="sh_cbracket">{</span></li><li>    promiseOne<span class="sh_symbol">,</span></li><li>    promiseTwo</li><li>  <span class="sh_cbracket">}</span><span class="sh_symbol">).</span><span class="sh_function">then</span><span class="sh_symbol">(</span>data <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>  console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'Fastest wins, who will it be?...'</span><span class="sh_symbol">,</span> data<span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">let promiseOne = $http.get('/api/todos'); let promiseTwo = $http.get('/api/comments'); // Array of Promises $q.race([promiseOne, promiseTwo]).then(data =&gt; { console.log('Fastest wins, who will it be?...', data); }); // Object hash of Promises //
				this is ES2015 shorthand for { promiseOne: promiseOne, promiseTwo: promiseTwo } $q.race({ promiseOne, promiseTwo }).then(data =&gt; { console.log('Fastest wins, who will it be?...', data); });
				</pre>
		</div>
	</div>
	</br>
	</br>

	<p>Use <code>$q</code> for constructing promises from non-promise Objects/callbacks, and utilise <code>$q.all()</code> and <code>$q.race()</code> to work with existing promises.</p>

</div>
</br>
<!-- --------------------------------------------------- $q provider service end --------------------------------------------------- -->

<!-- --------------------------------------------------- References start --------------------------------------------------- -->
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">References:</h3>
	</div>
	<div class="panel-body">
		<a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise'>MDN Promise</a>
	</div>
	<div class="panel-body">
		<a href='https://docs.angularjs.org/api/ng/service/$q'>AngularJS</a>
	</div>
	<div class="panel-body">
		<a href='http://exploringjs.com/es6/ch_promises.html'>ExploringJS promise</a>
	</div>
	<div class="panel-body">
		<a href='https://toddmotto.com/promises-angular-q'>Todd motto blog on $q</a>
	</div>
	<div class="panel-body">
		<a href='http://www.codelord.net/2015/09/24/$q-dot-defer-youre-doing-it-wrong/'>Codelord blog</a>
	</div>
</div>

<!-- --------------------------------------------------- References end --------------------------------------------------- -->
<!-- --------------------------------------------------- start --------------------------------------------------- -->
<!-- --------------------------------------------------- end ----------------------------------------------------- -->
