<!-- --------------------------------------------------- Introduction start --------------------------------------------------- -->
<div class="alert alert-danger title">Introduction</div>

<div class="text-heading"> Built-in directives: </div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title"><button type="button" class="btn btn-warning">Built-in directives</button></h3>
    </div>
    <div class="panel-body">
        <div class="collapse">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngJq">ngJq</a></td>
                        <td>
                            <p>Use this directive to force the angular.element library. This should be used to force either jqLite by leaving ng-jq blank or setting the name of the jquery variable under window (eg. jQuery).</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngApp">ngApp</a></td>
                        <td>
                            <p>Use this directive to <strong>auto-bootstrap</strong> an AngularJS application. The <code><span>ngApp</span></code> directive designates the <strong>root element</strong> of the application and is typically placed near the
                                root element of the page - e.g. on the <code><span class="tag">&lt;body&gt;</span></code> or <code><span class="tag">&lt;html&gt;</span></code> tags.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/a">a</a></td>
                        <td>
                            <p>Modifies the default behavior of the html a tag so that the default action is prevented when the href attribute is empty.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngHref">ngHref</a></td>
                        <td>
                            <p>Using Angular markup like <code><span class="pun">{{</span><span>hash</span><span class="pun">}}</span></code> in an href attribute will make the link go to the wrong URL if the user clicks it before Angular has a chance to
                                replace the <code><span class="pun">{{</span><span>hash</span><span class="pun">}}</span></code> markup with its value. Until Angular replaces the markup the link will be broken and will most likely return a 404 error.
                                The <code><span>ngHref</span></code> directive solves this problem.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngSrc">ngSrc</a></td>
                        <td>
                            <p>Using Angular markup like <code><span class="pun">{{</span><span>hash</span><span class="pun">}}</span></code> in a <code><span>src</span></code> attribute doesn't work right: The browser will fetch from the URL with the literal
                                text <code><span class="pun">{{</span><span>hash</span><span class="pun">}}</span></code> until Angular replaces the expression inside
                                <code><span class="pun">{{</span><span>hash</span><span class="pun">}}</span></code>. The <code><span>ngSrc</span></code> directive solves this problem.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngSrcset">ngSrcset</a></td>
                        <td>
                            <p>Using Angular markup like <code><span class="pun">{{</span><span>hash</span><span class="pun">}}</span></code> in a <code><span>srcset</span></code> attribute doesn't work right: The browser will fetch from the URL with the
                                literal text <code><span class="pun">{{</span><span>hash</span><span class="pun">}}</span></code> until Angular replaces the expression inside
                                <code><span class="pun">{{</span><span>hash</span><span class="pun">}}</span></code>. The <code><span>ngSrcset</span></code> directive solves this problem.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngDisabled">ngDisabled</a></td>
                        <td>
                            <p>This directive sets the <code><span>disabled</span></code> attribute on the element if the
                                <a href="guide/expression">expression</a> inside <code><span>ngDisabled</span></code> evaluates to truthy.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngChecked">ngChecked</a></td>
                        <td>
                            <p>Sets the <code><span class="kwd">checked</span></code> attribute on the element, if the expression inside <code><span>ngChecked</span></code> is truthy.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngReadonly">ngReadonly</a></td>
                        <td>
                            <p>Sets the <code><span class="kwd">readonly</span></code> attribute on the element, if the expression inside <code><span>ngReadonly</span></code> is truthy. Note that <code><span class="kwd">readonly</span></code> applies only
                                to <code><span>input</span></code> elements with specific types. <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-readonly">See the input docs on
MDN</a> for more information.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngSelected">ngSelected</a></td>
                        <td>
                            <p>Sets the <code><span>selected</span></code> attribute on the element, if the expression inside <code><span>ngSelected</span></code> is truthy.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngOpen">ngOpen</a></td>
                        <td>
                            <p>Sets the <code><span>open</span></code> attribute on the element, if the expression inside <code><span>ngOpen</span></code> is truthy.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngForm">ngForm</a></td>
                        <td>
                            <p>Nestable alias of <a href="api/ng/directive/form"><code><span>form</span></code></a> directive. HTML does not allow nesting of form elements. It is useful to nest forms, for example if the validity of a sub-group of controls
                                needs to be determined.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/form">form</a></td>
                        <td>
                            <p>Directive that instantiates
                                <a href="api/ng/type/form.FormController">FormController</a>.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/textarea">textarea</a></td>
                        <td>
                            <p>HTML textarea element control with angular data-binding. The data-binding and validation properties of this element are exactly the same as those of the
                                <a href="api/ng/directive/input">input element</a>.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/input">input</a></td>
                        <td>
                            <p>HTML input element control. When used together with <a href="api/ng/directive/ngModel"><code><span>ngModel</span></code></a>, it provides data-binding, input state control, and validation. Input control follows HTML5 input
                                types and polyfills the HTML5 validation behavior for older browsers.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngValue">ngValue</a></td>
                        <td>
                            <p>Binds the given expression to the value of the element.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngBind">ngBind</a></td>
                        <td>
                            <p>The <code><span>ngBind</span></code> attribute tells Angular to replace the text content of the specified HTML element with the value of a given expression, and to update the text content when the value of that expression changes.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngBindTemplate">ngBindTemplate</a></td>
                        <td>
                            <p>The <code><span>ngBindTemplate</span></code> directive specifies that the element text content should be replaced with the interpolation of the template in the <code><span>ngBindTemplate</span></code> attribute. Unlike
                                <code><span>ngBind</span></code>, the <code><span>ngBindTemplate</span></code> can contain multiple <code><span class="pun">{{</span></code> <code><span class="pun">}}</span></code> expressions. This directive is needed
                                since some HTML elements (such as TITLE and OPTION) cannot contain SPAN elements.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngBindHtml">ngBindHtml</a></td>
                        <td>
                            <p>Evaluates the expression and inserts the resulting HTML into the element in a secure way. By default, the resulting HTML content will be sanitized using the <a href="api/ngSanitize/service/$sanitize">$sanitize</a> service.
                                To utilize this functionality, ensure that <code><span>$sanitize</span></code> is available, for example, by including <a href="api/ngSanitize"><code><span>ngSanitize</span></code></a> in your module's dependencies (not
                                in core Angular). In order to use <a href="api/ngSanitize"><code><span>ngSanitize</span></code></a> in your module's dependencies, you need to include "angular-sanitize.js" in your application.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngChange">ngChange</a></td>
                        <td>
                            <p>Evaluate the given expression when the user changes the input. The expression is evaluated immediately, unlike the JavaScript onchange event which only triggers at the end of a change (usually, when the user leaves the form
                                element or presses the return key).</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngClass">ngClass</a></td>
                        <td>
                            <p>The <code><span>ngClass</span></code> directive allows you to dynamically set CSS classes on an HTML element by databinding an expression that represents all classes to be added.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngClassOdd">ngClassOdd</a></td>
                        <td>
                            <p>The <code><span>ngClassOdd</span></code> and <code><span>ngClassEven</span></code> directives work exactly as
                                <a href="api/ng/directive/ngClass">ngClass</a>, except they work in conjunction with <code><span>ngRepeat</span></code> and take effect only on odd (even) rows.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngClassEven">ngClassEven</a></td>
                        <td>
                            <p>The <code><span>ngClassOdd</span></code> and <code><span>ngClassEven</span></code> directives work exactly as
                                <a href="api/ng/directive/ngClass">ngClass</a>, except they work in conjunction with <code><span>ngRepeat</span></code> and take effect only on odd (even) rows.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngCloak">ngCloak</a></td>
                        <td>
                            <p>The <code><span>ngCloak</span></code> directive is used to prevent the Angular html template from being briefly displayed by the browser in its raw (uncompiled) form while your application is loading. Use this directive to
                                avoid the undesirable flicker effect caused by the html template display.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngController">ngController</a></td>
                        <td>
                            <p>The <code><span>ngController</span></code> directive attaches a controller class to the view. This is a key aspect of how angular supports the principles behind the Model-View-Controller design pattern.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngCsp">ngCsp</a></td>
                        <td>
                            <p>Angular has some features that can conflict with certain restrictions that are applied when using
                                <a href="https://developer.mozilla.org/en/Security/CSP">CSP (Content Security Policy)</a> rules.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngClick">ngClick</a></td>
                        <td>
                            <p>The ngClick directive allows you to specify custom behavior when an element is clicked.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngDblclick">ngDblclick</a></td>
                        <td>
                            <p>The <code><span>ngDblclick</span></code> directive allows you to specify custom behavior on a dblclick event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMousedown">ngMousedown</a></td>
                        <td>
                            <p>The ngMousedown directive allows you to specify custom behavior on mousedown event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMouseup">ngMouseup</a></td>
                        <td>
                            <p>Specify custom behavior on mouseup event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMouseover">ngMouseover</a></td>
                        <td>
                            <p>Specify custom behavior on mouseover event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMouseenter">ngMouseenter</a></td>
                        <td>
                            <p>Specify custom behavior on mouseenter event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMouseleave">ngMouseleave</a></td>
                        <td>
                            <p>Specify custom behavior on mouseleave event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMousemove">ngMousemove</a></td>
                        <td>
                            <p>Specify custom behavior on mousemove event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngKeydown">ngKeydown</a></td>
                        <td>
                            <p>Specify custom behavior on keydown event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngKeyup">ngKeyup</a></td>
                        <td>
                            <p>Specify custom behavior on keyup event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngKeypress">ngKeypress</a></td>
                        <td>
                            <p>Specify custom behavior on keypress event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngSubmit">ngSubmit</a></td>
                        <td>
                            <p>Enables binding angular expressions to onsubmit events.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngFocus">ngFocus</a></td>
                        <td>
                            <p>Specify custom behavior on focus event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngBlur">ngBlur</a></td>
                        <td>
                            <p>Specify custom behavior on blur event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngCopy">ngCopy</a></td>
                        <td>
                            <p>Specify custom behavior on copy event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngCut">ngCut</a></td>
                        <td>
                            <p>Specify custom behavior on cut event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngPaste">ngPaste</a></td>
                        <td>
                            <p>Specify custom behavior on paste event.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngIf">ngIf</a></td>
                        <td>
                            <p>The <code><span>ngIf</span></code> directive removes or recreates a portion of the DOM tree based on an {expression}. If the expression assigned to <code><span>ngIf</span></code> evaluates to a false value then the element
                                is removed from the DOM, otherwise a clone of the element is reinserted into the DOM.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngInclude">ngInclude</a></td>
                        <td>
                            <p>Fetches, compiles and includes an external HTML fragment.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngInit">ngInit</a></td>
                        <td>
                            <p>The <code><span>ngInit</span></code> directive allows you to evaluate an expression in the current scope.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngList">ngList</a></td>
                        <td>
                            <p>Text input that converts between a delimited string and an array of strings. The default delimiter is a comma followed by a space - equivalent to <code><span>ng</span><span class="pun">-</span><span>list</span><span class="pun">=</span><span class="str">", "</span></code>.
                                You can specify a custom delimiter as the value of the <code><span>ngList</span></code> attribute - for example, <code><span>ng</span><span class="pun">-</span><span>list</span><span class="pun">=</span><span class="str">" | "</span></code>.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngModel">ngModel</a></td>
                        <td>
                            <p>The <code><span>ngModel</span></code> directive binds an <code><span>input</span></code>,<code><span class="kwd">select</span></code>, <code><span>textarea</span></code> (or custom form control) to a property on the scope using
                                <a href="api/ng/type/ngModel.NgModelController">NgModelController</a>, which is created and exposed by this directive.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngModelOptions">ngModelOptions</a></td>
                        <td>
                            <p>This directive allows you to modify the behaviour of <a href="api/ng/directive/ngModel"><code><span>ngModel</span></code></a> directives within your application. You can specify an <code><span>ngModelOptions</span></code> directive
                                on any element. All <a href="api/ng/directive/ngModel"><code><span>ngModel</span></code></a> directives will use the options of their nearest <code><span>ngModelOptions</span></code> ancestor.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngNonBindable">ngNonBindable</a></td>
                        <td>
                            <p>The <code><span>ngNonBindable</span></code> directive tells Angular not to compile or bind the contents of the current DOM element. This is useful if the element contains what appears to be Angular directives and bindings but
                                which should be ignored by Angular. This could be the case if you have a site that displays snippets of code, for instance.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngOptions">ngOptions</a></td>
                        <td>
                            <p>The <code><span>ngOptions</span></code> attribute can be used to dynamically generate a list of <code><span class="tag">&lt;option&gt;</span></code> elements for the <code><span class="tag">&lt;select&gt;</span></code> element
                                using the array or object obtained by evaluating the
                                <code><span>ngOptions</span></code> comprehension expression.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngPluralize">ngPluralize</a></td>
                        <td>
                            <p><code><span>ngPluralize</span></code> is a directive that displays messages according to en-US localization rules. These rules are bundled with angular.js, but can be overridden (see <a href="guide/i18n">Angular i18n</a> dev
                                guide). You configure ngPluralize directive by specifying the mappings between
                                <a href="http://unicode.org/repos/cldr-tmp/trunk/diff/supplemental/language_plural_rules.html">plural categories</a> and the strings to be displayed.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngRepeat">ngRepeat</a></td>
                        <td>
                            <p>The <code><span>ngRepeat</span></code> directive instantiates a template once per item from a collection. Each template instance gets its own scope, where the given loop variable is set to the current collection item, and
                                <code><span>$index</span></code> is set to the item index or key.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngShow">ngShow</a></td>
                        <td>
                            <p>The <code><span>ngShow</span></code> directive shows or hides the given HTML element based on the expression provided to the <code><span>ngShow</span></code> attribute.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngHide">ngHide</a></td>
                        <td>
                            <p>The <code><span>ngHide</span></code> directive shows or hides the given HTML element based on the expression provided to the <code><span>ngHide</span></code> attribute.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngStyle">ngStyle</a></td>
                        <td>
                            <p>The <code><span>ngStyle</span></code> directive allows you to set CSS style on an HTML element conditionally.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngSwitch">ngSwitch</a></td>
                        <td>
                            <p>The <code><span>ngSwitch</span></code> directive is used to conditionally swap DOM structure on your template based on a scope expression. Elements within <code><span>ngSwitch</span></code> but without
                                <code><span>ngSwitchWhen</span></code> or <code><span>ngSwitchDefault</span></code> directives will be preserved at the location as specified in the template.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngTransclude">ngTransclude</a></td>
                        <td>
                            <p>Directive that marks the insertion point for the transcluded DOM of the nearest parent directive that uses transclusion.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/script">script</a></td>
                        <td>
                            <p>Load the content of a <code><span class="tag">&lt;script&gt;</span></code> element into <a href="api/ng/service/$templateCache"><code><span>$templateCache</span></code></a>, so that the template can be used by
                                <a href="api/ng/directive/ngInclude"><code><span>ngInclude</span></code></a>,
                                <a href="api/ngRoute/directive/ngView"><code><span>ngView</span></code></a>, or <a href="guide/directive">directives</a>. The type of the
                                <code><span class="tag">&lt;script&gt;</span></code> element must be specified as <code><span>text</span><span class="pun">/</span><span>ng</span><span class="pun">-</span><span class="kwd">template</span></code>, and a
                                cache name for the template must be assigned through the element's <code><span>id</span></code>, which can then be used as a directive's <code><span>templateUrl</span></code>.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/select">select</a></td>
                        <td>
                            <p>HTML <code><span class="kwd">select</span></code> element with angular data-binding.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngRequired">ngRequired</a></td>
                        <td>
                            <p>ngRequired adds the required <a href="api/ng/type/ngModel.NgModelController#$validators"><code><span>validator</span></code></a> to <a href="api/ng/directive/ngModel"><code><span>ngModel</span></code></a>. It is most often
                                used for <a href="api/ng/directive/input"><code><span>input</span></code></a> and <a href="api/ng/directive/select"><code><span class="kwd">select</span></code></a> controls, but can also be applied to custom controls.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngPattern">ngPattern</a></td>
                        <td>
                            <p>ngPattern adds the pattern <a href="api/ng/type/ngModel.NgModelController#$validators"><code><span>validator</span></code></a> to <a href="api/ng/directive/ngModel"><code><span>ngModel</span></code></a>. It is most often used
                                for text-based <a href="api/ng/directive/input"><code><span>input</span></code></a> controls, but can also be applied to custom text-based controls.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMaxlength">ngMaxlength</a></td>
                        <td>
                            <p>ngMaxlength adds the maxlength <a href="api/ng/type/ngModel.NgModelController#$validators"><code><span>validator</span></code></a> to <a href="api/ng/directive/ngModel"><code><span>ngModel</span></code></a>. It is most often
                                used for text-based <a href="api/ng/directive/input"><code><span>input</span></code></a> controls, but can also be applied to custom text-based controls.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="api/ng/directive/ngMinlength">ngMinlength</a></td>
                        <td>
                            <p>ngMinlength adds the minlength <a href="api/ng/type/ngModel.NgModelController#$validators"><code><span>validator</span></code></a> to <a href="api/ng/directive/ngModel"><code><span>ngModel</span></code></a>. It is most often
                                used for text-based <a href="api/ng/directive/input"><code><span>input</span></code></a> controls, but can also be applied to custom text-based controls.</p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- ------------------------------ Toggle script end ---------------------------- -->

<script>
    $(document).ready(function() {
        $(".btn-warning").click(function() {
            $(".collapse").collapse('toggle');
        });
    });
</script>


<!-- --------------------------------------------------- Introduction end ----------------------------------------------------- -->



<!-- --------------------------------------------------- ngRepeat start --------------------------------------------------- -->
<div class="alert alert-danger title">ngRepeat: </div>
<div class='text'>
    <p>The <code><span class="pln">ngRepeat</span></code> directive instantiates a template once per item from a collection. Each template instance gets its own scope, where the given loop variable is set to the current collection item, and <code><span class="pln">$index</span></code>        is set to the item index or key.</p>
    <p>Special properties are exposed on the local scope of each template instance, including:</p>

    <table class="table table-bordered table-striped code-table">
        <thead>
            <tr>
                <th>Variable</th>
                <th>Type</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code><span class="pln">$index</span></code></td>
                <td>
                    <div class="label label-danger">number</div>
                </td>
                <td>iterator offset of the repeated element (0..length-1)</td>
            </tr>
            <tr>
                <td><code><span class="pln">$first</span></code></td>
                <td>
                    <div class="label label-success">boolean</div>
                </td>
                <td>true if the repeated element is first in the iterator.</td>
            </tr>
            <tr>
                <td><code><span class="pln">$middle</span></code></td>
                <td>
                    <div class="label label-success">boolean</div>
                </td>
                <td>true if the repeated element is between the first and last in the iterator.</td>
            </tr>
            <tr>
                <td><code><span class="pln">$last</span></code></td>
                <td>
                    <div class="label label-success">boolean</div>
                </td>
                <td>true if the repeated element is last in the iterator.</td>
            </tr>
            <tr>
                <td><code><span class="pln">$even</span></code></td>
                <td>
                    <div class="label label-success">boolean</div>
                </td>
                <td>true if the iterator position <code><span class="pln">$index</span></code> is even (otherwise false).</td>
            </tr>
            <tr>
                <td><code><span class="pln">$odd</span></code></td>
                <td>
                    <div class="label label-success">boolean</div>
                </td>
                <td>true if the iterator position <code><span class="pln">$index</span></code> is odd (otherwise false).</td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-info">
        Creating aliases for these properties is possible with <code>ngInit</code>. This may be useful when, for instance, nesting ngRepeats.
    </div>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>app<span class="sh_symbol">=</span><span class="sh_string">'app'</span> ng<span class="sh_symbol">-</span>controller<span class="sh_symbol">=</span><span class="sh_string">'controller'</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;!--</span> <span class="sh_predef_func">Array</span><span class="sh_symbol">--&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;!--</span> The <span class="sh_keyword">default</span> tracking <span class="sh_keyword">function</span> <span class="sh_symbol">(</span>which tracks items by their identity<span class="sh_symbol">)</span> does not allow duplicate items <span class="sh_keyword">in</span> arrays<span class="sh_symbol">.--&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">=</span><span class="sh_string">"arrayItem in [1, 2, 2, 4] track by $index"</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">{{</span>arrayItem<span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li><li></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;!--</span> Nested <span class="sh_predef_func">Array</span> <span class="sh_symbol">--&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">=</span><span class="sh_string">"outerArray in [1, 2, 3] track by $index"</span> ng<span class="sh_symbol">-</span>init<span class="sh_symbol">=</span><span class="sh_string">"outerIndex = $index"</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outer <span class="sh_predef_func">Array</span><span class="sh_symbol">:</span><span class="sh_cbracket">{{</span>outerArray<span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">=</span><span class="sh_string">"innerArray in [1, 2, 3] | limitTo:4-outerIndex:outerIndex track by $index"</span> ng<span class="sh_symbol">-</span>init<span class="sh_symbol">=</span><span class="sh_string">"innerIndex = $index"</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inner <span class="sh_predef_func">Array</span><span class="sh_symbol">:</span><span class="sh_cbracket">{{</span>innerArray<span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span><span class="sh_normal">br</span><span class="sh_symbol">/&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;!--</span> Output<span class="sh_symbol">:</span>  </li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outer <span class="sh_predef_func">Array</span><span class="sh_symbol">:</span><span class="sh_number">1</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inner <span class="sh_predef_func">Array</span><span class="sh_symbol">:</span><span class="sh_number">1</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inner <span class="sh_predef_func">Array</span><span class="sh_symbol">:</span><span class="sh_number">2</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inner <span class="sh_predef_func">Array</span><span class="sh_symbol">:</span><span class="sh_number">3</span></li><li></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outer <span class="sh_predef_func">Array</span><span class="sh_symbol">:</span><span class="sh_number">2</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inner <span class="sh_predef_func">Array</span><span class="sh_symbol">:</span><span class="sh_number">2</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inner <span class="sh_predef_func">Array</span><span class="sh_symbol">:</span><span class="sh_number">3</span></li><li></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outer <span class="sh_predef_func">Array</span><span class="sh_symbol">:</span><span class="sh_number">3</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inner <span class="sh_predef_func">Array</span><span class="sh_symbol">:</span><span class="sh_number">3</span>&nbsp;&nbsp;&nbsp;&nbsp;</li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">--&gt;</span></li><li></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;!--</span> <span class="sh_predef_func">Object</span> <span class="sh_symbol">--&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">=</span><span class="sh_string">"objectItem in {first:1, second:2, third:2, fourth:3} track by $index "</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_cbracket">{{</span>objectItem<span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable=""> &lt;div ng-app='app' ng-controller='controller'&gt; &lt;!-- Array--&gt; &lt;!-- The default tracking function (which tracks items by their identity) does not allow duplicate items in arrays.--&gt; &lt;div ng-repeat="arrayItem in [1, 2, 2,
                4] track by $index"&gt; {{arrayItem}} &lt;/div&gt; &lt;!-- Nested Array --&gt; &lt;div ng-repeat="outerArray in [1, 2, 3] track by $index" ng-init="outerIndex = $index"&gt; Outer Array:{{outerArray}} &lt;div ng-repeat="innerArray in [1,
                2, 3] | limitTo:4-outerIndex:outerIndex track by $index" ng-init="innerIndex = $index"&gt; Inner Array:{{innerArray}} &lt;/div&gt; &lt;br/&gt; &lt;/div&gt; &lt;!-- Output: Outer Array:1 Inner Array:1 Inner Array:2 Inner Array:3 Outer Array:2
                Inner Array:2 Inner Array:3 Outer Array:3 Inner Array:3 --&gt; &lt;!-- Object --&gt; &lt;div ng-repeat="objectItem in {first:1, second:2, third:2, fourth:3} track by $index "&gt; {{objectItem}} &lt;/div&gt; &lt;/div&gt;
                </pre>
        </div>
    </div>

    <div class="text-heading"> Iterating over object properties: </div>
    <p>It is possible to get <code><span class="pln">ngRepeat</span></code> to iterate over the properties of an object using the following syntax:</p>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_html snippet-formatted sh_sourceCode"><ul class="snippet-no-num"><li><span class="sh_keyword">&lt;div</span> <span class="sh_type">ng-repeat</span><span class="sh_symbol">=</span><span class="sh_string">"(key, value) in myObj"</span><span class="sh_keyword">&gt;</span> ... <span class="sh_keyword">&lt;/div&gt;</span></li></ul></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;div ng-repeat="(key, value) in myObj"&gt; ... &lt;/div&gt;</pre>
        </div>
    </div>
    <p>However, there are a few limitations compared to array iteration:</p>
    <ul class='list'>
        <li>
            <p>The JavaScript specification does not define the order of keys returned for an object, so AngularJS relies on the order returned by the browser when running <code><span class="kwd">for</span><span class="pln"> key </span><span class="kwd">in</span><span class="pln"> myObj</span></code>.
                Browsers generally follow the strategy of providing keys in the order in which they were defined, although there are exceptions when keys are deleted and reinstated. See the
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/delete#Cross-browser_notes">MDN page on <code><span class="kwd">delete</span></code> for more info</a>.</p>
        </li>
        <li>
            <p><code><span class="pln">ngRepeat</span></code> will silently <em>ignore</em> object keys starting with <code><span class="pln">$</span></code>, because it's a prefix used by AngularJS for public (<code><span class="pln">$</span></code>) and
                private (<code><span class="pln">$$</span></code>) properties.</p>
        </li>
        <li>
            <p>The built-in filters <a href="api/ng/filter/orderBy">orderBy</a> and <a href="api/ng/filter/filter">filter</a> do not work with objects, and will throw an error if used with one.</p>
        </li>
    </ul>
    <p>
        If you are hitting any of these limitations, the recommended workaround is to convert your object into an array that is sorted into the order that you prefer before providing it to <code>ngRepeat</code>. You could do this with a filter such as
        <a href="http://ngmodules.org/modules/angular-toArrayFilter">toArrayFilter</a> or implement a <code>$watch</code> on the object yourself.
    </p>

    <div class="text-heading"> Tracking and Duplicates: </div>
    <div>
        <p><code>ngRepeat</code> uses $watchCollection to detect changes in the collection. When a change happens, <code>ngRepeat</code> then makes the corresponding changes to the DOM:</p>
        <ul class='list'>
            <li>When an item is added, a new instance of the template is added to the DOM.</li>
            <li>When an item is removed, its template instance is removed from the DOM.</li>
            <li>When items are reordered, their respective templates are reordered in the DOM.</li>
        </ul>
        <p>To minimize creation of DOM elements, <code><span class="pln">ngRepeat</span></code> uses a function to "keep track" of all items in the collection and their corresponding DOM elements. For example, if an item is added to the collection, <code><span class="pln">ngRepeat</span></code>            will know that all other items already have DOM elements, and will not re-render them.</p>
        <p>The default tracking function (which tracks items by their identity) does not allow duplicate items in arrays. This is because when there are duplicates, it is not possible to maintain a one-to-one mapping between collection items and DOM elements.</p>
        <p>If you do need to repeat duplicate items, you can substitute the default tracking behavior with your own using the <code><span class="pln">track </span><span class="kwd">by</span></code> expression.</p>
        <p>For example, you may track items by the index of each item in the collection, using the special scope property <code><span class="pln">$index</span></code>:</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">=</span><span class="sh_string">"n in [42, 42, 43, 43] track by $index"</span><span class="sh_symbol">&gt;</span></li><li>  <span class="sh_cbracket">{{</span>n<span class="sh_cbracket">}}</span></li><li><span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;div ng-repeat="n in [42, 42, 43, 43] track by $index"&gt; {{n}} &lt;/div&gt;
                </pre>
            </div>
        </div>
        <p><br/></p>
        <p>You may also use arbitrary expressions in <code><span class="pln">track </span><span class="kwd">by</span></code>, including references to custom functions on the scope:</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">=</span><span class="sh_string">"n in [42, 42, 43, 43] track by myTrackingFunction(n)"</span><span class="sh_symbol">&gt;</span></li><li>  <span class="sh_cbracket">{{</span>n<span class="sh_cbracket">}}</span></li><li><span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;div ng-repeat="n in [42, 42, 43, 43] track by myTrackingFunction(n)"&gt; {{n}} &lt;/div&gt;
                </pre>
            </div>
        </div>
        <p><br/></p>
        <div class="alert alert-success">
            If you are working with objects that have a unique identifier property, you should track by this identifier instead of the object instance. Should you reload your data later, <code><span class="pln">ngRepeat</span></code> will not have to
            rebuild the DOM elements for items it has already rendered, even if the JavaScript objects in the collection have been substituted for new ones. For large collections, this significantly improves rendering performance. If you don't have a
            unique identifier,
            <code><span class="pln">track </span><span class="kwd">by</span><span class="pln"> $index</span></code> can also provide a performance boost.
        </div>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">=</span><span class="sh_string">"model in collection track by model.id"</span><span class="sh_symbol">&gt;</span></li><li>  <span class="sh_cbracket">{{</span>model<span class="sh_symbol">.</span><span class="sh_predef_var">name</span><span class="sh_cbracket">}}</span></li><li><span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;div ng-repeat="model in collection track by model.id"&gt; {{model.name}} &lt;/div&gt;
                </pre>
            </div>
        </div>
        <p><br/></p>
        <div class="alert alert-warning">
            Avoid using <code><span class="pln">track </span><span class="kwd">by</span><span class="pln"> $index</span></code> when the repeated template contains
            <a href="guide/expression#one-time-binding">one-time bindings</a>. In such cases, the <code><span class="pln">nth</span></code> DOM element will always be matched with the <code><span class="pln">nth</span></code> item of the array, so the
            bindings on that element will not be updated even when the corresponding item changes, essentially causing the view to get out-of-sync with the underlying data.
        </div>

        <div class="alert alert-info">
            <strong>One-time binding:</strong> An expression that starts with <code><span class="pun">::</span></code> is considered a one-time expression. One-time expressions will stop recalculating once they are stable, which happens after the first
            digest if the expression result is a non-undefined value (see value stabilization algorithm below).

            <div>
                Reasons for using one-time binding: The main purpose of one-time binding expression is to provide a way to create a binding that gets deregistered and frees up resources once the binding is stabilized. Reducing the number of expressions being watched
                makes the digest loop faster and allows more information to be displayed at the same time.
            </div>
            <div>
                <strong>Value stabilization algorithm</strong> One-time binding expressions will retain the value of the expression at the end of the digest cycle as long as that value is not undefined. If the value of the expression is set within the
                digest loop and later, within the same digest loop, it is set to undefined, then the expression is not fulfilled and will remain watched.
                <ol class="list">
                    <li>Given an expression that starts with <code><span class="pun">::</span></code>, when a digest loop is entered and expression is dirty-checked, store the value as V</li>
                    <li>If V is not undefined, mark the result of the expression as stable and schedule a task to deregister the watch for this expression when we exit the digest loop</li>
                    <li>Process the digest loop as normal</li>
                    <li>When digest loop is done and all the values have settled, process the queue of watch deregistration tasks. For each watch to be deregistered, check if it still evaluates to a value that is not <code><span class="kwd">undefined</span></code>.
                        If that's the case, deregister the watch. Otherwise, keep dirty-checking the watch in the future digest loops by following the same algorithm starting from step 1</li>
                </ol>
            </div>
        </div>

        <p>
            When no <code><span class="pln">track </span><span class="kwd">by</span></code> expression is provided, it is equivalent to tracking by the built-in
            <code><span class="pln">$id</span></code> function, which tracks items by their identity:
        </p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">=</span><span class="sh_string">"obj in collection track by $id(obj)"</span><span class="sh_symbol">&gt;</span></li><li>  <span class="sh_cbracket">{{</span>obj<span class="sh_symbol">.</span>prop<span class="sh_cbracket">}}</span></li><li><span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;div ng-repeat="obj in collection track by $id(obj)"&gt; {{obj.prop}} &lt;/div&gt;
                </pre>
            </div>
        </div>
        <p><br/></p>
        <div class="alert alert-warning">
            <strong>Note:</strong> <code><span class="pln">track </span><span class="kwd">by</span></code> must always be the last expression:
        </div>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">=</span><span class="sh_string">"model in collection | orderBy: 'id' as filtered_result track by model.id"</span><span class="sh_symbol">&gt;</span></li><li>  <span class="sh_cbracket">{{</span>model<span class="sh_symbol">.</span><span class="sh_predef_var">name</span><span class="sh_cbracket">}}</span></li><li><span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;div ng-repeat="model in collection | orderBy: 'id' as filtered_result track by model.id"&gt; {{model.name}} &lt;/div&gt;
                </pre>
            </div>
        </div>
        <p><br/></p>
    </div>

    <div class="text-heading"> Special repeat start and end points: </div>
    <div>
        <p>To repeat a series of elements instead of just one parent element, ngRepeat (as well as other ng directives) supports extending the range of the repeater by defining explicit start and end points by using <strong>ng-repeat-start</strong> and <strong>ng-repeat-end</strong>            respectively. The <strong>ng-repeat-start</strong> directive works the same as <strong>ng-repeat</strong>, but will repeat all the HTML code (including the tag it's defined on) up to and including the ending HTML tag where <strong>ng-repeat-end</strong>            is placed.</p>
        <p>The example below makes use of this feature:</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>app<span class="sh_symbol">=</span><span class="sh_string">'app'</span> ng<span class="sh_symbol">-</span>controller<span class="sh_symbol">=</span><span class="sh_string">'controller'</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;!--</span> ng<span class="sh_symbol">-</span>repeat <span class="sh_symbol">--&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>header ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">=</span><span class="sh_string">"arrayItem in [1, 2] track by $index"</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Header <span class="sh_cbracket">{{</span> arrayItem <span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>header<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>footer<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Footer <span class="sh_cbracket">{{</span> arrayItem <span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>footer<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;!--</span> Output<span class="sh_symbol">:</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Header <span class="sh_number">1</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Header <span class="sh_number">2</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Footer</li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">--&gt;</span></li><li></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;!--</span> ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">-&lt;</span>start<span class="sh_symbol">|</span>end<span class="sh_symbol">&gt;</span> <span class="sh_symbol">--&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>header ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">-</span>start<span class="sh_symbol">=</span><span class="sh_string">"arrayItem in [1, 2] track by $index"</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span><span class="sh_normal">br</span><span class="sh_symbol">/&gt;</span> Header <span class="sh_cbracket">{{</span> arrayItem <span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>header<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>footer ng<span class="sh_symbol">-</span>repeat<span class="sh_symbol">-</span>end<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Footer <span class="sh_cbracket">{{</span> arrayItem <span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>footer<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;!--</span> Output<span class="sh_symbol">:</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Header <span class="sh_number">1</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Footer <span class="sh_number">1</span></li><li></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Header <span class="sh_number">2</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Footer <span class="sh_number">2</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">--&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable=""> &lt;div ng-app='app' ng-controller='controller'&gt; &lt;!-- ng-repeat --&gt; &lt;header ng-repeat="arrayItem in [1, 2] track by $index"&gt; Header {{ arrayItem }} &lt;/header&gt; &lt;footer&gt; Footer {{ arrayItem }} &lt;/footer&gt; &lt;!--
                    Output: Header 1 Header 2 Footer --&gt; &lt;!-- ng-repeat-&lt;start|end&gt; --&gt; &lt;header ng-repeat-start="arrayItem in [1, 2] track by $index"&gt; &lt;br/&gt; Header {{ arrayItem }} &lt;/header&gt; &lt;footer ng-repeat-end&gt;
                    Footer {{ arrayItem }} &lt;/footer&gt; &lt;!-- Output: Header 1 Footer 1 Header 2 Footer 2 --&gt; &lt;/div&gt;
                    </pre>
            </div>
        </div>
        <p>The custom start and end points for ngRepeat also support all other HTML directive syntax flavors provided in AngularJS (such as <strong>data-ng-repeat-start</strong>, <strong>x-ng-repeat-start</strong> and <strong>ng:repeat-start</strong>).</p>
    </div>

    <div class="text-heading">Directive Info: </div>
    <div>
        <ul class='list'>
            <li>This directive creates new scope.</li>
            <li>This directive executes at priority level 1000.</li>
            <li>This directive can be used as <a href="api/ng/service/$compile#-multielement-">multiElement</a></li>
        </ul>
    </div>

    <div class="text-heading">Arguments: </div>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        ngRepeat


                    </td>
                    <td>
                        <a href="" class="label type-hint type-hint-repeat_expression">repeat_expression</a>
                    </td>
                    <td>
                        <p>The expression indicating how to enumerate a collection. These formats are currently supported:</p>
                        <ul>
                            <li>
                                <p><code><span class="pln">variable </span><span class="kwd">in</span><span class="pln"> expression</span></code> – where variable is the user defined loop variable and <code><span class="pln">expression</span></code> is a
                                    scope expression giving the collection to enumerate.</p>
                                <p>For example: <code><span class="pln">album </span><span class="kwd">in</span><span class="pln"> artist</span><span class="pun">.</span><span class="pln">albums</span></code>.</p>
                            </li>
                            <li>
                                <p><code><span class="pun">(</span><span class="pln">key</span><span class="pun">,</span><span class="pln"> value</span><span class="pun">)</span><span class="pln"> </span><span class="kwd">in</span><span class="pln"> expression</span></code>                                    – where <code><span class="pln">key</span></code> and <code><span class="pln">value</span></code> can be any user defined identifiers, and <code><span class="pln">expression</span></code> is the scope expression giving
                                    the collection to enumerate.</p>
                                <p>For example: <code><span class="pun">(</span><span class="pln">name</span><span class="pun">,</span><span class="pln"> age</span><span class="pun">)</span><span class="pln"> </span><span class="kwd">in</span><span class="pln"> </span><span class="pun">{</span><span class="str">'adam'</span><span class="pun">:</span><span class="lit">10</span><span class="pun">,</span><span class="pln"> </span><span class="str">'amalie'</span><span class="pun">:</span><span class="lit">12</span><span class="pun">}</span></code>.</p>
                            </li>
                            <li>
                                <p><code><span class="pln">variable </span><span class="kwd">in</span><span class="pln"> expression track </span><span class="kwd">by</span><span class="pln"> tracking_expression</span></code> – You can also provide an optional
                                    tracking expression which can be used to associate the objects in the collection with the DOM elements. If no tracking expression is specified, ng-repeat associates elements by identity. It is an error to have more
                                    than one tracking expression value resolve to the same key. (This would mean that two distinct objects are mapped to the same DOM element, which is not possible.)</p>
                                <p>Note that the tracking expression must come last, after any filters, and the alias expression.</p>
                                <p>For example: <code><span class="pln">item </span><span class="kwd">in</span><span class="pln"> items</span></code> is equivalent to <code><span class="pln">item </span><span class="kwd">in</span><span class="pln"> items track </span><span class="kwd">by</span><span class="pln"> $id</span><span class="pun">(</span><span class="pln">item</span><span class="pun">)</span></code>.
                                    This implies that the DOM elements will be associated by item identity in the array.</p>
                                <p>For example: <code><span class="pln">item </span><span class="kwd">in</span><span class="pln"> items track </span><span class="kwd">by</span><span class="pln"> $id</span><span class="pun">(</span><span class="pln">item</span><span class="pun">)</span></code>.
                                    A built in <code><span class="pln">$id</span><span class="pun">()</span></code> function can be used to assign a unique
                                    <code><span class="pln">$$hashKey</span></code> property to each item in the array. This property is then used as a key to associated DOM elements with the corresponding item in the array by identity. Moving the same
                                    object in array would move the DOM element in the same way in the DOM.</p>
                                <p>For example: <code><span class="pln">item </span><span class="kwd">in</span><span class="pln"> items track </span><span class="kwd">by</span><span class="pln"> item</span><span class="pun">.</span><span class="pln">id</span></code>                                    is a typical pattern when the items come from the database. In this case the object identity does not matter. Two objects are considered equivalent as long as their <code><span class="pln">id</span></code> property
                                    is same.</p>
                                <p>For example: <code><span class="pln">item </span><span class="kwd">in</span><span class="pln"> items </span><span class="pun">|</span><span class="pln"> filter</span><span class="pun">:</span><span class="pln">searchText track </span><span class="kwd">by</span><span class="pln"> item</span><span class="pun">.</span><span class="pln">id</span></code>                                    is a pattern that might be used to apply a filter to items in conjunction with a tracking expression.</p>
                            </li>
                            <li>
                                <p><code><span class="pln">variable </span><span class="kwd">in</span><span class="pln"> expression </span><span class="kwd">as</span><span class="pln"> alias_expression</span></code> – You can also provide an optional alias
                                    expression which will then store the intermediate results of the repeater after the filters have been applied. Typically this is used to render a special message when a filter is active on the repeater, but the filtered
                                    result set is empty.</p>
                                <p>For example: <code><span class="pln">item </span><span class="kwd">in</span><span class="pln"> items </span><span class="pun">|</span><span class="pln"> filter</span><span class="pun">:</span><span class="pln">x </span><span class="kwd">as</span><span class="pln"> results</span></code>                                    will store the fragment of the repeated items as <code><span class="pln">results</span></code>, but only after the items have been processed through the filter.</p>
                                <p>Please note that `as [variable name] is not an operator but rather a part of ngRepeat micro-syntax so it can be used only at the end (and not as operator, inside an expression).</p>
                                <p>For example: <code><span class="pln">item </span><span class="kwd">in</span><span class="pln"> items </span><span class="pun">|</span><span class="pln"> filter </span><span class="pun">:</span><span class="pln"> x </span><span class="pun">|</span><span class="pln"> orderBy </span><span class="pun">:</span><span class="pln"> order </span><span class="pun">|</span><span class="pln"> limitTo </span><span class="pun">:</span><span class="pln"> limit </span><span class="kwd">as</span><span class="pln"> results</span></code>                                    .</p>
                            </li>
                        </ul>


                    </td>
                </tr>

            </tbody>
        </table>
    </div>


</div>

<!-- --------------------------------------------------- ngRepeat end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Animate start --------------------------------------------------- -->
<div class="text-heading">Animate: </div>
-- Update --
<!-- --------------------------------------------------- Animate end ----------------------------------------------------- -->



<!-- --------------------------------------------------- start --------------------------------------------------- -->

<!-- --------------------------------------------------- end ----------------------------------------------------- -->

<!-- --------------------------------------------------- start --------------------------------------------------- -->
<!-- --------------------------------------------------- end ----------------------------------------------------- -->

<!-- --------------------------------------------------- start --------------------------------------------------- -->
<!-- --------------------------------------------------- end ----------------------------------------------------- -->
