<!-- --------------------------------------------------- Built in Services table start --------------------------------------------------- -->
<h2>Built in services</h2>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Service components in ng</h3>
    </div>
    <div class="panel-body">
        <table class="definition-table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                <!-- $http -->
                <tr>
                    <td><a href="api/ng/service/$http">$http</a></td>
                    <td>
                        <p>The <code><span class="pln">$http</span></code> service is a core AngularJS service that facilitates communication with the remote HTTP servers via the browser's <a href="https://developer.mozilla.org/en/xmlhttprequest">XMLHttpRequest</a>                            object or via <a href="http://en.wikipedia.org/wiki/JSONP">JSONP</a>.</p>
                    </td>
                </tr>

                <tr>
                    <td><a href="api/ng/service/$cacheFactory">$cacheFactory</a></td>
                    <td>
                        <p>Factory that constructs <a href="api/ng/type/$cacheFactory.Cache">Cache</a> objects and gives access to them.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$exceptionHandler">$exceptionHandler</a></td>
                    <td>
                        <p>Any uncaught exception in AngularJS expressions is delegated to this service. The default implementation simply delegates to <code><span class="pln">$log</span><span class="pun">.</span><span class="pln">error</span></code> which
                            logs it into the browser console.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$log">$log</a></td>
                    <td>
                        <p>Simple service for logging. Default implementation safely writes the message into the browser's console (if present).</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$q">$q</a></td>
                    <td>
                        <p>A service that helps you run functions asynchronously, and use their return values (or exceptions) when they are done processing.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$compile">$compile</a></td>
                    <td>
                        <p>Compiles an HTML string or DOM into a template and produces a template function, which can then be used to link <a href="api/ng/type/$rootScope.Scope"><code><span class="pln">scope</span></code></a> and the template together.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$controller">$controller</a></td>
                    <td>
                        <p><code><span class="pln">$controller</span></code> service is responsible for instantiating controllers.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$document">$document</a></td>
                    <td>
                        <p>A <a href="api/ng/function/angular.element">jQuery or jqLite</a> wrapper for the browser's <code><span class="pln">window</span><span class="pun">.</span><span class="pln">document</span></code> object.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$xhrFactory">$xhrFactory</a></td>
                    <td>
                        <p>Factory function used to create XMLHttpRequest objects.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$interpolate">$interpolate</a></td>
                    <td>
                        <p>Compiles a string with markup into an interpolation function. This service is used by the HTML <a href="api/ng/service/$compile">$compile</a> service for data binding. See
                            <a href="api/ng/provider/$interpolateProvider">$interpolateProvider</a> for configuring the interpolation markup.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$interval">$interval</a></td>
                    <td>
                        <p>AngularJS's wrapper for <code><span class="pln">window</span><span class="pun">.</span><span class="pln">setInterval</span></code>. The <code><span class="pln">fn</span></code> function is executed every <code><span class="pln">delay</span></code>                            milliseconds.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$timeout">$timeout</a></td>
                    <td>
                        <p>AngularJS's wrapper for <code><span class="pln">window</span><span class="pun">.</span><span class="pln">setTimeout</span></code>. The <code><span class="pln">fn</span></code> function is wrapped into a try/catch block and delegates
                            any exceptions to
                            <a href="api/ng/service/$exceptionHandler">$exceptionHandler</a> service.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$filter">$filter</a></td>
                    <td>
                        <p>Filters are used for formatting data displayed to the user.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$anchorScroll">$anchorScroll</a></td>
                    <td>
                        <p>When called, it scrolls to the element related to the specified <code><span class="pln">hash</span></code> or (if omitted) to the current value of <a href="api/ng/service/$location#hash">$location.hash()</a>, according to the rules
                            specified in the
                            <a href="http://www.w3.org/html/wg/drafts/html/master/browsers.html#an-indicated-part-of-the-document">HTML5 spec</a>.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$animate">$animate</a></td>
                    <td>
                        <p>The $animate service exposes a series of DOM utility methods that provide support for animation hooks. The default behavior is the application of DOM operations, however, when an animation is detected (and animations are enabled),
                            $animate will do the heavy lifting to ensure that animation runs with the triggered DOM operation.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$animateCss">$animateCss</a></td>
                    <td>
                        <p>This is the core version of <code><span class="pln">$animateCss</span></code>. By default, only when the <code><span class="pln">ngAnimate</span></code> is included, then the <code><span class="pln">$animateCss</span></code> service
                            will actually perform animations.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$templateCache">$templateCache</a></td>
                    <td>
                        <p><code><span class="pln">$templateCache</span></code> is a <a href="api/ng/type/$cacheFactory.Cache">Cache object</a> created by the
                            <a href="api/ng/service/$cacheFactory">$cacheFactory</a>.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$httpParamSerializer">$httpParamSerializer</a></td>
                    <td>
                        <p>Default <a href="api/ng/service/$http"><code><span class="pln">$http</span></code></a> params serializer that converts objects to strings according to the following rules:</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$httpParamSerializerJQLike">$httpParamSerializerJQLike</a></td>
                    <td>
                        <p>Alternative <a href="api/ng/service/$http"><code><span class="pln">$http</span></code></a> params serializer that follows jQuery's <a href="http://api.jquery.com/jquery.param/"><code><span class="pln">param</span><span class="pun">()</span></code></a>                            method logic. The serializer will also sort the params alphabetically.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$httpBackend">$httpBackend</a></td>
                    <td>
                        <p>HTTP backend used by the <a href="api/ng/service/$http">service</a> that delegates to XMLHttpRequest object or JSONP and deals with browser incompatibilities.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$jsonpCallbacks">$jsonpCallbacks</a></td>
                    <td>
                        <p>This service handles the lifecycle of callbacks to handle JSONP requests. Override this service if you wish to customise where the callbacks are stored and how they vary compared to the requested url.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$locale">$locale</a></td>
                    <td>
                        <p>$locale service provides localization rules for various AngularJS components. As of right now the only public api is:</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$location">$location</a></td>
                    <td>
                        <p>The $location service parses the URL in the browser address bar (based on the
                            <a href="https://developer.mozilla.org/en/window.location">window.location</a>) and makes the URL available to your application. Changes to the URL in the address bar are reflected into $location service and changes to $location
                            are reflected into the browser address bar.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$parse">$parse</a></td>
                    <td>
                        <p>Converts AngularJS <a href="guide/expression">expression</a> into a function.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$rootElement">$rootElement</a></td>
                    <td>
                        <p>The root element of AngularJS application. This is either the element where <a href="api/ng/directive/ngApp">ngApp</a> was declared or the element passed into
                            <a href="api/ng/function/angular.bootstrap"><code><span class="pln">angular</span><span class="pun">.</span><span class="pln">bootstrap</span></code></a>. The element represents the root element of application. It is also the
                            location where the application's <a href="api/auto/service/$injector">$injector</a> service gets published, and can be retrieved using <code><span class="pln">$rootElement</span><span class="pun">.</span><span class="pln">injector</span><span class="pun">()</span></code>.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$rootScope">$rootScope</a></td>
                    <td>
                        <p>Every application has a single root <a href="api/ng/type/$rootScope.Scope">scope</a>. All other scopes are descendant scopes of the root scope. Scopes provide separation between the model and the view, via a mechanism for watching
                            the model for changes. They also provide event emission/broadcast and subscription facility. See the
                            <a href="guide/scope">developer guide on scopes</a>.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$sceDelegate">$sceDelegate</a></td>
                    <td>
                        <p><code><span class="pln">$sceDelegate</span></code> is a service that is used by the <code><span class="pln">$sce</span></code> service to provide <a href="api/ng/service/$sce">Strict
Contextual Escaping (SCE)</a> services to AngularJS.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$sce">$sce</a></td>
                    <td>
                        <p><code><span class="pln">$sce</span></code> is a service that provides Strict Contextual Escaping services to AngularJS.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$templateRequest">$templateRequest</a></td>
                    <td>
                        <p>The <code><span class="pln">$templateRequest</span></code> service runs security checks then downloads the provided template using
                            <code><span class="pln">$http</span></code> and, upon success, stores the contents inside of <code><span class="pln">$templateCache</span></code>. If the HTTP request fails or the response data of the HTTP request is empty,
                            a <code><span class="pln">$compile</span></code> error will be thrown (the exception can be thwarted by setting the 2nd parameter of the function to true). Note that the contents of <code><span class="pln">$templateCache</span></code>                            are trusted, so the call to <code><span class="pln">$sce</span><span class="pun">.</span><span class="pln">getTrustedUrl</span><span class="pun">(</span><span class="pln">tpl</span><span class="pun">)</span></code> is omitted
                            when <code><span class="pln">tpl</span></code> is of type string and <code><span class="pln">$templateCache</span></code> has the matching entry.</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="api/ng/service/$window">$window</a></td>
                    <td>
                        <p>A reference to the browser's <code><span class="pln">window</span></code> object. While <code><span class="pln">window</span></code> is globally available in JavaScript, it causes testability problems, because it is a global variable.
                            In AngularJS we always refer to it through the
                            <code><span class="pln">$window</span></code> service, so it may be overridden, removed or mocked for testing.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- --------------------------------------------------- Built in Services table end ----------------------------------------------------- -->

<!-- --------------------------------------------------- $http start --------------------------------------------------- -->
<section>
    <h3>$http: </h3>
    <article>
        <div class="alert alert-success">
            The <code><span class="pln">$http</span></code> service is a core AngularJS service that facilitates communication with the remote HTTP servers via the browser's <a href="https://developer.mozilla.org/en/xmlhttprequest">XMLHttpRequest</a>            object or via <a href="http://en.wikipedia.org/wiki/JSONP">JSONP</a>.
        </div>

        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_comment">// Simple GET request example:</span></li><li>$<span class="sh_function">http</span><span class="sh_symbol">(</span><span class="sh_cbracket">{</span></li><li>  method<span class="sh_symbol">:</span> <span class="sh_string">'GET'</span><span class="sh_symbol">,</span></li><li>  url<span class="sh_symbol">:</span> <span class="sh_string">'/someUrl'</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">).</span><span class="sh_function">then</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span> <span class="sh_function">successCallback</span><span class="sh_symbol">(</span>response<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_comment">// this callback will be called asynchronously</span></li><li>    <span class="sh_comment">// when the response is available</span></li><li>  <span class="sh_cbracket">}</span><span class="sh_symbol">,</span> <span class="sh_keyword">function</span> <span class="sh_function">errorCallback</span><span class="sh_symbol">(</span>response<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_comment">// called asynchronously if an error occurs</span></li><li>    <span class="sh_comment">// or server returns response with an error status.</span></li><li>  <span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">// Simple GET request example:
$http({
  method: 'GET',
  url: '/someUrl'
}).then(function successCallback(response) {
    // this callback will be called asynchronously
    // when the response is available
  }, function errorCallback(response) {
    // called asynchronously if an error occurs
    // or server returns response with an error status.
  });</pre>
            </div>
        </div>

        <p>The response object has these properties:</p>
        <ul>
            <li><strong>data</strong> – <code><span class="pun">{</span><span class="kwd">string</span><span class="pun">|</span><span class="typ">Object</span><span class="pun">}</span></code> – The response body transformed with the transform functions.
            </li>
            <li><strong>status</strong> – <code><span class="pun">{</span><span class="pln">number</span><span class="pun">}</span></code> – HTTP status code of the response.</li>
            <li><strong>headers</strong> – <code><span class="pun">{</span><span class="kwd">function</span><span class="pun">([</span><span class="pln">headerName</span><span class="pun">])}</span></code> – Header getter function.</li>
            <li><strong>config</strong> – <code><span class="pun">{</span><span class="typ">Object</span><span class="pun">}</span></code> – The configuration object that was used to generate the request.</li>
            <li><strong>statusText</strong> – <code><span class="pun">{</span><span class="kwd">string</span><span class="pun">}</span></code> – HTTP status text of the response.</li>
            <li><strong>xhrStatus</strong> – <code><span class="pun">{</span><span class="kwd">string</span><span class="pun">}</span></code> – Status of the XMLHttpRequest (<code><span class="pln">complete</span></code>, <code><span class="pln">error</span></code>,
                <code><span class="pln">timeout</span></code> or <code><span class="pln">abort</span></code>).</li>
        </ul>

    </article>
</section>
<!-- --------------------------------------------------- $http end ----------------------------------------------------- -->

<!-- --------------------------------------------------- $provider start --------------------------------------------------- -->
<div class="alert alert-danger title">$provider: </div>
<div class='text'>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">provider-service-factory</h3>
        </div>
        <div class="panel-body" align='center'>
            <img src='javascripts/app/angularjs/Asynchronous_images/angularjs-provider-service-factory.png' width='40%'><img>
        </div>
    </div>

</div>
<!-- --------------------------------------------------- $provider end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Value Recipe start --------------------------------------------------- -->
<div class="alert alert-danger title">Value Recipe: </div>
<div class='text'>
    <ul class='list'>
        <li>Arguments: <code>name (string), value (value)</code> ... Value here can be primitive or object or function</li>
        <li>Cannot have dependancies</li>
        <li>Cannot be injected into a config function</li>
        <li>Uses type friendly injection</li>
    </ul>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Example: Value recipe </h3>
    </div>
    <div class="panel-body">
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular<span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[]);</span></li><li>app<span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_string">'valueFunction'</span><span class="sh_symbol">,</span> <span class="sh_string">'valueObject'</span><span class="sh_symbol">,</span> <span class="sh_string">'valuePrimitive'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">,</span> valueFunction<span class="sh_symbol">,</span> valueObject<span class="sh_symbol">,</span> valuePrimitive<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>    $scope<span class="sh_symbol">.</span>valueObject <span class="sh_symbol">=</span> valueObject<span class="sh_symbol">;</span></li><li>    $scope<span class="sh_symbol">.</span>valueFunction <span class="sh_symbol">=</span> valueFunction<span class="sh_symbol">;</span></li><li>    $scope<span class="sh_symbol">.</span>valuePrimitive <span class="sh_symbol">=</span> valuePrimitive<span class="sh_symbol">;</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li><li>app<span class="sh_symbol">.</span><span class="sh_function">value</span><span class="sh_symbol">(</span><span class="sh_string">'valueObject'</span><span class="sh_symbol">,</span> <span class="sh_cbracket">{</span> str<span class="sh_symbol">:</span> <span class="sh_string">'Object'</span> <span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li>app<span class="sh_symbol">.</span><span class="sh_function">value</span><span class="sh_symbol">(</span><span class="sh_string">'valueFunction'</span><span class="sh_symbol">,</span> <span class="sh_symbol">()</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span> <span class="sh_keyword">return</span> <span class="sh_string">'Function'</span><span class="sh_symbol">;</span><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li>app<span class="sh_symbol">.</span><span class="sh_function">value</span><span class="sh_symbol">(</span><span class="sh_string">'valuePrimitive'</span><span class="sh_symbol">,</span> <span class="sh_string">'Primitive'</span><span class="sh_symbol">);</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular.module('app', []); app.controller('controller', ['$scope', 'valueFunction', 'valueObject', 'valuePrimitive', ($scope, valueFunction, valueObject, valuePrimitive) =&gt; { $scope.valueObject = valueObject; $scope.valueFunction
            = valueFunction; $scope.valuePrimitive = valuePrimitive; }]); app.value('valueObject', { str: 'Object' }); app.value('valueFunction', () =&gt; { return 'Function';}); app.value('valuePrimitive', 'Primitive');</pre>
            </div>
        </div>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>app<span class="sh_symbol">=</span><span class="sh_string">'app'</span> ng<span class="sh_symbol">-</span>controller<span class="sh_symbol">=</span><span class="sh_string">'controller'</span><span class="sh_symbol">&gt;</span></li><li>    <span class="sh_function">Value</span> <span class="sh_symbol">(</span><span class="sh_predef_func">Object</span><span class="sh_symbol">):</span> <span class="sh_cbracket">{{</span>valueObject<span class="sh_symbol">.</span>str<span class="sh_cbracket">}}</span><span class="sh_symbol">&lt;/</span>br<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_function">Value</span> <span class="sh_symbol">(</span><span class="sh_predef_func">Function</span><span class="sh_symbol">):</span> <span class="sh_cbracket">{{</span><span class="sh_function">valueFunction</span><span class="sh_symbol">()</span><span class="sh_cbracket">}}</span><span class="sh_symbol">&lt;/</span>br<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_function">Value</span> <span class="sh_symbol">(</span>Primitive<span class="sh_symbol">):</span> <span class="sh_cbracket">{{</span>valuePrimitive<span class="sh_cbracket">}}</span><span class="sh_symbol">&lt;/</span>br<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;div ng-app='app' ng-controller='controller'&gt; Value (Object): {{valueObject.str}}&lt;/br&gt; Value (Function): {{valueFunction()}}&lt;/br&gt; Value (Primitive): {{valuePrimitive}}&lt;/br&gt; &lt;/div&gt;
                    </pre>
            </div>
        </div>
    </div>
</div>
<!-- --------------------------------------------------- Value Recipe end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Factory Recipe start --------------------------------------------------- -->
<div class="alert alert-danger title">Factory Recipe: </div>

<div class='text'>
    <ul class='list'>
        <li>Arguments: <code>name (string), getFn (function) / Array.<(string|function())></code> ... getFn here is a factory function which can return primitive or object or function</li>
        <li>returns the value of the function returned after the execution</li>
        <li>ability to use other services (have dependencies)</li>
        <li>Lazily instantiated – AngularJS only instantiates a factory service when an application component depends on it. </li>
        <li>does not use type friendly injection</li>
    </ul>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular</li><li>    <span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_string">'myFactory'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">,</span> myFactory<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>        $scope<span class="sh_symbol">.</span>str <span class="sh_symbol">=</span> myFactory<span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">factory</span><span class="sh_symbol">(</span><span class="sh_string">'myFactory'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[()</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_keyword">return</span> <span class="sh_string">'This is string from factory.'</span><span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular .module('app', []) .controller('controller', ['$scope', 'myFactory', ($scope, myFactory) =&gt; { $scope.str = myFactory; }]) .factory('myFactory', [() =&gt; { return 'This is string from factory.'; }]);
                </pre>
        </div>
    </div>

</div>
<!-- --------------------------------------------------- Factory Recipe end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Service Recipe start --------------------------------------------------- -->
<div class="alert alert-danger title">Service Recipe: </div>

<div class='text'>
    <ul class='list'>
        <li>Arguments: <code>name (string), constructor (function) Array.<(string|function())></code> ... we’ll call constructor function to instantiate the instance.</li>
        <li>Note: Service recipes follow a design pattern called constructor injection.
            <ul>
                <li>returns the object or instance of the function</li>
                <li>instantiate the instance using the new keyword when creating the instance</li>
                <li>
                    The .service() gives us the returned value by calling new on the function. Thats why we use <code>this</code> to add properties to it. Otherwise return (with object) can be used to add properties to constructor (function). Return object
                    overrides this properties defined in service function.
                </li>
            </ul>
        </li>
        <li>ability to use other services (have dependencies)</li>
        <li>Lazily instantiated – AngularJS only instantiates a service when an application component depends on it. </li>
        <li>does use type friendly injection</li>
    </ul>
    <div class="alert alert-warning">
        Warning: We cannot use an arrow function as constructor (function) in service receipe. An arrow function expression does not bind its own this, arguments, super, or new.target. These function expressions are best suited for non-method functions, and they
        cannot be used as constructors.
    </div>

    <p>Using return:</p>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular</li><li>    <span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">,</span> myService<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>        $scope<span class="sh_symbol">.</span>str <span class="sh_symbol">=</span> myService<span class="sh_symbol">;</span></li><li>        console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span>myService<span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">service</span><span class="sh_symbol">(</span><span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_keyword">return</span> <span class="sh_cbracket">{</span></li><li>            str<span class="sh_symbol">:</span> <span class="sh_string">'This is string from Service'</span></li><li>        <span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular .module('app', []) .controller('controller', ['$scope', 'myService', ($scope, myService) =&gt; { $scope.str = myService; }]) .service('myService', [function () { return { str: 'This is string from
                Service' }; }]);
                </pre>
        </div>
    </div>
    <p>Using this:</p>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">.</span><span class="sh_function">service</span><span class="sh_symbol">(</span><span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>     <span class="sh_keyword">this</span><span class="sh_symbol">.</span>str <span class="sh_symbol">=</span> <span class="sh_string">'This is from this String'</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">.service('myService', [function () { this.str = 'This is from this String' }]);
                </pre>
        </div>
    </div>
    <p>Using class</p>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular<span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[]);</span></li><li>app<span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'factoryController'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">,</span> myService<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>    $scope<span class="sh_symbol">.</span>myService <span class="sh_symbol">=</span> myService<span class="sh_symbol">;</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li><li></li><li>app<span class="sh_symbol">.</span><span class="sh_function">service</span><span class="sh_symbol">(</span><span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_keyword">class</span> myService <span class="sh_cbracket">{</span></li><li>    <span class="sh_function">constructor</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_keyword">this</span><span class="sh_symbol">.</span>strClass <span class="sh_symbol">=</span> <span class="sh_string">'This is from service class constructor.'</span><span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span></li><li>    <span class="sh_function">classMethod</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_keyword">this</span><span class="sh_symbol">.</span>strMethod <span class="sh_symbol">=</span> <span class="sh_string">'This is from class method.'</span><span class="sh_symbol">;</span></li><li>        console<span class="sh_symbol">.</span><span class="sh_function">log</span><span class="sh_symbol">(</span><span class="sh_string">'hello'</span><span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span></li><li></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular.module('app', []); app.controller('controller', ['$scope', 'myService', ($scope, myService) =&gt; { $scope.myService = myService; }]); app.service('myService', class myService { constructor() { this.strClass = 'This
                is from service class constructor.'; } classMethod() { this.strMethod = 'This is from class method.'; console.log('hello'); } });

                </pre>
        </div>
    </div>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>controller<span class="sh_symbol">=</span><span class="sh_string">'controller'</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Service<span class="sh_symbol">:</span> <span class="sh_cbracket">{{</span>myService<span class="sh_symbol">.</span>strClass<span class="sh_cbracket">}}</span>    <span class="sh_symbol">&lt;</span><span class="sh_normal">br</span><span class="sh_symbol">/&gt;</span> </li><li>        <span class="sh_cbracket">{{</span>myService<span class="sh_symbol">.</span><span class="sh_function">classMethod</span><span class="sh_symbol">()</span><span class="sh_cbracket">}}</span>        <span class="sh_symbol">&lt;</span><span class="sh_normal">br</span><span class="sh_symbol">/&gt;</span>    <span class="sh_symbol">&lt;!--</span> Calling <span class="sh_keyword">class</span> method <span class="sh_symbol">--&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Service<span class="sh_symbol">:</span> <span class="sh_cbracket">{{</span>myService<span class="sh_symbol">.</span>strMethod<span class="sh_cbracket">}}</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable=""> &lt;div ng-controller='controller'&gt; Service: {{myService.strClass}} &lt;br/&gt; {{myService.classMethod()}} &lt;br/&gt; &lt;!-- Calling class method --&gt; Service: {{myService.strMethod}} &lt;/div&gt;
                        </pre>
        </div>
    </div>

</div>
<!-- --------------------------------------------------- Service Recipe end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Provider Recipe start --------------------------------------------------- -->
<div class="alert alert-danger title">Provider Recipe: </div>

<div class='text'>
    <ul class='list'>
        <li>Arguments: <code>name (string), aProvider (object/constructor function/array)</code>
            <ul>
                The aProvider argument can take a few different forms:
                <li>If the aProvider argument is a constructor function, then the function is called through dependency injection and is responsible for returning an object with the $get method.</li>
                <li>If the aProvider argument is an array, then it’s treated just like a function with inline dependency injection annotation. It will expect the last argument to be a function that returns an object with the $get method.</li>
                <li>If the aProvider argument is an object, then it is expected to have a $get method.</li>
            </ul>
        </li>
        <li> the Provider recipe is the core recipe type and all the other recipe types are just syntactic sugar on top of it</li>
        <li>Service provider names start with the name of the service they provide followed by Provider. For example, the $log service has a provider called $logProvider.</li>
        <li>A provider is actually a configurable factory.</li>
        <li>ability to use other services (have dependencies)</li>
        <li>Lazily instantiated – AngularJS only instantiates a factory service when an application component depends on it. </li>
        <li>does not use type friendly injection</li>
    </ul>
    <div class="alert alert-warning">
        Warning: We cannot use an arrow function as constructor (function) in provider receipe. An arrow function expression does not bind its own this, arguments, super, or new.target. These function expressions are best suited for non-method functions, and
        they cannot be used as constructors.
    </div>
    <p>With constructor Function argument</p>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular</li><li>    <span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">config</span><span class="sh_symbol">([</span><span class="sh_string">'myProvider'</span><span class="sh_symbol">,</span> <span class="sh_keyword">function</span> <span class="sh_symbol">(</span>myProvider<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>        myProvider<span class="sh_symbol">.</span><span class="sh_function">setString</span><span class="sh_symbol">(</span><span class="sh_string">'This is Config string'</span><span class="sh_symbol">);</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_string">'my'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">,</span> my<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>        $scope<span class="sh_symbol">.</span>str <span class="sh_symbol">=</span> my<span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">provider</span><span class="sh_symbol">(</span><span class="sh_string">'my'</span><span class="sh_symbol">,</span> <span class="sh_keyword">function</span> <span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        strName <span class="sh_symbol">=</span> <span class="sh_string">'This is providers string'</span><span class="sh_symbol">;</span></li><li>        <span class="sh_keyword">this</span><span class="sh_symbol">.</span>setString <span class="sh_symbol">=</span> <span class="sh_symbol">(</span>str<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>            strName <span class="sh_symbol">=</span> str<span class="sh_symbol">;</span></li><li>        <span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li>        <span class="sh_keyword">this</span><span class="sh_symbol">.</span>$get <span class="sh_symbol">=</span> <span class="sh_symbol">()</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>            <span class="sh_keyword">return</span> strName<span class="sh_symbol">;</span></li><li>        <span class="sh_cbracket">}</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">)</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular .module('app', []) .config(['myProvider', function (myProvider) { myProvider.setString('This is Config string'); }]) .controller('controller', ['$scope', 'my', ($scope, my) =&gt; { $scope.str = my; }]) .provider('my', function
                () { strName = 'This is providers string'; this.setString = (str) =&gt; { strName = str; }; this.$get = () =&gt; { return strName; } })
                </pre>
        </div>
    </div>
    <p>With object argument</p>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular</li><li>    <span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">config</span><span class="sh_symbol">([</span><span class="sh_string">'myProvider'</span><span class="sh_symbol">,</span> <span class="sh_keyword">function</span> <span class="sh_symbol">(</span>myProvider<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>        myProvider<span class="sh_symbol">.</span>$get <span class="sh_symbol">=</span> <span class="sh_symbol">()</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>            <span class="sh_keyword">return</span> <span class="sh_string">'This is config'</span><span class="sh_symbol">;</span></li><li>        <span class="sh_cbracket">}</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_string">'my'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">,</span> my<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>        $scope<span class="sh_symbol">.</span>str <span class="sh_symbol">=</span> my<span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">])</span></li><li>    <span class="sh_symbol">.</span><span class="sh_function">provider</span><span class="sh_symbol">(</span><span class="sh_string">'my'</span><span class="sh_symbol">,</span> <span class="sh_cbracket">{</span></li><li>        $get<span class="sh_symbol">:</span> <span class="sh_symbol">()</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>            <span class="sh_keyword">return</span> <span class="sh_string">'This is provider'</span><span class="sh_symbol">;</span></li><li>        <span class="sh_cbracket">}</span></li><li>    <span class="sh_cbracket">}</span><span class="sh_symbol">)</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular .module('app', []) .config(['myProvider', function (myProvider) { myProvider.$get = () =&gt; { return 'This is config'; } }]) .controller('controller', ['$scope', 'my', ($scope, my) =&gt; { $scope.str = my; }]) .provider('my',
                { $get: () =&gt; { return 'This is provider'; } })
                </pre>
        </div>
    </div>
    <p>Using return with constructor function</p>
    <!-- HTML generated using hilite.me -->
    <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
        <pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-weight: bold">var</span> app <span style="color: #333333">=</span> angular
    .module(<span style="background-color: #fff0f0">&#39;app&#39;</span>, [])
    .config([<span style="background-color: #fff0f0">&#39;myProvider&#39;</span>, <span style="color: #008800; font-weight: bold">function</span> (myProvider) {
        myProvider.setString(<span style="background-color: #fff0f0">&#39;This is Config string&#39;</span>);
    }])
    .controller(<span style="background-color: #fff0f0">&#39;controller&#39;</span>, [<span style="background-color: #fff0f0">&#39;$scope&#39;</span>, <span style="background-color: #fff0f0">&#39;my&#39;</span>, ($scope, my) <span style="color: #333333">=&gt;</span> {
        $scope.str <span style="color: #333333">=</span> my;
    }])
    .provider(<span style="background-color: #fff0f0">&#39;my&#39;</span>, <span style="color: #008800; font-weight: bold">function</span> () {
        strName <span style="color: #333333">=</span> <span style="background-color: #fff0f0">&#39;This is providers string&#39;</span>;
        <span style="color: #008800; font-weight: bold">return</span> {
            setString<span style="color: #333333">:</span> (str) <span style="color: #333333">=&gt;</span> {
                strName <span style="color: #333333">=</span> str;
            },
            $get<span style="color: #333333">:</span> () <span style="color: #333333">=&gt;</span> {
                <span style="color: #008800; font-weight: bold">return</span> strName;
            }
        };
    })
</pre>
    </div>
    <br/>

</div>
<!-- --------------------------------------------------- Provider Recipe end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Decorators start --------------------------------------------------- -->
<div class="alert alert-danger title">Decorators: </div>

<div class='text'>
    <p>
        Decorators are a design pattern that is used to separate modification or <em>decoration</em> of a class without modifying the original source code. In AngularJS, decorators are functions that allow a service, directive or filter to be modified
        prior to its usage.
    </p>

    <div class='text-heading'>How to use decorators</div>
    <p>There are two ways to register decorators</p>
    <ul class="list">
        <li><code><span class="pln">$provide</span><span class="pun">.</span><span class="pln">decorator</span></code>, and</li>
        <li><code><span class="kwd">module</span><span class="pun">.</span><span class="pln">decorator</span></code></li>
    </ul>
    <p>Each provide access to a <code><span class="pln">$delegate</span></code>, which is the instantiated service/directive/filter, prior to being passed to the service that required it.</p>
    <p>
        The <code><span class="pln">$delegate</span></code> may be either modified or completely replaced. Given a service <code><span class="pln">myService</span></code> with a method <code><span class="pln">someFn</span></code>, the following could
        all be viable solutions:
    </p>

    <div class='text-heading'>Completely Replace the $delegate</div>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>angular<span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'myApp'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li></li><li><span class="sh_symbol">.</span><span class="sh_function">config</span><span class="sh_symbol">([</span> <span class="sh_string">'$provide'</span><span class="sh_symbol">,</span> <span class="sh_keyword">function</span><span class="sh_symbol">(</span>$provide<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li></li><li>  $provide<span class="sh_symbol">.</span><span class="sh_function">decorator</span><span class="sh_symbol">(</span><span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span></li><li>    <span class="sh_string">'$delegate'</span><span class="sh_symbol">,</span></li><li>    <span class="sh_keyword">function</span> <span class="sh_function">myServiceDecorator</span><span class="sh_symbol">(</span>$delegate<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li></li><li>      <span class="sh_keyword">var</span> myDecoratedService <span class="sh_symbol">=</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_comment">// new service object to replace myService</span></li><li>      <span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li>      <span class="sh_keyword">return</span> myDecoratedService<span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span></li><li>  <span class="sh_symbol">]);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">angular.module('myApp', []) .config([ '$provide', function($provide) { $provide.decorator('myService', [ '$delegate', function myServiceDecorator($delegate) { var myDecoratedService = { // new service object to replace myService }; return
                myDecoratedService; } ]); }]);
                </pre>
        </div>
    </div>
    <div class='text-heading'>Patch the $delegate</div>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>angular<span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'myApp'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li></li><li><span class="sh_symbol">.</span><span class="sh_function">config</span><span class="sh_symbol">([</span> <span class="sh_string">'$provide'</span><span class="sh_symbol">,</span> <span class="sh_keyword">function</span><span class="sh_symbol">(</span>$provide<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li></li><li>  $provide<span class="sh_symbol">.</span><span class="sh_function">decorator</span><span class="sh_symbol">(</span><span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span></li><li>    <span class="sh_string">'$delegate'</span><span class="sh_symbol">,</span></li><li>    <span class="sh_keyword">function</span> <span class="sh_function">myServiceDecorator</span><span class="sh_symbol">(</span>$delegate<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li></li><li>      <span class="sh_keyword">var</span> someFn <span class="sh_symbol">=</span> $delegate<span class="sh_symbol">.</span>someFn<span class="sh_symbol">;</span></li><li></li><li>      <span class="sh_keyword">function</span> <span class="sh_function">aNewFn</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_comment">// new service function</span></li><li>        someFn<span class="sh_symbol">.</span><span class="sh_function">apply</span><span class="sh_symbol">(</span>$delegate<span class="sh_symbol">,</span> <span class="sh_predef_var">arguments</span><span class="sh_symbol">);</span></li><li>      <span class="sh_cbracket">}</span></li><li></li><li>      $delegate<span class="sh_symbol">.</span>someFn <span class="sh_symbol">=</span> aNewFn<span class="sh_symbol">;</span></li><li>      <span class="sh_keyword">return</span> $delegate<span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span></li><li>  <span class="sh_symbol">]);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">angular.module('myApp', []) .config([ '$provide', function($provide) { $provide.decorator('myService', [ '$delegate', function myServiceDecorator($delegate) { var someFn = $delegate.someFn; function aNewFn() { // new service function someFn.apply($delegate,
                arguments); } $delegate.someFn = aNewFn; return $delegate; } ]); }]);
                </pre>
        </div>
    </div>
    <div class='text-heading'>Augment the $delegate</div>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>angular<span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'myApp'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li></li><li><span class="sh_symbol">.</span><span class="sh_function">config</span><span class="sh_symbol">([</span> <span class="sh_string">'$provide'</span><span class="sh_symbol">,</span> <span class="sh_keyword">function</span><span class="sh_symbol">(</span>$provide<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li></li><li>  $provide<span class="sh_symbol">.</span><span class="sh_function">decorator</span><span class="sh_symbol">(</span><span class="sh_string">'myService'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span></li><li>    <span class="sh_string">'$delegate'</span><span class="sh_symbol">,</span></li><li>    <span class="sh_keyword">function</span> <span class="sh_function">myServiceDecorator</span><span class="sh_symbol">(</span>$delegate<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li></li><li>      <span class="sh_keyword">function</span> <span class="sh_function">helperFn</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>        <span class="sh_comment">// an additional fn to add to the service</span></li><li>      <span class="sh_cbracket">}</span></li><li></li><li>      $delegate<span class="sh_symbol">.</span>aHelpfulAddition <span class="sh_symbol">=</span> helperFn<span class="sh_symbol">;</span></li><li>      <span class="sh_keyword">return</span> $delegate<span class="sh_symbol">;</span></li><li>    <span class="sh_cbracket">}</span></li><li>  <span class="sh_symbol">]);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">angular.module('myApp', []) .config([ '$provide', function($provide) { $provide.decorator('myService', [ '$delegate', function myServiceDecorator($delegate) { function helperFn() { // an additional fn to add to the service } $delegate.aHelpfulAddition
                = helperFn; return $delegate; } ]); }]);
                </pre>
        </div>
    </div>
    <div class="alert alert-info ng-scope">
        Note that whatever is returned by the decorator function will replace that which is being decorated. For example, a missing return statement will wipe out the entire object being decorated.
    </div>
    <p>Decorators have different rules for different services. This is because services are registered in different ways. Services are selected by name, however filters and directives are selected by appending <code><span class="str">"Filter"</span></code>        or <code><span class="str">"Directive"</span></code> to the end of the name. The <code><span class="pln">$delegate</span></code> provided is dictated by the type of service.</p>
    <table class="ng-scope table table-bordered table-striped code-table">
        <thead>
            <tr>
                <th>Service Type</th>
                <th>Selector</th>
                <th>$delegate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Service</td>
                <td><code><span class="pln">serviceName</span></code></td>
                <td>The <code><span class="kwd">object</span></code> or <code><span class="kwd">function</span></code> returned by the service</td>
            </tr>
            <tr>
                <td>Directive</td>
                <td><code><span class="pln">directiveName </span><span class="pun">+</span><span class="pln"> </span><span class="str">'Directive'</span></code></td>
                <td>An <code><span class="typ">Array</span><span class="pun">.&lt;</span><span class="typ">DirectiveObject</span><span class="pun">&gt;</span></code><sub><a href="guide/decorators#drtvArray">1</a></sub></td>
            </tr>
            <tr>
                <td>Filter</td>
                <td><code><span class="pln">filterName </span><span class="pun">+</span><span class="pln"> </span><span class="str">'Filter'</span></code></td>
                <td>The <code><span class="kwd">function</span></code> returned by the filter</td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-warning ng-scope">
        <strong>NOTE:</strong> Developers should take care in how and why they are modifying the <code><span class="pln">$delegate</span></code> for the service. Not only should expectations for the consumer be kept, but some functionality (such as directive
        registration) does not take place after decoration, but during creation/registration of the original service. This means, for example, that an action such as pushing a directive object to a directive <code><span class="pln">$delegate</span></code>        will likely result in unexpected behavior. Furthermore, great care should be taken when decorating core services, directives, or filters as this may unexpectedly or adversely affect the functionality of the framework.
    </div>

    <div class='text-heading'>module.decorator</div>
    <p>This function is the same as the <code>$provide.decorator</code> function except it is exposed through the module API. This allows you to separate your decorator patterns from your module config blocks.</p>
    <p>Since you can apply multiple decorators, it is noteworthy that decorator application always follows order of declaration:</p>
    <ul>
        <li>If a service is decorated by both <code><span class="pln">$provide</span><span class="pun">.</span><span class="pln">decorator</span></code> and <code><span class="kwd">module</span><span class="pun">.</span><span class="pln">decorator</span></code>,
            the decorators are applied in order:</li>
    </ul>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>angular</li><li><span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'theApp'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li><span class="sh_symbol">.</span><span class="sh_function">factory</span><span class="sh_symbol">(</span><span class="sh_string">'theFactory'</span><span class="sh_symbol">,</span> theFactoryFn<span class="sh_symbol">)</span></li><li><span class="sh_symbol">.</span><span class="sh_function">config</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span><span class="sh_symbol">(</span>$provide<span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>  $provide<span class="sh_symbol">.</span><span class="sh_function">decorator</span><span class="sh_symbol">(</span><span class="sh_string">'theFactory'</span><span class="sh_symbol">,</span> provideDecoratorFn<span class="sh_symbol">);</span> <span class="sh_comment">// runs first</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">)</span></li><li><span class="sh_symbol">.</span><span class="sh_function">decorator</span><span class="sh_symbol">(</span><span class="sh_string">'theFactory'</span><span class="sh_symbol">,</span> moduleDecoratorFn<span class="sh_symbol">);</span> <span class="sh_comment">// runs seconds</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">angular .module('theApp', []) .factory('theFactory', theFactoryFn) .config(function($provide) { $provide.decorator('theFactory', provideDecoratorFn); // runs first }) .decorator('theFactory', moduleDecoratorFn); // runs seconds</pre>
        </div>
    </div>
    <ul>
        <li>If the service has been declared multiple times, a decorator will decorate the service that has been declared last:</li>
    </ul>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>angular</li><li>  <span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'theApp'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[])</span></li><li>  <span class="sh_symbol">.</span><span class="sh_function">factory</span><span class="sh_symbol">(</span><span class="sh_string">'theFactory'</span><span class="sh_symbol">,</span> theFactoryFn<span class="sh_symbol">)</span></li><li>  <span class="sh_symbol">.</span><span class="sh_function">decorator</span><span class="sh_symbol">(</span><span class="sh_string">'theFactory'</span><span class="sh_symbol">,</span> moduleDecoratorFn<span class="sh_symbol">)</span></li><li>  <span class="sh_symbol">.</span><span class="sh_function">factory</span><span class="sh_symbol">(</span><span class="sh_string">'theFactory'</span><span class="sh_symbol">,</span> theOtherFactoryFn<span class="sh_symbol">);</span></li><li></li><li><span class="sh_comment">// `theOtherFactoryFn` is selected as 'theFactory' provider and it is decorated via `moduleDecoratorFn`.</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">angular .module('theApp', []) .factory('theFactory', theFactoryFn) .decorator('theFactory', moduleDecoratorFn) .factory('theFactory', theOtherFactoryFn); // `theOtherFactoryFn` is selected as 'theFactory' provider and it is decorated via `moduleDecoratorFn`.</pre>
        </div>
    </div>
</div>
<!-- --------------------------------------------------- Decorators end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Constant receipe start --------------------------------------------------- -->
<div class="alert alert-danger title">Constant receipe: </div>

<div class='text'>
    <ul class='list'>
        <li>Arguments: <code>name (string), value (constant value)</code> ... Value here can be primitive or object or function</li>
        <li>Cannot have dependancies</li>
        <li><strong>Can be injected into a config function</strong></li>
        <li>Uses type friendly injection</li>
        <li><strong>cannot be overridden by an AngularJS decorator</strong></li>
    </ul>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> app <span class="sh_symbol">=</span> angular<span class="sh_symbol">.</span><span class="sh_function">module</span><span class="sh_symbol">(</span><span class="sh_string">'app'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[]);</span></li><li>app<span class="sh_symbol">.</span><span class="sh_function">controller</span><span class="sh_symbol">(</span><span class="sh_string">'controller'</span><span class="sh_symbol">,</span> <span class="sh_symbol">[</span><span class="sh_string">'$scope'</span><span class="sh_symbol">,</span> <span class="sh_string">'valueFunction'</span><span class="sh_symbol">,</span> <span class="sh_string">'valueObject'</span><span class="sh_symbol">,</span> <span class="sh_string">'valuePrimitive'</span><span class="sh_symbol">,</span> <span class="sh_symbol">(</span>$scope<span class="sh_symbol">,</span> valueFunction<span class="sh_symbol">,</span> valueObject<span class="sh_symbol">,</span> valuePrimitive<span class="sh_symbol">)</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span></li><li>    $scope<span class="sh_symbol">.</span>valueObject <span class="sh_symbol">=</span> valueObject<span class="sh_symbol">;</span></li><li>    $scope<span class="sh_symbol">.</span>valueFunction <span class="sh_symbol">=</span> valueFunction<span class="sh_symbol">;</span></li><li>    $scope<span class="sh_symbol">.</span>valuePrimitive <span class="sh_symbol">=</span> valuePrimitive<span class="sh_symbol">;</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">]);</span></li><li>app<span class="sh_symbol">.</span><span class="sh_function">constant</span><span class="sh_symbol">(</span><span class="sh_string">'valueObject'</span><span class="sh_symbol">,</span> <span class="sh_cbracket">{</span> str<span class="sh_symbol">:</span> <span class="sh_string">'Object'</span> <span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li>app<span class="sh_symbol">.</span><span class="sh_function">constant</span><span class="sh_symbol">(</span><span class="sh_string">'valueFunction'</span><span class="sh_symbol">,</span> <span class="sh_symbol">()</span> <span class="sh_symbol">=&gt;</span> <span class="sh_cbracket">{</span> <span class="sh_keyword">return</span> <span class="sh_string">'Function'</span><span class="sh_symbol">;</span> <span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li>app<span class="sh_symbol">.</span><span class="sh_function">constant</span><span class="sh_symbol">(</span><span class="sh_string">'valuePrimitive'</span><span class="sh_symbol">,</span> <span class="sh_string">'Primitive'</span><span class="sh_symbol">);</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular.module('app', []); app.controller('controller', ['$scope', 'valueFunction', 'valueObject', 'valuePrimitive', ($scope, valueFunction, valueObject, valuePrimitive) =&gt; { $scope.valueObject = valueObject; $scope.valueFunction
                = valueFunction; $scope.valuePrimitive = valuePrimitive; }]); app.constant('valueObject', { str: 'Object' }); app.constant('valueFunction', () =&gt; { return 'Function'; }); app.constant('valuePrimitive', 'Primitive');</pre>
        </div>
    </div>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div ng<span class="sh_symbol">-</span>app<span class="sh_symbol">=</span><span class="sh_string">'app'</span> ng<span class="sh_symbol">-</span>controller<span class="sh_symbol">=</span><span class="sh_string">'controller'</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_function">Value</span> <span class="sh_symbol">(</span><span class="sh_predef_func">Object</span><span class="sh_symbol">):</span> <span class="sh_cbracket">{{</span>valueObject<span class="sh_symbol">.</span>str<span class="sh_cbracket">}}</span><span class="sh_symbol">&lt;/</span>br<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_function">Value</span> <span class="sh_symbol">(</span><span class="sh_predef_func">Function</span><span class="sh_symbol">):</span> <span class="sh_cbracket">{{</span><span class="sh_function">valueFunction</span><span class="sh_symbol">()</span><span class="sh_cbracket">}}</span><span class="sh_symbol">&lt;/</span>br<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_function">Value</span> <span class="sh_symbol">(</span>Primitive<span class="sh_symbol">):</span> <span class="sh_cbracket">{{</span>valuePrimitive<span class="sh_cbracket">}}</span><span class="sh_symbol">&lt;/</span>br<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable=""> &lt;div ng-app='app' ng-controller='controller'&gt; Value (Object): {{valueObject.str}}&lt;/br&gt; Value (Function): {{valueFunction()}}&lt;/br&gt; Value (Primitive): {{valuePrimitive}}&lt;/br&gt; &lt;/div&gt;
                </pre>
        </div>
    </div>

</div>
<!-- --------------------------------------------------- Constant receipe end ----------------------------------------------------- -->



<!-- --------------------------------------------------- start --------------------------------------------------- -->
<div class="alert alert-danger title">Conclusion: </div>
<p>To wrap it up, let's summarize the most important points:</p>
<ul>
    <li>The injector uses recipes to create two types of objects: services and special purpose objects</li>
    <li>There are five recipe types that define how to create objects: Value, Factory, Service, Provider and Constant.</li>
    <li>Factory and Service are the most commonly used recipes. The only difference between them is that the Service recipe works better for objects of a custom type, while the Factory can produce JavaScript primitives and functions.</li>
    <li>The Provider recipe is the core recipe type and all the other ones are just syntactic sugar on it.</li>
    <li>Provider is the most complex recipe type. You don't need it unless you are building a reusable piece of code that needs global configuration.</li>
    <li>All special purpose objects except for the Controller are defined via Factory recipes.</li>
</ul>
<table class="table table-bordered code-table ng-scope">
    <thead>
        <tr>
            <th>Features / Recipe type</th>
            <th>Factory</th>
            <th>Service</th>
            <th>Value</th>
            <th>Constant</th>
            <th>Provider</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>can have dependencies</td>
            <td class="success">yes</td>
            <td class="success">yes</td>
            <td class="error">no</td>
            <td class="error">no</td>
            <td class="success">yes</td>
        </tr>
        <tr>
            <td>uses type friendly injection</td>
            <td class="error">no</td>
            <td class="success">yes</td>
            <td class="success">yes*</td>
            <td class="success">yes*</td>
            <td class="error">no</td>
        </tr>
        <tr>
            <td>object available in config phase</td>
            <td class="error">no</td>
            <td class="error">no</td>
            <td class="error">no</td>
            <td class="success">yes</td>
            <td class="success">yes**</td>
        </tr>
        <tr>
            <td>can create functions</td>
            <td class="success">yes</td>
            <td class="success">yes</td>
            <td class="success">yes</td>
            <td class="success">yes</td>
            <td class="success">yes</td>
        </tr>
        <tr>
            <td>can create primitives</td>
            <td class="success">yes</td>
            <td class="error">no</td>
            <td class="success">yes</td>
            <td class="success">yes</td>
            <td class="success">yes</td>
        </tr>
    </tbody>
</table>
<!-- --------------------------------------------------- end ----------------------------------------------------- -->

<!-- --------------------------------------------------- start --------------------------------------------------- -->
<!-- --------------------------------------------------- end ----------------------------------------------------- -->

<!-- --------------------------------------------------- start --------------------------------------------------- -->
<!-- --------------------------------------------------- end ----------------------------------------------------- -->
