<div class="alert alert-danger title">What are Controllers?</div>

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Definition</h3>
	</div>
	<div class="panel-body">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td colspan=2>
						In AngularJS, a Controller is defined by a JavaScript constructor function that is used to augment the AngularJS Scope.
						</br>
						</br>
						<div class="text">
							Official definition: AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. Angular's data binding and
							dependency injection eliminate much of the code you currently have to write. And it all happens within the browser, making it an ideal partner with any server technology.
						</div>
					</td>
				</tr>
				<tr>
					<th>Developer/Owner</th>
					<td>AngularJS was originally developed in 2009 by Misko Hevery and Adam Abrons. It is now maintained by Google. </td>
				</tr>
				<tr>
					<th>Version</th>
					<td>AngularJS version 1.0 was released in 2012. Its latest version is 1.6.1.</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>


</br>
<div class="alert alert-danger title">Conceptual overview:</div>

<p>This section briefly touches on all of the important parts of AngularJS using a simple example.</p>
</br>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Concept</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Template </td>
			<td>HTML with additional markup </td>
		</tr>
		<tr>
			<td>Directives </td>
			<td>extend HTML with custom attributes and elements </td>
		</tr>
		<tr>
			<td>Model </td>
			<td>the data shown to the user in the view and with which the user interacts </td>
		</tr>
		<tr>
			<td>Scope </td>
			<td>context where the model is stored so that controllers, directives and expressions can access it </td>
		</tr>
		<tr>
			<td>Expressions </td>
			<td>access variables and functions from the scope </td>
		</tr>
		<tr>
			<td>Compiler </td>
			<td>parses the template and instantiates directives and expressions </td>
		</tr>
		<tr>
			<td>Filter </td>
			<td>formats the value of an expression for display to the user </td>
		</tr>
		<tr>
			<td>View </td>
			<td>what the user sees (the DOM) </td>
		</tr>
		<tr>
			<td>Data Binding </td>
			<td>sync data between the model and the view </td>
		</tr>
		<tr>
			<td>Controller </td>
			<td>the business logic behind views </td>
		</tr>
		<tr>
			<td>Dependency Injection</td>
			<td>Creates and wires objects and functions </td>
		</tr>
		<tr>
			<td>Injector </td>
			<td>dependency injection container </td>
		</tr>
		<tr>
			<td>Module </td>
			<td>a container for the different parts of an app including controllers, services, filters, directives which configures the Injector </td>
		</tr>
		<tr>
			<td>Service </td>
			<td>reusable business logic independent of views </td>
		</tr>

	</tbody>
</table>


</br>
<div class="alert alert-danger title">First AngularJS application:</div>

<table class="table table-bordered">
	<tbody>
		<tr>
			<th>Bootstrap: Angular initialization process- Automatic initialization</th>
			<td>
				AngularJS is a JavaScript framework. It is a library written in JavaScript. It can be added to a web page with a script tag:

				<div>
					<table>
						<tr>
							<td><pre style="margin: 0; line-height: 125%"><span style="color: #007700">&lt;html</span> <span style="color: #0000CC">ng-app</span> <span style="color: #0000CC">ng-strict-di</span><span style = "color: #007700">&gt;</span></pre></td>
						</tr>
					</table>
				</div>

			</td>
		</tr>
		<tr>
			<th>Define AngularJS Application using ng-app directive</th>
			<td>

				<div>
					<table>
						<tr>
							<td><pre style="margin: 0; line-height: 125%"><span style="color: #007700">&lt;html</span> <span style="color: #0000CC">ng-app=</span><span>&quot;optionalModuleName&quot;</span> <span style="color: #0000CC">ng-strict-di</span><span style="color: #007700">&gt;</span></pre></td>
						</tr>
					</table>
				</div>

			</td>
		</tr>
		<tr>
			<th>Write AngularJS expressions within double braces</th>
			<td>
				Expressions are written inside double braces. AngularJS application expressions are pure javascript expressions and output the data where they are used.
				</br>
				</br>I can add: { { 1+2 }}.
			</td>
		</tr>
	</tbody>
</table>


<!-- HTML generated using hilite.me -->
<div style="background: #ffffff; overflow:auto;width:auto;font-family:Courier New;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
	<table>
		<tr>
			<td><pre style="margin: 0; line-height: 125%">1
2
3
4
5
6
7</pre></td>
			<td><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;!doctype html&gt;</span>
<span style="color: #007700">&lt;html</span> <span style="color: #0000CC">ng-app</span> <span style="color: #0000CC">ng-strict-di</span><span style="color: #007700">&gt;</span>
  <span style="color: #007700">&lt;body&gt;</span>
    I can add: {{ 1+2 } }.
     <span style="color: #007700">&lt;script </span><span style="color: #0000CC">src=</span><span style="background-color: #fff0f0">&quot;https: //ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js&quot;</span><span style="color: #007700">&gt;&lt;/script&gt;</span>
  <span style="color: #007700">&lt;/body&gt;</span>
<span style="color: #007700">&lt;/html&gt;</span>
</pre></td>
		</tr>
	</table>
</div>



</br>
<a target="_blank" href="https://jsfiddle.net/spectralvibes/d4b5p6wr/" class="btn btn-success"> Try it on JSFiddle!</a>

</br>
</br>

<div class="text-heading"> Best practices: </div>
</br>
<div class='text'>
	<ol class="list">
		<li>
			Place the script tag at the bottom of the page. Placing script tags at the end of the page improves app load time because the HTML loading is not blocked by loading of the angular.js script. You can get the latest bits from <a href="http://code.angularjs.org">http://code.angularjs.org</a>.
			Please don't link your production code to this URL, as it will expose a security hole on your site. For experimental development linking to our site is fine.
			<ul>
				<li>Choose: angular-[version].js for a human-readable file, suitable for development and debugging.</li>
				<li>Choose: angular-[version].min.js for a compressed and obfuscated file, suitable for use in production.</li>
			</ul>
		</li>
		<li>
			Place ng-app to the root of your application, typically on the <span style="color: #007700">&lt;html&gt;</span> tag if you want angular to auto-bootstrap your application. Consider adding an ng-strict-di directive on the same element as ng-app. This
			will ensure that all services in your application are properly annotated.
		</li>
		<li>
			If you choose to use the old style directive syntax ng: then include xml-namespace in html to make IE happy. (This is here for historical reasons, and we no longer recommend use of ng:.)
		</li>
	</ol>
</div>

<br>
</br>

<div class="alert alert-danger title">AngularJS bootstrap</div>

<div class="text-heading"> Automatic Initialization:</div>
</br>
<div class="text">
	Angular initializes automatically upon <code>DOMContentLoaded</code> event or when the angular.js script is evaluated if at that time <code>document.readyState</code> is set to 'complete'. At this point Angular looks for the ngApp directive which designates
	your application root. If the ngApp directive is found then Angular will:
	</br>
	<ul class="list">
		<li>load the module associated with the directive.</li>
		<li>create the application injector</li>
		<li>compile the DOM treating the ngApp directive as the root of the compilation. This allows you to tell it to treat only a portion of the DOM as an Angular application.</li>
	</ul>
</div>

</br>

<!-- HTML generated using hilite.me -->
<div style="background: #ffffff; overflow:auto;width:auto;font-family:Courier New;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
	<table>
		<tr>
			<td><pre style="margin: 0; line-height: 125%">1
2
3
4
5
6
7</pre></td>
			<td><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;!doctype html&gt;</span>
<span style="color: #007700">&lt;html</span> <span style="color: #0000CC">ng-app</span> <span style="color: #0000CC">ng-strict-di</span><span style="color: #007700">&gt;</span>
  <span style="color: #007700">&lt;body&gt;</span>
    I can add: {{ 1+2 } }.
     <span style="color: #007700">&lt;script </span><span style="color: #0000CC">src=</span><span style="background-color: #fff0f0">&quot;https: //ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js&quot;</span><span style="color: #007700">&gt;&lt;/script&gt;</span>
  <span style="color: #007700">&lt;/body&gt;</span>
<span style="color: #007700">&lt;/html&gt;</span>
</pre></td>
		</tr>
	</table>
</div>


</br>

<div class="text-heading"> Manual Initialization:</div>
</br>
<div class="text">
	If you need to have more control over the initialization process, you can use a manual bootstrapping method instead. Examples of when you'd need to do this include using script loaders or the need to perform an operation before Angular compiles a page.
	</br>
	</br>
	Here is an example of manually initializing Angular:
	</br>
	</br>
</div>

<!-- HTML generated using hilite.me -->
<div style="background: #ffffff; overflow:auto;width:auto;font-family:Courier New;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
	<table>
		<tr>
			<td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20</pre></td>
			<td><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;!doctype html&gt;</span>
<span style="color: #007700">&lt;html&gt;</span>
<span style="color: #007700">&lt;body&gt;</span>
  <span style="color: #007700">&lt;div</span> <span style="color: #0000CC">ng-controller=</span><span style="background-color: #fff0f0">&quot;MyController&quot;</span><span style="color: #007700">&gt;</span>
    Hello {{greetMe}}!
  <span style="color: #007700">&lt;/div&gt;</span>
  <span style="color: #007700">&lt;script </span><span style="color: #0000CC">src=</span><span style="background-color: #fff0f0">&quot;http://code.angularjs.org/snapshot/angular.js&quot;</span><span style="color: #007700">&gt;&lt;/script&gt;</span>

  <span style="color: #007700">&lt;script&gt;</span>
    angular.module(<span style="background-color: #fff0f0">&#39;myApp&#39;</span>, [])
      .controller(<span style="background-color: #fff0f0">&#39;MyController&#39;</span>, [<span style="background-color: #fff0f0">&#39;$scope&#39;</span>, <span style="color: #008800; font-weight: bold">function</span> ($scope) {
        $scope.greetMe <span style="color: #333333">=</span> <span style="background-color: #fff0f0">&#39;World&#39;</span>;
      }]);

    angular.element(<span style="color: #008800; font-weight: bold">function</span>() {
      angular.bootstrap(<span style="color: #007020">document</span>, [<span style="background-color: #fff0f0">&#39;myApp&#39;</span>]);
    });
  <span style="color: #007700">&lt;/script&gt;</span>
<span style="color: #007700">&lt;/body&gt;</span>
<span style="color: #007700">&lt;/html&gt;</span>
</pre></td>
		</tr>
	</table>
</div>

</br>
</br>

<div class="text">
	Note that we provided the name of our application module to be loaded into the injector as the second parameter of the <code>angular.bootstrap</code> function. Notice that <code>angular.bootstrap</code> will not create modules on the fly. You must create
	any custom modules before you pass them as a parameter.
	</br>
	You should call <code>angular.bootstrap()</code> after you've loaded or defined your modules. You cannot add controllers, services, directives, etc after an application bootstraps.
	</br>
	</br>

	<div class="alert alert-danger">Note: You should not use the ng-app directive when manually bootstrapping your app. </div>

	This is the sequence that your code should follow:
	</br>
	<ul class="list">
		<li>After the page and all of the code is loaded, find the root element of your AngularJS application, which is typically the root of the document.</li>
		<li>Call angular.bootstrap to compile the element into an executable, bi-directionally bound application.</li>
	</ul>
	</br>
	</br>
	There a few things to keep in mind regardless of automatic or manual bootstrapping:
	</br>
	<ul class="list">
		<li>While it's possible to bootstrap more than one AngularJS application per page, we don't actively test against this scenario. It's possible that you'll run into problems, especially with complex apps, so caution is advised</li>
		<li>Do not bootstrap your app on an element with a directive that uses transclusion, such as ngIf, ngInclude and ngView. Doing this misplaces the app $rootElement and the app's injector, causing animations to stop working and making the injector inaccessible
			from outside the app.</li>
	</ul>

</div>

</br>

<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Deferred Bootstrap:</h3>
	</div>
	<div class="panel-body">
		This feature enables tools like Batarang and test runners to hook into angular's bootstrap process and sneak in more modules into the DI registry which can replace or augment DI services for the purpose of instrumentation or mocking out heavy dependencies.
		</br>
		</br>
		If window.name contains prefix NG_DEFER_BOOTSTRAP! when angular.bootstrap is called, the bootstrap process will be paused until angular.resumeBootstrap() is called.
		</br>
		angular.resumeBootstrap() takes an optional array of modules that should be added to the original list of modules that the app was about to be bootstrapped with.
	</div>
</div>
