<!-- --------------------------------------------------- Introduction start --------------------------------------------------- -->
<div class="alert alert-danger title">Introduction</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Definition</h3>
    </div>
    <div class="panel-body">
        Filters format the value of an expression for display to the user. They can be used in view templates, controllers or services. AngularJS comes with a collection of built-in filters, but it is easy to define your own as well. The underlying API is the
        $filterProvider.
        <hr> Filters: https://scotch.io/tutorials/all-about-the-built-in-angularjs-filters

    </div>
</div>
<!-- --------------------------------------------------- Introduction end ----------------------------------------------------- -->

<!-- --------------------------------------------------- Usage start --------------------------------------------------- -->
<div class="alert alert-danger title">Usage: </div>
<div class='text'>
    <div class='title'>Using filters in view templates</div>
    <div>
        <p class="ng-scope">Filters can be applied to expressions in view templates using the following syntax:</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_cbracket">{{ expression <span class="sh_symbol">| filter <span class="sh_cbracket">}}</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{ expression | filter }}</pre>
            </div>
        </div><br>

        <p class="ng-scope">E.g. the markup <code>{{ <span class="lit">12 | currency }}</code> formats the number 12 as a currency using the <a href="api/ng/filter/currency"><code>currency</code></a> filter. The resulting value is <code>$12.<span class="lit">00</code>.
        </p>
        <p class="ng-scope">Filters can be applied to the result of another filter. This is called "chaining" and uses the following syntax:</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_cbracket">{{ expression <span class="sh_symbol">| filter1 <span class="sh_symbol">| filter2 <span class="sh_symbol">| <span class="sh_symbol">... <span class="sh_cbracket">}}</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{ expression | filter1 | filter2 | ... }}</pre>
            </div>
        </div><br>

        <p class="ng-scope">Filters may have arguments. The syntax for this is</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_cbracket">{{ expression <span class="sh_symbol">| filter<span class="sh_symbol">:argument1<span class="sh_symbol">:argument2<span class="sh_symbol">:... <span class="sh_cbracket">}}</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{ expression | filter:argument1:argument2:... }}</pre>
            </div>
        </div><br>

        <p class="ng-scope">E.g. the markup <code>{{ <span class="lit">1234 | number:<span class="lit">2 }}</code> formats the number 1234 with 2 decimal points using the
            <a href="api/ng/filter/number"><code>number</code></a> filter. The resulting value is <code><span class="lit">1,<span class="lit">234.00</code>.
        </p>
    </div>

    <br>
    <div class='title'>When filters are executed</div>
    <div>
        <p class="ng-scope">In templates, filters are only executed when their inputs have changed. This is more performant than executing a filter on each<code>$digest</code> as is the case with expressions.</p>
        <p class="ng-scope">There are two exceptions to this rule:</p>
        <ol class="list">
            <li>
                <p>In general, this applies only to filters that take <a href="https://developer.mozilla.org/docs/Glossary/Primitive">primitive values</a> as inputs. Filters that receive <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Data_structures#Objects">Objects</a>                    as input are executed on each <code>$digest</code>, as it would be too costly to track if the inputs have changed.</p>
            </li>
            <li>
                <p>Filters that are marked as <code>$stateful</code> are also executed on each $digest. See <a href="guide/filter#stateful-filters">Stateful filters</a> for more information. Note that no AngularJS core filters are $stateful.
                </p>
            </li>
        </ol>

    </div>

    <br>
    <div class='title'>Using filters in controllers, services, and directives</div>
    <div>
        Using <code>$&lt;filterName&gt;</code> (eg: $currency, $filter):<br>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>$<span class="sh_function">filter<span class="sh_symbol">(<span class="sh_string">'filter'<span class="sh_symbol">)(array<span class="sh_symbol">, expression<span class="sh_symbol">, comparator<span class="sh_symbol">, anyPropertyKey<span class="sh_symbol">)</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">$filter('filter')(array, expression, comparator, anyPropertyKey)</pre>
            </div>
        </div>
        <br> Using <code>&lt;filterName&gt;Filter</code> (eg: filterFilter, numberFilter):
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_function">filterFilter<span class="sh_symbol">(array<span class="sh_symbol">, expression<span class="sh_symbol">, comparator<span class="sh_symbol">, anyPropertyKey<span class="sh_symbol">)</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">filterFilter(array, expression, comparator, anyPropertyKey)</pre>
            </div>
        </div><br>

        <div class="alert alert-info ng-scope">
            For this, inject a dependency with the name <code><span class="tag">&lt;filterName&gt;Filter</code> into your controller/service/directive. E.g. a filter called <code>number</code> is injected by using the dependency <code>numberFilter</code>.
            The injected argument is a function that takes the value to format as first argument, and filter parameters starting with the second argument.
        </div>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var app <span class="sh_symbol">= angular<span class="sh_symbol">.<span class="sh_function">module<span class="sh_symbol">(<span class="sh_string">'app'<span class="sh_symbol">, <span class="sh_symbol">[]);</li><li>app<span class="sh_symbol">.<span class="sh_function">controller<span class="sh_symbol">(<span class="sh_string">'controller'<span class="sh_symbol">, <span class="sh_symbol">[<span class="sh_string">'$scope'<span class="sh_symbol">, <span class="sh_string">'$filter'<span class="sh_symbol">, <span class="sh_string">'filterFilter'<span class="sh_symbol">, <span class="sh_symbol">($scope<span class="sh_symbol">, $filter<span class="sh_symbol">, filterFilter<span class="sh_symbol">) <span class="sh_symbol">=&gt; <span class="sh_cbracket">{</li><li>    $scope<span class="sh_symbol">.obj <span class="sh_symbol">= <span class="sh_symbol">[</li><li>        <span class="sh_cbracket">{ <span class="sh_predef_var">name<span class="sh_symbol">: <span class="sh_string">'Sandip'<span class="sh_symbol">, age<span class="sh_symbol">: <span class="sh_number">30<span class="sh_symbol">, city<span class="sh_symbol">: <span class="sh_string">'Ghotavi' <span class="sh_cbracket">}<span class="sh_symbol">,</li><li>        <span class="sh_cbracket">{ <span class="sh_predef_var">name<span class="sh_symbol">: <span class="sh_string">'Ramesh'<span class="sh_symbol">, age<span class="sh_symbol">: <span class="sh_number">40<span class="sh_symbol">, city<span class="sh_symbol">: <span class="sh_string">'Tokyo' <span class="sh_cbracket">}<span class="sh_symbol">,</li><li>        <span class="sh_cbracket">{ <span class="sh_predef_var">name<span class="sh_symbol">: <span class="sh_string">'Suresh'<span class="sh_symbol">, age<span class="sh_symbol">: <span class="sh_number">35<span class="sh_symbol">, city<span class="sh_symbol">: <span class="sh_string">'Paris' <span class="sh_cbracket">}<span class="sh_symbol">,</li><li>        <span class="sh_cbracket">{ <span class="sh_predef_var">name<span class="sh_symbol">: <span class="sh_string">'Chintoo'<span class="sh_symbol">, age<span class="sh_symbol">: <span class="sh_number">7<span class="sh_symbol">, city<span class="sh_symbol">: <span class="sh_string">'Pargaon' <span class="sh_cbracket">}<span class="sh_symbol">,</li><li>        <span class="sh_cbracket">{ <span class="sh_predef_var">name<span class="sh_symbol">: <span class="sh_string">'Monty'<span class="sh_symbol">, age<span class="sh_symbol">: <span class="sh_number">13<span class="sh_symbol">, city<span class="sh_symbol">: <span class="sh_string">'Ghotavi' <span class="sh_cbracket">}<span class="sh_symbol">,</li><li>    <span class="sh_symbol">];</li><li>    <span class="sh_comment">// Person having áge with digit '3' = Sandip, Suresh, Monty</li><li>    $scope<span class="sh_symbol">.obj <span class="sh_symbol">= $<span class="sh_function">filter<span class="sh_symbol">(<span class="sh_string">'filter'<span class="sh_symbol">)($scope<span class="sh_symbol">.obj<span class="sh_symbol">, <span class="sh_cbracket">{ age<span class="sh_symbol">: <span class="sh_string">'3' <span class="sh_cbracket">}<span class="sh_symbol">, <span class="sh_keyword">false<span class="sh_symbol">);</li><li>    <span class="sh_comment">// Person having 'Ghotavi' as city = Sandip, Monty</li><li>    $scope<span class="sh_symbol">.obj <span class="sh_symbol">= <span class="sh_function">filterFilter<span class="sh_symbol">($scope<span class="sh_symbol">.obj<span class="sh_symbol">, <span class="sh_cbracket">{ city<span class="sh_symbol">: <span class="sh_string">'Ghotavi' <span class="sh_cbracket">}<span class="sh_symbol">);</li><li><span class="sh_cbracket">}<span class="sh_symbol">]);</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var app = angular.module('app', []); app.controller('controller', ['$scope', '$filter', 'filterFilter', ($scope, $filter, filterFilter) =&gt; { $scope.obj = [ { name: 'Sandip', age: 30, city: 'Ghotavi' }, { name: 'Ramesh', age: 40, city:
                    'Tokyo' }, { name: 'Suresh', age: 35, city: 'Paris' }, { name: 'Chintoo', age: 7, city: 'Pargaon' }, { name: 'Monty', age: 13, city: 'Ghotavi' }, ]; // Person having áge with digit '3' = Sandip, Suresh, Monty $scope.obj = $filter('filter')($scope.obj,
                    { age: '3' }, false); // Person having 'Ghotavi' as city = Sandip, Monty $scope.obj = filterFilter($scope.obj, { city: 'Ghotavi' }); }]);
                    </pre>
            </div>
        </div>
        <br>

    </div>

</div>

<!-- --------------------------------------------------- Usage end ----------------------------------------------------- -->

<!-- --------------------------------------------------- built-in filters start --------------------------------------------------- -->
<div class="alert alert-danger title">Built-in filter components in ng: </div>
<div class='text'>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>

            <tr>
                <td><a href="api/ng/filter/filter">filter</a></td>
                <td>
                    <p>Selects a subset of items from <code>array</code> and returns it as a new array.</p>
                </td>
            </tr>

            <tr>
                <td><a href="api/ng/filter/currency">currency</a></td>
                <td>
                    <p>Formats a number as a currency (ie $1,234.56). When no currency symbol is provided, default symbol for current locale is used.</p>
                </td>
            </tr>

            <tr>
                <td><a href="api/ng/filter/number">number</a></td>
                <td>
                    <p>Formats a number as text.</p>
                </td>
            </tr>

            <tr>
                <td><a href="api/ng/filter/date">date</a></td>
                <td>
                    <p>Formats <code>date</code> to a string based on the requested <code>format</code>.</p>
                </td>
            </tr>

            <tr>
                <td><a href="api/ng/filter/json">json</a></td>
                <td>
                    <p>Allows you to convert a JavaScript object into JSON string.</p>
                </td>
            </tr>

            <tr>
                <td><a href="api/ng/filter/lowercase">lowercase</a></td>
                <td>
                    <p>Converts string to lowercase.</p>
                </td>
            </tr>

            <tr>
                <td><a href="api/ng/filter/uppercase">uppercase</a></td>
                <td>
                    <p>Converts string to uppercase.</p>
                </td>
            </tr>

            <tr>
                <td><a href="api/ng/filter/limitTo">limitTo</a></td>
                <td>
                    <p>Creates a new array or string containing only a specified number of elements. The elements are taken from either the beginning or the end of the source array, string or number, as specified by the value and sign (positive or negative)
                        of <code>limit</code>. Other array-like objects are also supported (e.g. array subclasses, NodeLists, jqLite/jQuery collections etc). If a number is used as input, it is converted to a string.</p>
                </td>
            </tr>

            <tr>
                <td><a href="api/ng/filter/orderBy">orderBy</a></td>
                <td>
                    <p>Returns an array containing the items from the specified <code>collection</code>, ordered by a <code>comparator</code> function based on the values computed using the <code>expression</code> predicate.</p>
                </td>
            </tr>

        </tbody>
    </table>

    <div class='title'>filter</div>
    <div>
        Selects a subset of items from array and returns it as a new array.
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ul class="snippet-no-num"><li><span class="sh_cbracket">{{ filter_expression <span class="sh_symbol">| filter <span class="sh_symbol">: expression <span class="sh_symbol">: comparator <span class="sh_symbol">: anyPropertyKey<span class="sh_cbracket">}}</li></ul></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{ filter_expression | filter : expression : comparator : anyPropertyKey}}</pre>
            </div>
        </div><br>
        <div class='text-heading'>Arguments</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        array


                    </td>
                    <td>
                        <a href="" class="label label-warning">Array</a>
                    </td>
                    <td>
                        <p>The source array.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        expression


                    </td>
                    <td>
                        <div class="label label-primary">string</div>
                        <div class="label label-default">Object</div>
                        <div class="label label-success">function()</div>
                    </td>
                    <td>
                        <p>The predicate to be used for selecting items from
                            <code>array</code>.</p>
                        <p> Can be one of:</p>
                        <ul>
                            <li>
                                <p><code>string</code>: The string is used for matching against the contents of the <code>array</code>. All strings or objects with string properties in <code>array</code> that match this string will be returned. This also
                                    applies to nested object properties. The predicate can be negated by prefixing the string with <code>!</code>.</p>
                            </li>
                            <li>
                                <p><code><span class="typ">Object</code>: A pattern object can be used to filter specific properties on objects contained by <code>array</code>. For example <code>{name:"M", phone:"1"}</code> predicate will return an array
                                    of items which have property <code>name</code> containing "M" and property <code>phone</code> containing "1". A special property name (
                                    <code>$</code> by default) can be used (e.g. as in <code>{$: "text"}</code>) to accept a match against any property of the object or its nested object properties. That's equivalent to the simple substring match with
                                    a <code>string</code> as described above. The special property name can be overwritten, using the <code>anyPropertyKey</code> parameter. The predicate can be negated by prefixing the string with <code>!</code>. For
                                    example
                                    <code>{name: "!M"}</code> predicate will return an array of items which have property <code>name</code> not containing "M".</p>
                                <p>Note that a named property will match properties on the same level only, while the special
                                    <code>$</code> property will match properties on the same level or deeper. E.g. an array item like
                                    <code>{name: {first: 'John', last: 'Doe'}}</code> will <strong>not</strong> be matched by <code>{name: 'John'}</code>, but
                                    <strong>will</strong> be matched by <code>{$: 'John'}</code>.</p>
                            </li>
                            <li>
                                <p><code>function(value, index, array)</code>: A predicate function can be used to write arbitrary filters. The function is called for each element of the array, with the element, its index, and the entire array itself as
                                    arguments.
                                </p>
                                <p>The final result is an array of those elements that the predicate returned true for.</p>
                            </li>
                        </ul>


                    </td>
                </tr>

                <tr>
                    <td>
                        comparator

                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <div class="label label-success">function(actual, expected)</div>
                        <div class="label label-default">true</div>
                        <div class="label label-default">false</div>
                    </td>
                    <td>
                        <p>Comparator which is used in determining if the expected value (from the filter expression) and actual value (from the object in the array) should be considered a match.</p>
                        <p> Can be one of:</p>
                        <ul>
                            <li>
                                <p><code>function(actual, expected)</code>: The function will be given the object value and the predicate value to compare and should return true if both values should be considered equal.</p>
                            </li>
                            <li>
                                <p><code>true</code>: A shorthand for <code>function(actual, expected) { return angular.equals(actual, expected)}</code>. This is essentially strict comparison of expected and actual.</p>
                            </li>
                            <li>
                                <p><code>false</code>: A short hand for a function which will look for a substring match in a case insensitive way. Primitive values are converted to strings. Objects are not compared against primitives, unless they have a
                                    custom <code>toString</code> method (e.g. <code><span class="typ">Date</code> objects).</p>
                            </li>
                        </ul>
                        <p> Defaults to <code>false</code>.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        anyPropertyKey
                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <a href="" class="label label-primary">string</a>
                    </td>
                    <td>
                        <p>The special property name that matches against any property. By default <code>$</code>.</p>
                    </td>
                </tr>

            </tbody>
        </table>
        <iframe src="https://embed.plnkr.co/jbB3anspIAgWP8Mo3K4s?show=app,preview" frameborder="0" width="100%" height="480px"></iframe>
    </div>
    <br>

    <div class='title'>currency</div>
    <div>
        Formats a number as a currency (ie $1,234.56).
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_cbracket">{{ currency_expression <span class="sh_symbol">| currency <span class="sh_symbol">: symbol <span class="sh_symbol">: fractionSize<span class="sh_cbracket">}} <span class="sh_comment">//OR</li><li>$<span class="sh_function">filter<span class="sh_symbol">(<span class="sh_string">'currency'<span class="sh_symbol">)(amount<span class="sh_symbol">, symbol<span class="sh_symbol">, fractionSize<span class="sh_symbol">)</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{ currency_expression | currency : symbol : fractionSize}} //OR $filter('currency')(amount, symbol, fractionSize)</pre>
            </div>
        </div><br>
        <div class='text-heading'>Arguments</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        amount


                    </td>
                    <td>
                        <a href="" class="label label-warning">number</a>
                    </td>
                    <td>
                        <p>Input to filter.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        symbol

                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <a href="" class="label label-primary">string</a>
                    </td>
                    <td>
                        <p>Currency symbol or identifier to be displayed. When no currency symbol is provided, default symbol for current locale is used.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        fractionSize

                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <a href="" class="label label-warning">number</a>
                    </td>
                    <td>
                        <p>Number of decimal places to round the amount to, defaults to default max fraction size for current locale</p>


                    </td>
                </tr>

            </tbody>
        </table>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ul class="snippet-no-num"><li><span class="sh_symbol">&lt;label<span class="sh_symbol">&gt;Enter Amount<span class="sh_symbol">: <span class="sh_symbol">&lt;input type<span class="sh_symbol">=<span class="sh_string">"text" ng<span class="sh_symbol">-model<span class="sh_symbol">=<span class="sh_string">"amount"<span class="sh_symbol">&gt;&lt;/label<span class="sh_symbol">&gt;</li><li><span class="sh_cbracket">{{amount <span class="sh_symbol">| currency<span class="sh_symbol">:$<span class="sh_symbol">:<span class="sh_number">2<span class="sh_cbracket">}}</li></ul></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;label&gt;Enter Amount: &lt;input type="text" ng-model="amount"&gt;&lt;/label&gt; {{amount | currency:$:2}}</pre>
            </div>
        </div><br>
    </div>

    <div class='title'>Number</div>
    <div>
        Formats a number as text.
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_cbracket">{{ number_expression <span class="sh_symbol">| number <span class="sh_symbol">: fractionSize<span class="sh_cbracket">}} <span class="sh_comment">//OR</li><li>$<span class="sh_function">filter<span class="sh_symbol">(<span class="sh_string">'number'<span class="sh_symbol">)(number<span class="sh_symbol">, fractionSize<span class="sh_symbol">)</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{ number_expression | number : fractionSize}} //OR $filter('number')(number, fractionSize)</pre>
            </div>
        </div><br>
        <div class='text-heading'>Arguments</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        number


                    </td>
                    <td>
                        <div class="label label-danger">number</div>
                        <div class="label label-primary">string</div>
                    </td>
                    <td>
                        <p>Number to format.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        fractionSize

                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <div class="label label-danger">number</div>
                        <div class="label label-primary">string</div>
                    </td>
                    <td>
                        <p>Number of decimal places to round the number to. If this is not provided then the fraction size is computed from the current locale's number formatting pattern. In the case of the default locale, it will be 3.</p>


                    </td>
                </tr>

            </tbody>
        </table>
        <div class='text-heading'>Returns:</div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><a href="" class="label label-primary">string</a></td>
                    <td>
                        <p>Number rounded to <code>fractionSize</code> appropriately formatted based on the current locale (e.g., in the en_US locale it will have "." as the decimal separator and include "," group separators after each third digit).</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ul class="snippet-no-num"><li>  Default formatting&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">: <span class="sh_cbracket">{{val <span class="sh_symbol">| number<span class="sh_cbracket">}}</li><li>  No fractions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">: <span class="sh_cbracket">{{val <span class="sh_symbol">| number<span class="sh_symbol">:<span class="sh_number">0<span class="sh_cbracket">}}</li><li>  Negative number&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">: <span class="sh_cbracket">{{<span class="sh_symbol">-val <span class="sh_symbol">| number<span class="sh_symbol">:<span class="sh_number">4<span class="sh_cbracket">}} <span class="sh_comment">//Up to 4 decimal points</li></ul></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable=""> Default formatting : {{val | number}} No fractions : {{val | number:0}} Negative number : {{-val | number:4}} //Up to 4 decimal points</pre>
            </div>
        </div>
        <br>
    </div>

    <div class='title'>date</div>
    <div>
        <p>Formats <code>date</code> to a string based on the requested <code>format</code>.</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_cbracket">{{ date_expression <span class="sh_symbol">| date <span class="sh_symbol">: format <span class="sh_symbol">: timezone<span class="sh_cbracket">}} <span class="sh_comment">// Or</li><li>$<span class="sh_function">filter<span class="sh_symbol">(<span class="sh_string">'date'<span class="sh_symbol">)(date<span class="sh_symbol">, format<span class="sh_symbol">, timezone<span class="sh_symbol">)</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{ date_expression | date : format : timezone}} // Or $filter('date')(date, format, timezone)</pre>
            </div>
        </div>

        <p> <code>format</code> string can be composed of the following elements:</p>
        <ul class='list'>
            <li><code>'yyyy'</code>: 4 digit representation of year (e.g. AD 1 =&gt; 0001, AD 2010 =&gt; 2010)</li>
            <li><code>'yy'</code>: 2 digit representation of year, padded (00-99). (e.g. AD 2001 =&gt; 01, AD 2010 =&gt; 10)</li>
            <li><code>'y'</code>: 1 digit representation of year, e.g. (AD 1 =&gt; 1, AD 199 =&gt; 199)</li>
            <li><code>'MMMM'</code>: Month in year (January-December)</li>
            <li><code>'MMM'</code>: Month in year (Jan-Dec)</li>
            <li><code>'MM'</code>: Month in year, padded (01-12)</li>
            <li><code>'M'</code>: Month in year (1-12)</li>
            <li><code>'LLLL'</code>: Stand-alone month in year (January-December)</li>
            <li><code>'dd'</code>: Day in month, padded (01-31)</li>
            <li><code>'d'</code>: Day in month (1-31)</li>
            <li><code>'EEEE'</code>: Day in Week,(Sunday-Saturday)</li>
            <li><code>'EEE'</code>: Day in Week, (Sun-Sat)</li>
            <li><code>'HH'</code>: Hour in day, padded (00-23)</li>
            <li><code>'H'</code>: Hour in day (0-23)</li>
            <li><code>'hh'</code>: Hour in AM/PM, padded (01-12)</li>
            <li><code>'h'</code>: Hour in AM/PM, (1-12)</li>
            <li><code>'mm'</code>: Minute in hour, padded (00-59)</li>
            <li><code>'m'</code>: Minute in hour (0-59)</li>
            <li><code>'ss'</code>: Second in minute, padded (00-59)</li>
            <li><code>'s'</code>: Second in minute (0-59)</li>
            <li><code>'sss'</code>: Millisecond in second, padded (000-999)</li>
            <li><code>'a'</code>: AM/PM marker</li>
            <li><code>'Z'</code>: 4 digit (+sign) representation of the timezone offset (-1200-+1200)</li>
            <li><code>'ww'</code>: Week of year, padded (00-53). Week 01 is the week with the first Thursday of the year</li>
            <li><code>'w'</code>: Week of year (0-53). Week 1 is the week with the first Thursday of the year</li>
            <li><code>'G'</code>, <code>'GG'</code>, <code>'GGG'</code>: The abbreviated form of the era string (e.g. 'AD')</li>
            <li>
                <p><code>'GGGG'</code>: The long form of the era string (e.g. 'Anno Domini')</p>
                <p><code>format</code> string can also be one of the following predefined
                    <a href="guide/i18n">localizable formats</a>:</p>
            </li>
            <li>
                <p><code>'medium'</code>: equivalent to <code>'MMM d, y h:mm:ss a'</code> for en_US locale (e.g. Sep 3, 2010 12:05:08 PM)</p>
            </li>
            <li><code>'short'</code>: equivalent to <code>'M/d/yy h:mm a'</code> for en_US locale (e.g. 9/3/10 12:05 PM)</li>
            <li><code>'fullDate'</code>: equivalent to <code>'EEEE, MMMM d, y'</code> for en_US locale (e.g. Friday, September 3, 2010)</li>
            <li><code>'longDate'</code>: equivalent to <code>'MMMM d, y'</code> for en_US locale (e.g. September 3, 2010)</li>
            <li><code>'mediumDate'</code>: equivalent to <code>'MMM d, y'</code> for en_US locale (e.g. Sep 3, 2010)</li>
            <li><code>'shortDate'</code>: equivalent to <code>'M/d/yy'</code> for en_US locale (e.g. 9/3/10)</li>
            <li><code>'mediumTime'</code>: equivalent to <code>'h:mm:ss a'</code> for en_US locale (e.g. 12:05:08 PM)</li>
            <li>
                <p><code>'shortTime'</code>: equivalent to <code>'h:mm a'</code> for en_US locale (e.g. 12:05 PM)</p>
                <p><code>format</code> string can contain literal values. These need to be escaped by surrounding with single quotes (e.g.
                    <code>"h 'in the morning'"</code>). In order to output a single quote, escape it - i.e., two single quotes in a sequence (e.g. <code>"h 'o''clock'"</code>).</p>
            </li>
        </ul>

        <div class='text-heading'>Arguments</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        date
                    </td>
                    <td>
                        <div class="label label-warning">Date</div>
                        <div class="label label-danger">number</div>
                        <div class="label label-primary">string</div>
                    </td>
                    <td>
                        <p>Date to format either as Date object, milliseconds (string or number) or various ISO 8601 datetime string formats (e.g. yyyy-MM-ddTHH:mm:ss.sssZ and its shorter versions like yyyy-MM-ddTHH:mmZ, yyyy-MM-dd or yyyyMMddTHHmmssZ).
                            If no timezone is specified in the string input, the time is considered to be in the local timezone.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        format

                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <div class="label label-primary">string</div>
                    </td>
                    <td>
                        <p>Formatting rules (see Description). If not specified,
                            <code>mediumDate</code> is used.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        timezone

                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <div class="label label-primary">string</div>
                    </td>
                    <td>
                        <p>Timezone to be used for formatting. It understands UTC/GMT and the continental US time zone abbreviations, but for general use, use a time zone offset, for example, <code>'+0430'</code> (4 hours, 30 minutes east of the Greenwich
                            meridian) If not specified, the timezone of the browser will be used.</p>


                    </td>
                </tr>

            </tbody>
        </table>
        <div class='text-heading'>Returns</div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><a href="" class="label label-primary">string</a></td>
                    <td>
                        <p>Formatted string or the input if input is not recognized as date/millis.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_cbracket">{{<span class="sh_number">1288323623006 <span class="sh_symbol">| date<span class="sh_symbol">:<span class="sh_string">'medium'<span class="sh_cbracket">}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">: Oct <span class="sh_number">29<span class="sh_symbol">, <span class="sh_number">2010 <span class="sh_number">9<span class="sh_symbol">:<span class="sh_number">10<span class="sh_symbol">:<span class="sh_number">23 AM</li><li><span class="sh_cbracket">{{<span class="sh_number">1288323623006 <span class="sh_symbol">| date<span class="sh_symbol">:<span class="sh_string">'yyyy-MM-dd HH:mm:ss Z'<span class="sh_cbracket">}}<span class="sh_symbol">: <span class="sh_number">2010-10-29 <span class="sh_number">09<span class="sh_symbol">:<span class="sh_number">10<span class="sh_symbol">:<span class="sh_number">23 <span class="sh_symbol">+<span class="sh_number">0530</li><li><span class="sh_cbracket">{{<span class="sh_number">1288323623006 <span class="sh_symbol">| date<span class="sh_symbol">:<span class="sh_string">'MM/dd/yyyy @ h:mma'<span class="sh_cbracket">}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">: <span class="sh_number">10<span class="sh_symbol">/<span class="sh_number">29<span class="sh_symbol">/<span class="sh_number">2010 @ <span class="sh_number">9<span class="sh_symbol">:10AM</li><li><span class="sh_cbracket">{{<span class="sh_string">'2017-01-10'<span class="sh_symbol">| date<span class="sh_symbol">:<span class="sh_string">"dd-MMM-yyyy 'at' h:mma"<span class="sh_cbracket">}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">: <span class="sh_number">10<span class="sh_symbol">-Jan<span class="sh_number">-2017 at <span class="sh_number">12<span class="sh_symbol">:00AM</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{1288323623006 | date:'medium'}} : Oct 29, 2010 9:10:23 AM {{1288323623006 | date:'yyyy-MM-dd HH:mm:ss Z'}}: 2010-10-29 09:10:23 +0530 {{1288323623006 | date:'MM/dd/yyyy @ h:mma'}} : 10/29/2010 @ 9:10AM {{'2017-01-10'| date:"dd-MMM-yyyy
                    'at' h:mma"}} : 10-Jan-2017 at 12:00AM</pre>
            </div>
        </div>
        <br>

    </div>

    <div class='title'>json</div>
    <div>
        Allows you to convert a JavaScript object into JSON string. This filter is mostly useful for debugging.
        <br><br> When using the double curly notation the binding is automatically converted to JSON.<br>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_cbracket">{{ json_expression <span class="sh_symbol">| json <span class="sh_symbol">: spacing<span class="sh_cbracket">}}  <span class="sh_comment">// Or</li><li>$<span class="sh_function">filter<span class="sh_symbol">(<span class="sh_string">'json'<span class="sh_symbol">)(object<span class="sh_symbol">, spacing<span class="sh_symbol">)</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{ json_expression | json : spacing}} // Or $filter('json')(object, spacing)</pre>
            </div>
        </div>
        <br>

        <div class='text-heading'>Arguments</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        object


                    </td>
                    <td>
                        <a href="" class="label label-default">*</a>
                    </td>
                    <td>
                        <p>Any JavaScript object (including arrays and primitive types) to filter.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        spacing

                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <a href="" class="label label-danger">number</a>
                    </td>
                    <td>
                        <p>The number of spaces to use per indentation, defaults to 2.</p>


                    </td>
                </tr>

            </tbody>
        </table>


    </div>

    <div class='title'>lowercase, uppercase</div>
    <div>
        <strong>lowercase:</strong> Converts string to lowercase.<br>
        <strong>uppercase:</strong> Converts string to uppercase.<br>
    </div><br>

    <div class='title'>limitTo</div>
    <div>
        <p>
            Creates a new array or string containing only a specified number of elements. The elements are taken from either the beginning or the end of the source array, string or number, as specified by the value and sign (positive or negative) of <code>limit</code>.
            Other array-like objects are also supported (e.g. array subclasses, NodeLists, jqLite/jQuery collections etc). If a number is used as input, it is converted to a string.
        </p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_cbracket">{{ limitTo_expression <span class="sh_symbol">| limitTo <span class="sh_symbol">: limit <span class="sh_symbol">: begin<span class="sh_cbracket">}} <span class="sh_comment">// Or</li><li>$<span class="sh_function">filter<span class="sh_symbol">(<span class="sh_string">'limitTo'<span class="sh_symbol">)(input<span class="sh_symbol">, limit<span class="sh_symbol">, begin<span class="sh_symbol">)</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{ limitTo_expression | limitTo : limit : begin}} // Or $filter('limitTo')(input, limit, begin)</pre>
            </div>
        </div><br>

        <div class='text-heading'>Arguments:</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        input


                    </td>
                    <td>
                        <div class="label label-warning">Array</div>
                        <div class="label label-default">ArrayLike</div>
                        <div class="label label-primary">string</div>
                        <div class="label label-danger">number</div>
                    </td>
                    <td>
                        <p>Array/array-like, string or number to be limited.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        limit


                    </td>
                    <td>
                        <div class="label label-primary">string</div>
                        <div class="label label-danger">number</div>
                    </td>
                    <td>
                        <p>The length of the returned array or string. If the <code>limit</code> number is positive, <code>limit</code> number of items from the beginning of the source array/string are copied. If the number is negative, <code>limit</code>                            number of items from the end of the source array/string are copied. The <code>limit</code> will be trimmed if it exceeds <code>array.length</code>. If <code>limit</code> is undefined, the input will be returned unchanged.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        begin

                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <div class="label label-primary">string</div>
                        <div class="label label-danger">number</div>
                    </td>
                    <td>
                        <p>Index at which to begin limitation. As a negative index,
                            <code>begin</code> indicates an offset from the end of <code>input</code>. Defaults to <code><span class="lit">0</code>.</p>


                    </td>
                </tr>

            </tbody>
        </table>
        <div class='text-heading'>Returns:</div>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td><a href="" class="label label-warning">Array</a><a href="" class="label label-primary">string</a></td>
                    <td>
                        <p>A new sub-array or substring of length <code>limit</code> or less if the input had less than <code>limit</code> elements.</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_cbracket">{{ <span class="sh_number">1288323623006 <span class="sh_symbol">| limitTo<span class="sh_symbol">:<span class="sh_number">2 <span class="sh_cbracket">}}&nbsp;&nbsp;&nbsp;&nbsp;    <span class="sh_symbol">:&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_number">12  </li><li><span class="sh_cbracket">{{ <span class="sh_symbol">[<span class="sh_number">1<span class="sh_symbol">,<span class="sh_number">2<span class="sh_symbol">,<span class="sh_number">3<span class="sh_symbol">,<span class="sh_number">4<span class="sh_symbol">,<span class="sh_number">5<span class="sh_symbol">,<span class="sh_number">6<span class="sh_symbol">] <span class="sh_symbol">| limitTo<span class="sh_symbol">:<span class="sh_number">3 <span class="sh_cbracket">}}     <span class="sh_symbol">:   <span class="sh_symbol">[<span class="sh_number">1<span class="sh_symbol">,<span class="sh_number">2<span class="sh_symbol">,<span class="sh_number">3<span class="sh_symbol">]</li><li><span class="sh_cbracket">{{ <span class="sh_symbol">[<span class="sh_number">6<span class="sh_symbol">,<span class="sh_number">5<span class="sh_symbol">,<span class="sh_number">4<span class="sh_symbol">,<span class="sh_number">3<span class="sh_symbol">,<span class="sh_number">2<span class="sh_symbol">,<span class="sh_number">1<span class="sh_symbol">] <span class="sh_symbol">| limitTo<span class="sh_symbol">:-<span class="sh_number">3 <span class="sh_cbracket">}}    <span class="sh_symbol">:   <span class="sh_symbol">[<span class="sh_number">3<span class="sh_symbol">,<span class="sh_number">2<span class="sh_symbol">,<span class="sh_number">1<span class="sh_symbol">]</li><li><span class="sh_cbracket">{{ <span class="sh_string">'Abcdefedcba' <span class="sh_symbol">| limitTo<span class="sh_symbol">:<span class="sh_number">3<span class="sh_symbol">:<span class="sh_number">3 <span class="sh_cbracket">}}   <span class="sh_symbol">:   def</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{ 1288323623006 | limitTo:2 }} : 12 {{ [1,2,3,4,5,6] | limitTo:3 }} : [1,2,3] {{ [6,5,4,3,2,1] | limitTo:-3 }} : [3,2,1] {{ 'Abcdefedcba' | limitTo:3:3 }} : def</pre>
            </div>
        </div><br>

    </div>

    <div class='title'>orderBy</div>
    <div>
        <p>Returns an array containing the items from the specified <code>collection</code>, ordered by a <code>comparator</code> function based on the values computed using the <code>expression</code> predicate.</p>
        <p>
            For example, <code>[{id: 'foo'}, {id: 'bar'}] | orderBy:'id'</code> would result in
            <code>[{id: 'bar'}, {id: 'foo'}]</code>.
        </p>
        <p>The <code>collection</code> can be an Array or array-like object (e.g. NodeList, jQuery object, TypedArray, String, etc).</p>
        <p>
            The <code>expression</code> can be a single predicate, or a list of predicates each serving as a tie-breaker for the preceding one. The <code>expression</code> is evaluated against each item and the output is used for comparing with other
            items.
        </p>
        <p>You can change the sorting order by setting <code>reverse</code> to <code>true</code>. By default, items are sorted in ascending order.</p>
        <p>The comparison is done using the <code>comparator</code> function. If none is specified, a default, built-in comparator is used (see below for details - in a nutshell, it compares numbers numerically and strings alphabetically).</p>

        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_cbracket">{{ orderBy_expression <span class="sh_symbol">| orderBy <span class="sh_symbol">: expression <span class="sh_symbol">: reverse <span class="sh_symbol">: comparator<span class="sh_cbracket">}} <span class="sh_comment">// Or</li><li>$<span class="sh_function">filter<span class="sh_symbol">(<span class="sh_string">'orderBy'<span class="sh_symbol">)(collection<span class="sh_symbol">, expression<span class="sh_symbol">, reverse<span class="sh_symbol">, comparator<span class="sh_symbol">)</li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">{{ orderBy_expression | orderBy : expression : reverse : comparator}} // Or $filter('orderBy')(collection, expression, reverse, comparator)</pre>
            </div>
        </div><br>

        <div class='text-heading'>Arguments:</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        collection


                    </td>
                    <td>
                        <div class="label label-warning">Array</div>
                        <div class="label label-default">ArrayLike</div>
                    </td>
                    <td>
                        <p>The collection (array or array-like object) to sort.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        expression

                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <div class="label label-success">function()</div>
                        <div class="label label-primary">string</div>
                        <div class="label label-warning">Array.&lt;(function()|string)&gt;</div>
                    </td>
                    <td>
                        <p>A predicate (or list of predicates) to be used by the comparator to determine the order of elements.</p>
                        <p> Can be one of:</p>
                        <ul>
                            <li><code><span class="typ">Function</code>: A getter function. This function will be called with each item as argument and the return value will be used for sorting.</li>
                            <li><code>string</code>: An AngularJS expression. This expression will be evaluated against each item and the result will be used for sorting. For example, use <code>'label'</code> to sort by a property called
                                <code>label</code> or <code>'label.substring(0, 3)'</code> to sort by the first 3 characters of the <code>label</code> property.
                                <br> (The result of a constant expression is interpreted as a property name to be used for comparison. For example, use <code>'"special name"'</code> (note the extra pair of quotes) to sort by a property called <code>special name</code>.)<br>                                An expression can be optionally prefixed with <code>+</code> or <code>-</code> to control the sorting direction, ascending or descending. For example, <code>'+label'</code> or <code>'-label'</code>. If no property is provided,
                                (e.g. <code>'+'</code> or <code>'-'</code>), the collection element itself is used in comparisons.</li>
                            <li><code><span class="typ">Array</code>: An array of function and/or string predicates. If a predicate cannot determine the relative order of two items, the next predicate is used as a tie-breaker.</li>
                        </ul>
                        <p><strong>Note:</strong> If the predicate is missing or empty then it defaults to <code>'+'</code>.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        reverse

                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <a href="" class="label type-hint type-hint-boolean">boolean</a>
                    </td>
                    <td>
                        <p>If <code>true</code>, reverse the sorting order.</p>


                    </td>
                </tr>

                <tr>
                    <td>
                        comparator

                        <div><em>(optional)</em></div>
                    </td>
                    <td>
                        <a href="" class="label type-hint type-hint-function">function()</a>
                    </td>
                    <td>
                        <p>The comparator function used to determine the relative order of value pairs. If omitted, the built-in comparator will be used.</p>


                    </td>
                </tr>

            </tbody>
        </table>

        <div class='text-heading'>Under the hood:</div>
        <div>
            <p>Ordering the specified <code>collection</code> happens in two phases:</p>
            <ol class='list'>
                <li>All items are passed through the predicate (or predicates), and the returned values are saved along with their type (<code>string</code>, <code>number</code> etc). For example, an item
                    <code>{label: 'foo'}</code>, passed through a predicate that extracts the value of the <code>label</code> property, would be transformed to:<pre><code>{value: 'foo',
  type: 'string',
  index: ...
}</code></pre>
                </li>
                <li>The comparator function is used to sort the items, based on the derived values, types and indices.
                </li>
            </ol>
            <p>
                If you use a custom comparator, it will be called with pairs of objects of the form
                <code><span class="pun">{</span><span class="pln">value</span><span class="pun">:</span><span class="pln"> </span><span class="pun">...,</span><span class="pln"> type</span><span class="pun">:</span><span class="pln"> </span><span class="str">'...'</span><span class="pun">,</span><span class="pln"> index</span><span class="pun">:</span><span class="pln"> </span><span class="pun">...}</span></code>                and is expected to return <code><span class="lit">0</span></code> if the objects are equal (as far as the comparator is concerned), <code><span class="pun">-</span><span class="lit">1</span></code> if the 1st one should be ranked higher
                than the second, or <code><span class="lit">1</span></code> otherwise.
            </p>
            <p>
                In order to ensure that the sorting will be deterministic across platforms, if none of the specified predicates can distinguish between two items, <code><span class="pln">orderBy</span></code> will automatically introduce a dummy predicate
                that returns the item's index as <code><span class="pln">value</span></code>. (If you are using a custom comparator, make sure it can handle this predicate as well.)
            </p>
            <p>
                Finally, in an attempt to simplify things, if a predicate returns an object as the extracted value for an item, <code><span class="pln">orderBy</span></code> will try to convert that object to a primitive value, before passing it to the
                comparator. The following rules govern the conversion:
            </p>
            <ol class='list'>
                <li>If the object has a <code><span class="pln">valueOf</span><span class="pun">()</span></code> method that returns a primitive, its return value will be used instead.<br> (If the object has a <code><span class="pln">valueOf</span><span class="pun">()</span></code>                    method that returns another object, then the returned object will be used in subsequent steps.)</li>
                <li>If the object has a custom <code><span class="pln">toString</span><span class="pun">()</span></code> method (i.e. not the one inherited from <code><span class="typ">Object</span></code>) that returns a primitive, its return value will
                    be used instead.<br> (If the object has a <code><span class="pln">toString</span><span class="pun">()</span></code> method that returns another object, then the returned object will be used in subsequent steps.)</li>
                <li>No conversion; the object itself is used.</li>
            </ol>
        </div>

        <div class='text-heading'>The default comparator:</div>
        <div>
            <p>
                The default, built-in comparator should be sufficient for most usecases. In short, it compares numbers numerically, strings alphabetically (and case-insensitively), for objects falls back to using their index in the original collection, and sorts values
                of different types by type.
            </p>
            <p>More specifically, it follows these steps to determine the relative order of items:</p>
            <ol class='list'>
                <li>If the compared values are of different types, compare the types themselves alphabetically.</li>
                <li>If both values are of type <code><span class="kwd">string</span></code>, compare them alphabetically in a case- and locale-insensitive way.</li>
                <li>If both values are objects, compare their indices instead.</li>
                <li>Otherwise, return:
                    <ul>
                        <li><code><span class="lit">0</span></code>, if the values are equal (by strict equality comparison, i.e. using <code><span class="pun">===</span></code>).</li>
                        <li><code><span class="pun">-</span><span class="lit">1</span></code>, if the 1st value is "less than" the 2nd value (compared using the <code><span class="pln">&lt;</span></code> operator).</li>
                        <li><code><span class="lit">1</span></code>, otherwise.</li>
                    </ul>
                </li>
            </ol>
            <p><strong>Note:</strong> If you notice numbers not being sorted as expected, make sure they are actually being saved as numbers and not strings.
                <strong>Note:</strong> For the purpose of sorting, <code><span class="kwd">null</span></code> values are treated as the string <code><span class="str">'null'</span></code> (i.e.
                <code><span class="pln">type</span><span class="pun">:</span><span class="pln"> </span><span class="str">'string'</span></code>, <code><span class="pln">value</span><span class="pun">:</span><span class="pln"> </span><span class="str">'null'</span></code>).
                This may cause unexpected sort order relative to other values.</p>

        </div>

        -- Update further --
    </div>

</div>
<!-- --------------------------------------------------- built-in filters end ----------------------------------------------------- -->



<!-- --------------------------------------------------- Custom filters start --------------------------------------------------- -->
<div class="alert alert-danger title">Custom filters: </div>
<div class='text'>
    -- Update --
</div>
<!-- --------------------------------------------------- Custom filters end ----------------------------------------------------- -->

<!-- --------------------------------------------------- start --------------------------------------------------- -->
<!-- --------------------------------------------------- end ----------------------------------------------------- -->

<!-- --------------------------------------------------- start --------------------------------------------------- -->
<!-- --------------------------------------------------- end ----------------------------------------------------- -->
