<div class="alert alert-danger title">What is style guide?</div>

<div class='text'>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>
					Opinionated style guide for syntax, conventions, and structuring Angular applications
				</td>
			</tr>
		</tbody>
	</table>
</div>


<div class="text-heading"> Single Responsibility: </div>
</br>
<div class='text'>
	Define 1 component per file, recommended to be less than 400 lines of code.
</div>

<br>
</br>

<div class="alert alert-danger title">AngularJS bootstrap</div>

<div class="text-heading"> Automatic Initialization:</div>
</br>
<div class="text">
	Angular initializes automatically upon <code>DOMContentLoaded</code> event or when the angular.js script is evaluated if at that time <code>document.readyState</code> is set to 'complete'. At this point Angular looks for the ngApp directive which designates
	your application root. If the ngApp directive is found then Angular will:
	</br>
	<ul class="list">
		<li>load the module associated with the directive.</li>
		<li>create the application injector</li>
		<li>compile the DOM treating the ngApp directive as the root of the compilation. This allows you to tell it to treat only a portion of the DOM as an Angular application.</li>
	</ul>
</div>

</br>

<!-- HTML generated using hilite.me -->
<div style="background: #ffffff; overflow:auto;width:auto;font-family:Courier New;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
	<table>
		<tr>
			<td><pre style="margin: 0; line-height: 125%">1
2
3
4
5
6
7</pre></td>
			<td><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;!doctype html&gt;</span>
<span style="color: #007700">&lt;html</span> <span style="color: #0000CC">ng-app</span> <span style="color: #0000CC">ng-strict-di</span><span style="color: #007700">&gt;</span>
  <span style="color: #007700">&lt;body&gt;</span>
    I can add: {{ 1+2 } }.
     <span style="color: #007700">&lt;script </span><span style="color: #0000CC">src=</span><span style="background-color: #fff0f0">&quot;https: //ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js&quot;</span><span style="color: #007700">&gt;&lt;/script&gt;</span>
  <span style="color: #007700">&lt;/body&gt;</span>
<span style="color: #007700">&lt;/html&gt;</span>
</pre></td>
		</tr>
	</table>
</div>


</br>

<div class="text-heading"> Manual Initialization:</div>
</br>
<div class="text">
	If you need to have more control over the initialization process, you can use a manual bootstrapping method instead. Examples of when you'd need to do this include using script loaders or the need to perform an operation before Angular compiles a page.
	</br>
	</br>
	Here is an example of manually initializing Angular:
	</br>
	</br>
</div>

<!-- HTML generated using hilite.me -->
<div style="background: #ffffff; overflow:auto;width:auto;font-family:Courier New;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
	<table>
		<tr>
			<td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20</pre></td>
			<td><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;!doctype html&gt;</span>
<span style="color: #007700">&lt;html&gt;</span>
<span style="color: #007700">&lt;body&gt;</span>
  <span style="color: #007700">&lt;div</span> <span style="color: #0000CC">ng-controller=</span><span style="background-color: #fff0f0">&quot;MyController&quot;</span><span style="color: #007700">&gt;</span>
    Hello {{greetMe}}!
  <span style="color: #007700">&lt;/div&gt;</span>
  <span style="color: #007700">&lt;script </span><span style="color: #0000CC">src=</span><span style="background-color: #fff0f0">&quot;http://code.angularjs.org/snapshot/angular.js&quot;</span><span style="color: #007700">&gt;&lt;/script&gt;</span>

  <span style="color: #007700">&lt;script&gt;</span>
    angular.module(<span style="background-color: #fff0f0">&#39;myApp&#39;</span>, [])
      .controller(<span style="background-color: #fff0f0">&#39;MyController&#39;</span>, [<span style="background-color: #fff0f0">&#39;$scope&#39;</span>, <span style="color: #008800; font-weight: bold">function</span> ($scope) {
        $scope.greetMe <span style="color: #333333">=</span> <span style="background-color: #fff0f0">&#39;World&#39;</span>;
      }]);

    angular.element(<span style="color: #008800; font-weight: bold">function</span>() {
      angular.bootstrap(<span style="color: #007020">document</span>, [<span style="background-color: #fff0f0">&#39;myApp&#39;</span>]);
    });
  <span style="color: #007700">&lt;/script&gt;</span>
<span style="color: #007700">&lt;/body&gt;</span>
<span style="color: #007700">&lt;/html&gt;</span>
</pre></td>
		</tr>
	</table>
</div>

</br>
</br>

<div class="text">
	Note that we provided the name of our application module to be loaded into the injector as the second parameter of the <code>angular.bootstrap</code> function. Notice that <code>angular.bootstrap</code> will not create modules on the fly. You must create
	any custom modules before you pass them as a parameter.
	</br>
	You should call <code>angular.bootstrap()</code> after you've loaded or defined your modules. You cannot add controllers, services, directives, etc after an application bootstraps.
	</br>
	</br>

	<div class="alert alert-danger">Note: You should not use the ng-app directive when manually bootstrapping your app. </div>

	This is the sequence that your code should follow:
	</br>
	<ul class="list">
		<li>After the page and all of the code is loaded, find the root element of your AngularJS application, which is typically the root of the document.</li>
		<li>Call angular.bootstrap to compile the element into an executable, bi-directionally bound application.</li>
	</ul>
	</br>
	</br>
	There a few things to keep in mind regardless of automatic or manual bootstrapping:
	</br>
	<ul class="list">
		<li>While it's possible to bootstrap more than one AngularJS application per page, we don't actively test against this scenario. It's possible that you'll run into problems, especially with complex apps, so caution is advised</li>
		<li>Do not bootstrap your app on an element with a directive that uses transclusion, such as ngIf, ngInclude and ngView. Doing this misplaces the app $rootElement and the app's injector, causing animations to stop working and making the injector inaccessible
			from outside the app.</li>
	</ul>

</div>

</br>

<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Deferred Bootstrap:</h3>
	</div>
	<div class="panel-body">
		This feature enables tools like Batarang and test runners to hook into angular's bootstrap process and sneak in more modules into the DI registry which can replace or augment DI services for the purpose of instrumentation or mocking out heavy dependencies.
		</br>
		</br>
		If window.name contains prefix NG_DEFER_BOOTSTRAP! when angular.bootstrap is called, the bootstrap process will be paused until angular.resumeBootstrap() is called.
		</br>
		angular.resumeBootstrap() takes an optional array of modules that should be added to the original list of modules that the app was about to be bootstrapped with.
	</div>
</div>
