<!-- --------------------------------------------------- Introduction start --------------------------------------------------- -->
<div ng-app='angularjs' ng-controller='angularjsController'>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Topic to study: {{snakeCase(randomProperty)}}</h3>
        </div>
        <div class="panel-body">

            <div class="progress">
                <div ng-class="{'progress-bar':true, 'progress-bar-danger':{{randomPropertyProgress<=40}},'progress-bar-warning':{{randomPropertyProgress>40 && randomPropertyProgress<=60}},'progress-bar-info':{{randomPropertyProgress>60 && randomPropertyProgress<=80}},'progress-bar-success':{{randomPropertyProgress>80}} }"
                    role="progressbar" aria-valuenow="{{::randomPropertyProgress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{randomPropertyProgress}}%">
                    {{snakeCase(randomProperty)+' '+randomPropertyProgress}}%
                </div>
            </div>

        </div>
    </div>


    <div class="alert alert-danger title">Learning progress</div>

    <div ng-repeat="(topic,progress) in tracker">
        <div class="progress">
            <div ng-class="{'progress-bar':true, 'progress-bar-danger':{{progress<=40}},'progress-bar-warning':{{progress>40 && progress<=60}},'progress-bar-info':{{progress>60 && progress<=80}},'progress-bar-success':{{progress>80}} }" role="progressbar" aria-valuenow="{{::progress}}"
                aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
                {{snakeCase(topic)+' '+progress}}%
            </div>
        </div>
    </div>

</div>
<!-- --------------------------------------------------- Introduction end ----------------------------------------------------- -->
