<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Angular Architecture</h3>
                    </div>
                    <div class="content">

                        <!--History-->
                        <h3>Big picture</h3>
                        <img src="src/app/subjects/javascript/angular/angular-architecture/assets/architecture.png" alt="..." />


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
