<!-- --------------------------------------------------- Topic to study start --------------------------------------------------- -->
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Topic to study: {{snakeCase(randomProperty)}}</h3>
	</div>
	<div class="panel-body">

		<div class="progress">
			<div ng-class="{'progress-bar':true, 'progress-bar-danger':{{randomPropertyProgress<=40}},'progress-bar-warning':{{randomPropertyProgress>40 && randomPropertyProgress<=60}},'progress-bar-info':{{randomPropertyProgress>60 && randomPropertyProgress<=80}},'progress-bar-success':{{randomPropertyProgress>80}} }"
				role="progressbar" aria-valuenow="{{::randomPropertyProgress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{randomPropertyProgress}}%">
				{{snakeCase(randomProperty)+' '+randomPropertyProgress}}%
			</div>
		</div>

	</div>
</div>
<!-- --------------------------------------------------- Topic to study end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Definition start --------------------------------------------------- -->
<div class="alert alert-danger title">What is jquery?</div>
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Definition</h3>
	</div>
	<div class="panel-body">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td colspan=2>
						<p class='text'>
							jQuery is a fast, small, and feature-rich <code>JavaScript library</code>. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of
							browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.
						</p>

					</td>
				</tr>
				<tr>
					<th>Developer/Owner</th>
					<td>jQuery was originally released in January 2006 at BarCamp NYC by John Resig (with a nice motto − Write less, do more) and was influenced by Dean Edwards' earlier cssQuery library.</td>
				</tr>
				<tr>
					<th>Version</th>
					<td> As of Feb 2017, latest stable version of jquery: <code>jQuery 3.1.1</code> released in September 22, 2016. First stable version of jQuery : <code>jQuery 1.0</code> was released in August 26th, 2006.</td>
				</tr>
				<tr>
					<th>License</th>
					<td>jQuery is free, open-source software licensed under the MIT License.</td>
				</tr>
				<tr>
					<th>Website</th>
					<td>
						<a href="https://jquery.com/">https://jquery.com/</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
<!-- --------------------------------------------------- Definition end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Introduction start --------------------------------------------------- -->
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Navigation timing: processing model</h3>
	</div>
	<div class="panel-body" align='center'>
		<img src='javascripts/app/jquery/images/timing-overview.png' width='70%'><img>
	</div>
</div>
<!-- --------------------------------------------------- Introduction end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Usage start --------------------------------------------------- -->
<div class="alert alert-danger title">Usage:</div>
<div class='text'>
	<p>There are two ways to use jQuery.</p>
	<ul class="list">
		<li>
			<p>Local Installation − You can download jQuery library on your local machine and include it in your HTML code.</p>
		</li>
		<li>
			<p>CDN Based Version − You can include jQuery library into your HTML code directly from Content Delivery Network (CDN) like Google or Microsoft.</p>
		</li>
	</ul>

	<div class='text-heading'>Script location- Head/Body:</div><br>
	<div>
		<p>When you put scripts in <code>&lt;head&gt;</code> tag, the browsers goes for them thereby keeping other stuff on hold until scripts are loaded which users will perceive like slow loading of the page. This is why you should put scripts at the bottom.</p>
		<p>Following code is fired when DOM is available and ready to be manipulated. If you put your code at the end, you won't necessarily need this but usually this is needed because you want to do something <em>as soon as</em> DOM is available for use.</p><br>
		<div class="snippet-container">
			<div class="sh_default snippet-wrap">
				<pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>$<span class="sh_symbol">(</span><span class="sh_predef_var">document</span><span class="sh_symbol">).</span><span class="sh_function">ready</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span><span class="sh_symbol">()</span><span class="sh_cbracket">{</span><span class="sh_comment">/*Code goes here*/</span><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li></ol></pre>
				<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">$(document).ready(function(){/*Code goes here*/});</pre>
			</div>
		</div><br>
	</div>

	<div class="alert alert-warning"><strong>Important:</strong> You must place your jQuery code inside the <code>ready</code> event so that your code executes when the document is ready to be worked on.</div>
	<div class="alert alert-warning">
		<strong>Note</strong>: The jQuery library exposes its methods and properties via two properties of the <code>window</code> object called <code>jQuery</code> and <code>$</code>. <code>$</code> is simply an alias for <code>jQuery</code> and it's often
		employed because it's shorter and faster to write.
	</div>

</div>
<!-- --------------------------------------------------- Usage end ----------------------------------------------------- -->


<!-- --------------------------------------------------- jQuery Syntax start --------------------------------------------------- -->
<div class="alert alert-danger title">jQuery Syntax:</div>
<div class='text'>
	<div>
		<p>Using <code>$.</code>-prefixed functions. These are utility functions, which do not act upon the jQuery object directly.</p>
		<p>Methods in the <code>$</code> namespace are generally utility-type methods, and do not work with selections; they are not automatically passed any arguments, and their return value will vary.</p>
		<div class="snippet-container">
			<div class="sh_default snippet-wrap">
				<pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_comment">// Returns "lots of extra whitespace"</span></li><li>$<span class="sh_symbol">.</span><span class="sh_function">trim</span><span class="sh_symbol">(</span> <span class="sh_string">"    lots of extra whitespace    "</span> <span class="sh_symbol">);</span></li></ol></pre>
				<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">// Returns "lots of extra whitespace" $.trim( " lots of extra whitespace " );</pre>
			</div>
		</div><br>

		<p>Using <code>$</code> function, which is a factory method for the jQuery object. These functions, often called commands, are <code>chainable</code> as they all return jQuery objects.</p>
		<p>Methods called on jQuery selections are in the <code>$.fn</code> namespace, and automatically receive and return the selection as <code>this</code>.</p>
		<div class="snippet-container">
			<div class="sh_default snippet-wrap">
				<pre class="shi_pre sh_c snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>$<span class="sh_symbol">(</span>selector<span class="sh_symbol">).</span><span class="sh_function">action</span><span class="sh_symbol">()</span></li></ol></pre>
				<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">$(selector).action()</pre>
			</div>
		</div><br>
	</div>
</div>
<!-- --------------------------------------------------- jQuery Syntax end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Chaining start --------------------------------------------------- -->
<div class="alert alert-danger title">Chaining:</div>
<div class='text'>
	<p>jQuery commands typically return a jQuery object, so commands can be chained:</p>
	<div class="snippet-container">
		<div class="sh_default snippet-wrap">
			<pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>$<span class="sh_symbol">(</span><span class="sh_string">'div.test'</span><span class="sh_symbol">)</span></li><li>  <span class="sh_symbol">.</span><span class="sh_function">add</span><span class="sh_symbol">(</span><span class="sh_string">'p.quote'</span><span class="sh_symbol">)</span></li><li>  <span class="sh_symbol">.</span><span class="sh_function">addClass</span><span class="sh_symbol">(</span><span class="sh_string">'blue'</span><span class="sh_symbol">)</span></li><li>  <span class="sh_symbol">.</span><span class="sh_function">slideDown</span><span class="sh_symbol">(</span><span class="sh_string">'slow'</span><span class="sh_symbol">);</span></li></ol></pre>
			<pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">$('div.test') .add('p.quote') .addClass('blue') .slideDown('slow');
				</pre>
		</div>
	</div><br>
	<p>This line finds the union of all <code lang="HTML">div</code> tags with class attribute <code lang="HTML">test</code> and all <code lang="HTML">p</code> tags with class attribute <code lang="HTML">quote</code>, adds the class attribute <code lang="HTML">blue</code>		to each matched element, and then increases their height with an animation. The <code lang="jQuery">$</code> and <code lang="jQuery">add</code> functions affect the matched set, while the <code lang="jQuery">addClass</code> and <code lang="jQuery">slideDown</code>		affect the referenced nodes.</p>
	<p>Certain jQuery functions return specific values (such as <code>$('#input-user-email').val()</code>). In these cases, chaining will not work as the value does not reference the jQuery object.</p>
</div>
<!-- --------------------------------------------------- Chaining end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Topic start --------------------------------------------------- -->
<div class="alert alert-danger title">Topic:</div>
<div class='text'>
	-- Update Topic--
</div>
<!-- --------------------------------------------------- Topic end ----------------------------------------------------- -->
