<!-- --------------------------------------------------- No-conflict mode start --------------------------------------------------- -->
<div class="alert alert-danger title">No-conflict mode:</div>
<div class='text'>

    <p>jQuery also includes <code>.noConflict()</code> mode, which relinquishes control of <code>$</code>. This is helpful if jQuery is used with other libraries that also use <code>$</code> as an identifier. In no-conflict mode, developers can use <code>jQuery</code>        as a replacement for <code>$</code> without losing functionality.</p>
    <p>
        Many JavaScript libraries use <code>$</code> as a function or variable name, just as jQuery does. In jQuery's case, <code>$</code> is just an alias for <code>jQuery</code>, so all functionality is available without using <code>$</code>. If you
        need to use another JavaScript library alongside jQuery, return control of <code>$</code> back to the other library with a call to <code>$.noConflict()</code>. Old references of <code>$</code> are saved during jQuery initialization; <code>noConflict()</code>        simply restores them.
    </p>
    <p>If for some reason two versions of jQuery are loaded (which is not recommended), calling <code>$.noConflict( true )</code> from the second version will return the globally scoped jQuery variables to those of the first version.</p>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>script src<span class="sh_symbol">=</span><span class="sh_string">"other_lib.js"</span><span class="sh_symbol">&gt;&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>script src<span class="sh_symbol">=</span><span class="sh_string">"jquery.js"</span><span class="sh_symbol">&gt;&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>script<span class="sh_symbol">&gt;</span></li><li>$<span class="sh_symbol">.</span><span class="sh_function">noConflict</span><span class="sh_symbol">();</span></li><li><span class="sh_comment">// Code that uses other library's $ can follow here.</span></li><li><span class="sh_symbol">&lt;/</span>script<span class="sh_symbol">&gt;</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;script src="other_lib.js"&gt;&lt;/script&gt; &lt;script src="jquery.js"&gt;&lt;/script&gt; &lt;script&gt; $.noConflict(); // Code that uses other library's $ can follow here. &lt;/script&gt;
				</pre>
        </div>
    </div><br>
    <p>This technique is especially effective in conjunction with the <code>.ready()</code> method's ability to alias the jQuery object, as within callback passed to <code>.ready()</code> you can use <code>$</code> if you wish without fear of conflicts later:</p>
    <div class="snippet-container">
        <div class="sh_default snippet-wrap">
            <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;</span>script src<span class="sh_symbol">=</span><span class="sh_string">"other_lib.js"</span><span class="sh_symbol">&gt;&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>script src<span class="sh_symbol">=</span><span class="sh_string">"jquery.js"</span><span class="sh_symbol">&gt;&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>script<span class="sh_symbol">&gt;</span></li><li>$<span class="sh_symbol">.</span><span class="sh_function">noConflict</span><span class="sh_symbol">();</span></li><li><span class="sh_function">jQuery</span><span class="sh_symbol">(</span> <span class="sh_predef_var">document</span> <span class="sh_symbol">).</span><span class="sh_function">ready</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span><span class="sh_symbol">(</span> $ <span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>  <span class="sh_comment">// Code that uses jQuery's $ can follow here.</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li><span class="sh_comment">// Code that uses other library's $ can follow here.</span></li><li><span class="sh_symbol">&lt;/</span>script<span class="sh_symbol">&gt;</span></li></ol></pre>
            <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;script src="other_lib.js"&gt;&lt;/script&gt; &lt;script src="jquery.js"&gt;&lt;/script&gt; &lt;script&gt; $.noConflict(); jQuery( document ).ready(function( $ ) { // Code that uses jQuery's $ can follow here. }); // Code that uses other library's
				$ can follow here. &lt;/script&gt;
				</pre>
        </div>
    </div><br>


    <div class='text-heading'>Examples:</div><br>
    <div>
        <p>Map the original object that was referenced by $ back to $.</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>jQuery<span class="sh_symbol">.</span><span class="sh_function">noConflict</span><span class="sh_symbol">();</span></li><li><span class="sh_comment">// Do something with jQuery</span></li><li><span class="sh_function">jQuery</span><span class="sh_symbol">(</span> <span class="sh_string">"div p"</span> <span class="sh_symbol">).</span><span class="sh_function">hide</span><span class="sh_symbol">();</span></li><li><span class="sh_comment">// Do something with another library's $()</span></li><li>$<span class="sh_symbol">(</span> <span class="sh_string">"content"</span> <span class="sh_symbol">).</span>style<span class="sh_symbol">.</span>display <span class="sh_symbol">=</span> <span class="sh_string">"none"</span><span class="sh_symbol">;</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">jQuery.noConflict(); // Do something with jQuery jQuery( "div p" ).hide(); // Do something with another library's $() $( "content" ).style.display = "none";</pre>
            </div>
        </div><br>

        <p>
            Revert the $ alias and then create and execute a function to provide the $ as a jQuery alias inside the function's scope. Inside the function the original $ object is not available. This works well for most plugins that don't rely on any other library.
        </p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li>jQuery<span class="sh_symbol">.</span><span class="sh_function">noConflict</span><span class="sh_symbol">();</span></li><li><span class="sh_symbol">(</span><span class="sh_keyword">function</span><span class="sh_symbol">(</span> $ <span class="sh_symbol">)</span> <span class="sh_cbracket">{</span></li><li>  $<span class="sh_symbol">(</span><span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_comment">// More code using $ as alias to jQuery</span></li><li>  <span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">)(</span>jQuery<span class="sh_symbol">);</span></li><li> </li><li><span class="sh_comment">// Other code using $ as an alias to the other library</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">jQuery.noConflict(); (function( $ ) { $(function() { // More code using $ as alias to jQuery }); })(jQuery); // Other code using $ as an alias to the other library</pre>
            </div>
        </div><br>

        <p>Create a different alias instead of jQuery to use in the rest of the script.</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> j <span class="sh_symbol">=</span> jQuery<span class="sh_symbol">.</span><span class="sh_function">noConflict</span><span class="sh_symbol">();</span></li><li> </li><li><span class="sh_comment">// Do something with jQuery</span></li><li><span class="sh_function">j</span><span class="sh_symbol">(</span> <span class="sh_string">"div p"</span> <span class="sh_symbol">).</span><span class="sh_function">hide</span><span class="sh_symbol">();</span></li><li> </li><li><span class="sh_comment">// Do something with another library's $()</span></li><li>$<span class="sh_symbol">(</span> <span class="sh_string">"content"</span> <span class="sh_symbol">).</span>style<span class="sh_symbol">.</span>display <span class="sh_symbol">=</span> <span class="sh_string">"none"</span><span class="sh_symbol">;</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var j = jQuery.noConflict(); // Do something with jQuery j( "div p" ).hide(); // Do something with another library's $() $( "content" ).style.display = "none";</pre>
            </div>
        </div><br>

        <p>Completely move jQuery to a new namespace in another object.</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_keyword">var</span> dom <span class="sh_symbol">=</span> <span class="sh_cbracket">{}</span><span class="sh_symbol">;</span></li><li>dom<span class="sh_symbol">.</span>query <span class="sh_symbol">=</span> jQuery<span class="sh_symbol">.</span><span class="sh_function">noConflict</span><span class="sh_symbol">(</span> <span class="sh_keyword">true</span> <span class="sh_symbol">);</span></li><li></li><li><span class="sh_comment">// Do something with the new jQuery</span></li><li>dom<span class="sh_symbol">.</span><span class="sh_function">query</span><span class="sh_symbol">(</span> <span class="sh_string">"div p"</span> <span class="sh_symbol">).</span><span class="sh_function">hide</span><span class="sh_symbol">();</span></li><li> </li><li><span class="sh_comment">// Do something with another library's $()</span></li><li>$<span class="sh_symbol">(</span> <span class="sh_string">"content"</span> <span class="sh_symbol">).</span>style<span class="sh_symbol">.</span>display <span class="sh_symbol">=</span> <span class="sh_string">"none"</span><span class="sh_symbol">;</span></li><li> </li><li><span class="sh_comment">// Do something with another version of jQuery</span></li><li><span class="sh_function">jQuery</span><span class="sh_symbol">(</span> <span class="sh_string">"div &gt; p"</span> <span class="sh_symbol">).</span><span class="sh_function">hide</span><span class="sh_symbol">();</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">var dom = {}; dom.query = jQuery.noConflict( true ); // Do something with the new jQuery dom.query( "div p" ).hide(); // Do something with another library's $() $( "content" ).style.display = "none"; // Do something with another version of jQuery
					jQuery( "div &gt; p" ).hide();</pre>
            </div>
        </div><br>

        <p>Load two versions of jQuery (not recommended). Then, restore jQuery's globally scoped variables to the first loaded jQuery.</p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;!</span>doctype html<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>html lang<span class="sh_symbol">=</span><span class="sh_string">"en"</span><span class="sh_symbol">&gt;</span></li><li></li><li><span class="sh_symbol">&lt;</span>head<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>meta charset<span class="sh_symbol">=</span><span class="sh_string">"utf-8"</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>title<span class="sh_symbol">&gt;</span>jQuery<span class="sh_symbol">.</span>noConflict demo<span class="sh_symbol">&lt;/</span>title<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>script src<span class="sh_symbol">=</span><span class="sh_string">"https://code.jquery.com/jquery-1.10.2.js"</span><span class="sh_symbol">&gt;&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;/</span>head<span class="sh_symbol">&gt;</span></li><li></li><li><span class="sh_symbol">&lt;</span>body<span class="sh_symbol">&gt;</span></li><li></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>div id<span class="sh_symbol">=</span><span class="sh_string">"log"</span><span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>h3<span class="sh_symbol">&gt;</span>Before $<span class="sh_symbol">.</span><span class="sh_function">noConflict</span><span class="sh_symbol">(</span><span class="sh_keyword">true</span><span class="sh_symbol">)&lt;/</span>h3<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>div<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>script src<span class="sh_symbol">=</span><span class="sh_string">"https://code.jquery.com/jquery-1.6.2.js"</span><span class="sh_symbol">&gt;&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;</span>script<span class="sh_symbol">&gt;</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_keyword">var</span> $log <span class="sh_symbol">=</span> $<span class="sh_symbol">(</span> <span class="sh_string">"#log"</span> <span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$log<span class="sh_symbol">.</span><span class="sh_function">append</span><span class="sh_symbol">(</span> <span class="sh_string">"2nd loaded jQuery version ($): "</span> <span class="sh_symbol">+</span> $<span class="sh_symbol">.</span>fn<span class="sh_symbol">.</span>jquery <span class="sh_symbol">+</span> <span class="sh_string">"&lt;br&gt;"</span> <span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">/* &nbsp;&nbsp;&nbsp;&nbsp;Output: </span></li><li><span class="sh_comment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2nd loaded jQuery version ($): 1.6.2</span></li><li><span class="sh_comment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*/</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">// Restore globally scoped jQuery variables to the first version loaded</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">// (the newer version)</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jq162 <span class="sh_symbol">=</span> jQuery<span class="sh_symbol">.</span><span class="sh_function">noConflict</span><span class="sh_symbol">(</span> <span class="sh_keyword">true</span> <span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$log<span class="sh_symbol">.</span><span class="sh_function">append</span><span class="sh_symbol">(</span> <span class="sh_string">"&lt;h3&gt;After $.noConflict(true)&lt;/h3&gt;"</span> <span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$log<span class="sh_symbol">.</span><span class="sh_function">append</span><span class="sh_symbol">(</span> <span class="sh_string">"1st loaded jQuery version ($): "</span> <span class="sh_symbol">+</span> $<span class="sh_symbol">.</span>fn<span class="sh_symbol">.</span>jquery <span class="sh_symbol">+</span> <span class="sh_string">"&lt;br&gt;"</span> <span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$log<span class="sh_symbol">.</span><span class="sh_function">append</span><span class="sh_symbol">(</span> <span class="sh_string">"2nd loaded jQuery version (jq162): "</span> <span class="sh_symbol">+</span> jq162<span class="sh_symbol">.</span>fn<span class="sh_symbol">.</span>jquery <span class="sh_symbol">+</span> <span class="sh_string">"&lt;br&gt;"</span> <span class="sh_symbol">);</span></li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_comment">/* Output: </span></li><li><span class="sh_comment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1st loaded jQuery version ($): 1.10.2 </span></li><li><span class="sh_comment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2nd loaded jQuery version (jq162): 1.6.2 </span></li><li><span class="sh_comment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*/</span></li><li></li><li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sh_symbol">&lt;/</span>script<span class="sh_symbol">&gt;</span> </li><li><span class="sh_symbol">&lt;/</span>body<span class="sh_symbol">&gt;</span></li><li></li><li><span class="sh_symbol">&lt;/</span>html<span class="sh_symbol">&gt;</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;!doctype html&gt; &lt;html lang="en"&gt; &lt;head&gt; &lt;meta charset="utf-8"&gt; &lt;title&gt;jQuery.noConflict demo&lt;/title&gt; &lt;script src="https://code.jquery.com/jquery-1.10.2.js"&gt;&lt;/script&gt; &lt;/head&gt; &lt;body&gt; &lt;div
					id="log"&gt; &lt;h3&gt;Before $.noConflict(true)&lt;/h3&gt; &lt;/div&gt; &lt;script src="https://code.jquery.com/jquery-1.6.2.js"&gt;&lt;/script&gt; &lt;script&gt; var $log = $( "#log" ); $log.append( "2nd loaded jQuery version ($): " + $.fn.jquery
					+ "&lt;br&gt;" ); /* Output: 2nd loaded jQuery version ($): 1.6.2 */ // Restore globally scoped jQuery variables to the first version loaded // (the newer version) jq162 = jQuery.noConflict( true ); $log.append( "&lt;h3&gt;After $.noConflict(true)&lt;/h3&gt;"
					); $log.append( "1st loaded jQuery version ($): " + $.fn.jquery + "&lt;br&gt;" ); $log.append( "2nd loaded jQuery version (jq162): " + jq162.fn.jquery + "&lt;br&gt;" ); /* Output: 1st loaded jQuery version ($): 1.10.2 2nd loaded jQuery version (jq162):
					1.6.2 */ &lt;/script&gt; &lt;/body&gt; &lt;/html&gt;

					</pre>
            </div>
        </div><br>

    </div>


    <div class='text-heading'>Including jQuery Before Other Libraries:</div><br>
    <div>
        <p>
            The code snippets above rely on jQuery being loaded after prototype.js is loaded. If you include jQuery before other libraries, you may use <code>jQuery</code> when you do some work with jQuery, but the <code>$</code> will have the meaning
            defined in the other library. There is no need to relinquish the <code>$</code> alias by calling <code>jQuery.noConflict()</code>.
        </p>
        <div class="snippet-container">
            <div class="sh_default snippet-wrap">
                <pre class="shi_pre sh_javascript_dom snippet-formatted sh_sourceCode"><ol class="snippet-num"><li><span class="sh_symbol">&lt;!--</span> Loading jQuery before other libraries<span class="sh_symbol">.</span> <span class="sh_symbol">--&gt;</span></li><li><span class="sh_symbol">&lt;</span>script src<span class="sh_symbol">=</span><span class="sh_string">"jquery.js"</span><span class="sh_symbol">&gt;&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>script src<span class="sh_symbol">=</span><span class="sh_string">"prototype.js"</span><span class="sh_symbol">&gt;&lt;/</span>script<span class="sh_symbol">&gt;</span></li><li><span class="sh_symbol">&lt;</span>script<span class="sh_symbol">&gt;</span></li><li> </li><li><span class="sh_comment">// Use full jQuery function name to reference jQuery.</span></li><li><span class="sh_function">jQuery</span><span class="sh_symbol">(</span> <span class="sh_predef_var">document</span> <span class="sh_symbol">).</span><span class="sh_function">ready</span><span class="sh_symbol">(</span><span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_function">jQuery</span><span class="sh_symbol">(</span> <span class="sh_string">"div"</span> <span class="sh_symbol">).</span><span class="sh_function">hide</span><span class="sh_symbol">();</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">);</span></li><li> </li><li><span class="sh_comment">// Use the $ variable as defined in prototype.js</span></li><li><span class="sh_predef_var">window</span><span class="sh_symbol">.</span><span class="sh_predef_func">onload</span> <span class="sh_symbol">=</span> <span class="sh_keyword">function</span><span class="sh_symbol">()</span> <span class="sh_cbracket">{</span></li><li>    <span class="sh_keyword">var</span> mainDiv <span class="sh_symbol">=</span> $<span class="sh_symbol">(</span> <span class="sh_string">"main"</span> <span class="sh_symbol">);</span></li><li><span class="sh_cbracket">}</span><span class="sh_symbol">;</span></li><li> </li><li><span class="sh_symbol">&lt;/</span>script<span class="sh_symbol">&gt;</span></li></ol></pre>
                <pre class="snippet-textonly sh_sourceCode" style="display:none;" tabindex="0" contenteditable="">&lt;!-- Loading jQuery before other libraries. --&gt; &lt;script src="jquery.js"&gt;&lt;/script&gt; &lt;script src="prototype.js"&gt;&lt;/script&gt; &lt;script&gt; // Use full jQuery function name to reference jQuery. jQuery( document
                    ).ready(function() { jQuery( "div" ).hide(); }); // Use the $ variable as defined in prototype.js window.onload = function() { var mainDiv = $( "main" ); }; &lt;/script&gt;

                    </pre>
            </div>
        </div><br>


    </div>

</div>
<!-- --------------------------------------------------- No-conflict mode end ----------------------------------------------------- -->
