<!-- --------------------------------------------------- Introduction start --------------------------------------------------- -->
<div class="alert alert-danger title">Selectors: </div>
<div class='text'>
    <p>jQuery selectors allow you to select and manipulate HTML element(s).</p>
    <p>jQuery selectors are used to "find" (or select) HTML elements based on their name, id, classes, types, attributes, values of attributes and much more. It's based on the existing CSS Selectors, and in addition, it has some own custom selectors.</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>S.N.</th>
                <th>Selector &amp; Description</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>
                    <a href="/jquery/selector-element-name.htm">Name</a>
                    <p>Selects all elements which match with the given element <b>Name</b>.</p>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="/jquery/selector-element-id.htm">#ID</a>
                    <p>Selects a single element which matches with the given <b>ID</b>.</p>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="/jquery/selector-element-class.htm">.Class</a>
                    <p>Selects all elements which match with the given <b>Class</b>.</p>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="/jquery/selector-universal.htm">Universal (*)</a>
                    <p>Selects all elements available in a DOM.</p>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="/jquery/selector-multiple-elements.htm">Multiple Elements E, F, G</a>
                    <p>Selects the combined results of all the specified selectors <b>E, F</b> or <b>G</b>.</p>
                </td>
            </tr>
        </tbody>
    </table>

    <p>Examples:</p>
    <table class="table table-bordered table-striped">
        <thead data-toggle='collapse' data-target='#collapse-target'>
            <tr>
                <th>S.N.</th>
                <th>Selector &amp; Description &nbsp; &nbsp; <button>Show/Hide</button></th>
            </tr>
        </thead>
        <tbody id='collapse-target'>
            <tr>
                <td>1</td>
                <td><b>$('*')</b>
                    <p>This selector selects all elements in the document.</p>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td><b>$("p &gt; *")</b>
                    <p>This selector selects all elements that are children of a paragraph element.</p>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td><b>$("#specialID")</b>
                    <p>This selector function gets the element with id="specialID".</p>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td><b>$(".specialClass")</b>
                    <p>This selector gets all the elements that have the class of <em>specialClass</em>.</p>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td><b>$("li:not(.myclass)")</b>
                    <p>Selects all elements matched by &lt;li&gt; that do not have class = "myclass".</p>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td><b>$("a#specialID.specialClass")</b>
                    <p>This selector matches links with an id of <em>specialID</em> and a class of <em>specialClass</em>.</p>
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td><b>$("p a.specialClass")</b>
                    <p>This selector matches links with a class of <em>specialClass</em> declared within &lt;p&gt; elements.</p>
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td><b>$("ul li:first")</b>
                    <p>This selector gets only the first &lt;li&gt; element of the &lt;ul&gt;.</p>
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td><b>$("#container p")</b>
                    <p>Selects all elements matched by &lt;p&gt; that are descendants of an element that has an id of <em>container</em>.</p>
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td><b>$("li &gt; ul")</b>
                    <p>Selects all elements matched by &lt;ul&gt; that are children of an element matched by &lt;li&gt;</p>
                </td>
            </tr>
            <tr>
                <td>11</td>
                <td><b>$("strong + em")</b>
                    <p>Selects all elements matched by &lt;em&gt; that immediately follow a sibling element matched by &lt;strong&gt;.</p>
                </td>
            </tr>
            <tr>
                <td>12</td>
                <td><b>$("p ~ ul")</b>
                    <p>Selects all elements matched by &lt;ul&gt; that follow a sibling element matched by &lt;p&gt;.</p>
                </td>
            </tr>
            <tr>
                <td>13</td>
                <td><b>$("code, em, strong")</b>
                    <p>Selects all elements matched by &lt;code&gt; or &lt;em&gt; or &lt;strong&gt;.</p>
                </td>
            </tr>
            <tr>
                <td>14</td>
                <td><b>$("p strong, .myclass")</b>
                    <p>Selects all elements matched by &lt;strong&gt; that are descendants of an element matched by &lt;p&gt; as well as all elements that have a class of <em>myclass</em>.</p>
                </td>
            </tr>
            <tr>
                <td>15</td>
                <td><b>$(":empty")</b>
                    <p>Selects all elements that have no children.</p>
                </td>
            </tr>
            <tr>
                <td>16</td>
                <td><b>$("p:empty")</b>
                    <p>Selects all elements matched by &lt;p&gt; that have no children.</p>
                </td>
            </tr>
            <tr>
                <td>17</td>
                <td><b>$("div[p]")</b>
                    <p>Selects all elements matched by &lt;div&gt; that contain an element matched by &lt;p&gt;.</p>
                </td>
            </tr>
            <tr>
                <td>18</td>
                <td><b>$("p[.myclass]")</b>
                    <p>Selects all elements matched by &lt;p&gt; that contain an element with a class of <em>myclass</em>.</p>
                </td>
            </tr>
            <tr>
                <td>19</td>
                <td><b>$("a[@rel]")</b>
                    <p>Selects all elements matched by &lt;a&gt; that have a rel attribute.</p>
                </td>
            </tr>
            <tr>
                <td>20</td>
                <td><b>$("input[@name = myname]")</b>
                    <p>Selects all elements matched by &lt;input&gt; that have a name value exactly equal to <em>myname.</em></p>
                </td>
            </tr>
            <tr>
                <td>21</td>
                <td><b>$("input[@name^=myname]")</b>
                    <p>Selects all elements matched by &lt;input&gt; that have a name value beginning with <em>myname</em>.</p>
                </td>
            </tr>
            <tr>
                <td>22</td>
                <td><b>$("a[@rel$=self]")</b>
                    <p>Selects all elements matched by &lt;a&gt; that have <b>rel</b> attribute value ending with <em>self</em>.</p>
                </td>
            </tr>
            <tr>
                <td>23</td>
                <td><b>$("a[@href*=domain.com]")</b>
                    <p>Selects all elements matched by &lt;a&gt; that have an href value containing domain.com.</p>
                </td>
            </tr>
            <tr>
                <td>24</td>
                <td><b>$("li:even")</b>
                    <p>Selects all elements matched by &lt;li&gt; that have an even index value.</p>
                </td>
            </tr>
            <tr>
                <td>25</td>
                <td><b>$("tr:odd")</b>
                    <p>Selects all elements matched by &lt;tr&gt; that have an odd index value.</p>
                </td>
            </tr>
            <tr>
                <td>26</td>
                <td><b>$("li:first")</b>
                    <p>Selects the first &lt;li&gt; element.</p>
                </td>
            </tr>
            <tr>
                <td>27</td>
                <td><b>$("li:last")</b>
                    <p>Selects the last &lt;li&gt; element.</p>
                </td>
            </tr>
            <tr>
                <td>28</td>
                <td><b>$("li:visible")</b>
                    <p>Selects all elements matched by &lt;li&gt; that are visible.</p>
                </td>
            </tr>
            <tr>
                <td>29</td>
                <td><b>$("li:hidden")</b>
                    <p>Selects all elements matched by &lt;li&gt; that are hidden.</p>
                </td>
            </tr>
            <tr>
                <td>30</td>
                <td><b>$(":radio")</b>
                    <p>Selects all radio buttons in the form.</p>
                </td>
            </tr>
            <tr>
                <td>31</td>
                <td><b>$(":checked")</b>
                    <p>Selects all checked box in the form.</p>
                </td>
            </tr>
            <tr>
                <td>32</td>
                <td><b>$(":input")</b>
                    <p>Selects only form elements (input, select, textarea, button).</p>
                </td>
            </tr>
            <tr>
                <td>33</td>
                <td><b>$(":text")</b>
                    <p>Selects only text elements (input[type = text]).</p>
                </td>
            </tr>
            <tr>
                <td>34</td>
                <td><b>$("li:eq(2)")</b>
                    <p>Selects the third &lt;li&gt; element.</p>
                </td>
            </tr>
            <tr>
                <td>35</td>
                <td><b>$("li:eq(4)")</b>
                    <p>Selects the fifth &lt;li&gt; element.</p>
                </td>
            </tr>
            <tr>
                <td>36</td>
                <td><b>$("li:lt(2)")</b>
                    <p>Selects all elements matched by &lt;li&gt; element before the third one; in other words, the first two &lt;li&gt; elements.</p>
                </td>
            </tr>
            <tr>
                <td>37</td>
                <td><b>$("p:lt(3)")</b>
                    <p>selects all elements matched by &lt;p&gt; elements before the fourth one; in other words the first three &lt;p&gt; elements.</p>
                </td>
            </tr>
            <tr>
                <td>38</td>
                <td><b>$("li:gt(1)")</b>
                    <p>Selects all elements matched by &lt;li&gt; after the second one.</p>
                </td>
            </tr>
            <tr>
                <td>39</td>
                <td><b>$("p:gt(2)")</b>
                    <p>Selects all elements matched by &lt;p&gt; after the third one.</p>
                </td>
            </tr>
            <tr>
                <td>40</td>
                <td><b>$("div/p")</b>
                    <p>Selects all elements matched by &lt;p&gt; that are children of an element matched by &lt;div&gt;.</p>
                </td>
            </tr>
            <tr>
                <td>41</td>
                <td><b>$("div//code")</b>
                    <p>Selects all elements matched by &lt;code&gt;that are descendants of an element matched by &lt;div&gt;.</p>
                </td>
            </tr>
            <tr>
                <td>42</td>
                <td><b>$("//p//a")</b>
                    <p>Selects all elements matched by &lt;a&gt; that are descendants of an element matched by &lt;p&gt;</p>
                </td>
            </tr>
            <tr>
                <td>43</td>
                <td><b>$("li:first-child")</b>
                    <p>Selects all elements matched by &lt;li&gt; that are the first child of their parent.</p>
                </td>
            </tr>
            <tr>
                <td>44</td>
                <td><b>$("li:last-child")</b>
                    <p>Selects all elements matched by &lt;li&gt; that are the last child of their parent.</p>
                </td>
            </tr>
            <tr>
                <td>45</td>
                <td><b>$(":parent")</b>
                    <p>Selects all elements that are the parent of another element, including text.</p>
                </td>
            </tr>
            <tr>
                <td>46</td>
                <td><b>$("li:contains(second)")</b>
                    <p>Selects all elements matched by &lt;li&gt; that contain the text second.</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- --------------------------------------------------- Introduction end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Topic start --------------------------------------------------- -->
<div class="alert alert-danger title">Topic:</div>
<div class='text'>
    -- Update Topic--
</div>
<!-- --------------------------------------------------- Topic end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Topic start --------------------------------------------------- -->
<div class="alert alert-danger title">Topic:</div>
<div class='text'>
    -- Update Topic--
</div>
<!-- --------------------------------------------------- Topic end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Topic start --------------------------------------------------- -->
<div class="alert alert-danger title">Topic:</div>
<div class='text'>
    -- Update Topic--
</div>
<!-- --------------------------------------------------- Topic end ----------------------------------------------------- -->


<!-- --------------------------------------------------- Topic start --------------------------------------------------- -->
<div class="alert alert-danger title">Topic:</div>
<div class='text'>
    -- Update Topic--
</div>
<!-- --------------------------------------------------- Topic end ----------------------------------------------------- -->
